<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 71%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 L.P.P SOLVED QUESTIONS 2.2</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(2)</span>
                    Solve the following problem graphically
                    <br>
                    <br>
                    Maximize Z = 5x + 2y subject to the constraints
                    <br>
                    <br>
                    3x + 5y≤15, 5x + 2y≤10, x, y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/eg2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/eg2-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(4)</span>
                    Find graphically, the maximum value of Z = 2x + 5y, subject to constraints given below:
                    <br>

                    2x+4y≤ 8,3x+y≤6, x+y≤4,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img4.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img4-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img4-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(6)</span>
                    Solve the following linear programming problem graphically :
                    <br>
                    <br>
                    Minimize Z = 3x + 5y subject to the constraints
                    <br>
                    x + y = 6, x≤4, y≤5, x&GreaterEqual;0,y&GreaterEqual;0 ?

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img6.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(8)</span>
                    The corner points of the feasible region determined by the following systems of linear inequalities
                    :
                    <br>

                    2x + y≤10, x + 3y≤15, x&GreaterEqual;0, y&GreaterEqual;0 are (0, 0), (5, 0), (3, 4) and (0, 5).
                    <br>
                    <br>
                    Let Z = px + qy, when p, q > 0, then find the relation between p and q so that the maximum of Z
                    occurs at both points (3, 4) and (0, 5).
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    z=px+qy(Maximize)
                    <br>
                    <br>
                    z=px+qy at corner pt.=(3,4) and(0,5)=3p,4q,5q.
                    <br>
                    As Z has max value at both pt. (3,4) and (0,5).
                    <br>
                    we get 3q+4q=5q
                    <br>
                    <br>
                    Therefore,3q=q which is required relation between p and q
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(10)</span>
                    Maximize Z = x + 2y subject to the constraints
                    <br>
                    <br>
                    x - y &GreaterEqual; 0, 2y≤x + 2, x &GreaterEqual; 0, y &GreaterEqual; 0.

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img10.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(12)</span>
                    Maximize and minimize Z = 5x + 10y subject to the constraints
                    <br>
                    <br>
                    x + 2y≤120, x + y &GreaterEqual; 60, x - 2y &GreaterEqual; 0, x &GreaterEqual; 0, y &GreaterEqual; 0

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img12.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img12-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(14)</span>
                    A furniture dealer deals in only two items—tables and chairs. He has ₹10000 to invest and a space to
                    store atmost 60 pieces. A table costs him ₹500 and a chair costs him ₹100. He can sell a table at
                    ₹550 and a chair at ₹115. Assume that he can sell all the items that he buys
                    <ol type="i">
                        <li>Formulate this problem as an L.P.P. so that he maximizes his profit. </li>
                        <li>Draw the feasible region on a graph and clearly mention the corner points.</li>
                        <li>Solve this problem using corner point method. </li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img14.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img14-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(16)</span>
                    A dealer in a rural area wishes to purchase a number of sewing machines. He has only ₹5760 to invest
                    and has space for atmost 20 items for storage. An electronic sewing machine cost him ₹360 and a
                    manually operated sewing machine ₹240. He can sell an electronic sewing machine at a profit of ₹22
                    and a manually operated sewing machine at a profit of ₹18. Assuming that he can sell all the items
                    that he can buy, how should he invest his money in order to maximise his profit? Make it as a LPP
                    and solve it graphically.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img16.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img16-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(18)</span>
                    A manufacturing company makes two types of teaching aids A and B of Mathematics for class XII. Each
                    type of A requires 9 labour hours for fabricating and 1 labour hour for finishing. Each type of B
                    requires 12 labour hours for fabricating and 3 labour hours for finishing. For fabricating and
                    finishing, the maximum labour hours available per week are 180 and 30 respectively. The company
                    makes a profit of ₹80 on each piece of type A and ₹120 on each piece of type B. How many pieces of
                    type A and type B should be manufactured per week to get a maximum profit? Make it as an LPP and
                    solve graphically. What is the maximum profit per week?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img18.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img18-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(20)</span>
                    If a young man rides his motor cycle at 25 km per hour, he has to spend ₹2 per kilometre on petrol;
                    if he rides at a faster speed of 40 km per hour, the petrol cost increases to ₹5 per kilometre. He
                    has ₹100 to spend on petrol and wishes to find the maximum distance he can travel within one hour.
                    Express this as a linear programming problem and then solve it.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img20.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img20-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img20-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(22)</span>
                    A company manufactures two types of sweaters : type A and type B. It costs ₹360 to make a type A
                    sweater and ₹120 to make a type B sweater. The company can make atmost 300 sweaters and spend
                    ₹72000 per day. The number of sweaters of type B can not exceed the number of sweaters of type A by
                    more than 100. If the company makes a profit of ₹200 for each sweater of type A and ₹120 for every
                    sweater of type B, then how many sweaters of each type should the company make in a day to get a
                    maximum profit. Formulate it as an L.P.P. and solve graphically.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img22.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img22-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(24)</span>
                    A manufacturer makes two products, A and B. Product A sells at ₹200 each and takes 1/2 hour to
                    make. Product B sells at ₹300 each and takes 1 hour to make. There is a permanent order for 14
                    units of product A and 16 units of product B. A working week consists of 40 hours of production and
                    the weekly turnover must not be less than ₹10000. If the profit on each of product A is ₹20 and on
                    product B is ₹30, then how many of each should be produced so that the profit is maximum? Also find
                    the maximum profit.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img24.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img24-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img24-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(26)</span>
                    A mill owner buys two types of machines A and B for his mill. Machine occupies 1000 sq. m of area
                    and requires 12 men to operate; while machine B occupies 1200 sq. m of area and requires 8 men to
                    operate it. The owner has 7600 sq. m of area available and 72 men to operate the machines. If
                    machine A produces 50 units and machine B produces 8 units daily, how many machines of each type
                    should he buy to maximise the daily output? Use linear programming to find the solution.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img26.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img26-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img26-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(28)</span>
                    A manufacturer has three machines I, II and III installed in her factory. Machines I and II are
                    capable of being operated for atmost 12 hours whereas machine III must be operated atleast 5 hours a
                    day. She produces only two items M and N each requiring the use of all the three machines. The
                    number of hours required for producing 1 unit of each of M and N on the three machines are given in
                    the following table :
                    <br>
                    <table class="table table-bordered table-hover" style="width:77%">

                        <tbody>
                            <tr>
                                <th rowspan="2">Items</th>
                                <th colspan="3">Number of hours required on machines </th>
                            </tr>
                            <tr>
                                <th>I</th>
                                <th>II</th>
                                <th>III</th>
                            </tr>
                            <tr>
                                <td>M</td>
                                <td>1</td>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>N</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1.25</td>
                            </tr>

                        </tbody>
                    </table>
                    She makes a profit of ₹600 and ₹400 on each item of M and N respectively. How many of each item
                    should she produces so as to maximize her profit assuming that she can sell all the items that she
                    produced? What will be the maximum profit?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img28.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img28-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img28-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(30)</span>
                    A dietician has to develop a special diet using two foods P and Q. Each packet (containing 30 g) of
                    food P contains 12 units of calcium, 4 units of iron, 6 units of cholestrol and 6 units of vitamin
                    A. Each packet of the same quantity of food Q contains 3 unit of calcium, 20 units of iron, 4 units
                    of cholestrol and 3 units of vitamin A. The diet requires atleast 240 units of calcium, atleast 460
                    units of iron and atmost 300 units of cholestrol.
                    <ol type="i">
                        <li> How many packets of each food should be used to minimize the amount of vitamin A? What is
                            the minimum amount of vitamin A? </li>
                        <li>How many packets of each food should be used to maximize the amount of vitamin A in the
                            diet? What is the maximum amount of vitamin A?</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img30.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img30-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img30-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img30-3.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(32)</span>
                    The tailors A and B are paid ₹225 and ₹300 per day respectively. A can stich 9 shirts and 6 pants
                    while B can stich 15 shirts and 6 pants per day. Form a linear programming problem to minimize the
                    labour cost to produce atleast 90 shirts and 48 pants. Solve the problem graphically.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img32.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img32-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img32-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(34)</span>
                    A diet for a sick person must contain atleast 4000 units of vitamins, 50 units of minerals and 1400
                    units of calories. Two foods A and B are available at a cost of ₹4 and ₹3 per unit respectively. If
                    one unit of A contains 200 units of vitamin, 1 unit of mineral and 40 units of calories, and one
                    unit of food B contains 100 units of vitamin, 2 units of minerals and 40 units of calories, then
                    find what combination of foods should be used to have the least cost?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img34.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img34-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(36)</span>
                    A company manufactures three kinds of calculators: A, B and C in its two factories I and II. The
                    company has got an order for manufacturing atleast 6400 calculators of kind A, 4000 of kind B and
                    4800 of kind C. The daily output of factory I is of 50 calculators of kind A, 50 calculators of kind
                    B, and 30 calculators of kind C. The daily output of factory II is of 40 calculators of kind A, 20
                    of kind B and 40 of kind C. The cost per day to run factory I is ₹12,000 and of factory II is
                    ₹15,000. How many days do the two factories have to be in operation to produce the order with the
                    minimum cost? Formulate this problem as an LPP and solve it graphically
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img36.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img36-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img36-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(38)</span>
                    A catering agency has two kitchens to prepare food at two places A and B. From these places 'Mid-day
                    meal' is to be supplied to three different schools situated at P, Q, R. The monthly requirements of
                    the schools are respectively 40, 40 and 50 food packets. A packet contains lunch for 100 students.
                    Preparing capacity of kitchens A and B are 60 and 70 packets per month respectively. The
                    trnsportation cost per packet from the kitchens to schools is given below :
                    <table class="table table-bordered table-hover" style="width:77%">

                        <tbody>
                            <tr>
                                <center>
                                    <th colspan="3">Transportation cost per packet (in ₹)</th>
                                </center>
                            </tr>
                            <tr>
                                <th rowspan="2">To</th>
                                <th colspan="2">From</th>
                            </tr>
                            <tr>
                                <th>A</th>
                                <th>B</th>
                            </tr>
                            <tr>
                                <td>P</td>
                                <td>5</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Q</td>
                                <td>4</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>R</td>
                                <td>3</td>
                                <td>5</td>
                            </tr>

                        </tbody>
                    </table>
                    How many packets from each kitchens should be transported to schools so that the cost of
                    transportation is minimum? Also, find the minimum cost.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img38.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img38-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img38-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img38-3.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-sol/img38-4.jpg" alt="" class="img-fluid">

            </div>
        </div>

    </div>
</body>

</html>