<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .photo {
        width: 35% !important;
    }

    .img-fluid {
        width: 75%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">LPP CLASS 12 3.1(UnSol) EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> A furniture dealer deals in only two items — tables and chairs. He has &#8377;20000 to
                invest and a space to store atmost 80 pieces. A table costs him &#8377;800 and a chair costs him
                &#8377;200. He can sell a table for &#8377;950 and a chair for &#8377;280. Assume that he can sell all
                the items that he buys. Formulate this problem as an L.P.P. so that he can maximize his profit.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid " src="class12ISCchap/maths/L.P.Pimg/3-1-UnSol/1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span><br>
                There is a factory located at two places P and Q. From these locations, a certain commodity is delivered
                to each of three depots situated at A, B and C. The weekly requirements of the depots are respectively,
                5, 5 and 4 units of the commodity while the production capacity of the factories at P and Q are
                respectively 8 and 6 units. The cost of transportation per unit is given below :
                <br>
                <img class="img-fluid photo" src="class12ISCchap/maths/L.P.Pimg/3-1-UnSol/2ques.png" alt=""><br>
                How many units should be transported from each factory to each depot in order that transportation cost
                is minimum? Formulate the above linear programming problem mathematically.


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-UnSol/2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-UnSol/2-1.jpg" alt="">

        </div>
    </div>





</div>