<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 74%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 L.P.P UNSOLVED QUESTIONS 2.2</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(1)</span>
                    Maximize Z = 3x + 4y, subject to the constraints
                    <br>
                    <br>
                    x + y ≤4, x &GreaterEqual; 0, y &GreaterEqual; 0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(2)</span>
                    Minimize Z = -3x + 4y subject to the constraints <br>
                    <br>
                    x+2y≤8, 3x+2y≤12,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img2-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(3)</span>
                    Maximize Z = 3x + 2y subject to the constraints
                    <br>
                    <br>
                    x+ 2y≤10, 3x + y≤15, x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img3.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img3-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(4)</span>
                    Minimize Z = 3x + 5y subject to
                    <br>
                    <br>
                    x + 3y&GreaterEqual;3, x + y&GreaterEqual;2, x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img4.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img4-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(5)</span>
                    Maximize Z = 4x + y, subject to the constraints
                    <br>
                    <br>
                    x+y ≤50, 3x+y≤90,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img5.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img5-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(6)</span>
                    Minimize Z = 200x + 500y, subject to the constraints
                    <br>
                    <br>
                    x + 2y&GreaterEqual;10, 3x + 4y≤24,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img6.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img6-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(7)</span>
                    Minimize Z = x + 2y subject to
                    <br>
                    <br>
                    2x +y&GreaterEqual;3,x+2y&GreaterEqual;6,x&GreaterEqual;0,y&GreaterEqual;0
                    <br>
                    Show that the minimum value of Z occurs at more than two points.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img7.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img7-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(8)</span>
                    Minimize and maximize Z = 3x + 9y subject to the constraints
                    <br>
                    <br>
                    x+y&GreaterEqual;10,x+3y≤60,x≤ y,x&GreaterEqual;0,y&GreaterEqual;0

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img8.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img8-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(9)</span>
                    Minimize Z = 3x + 2y subject to the constraints <br>
                    <br>
                    x+y&GreaterEqual;8, 3x+5y≤15,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img9.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(10)</span>
                    Maximize Z = -x + 2y subject to the constraints
                    <br>
                    <br>
                    x&GreaterEqual;3, x+y&GreaterEqual;5,x+2y&GreaterEqual;6,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img10.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(11)</span>
                    Minimize and maximize Z = x + 2y subject to the constraints
                    <br>
                    <br>
                    x + 2y&GreaterEqual;100,2x -y≤0, 2x + y≤200,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img11.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img11-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(12)</span>
                    Maximize Z = x + y subject to the constraints <br>
                    <br>
                    x-y ≤ -1,-x+y ≤ 0,x&GreaterEqual;0,y&GreaterEqual;0
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img12.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(13)</span>
                    A manufacturer considers that men and women workers are equally efficient and so he pays them at the
                    same rate. He has 30 and 17 units of workers (male and female) and capital respectively, which he
                    uses to produce two types of goods A and B. To produce one unit of A, 2 workers and 3 units of
                    capital are required while 3 workers and 1 unit of capital is required to produce one unit of B. If
                    A and B are priced at ₹100 and ₹120 per unit respectively, how should he use his resources to
                    maximise the total revenue? Form the above as an L.P.P. and solve graphically.
                    <br>
                    <br>
                    Do you agree with this view of the manufacturer that men and women workers are equally efficient and
                    so should be paid at the same rate?

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img13.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img13-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(14)</span>
                    A company produces two types of items P and Q. Manufacturing of both items requires the metals gold
                    and copper. Each unit of item P requires 3 gms of gold and 1 gm of copper while that of item Q
                    requires 1 gm of gold and 2 gms of copper. The company has 9 gms of gold and 8 gms of copper in
                    store. If each unit of item P makes a profit of ₹50 and each unit of item Q makes a profit of ₹60,
                    determine the number of units of each item that the company should produce to maximize profit.What
                    is the maximum profit?

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img14.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img14-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(15)</span>
                    A cooperative society of farmers has 50 hactare of land to grow two crops X and Y. The profit from
                    crop X and Y per hectare are estimated as ₹10500 and ₹9000 respectively. To control weeds, a liquid
                    herbicide has to be used for crops X and Y at the rate of 20 litres and 10 litres per hectare.
                    Further, no more than 800 litres of herbicide should be used in order to protect fish and wild life
                    using a pond which collects drainage from this land.
                    <br>
                    <br>
                    Keeping in mind that the protection of fish and other wildlife is more important than earning
                    profit, how much land be allocated to each crop so as to maximize the total profit? Form an L.P.P.
                    from the above and solve it graphically. Do you agree with the message that the protection of
                    wildlife is utmost necessary to preserve the balance in environment

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img15.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img15-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(16)</span>
                    One kind of cake requires 200 g of flour and 25 g of fat, and another kind of cake requires 100 g of
                    flour and 50 g of fat. Find the maximum number of cakes which can be made from 5 kg of flour and 1
                    kg of fat assuming that there is no shortage of other ingredients used in making the cakes.Formulate
                    the above as a linear programming problem and solve graphically.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img16.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img16-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(17)</span>
                    A company manufactures two types of toys A and B. A toy of type A requires 5 minutes for cutting and
                    10 minutes for assembling. A toy of type B requires 8 minutes for cutting and 8 minutes for
                    assembling. There are 3 hours available for cutting and 4 hours available for assembling the toys in
                    a day. The profit is ₹50 each on a toy of Type A and ₹60 each on a toy of type B. How many toys of
                    each type should the company manufacture in a day to maximize the profit? Use linear programming to
                    find the solution.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img17.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img17-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img17-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(18)</span>
                    A manufacturer manufactures two types of plastic bags A and B using two machines M<sub>1</sub> and
                    M<sub>2</sub> .To manufacture a bag of type A, machine M<sub>1</sub> is operated for 2 minutes and
                    machine M<sub>2</sub>
                    for 1
                    minute; to manufacture a bag of type B, machine M<sub>1</sub> is operated for 3 minutes and machine
                    M<sub>2</sub> for 4
                    minutes. Each machine can be operated for atmost 8 hours per day. A bag of type A is sold at a
                    profit of ₹0.50 and a bag of type B is sold at a profit of ₹0.75. How many bags of each type
                    should be manufactured and sold per day so as to maximise his profit. Form an L.P.P. and solve it
                    graphically. Why plastic bags
                    should not be used? What values are being promoted?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img18.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img18-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img18-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(19)</span>
                    A small firm manufactures gold rings and chains. The combined number of rings and
                    chains manufactured per day is atmost 24. It takes one hour to make a ring and half an
                    hour for a chain. The maximum number of hours available per day is 16. If the profit on
                    a ring is ₹300 and on a chain is ₹190, how many of each should be manufactured daily
                    so as to maximize the profit?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img19.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img19-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(20)</span>
                    A factory manufactures two types of screws, A and B, each type requiring the use of two
                    machines —an automatic and a hand-operated. It takes 4 minutes on the automatic and
                    6 minutes on the hand-operated machine to manufacture a package of screws ‘A’, while
                    it takes 6 minutes on the automatic and 3 minutes on the hand-operated machine to
                    manufacture a package of screws ‘B’. Each machine is available for atmost 4 hours on any
                    day. The manufacturer can sell a package of screws ‘A’ at a profit of ₹7 and of screws
                    ‘B’ at a profit of ₹10. Assuming that he can sell all the screws he can manufacture, how
                    many packages of each type should the factory owner produce in a day in order to
                    maximize his profit? Determine the maximum profit.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img20.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img20-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img20-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(21)</span>
                    A dealer in rural area wishes to purchase a number of sewing machines. He has only ₹57600 to invest
                    and has space for atmost 20 items. An electronic sewing machine costs him ₹3600 and a manually
                    operated sewing machine ₹2400. He can sell an electronic sewing machine at a profit of ₹220 and a
                    manually operated sewing machine at a profit of ₹180. Assuming that he can sell all the items that
                    he can buy, how should he invest his money in order to maximize his profit. Make it as an L.P.P. and
                    solve it graphically.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img21.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img21-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(22)</span>
                    A cottage industry manufactures pedestal lamps and wooden shades, each requiring the
                    use of a grinding /cutting machine and a sprayer. It takes 2 hours on the grinding /cutting
                    machine and 3 hours on the sprayer to manufacture a pedestal lamp while it takes 1 hour
                    on the grinding / cutting machine and 2 hours on the sprayer to manufacture a shade.
                    <br>
                    <br>
                    To keep the noise and dust pollution under prescribed limits, a sprayer can be used for a maximum of
                    20 hours per day while cutting and grinding machine can be used for a maximum of 12 hours per day.
                    The profit from the sale of a lamp is ₹5 and that from sale of a shade is ₹3. Assuming that
                    manufacturer can sell all the pedestal lamps and shades that are made, how should he schedule his
                    daily production to maximise profit? Make it as an L.P.P. and solve it graphically. Which value is
                    indicated in the above question?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img22.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img22-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img22-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(23)</span>
                    A company manufactures two types of novelty souvenirs made of plywood. Souvenirs
                    of type A require 5 minutes each for cutting and 10 minutes each for assembling.
                    Souvenirs of type B require 8 minutes each for cutting and 8 minutes each for assembling.
                    There are 3 hours 20 minutes available for cutting and 4 hours available for assembling.
                    The profit is ₹5 each for type A and ₹6 each for type B souvenirs. How many souvenirs
                    of each type should the company manufacture in order to maximize the profit?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img23.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img23-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(24)</span>
                    A small scale factory makes two types of dolls. One doll of type I takes 1.5 hours of
                    electronic machine and 3 hours of hand operated machine; one doll of type II takes
                    3 hours of electronic machine and 1 hour of hand operated machine. In a day, the factory
                    has the ability of atmost 42 hours of electronic machines and 24 hours of hand operated machines.
                    If the profit on one doll of type I is ₹20 and on one doll of type II is ₹30, find the number of
                    dolls of each type that the factory should manufacture to earn maximum profit. Make it as an L.P.P.
                    and solve graphically. Why are small scale industries important in India? What values are being
                    promoted by establishing small scale industry?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img24.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img24-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(25)</span>
                    An aeroplane can carry a maximum of 200 passengers. Baggage allowed for a first class ticket is 30
                    kg and for an economy class ticket is 20 kg. Maximum capacity for the baggage is 4500 kg. The profit
                    on each first class ticket is ₹500 and on each economy class ticket is ₹300. Determine how many
                    tickets of each type must be sold to maximize the profit of the airline. Also find the maximum
                    profit.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img25.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img25-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img25-2.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(26)</span>
                    Two tailors P and Q earn ₹150 and ₹200 per day respectively. P can stich 6 shirts and 4 trousers a
                    day, while Q can stich 10 shirts and 4 trousers per day. How many days should each work to produce
                    atleast 60 shirts and 32 trousers at minimum labour cost?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img26.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img26-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(27)</span>
                    Reshma wishes to mix two types of foods P and Q in such a way that the vitamin contents of the
                    mixture contains atleast 8 units of vitamin A and 11 units of vitamin B. Food P costs ₹60/kg and
                    food Q costs ₹80/kg. Food P contains 3 units/kg of vitamin A and 5 units/kg of vitamin B while food
                    Q contains 4 units/kg of vitamin A and 2 units/kg of vitamin B. Determine the minimum cost of the
                    mixture
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img27.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(28)</span>
                    There are two types of fertilisers F<sub>1</sub> and F<sub>2</sub>. F<sub>1</sub> consists of 10%
                    nitrogen and 6% phosphoric acid and
                    F<sub>2</sub> consists of 5% nitrogen and 10% phosphoric acid. After testing the soil conditions, a
                    farmer
                    finds that she needs atleast 14 kg of nitrogen and 14 kg of phosphoric acid for her crop. If F1
                    costs ₹6/kg and F2 costs ₹5/kg, determine how much of each type of fertiliser should be used so that
                    neutrient requirements are met at a minimum cost. What is the minimum cost?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img28.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img28-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(29)</span>
                    David wants to invest atmost ₹12000 in Bonds A and B. According to the rule, he has to invest
                    atleast ₹2000 in Bond A and atleast ₹4000 in Bond B. If the rates of interest on Bonds A and B
                    respectively are 8% and 10% per annum, formulate the problem as L.P.P. and solve it graphically for
                    maximum interest. Also determine the maximum interest received in a year.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img29.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img29-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(30)</span>
                    A farmer mixes two brands P and Q of cattle feed. Brand P costing ₹250 per bag, contains 3 units of
                    nutritional element A, 2.5 units of element B and 2 units of element C. Brand Q costing ₹200 per
                    bag contains 1.5 units of nutritional element A, 11.25 units of element B and 3 units of element C.
                    The minimum requirements of nutrients A, B and C are 18 units, 4.5 units and 24 units respectively.
                    Determine the number of bags of each brand which should be mixed in order to produce a mixture
                    having a minimum cost.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img30.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img30-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(31)</span>
                    A toy company manufactures two types of dolls, A and B. Market tests and available resources
                    indicated that the combined production level should not exceed 1200 dolls per week and the demand of
                    the dolls of B type is atmost half of that for dolls of type A. Further, the production level of
                    dolls of type A can exceed three times the production of dolls of other type by atmost 600. If the
                    company makes profit of ₹12 and ₹16 per doll respectively on dolls A and B, how many of each type
                    should be produced weekly in order to maximize the profit?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img31.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img31-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img31-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q(32)</span>
                    An oil company has two depots A and B with capacities of 7000 litre and 4000 litre respectively. The
                    company is to supply oil to three petrol pumps D, E and F, whose requirements are 4500 litre, 3000
                    litre and 3500 litre respectively. The distance (in km) between the depots and the petrol pumps is
                    given in the following table :
                    <br>
                    <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/q32.jpg" alt="" class="img-fluid">
                    <br>
                    Assuming that transportation cost per km is ₹1 per litre,how should the delivery be scheduled in
                    order that the transportation cost is minimum? What is the minimum cost?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img32.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img32-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img32-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/L.P.Pimg/3-2-unsol/img32-3.jpg" alt="" class="img-fluid">

            </div>
        </div>

    </div>
</body>

</html>