<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .photo {
        width: 35% !important;
    }

    .img-fluid {
        width: 65%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">LPP CLASS 12 3.1(Sol) EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> A shopkeeper deals in two items—wall hangings and artificial plants. He has &#8377;15000 to
                invest and a space to store atmost 80 pieces. A wall hanging costs him &#8377;2300 and an artificial
                plant &#8377;150. He can sell a wall hanging at a profit of &#8377;50 and an artificial plant at a
                profit of &#8377;18. Assuming that he can sell all the items that he buys, formulate a linear
                programming problem in order to maximize his profit.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid " src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/1.jpg" alt="">
            <img class="img-fluid " src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/1-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span><br>
                A retired person wants to invest an amount of upto &#8377;20000. His broker recommends investing in two
                types of bonds A and B, bond A yielding 10% return on the amount invested and bond B yielding 15% return
                on the amount invested. After some consideration, he decides to invest atleast &#8377;5000 in bond A and
                no more than &#8377;8000 in bond B. He also wants to invest atleast as much in bond A as in bond B.
                Formulate as L.P.P. to maximize his return on investments.




            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/2.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                <span>
                    1
                </span>
                <span class="symbol">/</span>
                <span class="bottom">&radic;2</span>
            </div>) --> A manufacturer produces nuts and bolts for industrial machinery. It takes 1 hour of work on
                machine A and 3 hours on machine B to produce a package of nuts, while it takes 3 hours on machine A and
                1 hour on machine B to produce a package of bolts. He earns a profit of &#8377;2.50 per package on nuts
                and &#8377;1 per package on bolts. Form a linear programming problem to maximize his profit, if he
                operates each machine for atmost 12 hours.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid " src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span><br>
                A manufacturer has three machines M1, M2 and M3 installed in his factory. Machines Mt and M2 are capable
                of being operated for at the most 12 hours, whereas machine M3 must be operated for atleast 5 hours a
                day. The manufacturer produces only two items, each requiring the use of these three machines. The
                following table gives the number of hours required on these machines for producing 1 unit of A or B.<br>
                <img class="img-fluid photo" src="class12ISCchap/maths/L.P.Pimg/4ques.png" alt=""><br>
                He makes a profit of &#8377;60 on item A and &#8377;40 on item B. He wishes to find out how many of each
                item he should produce to have maximum profit. Formulate it as L.P.P.




            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/4.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q5</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                <span>
                    1
                </span>
                <span class="symbol">/</span>
                <span class="bottom">&radic;2</span>
            </div>) --> A diet is to contain atleast 80 units of vitamin A and 100 units of minerals. Two foods
                F<sub>1</sub> and F<sub>2</sub> are available. Food F<sub>1</sub> costs &#8377;4 per kg and
                F<sub>2</sub> costs &#8377;5 per kg. One kg of food F<sub>1</sub> contains 3 units of vitamin A and 4
                units of minerals. One kg of food F<sub>2</sub> contains 6 units of vitamin A and 3 units of minerals.
                We wish to find the minimum cost for diet that consists of mixture of these two foods and also meets the
                minimum nutritional requirements. Formulate this as a linear programming problem.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid " src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/5.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span><br>
                A diet for a sick person must contain atleast 3000 units of vitamins, 60 units of minerals and 1600
                units of calories. Two foods F<sub>1</sub> and F<sub>2</sub> are available at a cost of &#8377;6 and
                &#8377;5 per unit respectively. One unit of F<sub>1</sub> contains 200 units of vitamins, 1 unit of
                mineral and 40 units of calories, while one unit of F<sub>2</sub> contains 100 units of vitamins, 2
                units of minerals and 40 units of calories. The aim is to formulate a mixture of foods F<sub>1</sub> and
                F<sub>2</sub> which provides these minimum levels of nutrients and also costs the least. Formulate it as
                L.P.P.


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/6-1.jpg" alt="">

        </div>
    </div>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span><br>
                A brick manufacturer has two depots A and B, with stocks of 30000 and 20000 bricks respectively. He
                receives orders from three builders P, Q and R for 15000, 20000 and 15000 bricks respectively. The cost
                (in &#8377;) of transporting 1000 bricks to the builders from the depots are given below :<br>
                <img class="img-fluid photo" src="class12ISCchap/maths/L.P.Pimg/7ques.png" alt=""><br>
                The manufacturer wishes to find how to fulfil the ordir so that transportation cost is minimum.
                Formulate the L.P.P.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/7.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/L.P.Pimg/3-1-Sol/7-1.jpg" alt="">

        </div>
    </div>

</div>