<style>
    .img-fluid {
        width: 66%;
    }

    @media only screen and (max-width: 760px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>
<h1 class="text-center text-danger">CLASS 12 Solid State QUESTION 1.4</h1>
<div class="container mt-5">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.23</span>
                What is the ratio of the radius of a tetrahedral hole to the radius of the constituent atom?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">0.225</h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.24</span>
                How many octahedral holes are there in the lattice per atom forming the close-packed structure ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">Equal to the number of particles</h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.25</span>
                Show that the maximum size of the particle which can fit into a tetrahedral hole is 22.5% that of
                the sphere forming the structure.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.4img/img1.25.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.26</span>
                Show that the maximum radius of an octahedral void is 0.414 times the radius of the sphere forming
                the structure.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.4img/img1.26.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.27</span>
                A solid AB has NaCl structure. If the radius of cation A<sup>+</sup> is 100 pm, what is the radius
                of the anion B?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.4img/img1.27.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.28</span>
                A solid AB has NaCl structure. If the radius of the cation A<sup>+</sup> is 140 pm,calculate the
                maximum
                possible value of the radius of anion B<sup>-</sup>.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.4img/img1.28.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.29</span>
                How much space is occupied by the constituent particles in each of the following crystal structures
                :
            </h5>
            <ol type="a">
                <li>hcp</li>
                <li>fcc</li>
                <li>bcc</li>
            </ol>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">The space occupied by the constituents particles in crystal structure
                <br>
                <ol type="i" class="mt-3">
                    <li>HCP ->(Hexagonal close Packing) =>74%</li>
                    <li>FCP ->(Face close Packing) =>74%</li>
                    <li>Bcc ->(Body Centered cubic close packing) =>68%</li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.30</span>
                The mode of stacking of the first four layers in a crystal is of the type ABCA. Name the type of
                packing.What is the coordination number of each atom in this packing?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">In cubic close packing Ist four layers in a crystal lattice
                <br>
                It has ABC types structure
                <br>
                Then the coordination of CCP is 12
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.31</span>
                What is the maximum possible coordination number of an atom in an hcp crystal structure of an
                element?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">In HCP(Hexagonal close packing)
                <br>
                has coordination is 12
            </h5>
        </div>
    </div>
</div>