<style>
    .img-fluid {
        width: 66%;
    }

    @media only screen and (max-width: 760px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>
<h1 class="text-center text-danger">CLASS 12 Solid State QUESTION 1.6</h1>
<div class="container mt-5">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.43</span>
                Define point defects in solids.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                The defects caused by a departure from the periodic arrangement of particles in the vicinity of an atom
                or a group of atom are called point defects
            </h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.43.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.44</span>
                What is Schottky defect?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                This defect arises when some of the lattice points in a crystals are unoccupied.The unoccupied lattice
                points are called lattice vacancies
            </h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.44.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.45</span>
                What is the effect of the presence of Schottky defects on the density of a crystal ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                The density of the crystal decrease because a pair of ions are missing in the Schottky defects
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.46</span>
                What are interstitials in a crystal ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                An interstitials atom is one that occupies a site in a crystal structure that is normally unoccupied by
                the atoms of the structure
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.47</span>
                Pure silicon does not conduct electricity. How can it be made a conductor of electricity ? Explain
                with examples. </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                In a silicon lattice,all silicon atom are perfectly to 4 neighbour,leaving no free electrons to conduct
                electric current
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.48</span>
                AgCl is doped with 10<sup>-2</sup> mol% of CdCl<sub>2</sub>. Find the concentration of cation
                vacancies. </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.48.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.49</span>
                What other element may be added to silicon to make electrons available for
                conduction of an electric current?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <b>Phosphorus</b> is the element may be added to silicon to make e<sup>-</sup> available for conduction
                of an electric current
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.50</span>
                What is the non-stoichiometry defect in crystals ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                When the ratio of the number of positive and negative ions i.e, the stoichiometry of the crystals gets
                disturbed by the defects present in crystal the defects are refferred to as non-stoichiometric defects
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.51</span>
                Why does Frenkel defect not change the density of AgCl crystals ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                The frankel defects does not change the density of the AgCl crystals because Ag<sup>+</sup> ions have
                left only their normal site and have occupied positions in the lattice
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.52</span>
                State the difference between Schottky and Frenkel defects. Which of these two changes the density of
                the solid?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.52(i).jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.53</span>
                Name a salt that can be added to AgCl so as to produce cation vacancies.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                cdcl<sub>2</sub>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.54</span>
                Which point defect lowers the density of a crystal ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Schottky defect
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.55</span>
                Name a substance which on addition to AgCl causes cation vacancy in it.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                cdcl<sub>2</sub>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.56</span>
                What makes alkali metal halides sometimes coloured, which are otherwise colourless?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                because of Metal excess defects on account of anion vacancies that are filled electron
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.57</span>
                Why is common salt sometimes yellow instead of being pure white ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Common salt is yellow sometimes due to the presence of electrons in some lattice sites in place of anion
                their sites act as F-centres these electron when excited import color to the crystal
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.58</span>
                What is a semiconductor ? Describe the two main types of semiconductors and contrast conduction
                mechanism in them.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="1000"
                src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.58.jpg" alt="">
            <img class="img-fluid" width="1000"
                src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.58-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.59</span>
                What type of crystal defect is produced when sodium chloride is doped with MgCl<sub>2</sub>?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Schottky defect
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.60</span>
                Explain with a suitable example :
                <br>
                Frenkel defect in crystals.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <b>Frankel defect</b>-> this defect aries when an ions (generally a cation ) leaves its lattice site and
                occupies an interstial sites
                <br>
                <b>Example</b>->Agcl,Agbr and AgI they are also found in ZnS crystal.
            </h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.60.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.61</span>
                Name the electrical properties possessed by following oxides :
                <br>
                TiO, Ti<sub>2</sub>O<sub>3</sub>, TiO<sub>2</sub>, CrO<sub>2</sub> and Cr<sub>2</sub>O<sub>3</sub>.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <ol type="i">
                    <li>
                        TiO-->Metals
                    </li>
                    <li>
                        Ti<sub>2</sub>O<sub>3</sub>-->Metal-insulator
                    </li>
                    <li>
                        TiO<sub>2</sub>-->Insulator
                    </li>
                    <li>CrO<sub>2</sub>--->Metal</li>
                    <li>Cr<sub>2</sub>O<sub>3</sub>-->Insulator
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.62</span>
                Sort out the diamagnetic, paramagnetic and ferromagnetic substances among the following:
                <br>
                O<sub>2</sub>, Fe, TiO<sub>2</sub>, Cu<sup>2+</sup>, Fe<sup>3+</sup>, Ni, CrO<sub>2</sub>,
                C<sub>6</sub>H<sub>6</sub>, NaCl.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.62.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.63</span>
                What are paramagnetic and ferromagentic substances ?
                <br>
                Account for the paramagnetic character of transition metal compounds. How does the paramagnetic
                character of the bivalent ions of first transition metal series vary from titanium (Z = 22) to
                copper (Z = 29) ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <b>Paramagnetic Substance</b>-->the substance which are attracted by the magnetic fields are called
                paramagnetic substance those substance posses permanent magnetic dipoles due to the presence of atom
                <br>
                <b>Example-</b>O<sub>2</sub>,Fe<sup>+3</sup>,Cu<sup>+2</sup>etc.
            </h5>
            <h5 class="text-dark">
                <b>ferrimagnetic substance-</b>these substance are strongly attracted by magnetic field and show
                permanent magnetism even in the absence of magnetic field
                <br>
                <b>Example-</b>Nickel,Cobalt,CrO<sub>2</sub>etc
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.64</span>
                How does the electrical resistivity of the following classes of materials vary with temperature :
                semiconductors, metallic conductors, superconductors ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                The electical resistivity of material with temperature
                <br>
                <ol type="i">
                    <li>Semiconductor -> Decrease </li>
                    <li>Metallic Conductor->Increase</li>
                    <li>Superconductors-> Increase</li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.65</span>
                Name any two superconducting materials which show superconductivity above 100 K.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Bismuth,thallium and Mercury
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.66</span>
                How is ferromagnetism different from paramagnetism .
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.66.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.67</span>
                Explain the dielectric properties of solids.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                The dielectric properties of solids are-
            </h5>
            <ol type="i" class="text-dark">
                <li>
                    <b> Piezoelectricity-></b>the crystals in which dipoles align in a way to produce a net dipole
                    moment
                </li>
                <li>
                    <b>Pyroelectricity-></b>Some polar crystals on being heated produce a small electric current
                </li>
                <li>
                    <b>Ferroelectricity-></b>In some of the Piezoelectric crystal,the dipoles are permanently aligned
                    even in the absence of electric field
                </li>
                <li>
                    <b>Antiferroelectricity-></b>When the dipoles in alternate polyhedra point up and down,the net
                    dipole moment of the crystal is zero.
                    <br>
                    PbzrO<sub>3</sub> is a Antiferroelectricity
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.68</span>
                In what respects, amorphous solids differ from crystalline solids ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.68.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.69</span>
                How would you convert a crystalline solid into an amorphous solid ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                When the crystalline solids are melted and the liquid is cooled rapidly enough enough to avoid
                crystallization an amorphous solid is formed
                <br>
                <b>For example-</b>two forms of quartz sand converted to glass
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.70</span>
                What is the difference between ferromagnetic and ferrimagnetic substances?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.70.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.71</span>
                What is the utility of piezoelectric crystals ?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <b> Piezoelectric crystals-></b>When such a crystal is subjected to a mechanical stress,the crystal gets
                deformed and electricity is produced due to the displacement of ions.
                The electricity that produced is called Piezoelectricity
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.72</span>
                What happens when ferrimagnetic Fe<sub>3</sub>O<sub>4</sub> is heated at 850 K and why? </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                When ferrimagnetic Fe<sub>2</sub>O<sub>4</sub>(850k) at very high temperature so,it is loses its
                magnetic property
                <br>
                <br>
                ferrimagnetic-->paramagnetic substance-due to unpaired electron
                <br>
                <br>
                Its due to greater aligned of spins in one direction on heating
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.73</span>
                What are amorphous solids? Discuss their properties and uses </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="900"
                src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.73.jpg" alt="">
            <img class="img-fluid" width="900"
                src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.6img/img1.73-1.jpg" alt="">
        </div>
    </div>

</div>