<style>
    .img-fluid {
        width: 59%;
    }

    @media only screen and (max-width: 760px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>
<h1 class="text-center text-danger">CLASS 12 Solid State QUESTION 1.5</h1>
<div class="container mt-5">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.32</span>
                Aol crystallises in cubic close-packed structure like ZnS. What fraction of tetrahedral holes
                (sites) are occupied by Ag<sup>+</sup> ions?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.32.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.33</span>
                The two ions A<sup>+</sup> and B<sup>-</sup> have radii 88 and 200 pm respectively. In the
                close-packed crystal of
                compound AB, predict the coordination number of A<sup>+</sup>.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.33.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.34</span>
                The ionic radii of Rb<sup>+</sup>, Br<sup>-</sup> and I<sup>-</sup> are 147, 195 and 216 pm
                respectively. Predict the most
                probable
                coordination number of Rb<sup>+</sup> ion in RbBr and RbI.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.34(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.34(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.35</span>
                KF has rock-salt structure. Calculate the value of Avogadro's number from the following data :
                <br>
                Density of KF = 2.48 g cm<sup>-3</sup>
                <br>
                Distance between K<sup>+</sup> and F<sup>-</sup> ions in KF = 268 pm.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.35.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.36</span>
                Predict the structure of MgO crystal and coordination number of its cation in which the cation and
                anion radii are equal to 65 pm and 140 pm respectively.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.36.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.37</span>
                In the compound AX, the radius of A ion is 95 pm and that of X<sup>-</sup> ion is 181 pm. Predict
                the crystal
                structure of AX and write the coordination number of each of the ions.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.37.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.38</span>
                Metallic gold crystallises in a face-centred cubic lattice and has a density of 19.3 g
                cm<sup>-3</sup>.
                Calculate the radius of gold atom.
                <br>
                (Atomic mass of gold = 197 amu, N<sub>A</sub> = 6.02 x 10<sup>23</sup> mol<sup>-1</sup>)
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.38.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.39</span>
                A solid AB has NaCl structure. If the radius of cation A<sup>+</sup> is 120 pm, calculate the
                maximum possible value of radius of anion B<sup>-</sup>.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.40</span>
                A compound AB<sub>2</sub> possesses the CaF<sub>2</sub> type crystal structure. Write the
                coordination numbers
                of A<sup>2+</sup>ions and B<sup>-</sup>ions in the crystals.
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.40.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.41</span>
                How many Cs<sup>+</sup> ions occupy second nearest neighbour locations to a central
                Cs<sup>+</sup>ion in
                caesium chloride crystals?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">Six</h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 1.42</span>
                A solid AB has NaCl like crystal structure. If the radius of the cation is 120 pm, what value of
                radius may be expected the anion?
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/chemistry/solidstateimg/class12solidstate1.5img/img1.42.jpg"
                alt="">
        </div>
    </div>

</div>