<%- include('../partials/additionalcss.ejs') %>

  <%- include('../partials/secondnav.ejs') %>
    <div class="container">
      <div>
        <h1 style="color: red">ISC Class 12th Chemistry</h1>
        <p style="font-size: medium">
          <b>Chemistry is the science applicable in our day-to-day life. Many of the
            changes we observe in the world around us are caused by chemical
            reactions. Chemistry starts emerging as one of the Science disciplines
            at this level. In grade-12, students are introduced to phenomena. IQ
            Classes content aims to help students in this exploration and also make
            sure that students to excel in the subject.
          </b>
        </p>
        <p>
          <b>
            ISC Class 12 Chemistry syllabus includes concepts on solid state and
            solutions, Electrochemistry, Biomolecules, Aldehydes,Ketones and
            Carboxylic Acids and many more.
          </b>
        </p>
      </div>

      <div class="info d-none">
        <span>class12ISC/class12chemimg</span>
        <div>
          <h1>Solid State</h1>

        </div>
        <div>
          <h1>Solutions</h1>
        </div>
        <div>
          <h1>Electrochemistry</h1>
        </div>
        <div>
          <h1>Chemical Kinetics</h1>

        </div>
        <div>
          <h1>Surface Chemistry</h1>
        </div>
        <div>
          <h1>Isolation of Elements</h1>
        </div>
        <div>
          <h1>p-Block Elements</h1>
        </div>
        <div>
          <h1>d- and f- Block Elements</h1>
        </div>
        <div>
          <h1>coordination Compounds</h1>
        </div>
        <div>
          <h1>Haloalkanes and Haloarenes</h1>
        </div>
        <div>
          <h1>Alcohols,Phenols and Ethers</h1>
        </div>
        <div>
          <h1>Aldehydes,Ketones and Carboxylic Acids</h1>
        </div>
        <div>
          <h1>Organic Compounds Containing Nitrogen</h1>
        </div>
        <div>
          <h1>Biomolecules</h1>
        </div>
        <div>
          <h1>Polymers</h1>
        </div>
        <div>
          <h1>Chemistry in Everyday Life</h1>
        </div>

      </div>

      <!-- chemistry Subjects -->
      <div class="container contain bg-light learnblock" style="margin-top: 2em;">
        <div class="row row-cols-1 row-cols-md-3 g-3 mb-3 m-auto allcard">

        </div>
      </div>

      <div>
        <h5 style="color: red">
          What are the chapters included in class 12 Chemistry ISC?
        </h5>
        <p>
          <b>All chapters of class 12 Chemistry , in the prescribed syllabus by the
            ISC
            <a style="text-decoration: none"
              href="https://www.cisce.org/pdf/ISC-Class-XII-Syllabus-2021/19.%20ISC%20Chemistry.pdf">Click here
            </a>
            to get more detailed description of your syllabus. Every chapter have
            their importance and weightage. Each chapter has various concepts based
            on NCERT pattern and plays a specific role in improving outcomes. ICSE
            Class 9th chemistry chapter list will give you an idea of the entire
            course coverage.
          </b>
        </p>
        <h5 style="color: red">How to start for class 12 Chemistry ISC?</h5>
        <p>
          <b>
            For Class 12 Chemistry ISC, one should clearly understand the syllabus
            and course structure first. Teachers will help you in giving brief
            introduction about your syllabus and Question paper pattern and will
            help you to improve your learning levels .
            <a style="text-decoration: none"
              href="https://www.cisce.org/isc_XII_Specimen_Question_Papers2018.aspx">Click here for specimen question
              papers</a>.
          </b>
        </p>
        <p>
          <b>Slowly understands the concepts and initiate a habit of practice.
            Practicing and revising all these topics from initial will help you to
            understand the concepts with clarity. Always try to clear the concepts
            of Class 12 Chemistry ISC that you do not understand. Avoid skipping
            topics or concepts. Revise crucial topics daily.
          </b>
        </p>
        <h5 style="color: red">
          How can you score good marks in the Chemistry class 12 ISC?
        </h5>
        <p>
          <b>
            Chemistry lessons were filled with the knowledge of new chemicals,
            compounds, experiments and inferences. You can expect short questions
            and several numerical questions also. In case of organic chemistry, be
            very clear of the concepts explained in the chapters.
          </b>
        </p>
        <p>
          <li>
            <b> Try to write your descriptive answers in points and
              give pictorial or graphical illustrations wherever possible. It
              enhances visibility.</b>
          </li>
          <li>
            <b>Practice numerical problems till you get most of them perfectly.</b>
          </li>
          <li>
            <b>
              Take up important notes like definitions of laws and theories and
              write them in a notebook so that can use them as flashcards later
              while revising.</b>
          </li>
        </p>
        <h5 style="color: red">ISC Class 12 prescribed Chemistry Books</h5>
        <p>
          <b>Here is a list of the ISC books for Class 12 which students can refer
            while preparing for their Chemistry exam which is updated according to
            the latest ISC syllabus. Students of Class 12 should start their
            preparation by studying from the textbook of ISC Class 12 Chemistry as
            it covers the entire syllabus and gives the ample number of questions to
            practice.
          </b>
        </p>
        <p>
          <li><b>Nootan ISC Chemistry for Class 12</b></li>
          <li><b>S Chand ISC Chemistry for Class 12</b></li>
          <li><b>Physical and Inorganic Chemistry</b></li>
        </p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
      function fli(e) {
        let click = false;
        let card = e.children[0];
        let image = e.children[0].children[0].children[1]
        let buttons = e.children[0].children[1].children[1].children[0]
        // $(buttons.children[0]).click(() => {
        //     console.log('click');
        // })
        // if (click == false) {
        //     console.log(click);
        //     $(card).toggleClass('rotate')
        //     setTimeout(() => {
        //         $(image).toggleClass('d-none')
        //     }, 200);
        // }
        $(card).toggleClass('rotate')
        setTimeout(() => {
          $(image).toggleClass('d-none')
        }, 200);
      }
    </script>

    <%- include('../partials/makecard.ejs') %>
      <script>
        $(document).on("click", ".bt", function () {
          const chapter = this.parentElement.parentElement.parentNode.parentNode.firstElementChild.firstElementChild.children[0].innerHTML
          console.log(chapter);
          switch (chapter) {
            case 'Solid State':
              this.setAttribute('href', '/class12solidstateNootan')
              break;

            case 'Chemical Kinetics':
              this.setAttribute('href', '/class12ChemicalKineticNootan')
              break;

            case 'Electrochemistry':
              this.setAttribute('href', '/class12ElectrochemistryNootan')
              break;

            case 'p-Block Elements':
              this.setAttribute('href', '/class12PBlockNootan')
              break;

            case 'd- and f- Block Elements':
              this.setAttribute('href', '/class12D&FBlockNootan')
              break;
            case 'Surface Chemistry':
              this.setAttribute('href', '/class12surfacechemistryNootan')
              break;

            case 'Polymers':
              this.setAttribute('href', '/class12polymersNootan')
              break;
            case 'Chemistry in Everyday Life':
              this.setAttribute('href', '/class12chemistryineverydaylifeNootan')
              break;
            case 'coordination Compounds':
              this.setAttribute('href', '/class12coordinationcompoundNootan')
              break;
            case 'Solutions':
              this.setAttribute('href', '/class12solutionsNootan')
              break;
          }

        })
      </script>