<%- include('../partials/additionalcss.ejs') %>

    <%- include('../partials/secondnav.ejs') %>

        <!-- MATHS SUBJECTS -->
        <div class="container">
            <div>
                <h1 style="color:red;">ISC Class 12th Maths</h1>
                <p style="font-size:medium;">
                    <b>
                        Mathematics is one of the most challenging and trickiest subjects, the content of Class 12
                        Mathematics emphasises the in-depth understanding of concepts.

                        The content at this level aims that students must be able to relate the topics of Mathematics to
                        real life and other subject areas. The emphasis is on enhancing the capacity of students to
                        apply Mathematics in solving day-to-day life problems.
                        IQ Classes content aims to help students in this exploration and also make sure
                        that students to excel in the subject.
                    </b>
                </p>
                <p><b> ISC Class 12 Maths syllabus includes concepts on Determinants ,application of derivatives ,
                        Continuity and Differentiablity ,
                        probability, vector, Application of Integrals and many more.

                    </b></p>

            </div>
            <div class="info d-none">
                <span>class12ISC/class12mathsimg</span>
                <div>
                    <h1>Relation and Function</h1>
                </div>
                <div>
                    <h1>I.T.F</h1>
                </div>
                <div>
                    <h1>Determinants</h1>
                </div>
                <div>
                    <h1>Matrices</h1>
                </div>

                <div>
                    <h1>Continuity and Differentiablity</h1>
                </div>

                <div>
                    <h1>application of derivatives</h1>
                </div>
                <div>
                    <h1>Integrals</h1>
                </div>
                <div>
                    <h1>Differential Equations</h1>
                </div>
                <div>
                    <h1>Probability</h1>
                </div>
                <div>
                    <h1>Vector</h1>
                </div>
                <div>
                    <h1>3D</h1>
                </div>
                <div>
                    <h1>Application of Integrals</h1>
                </div>
                <div>
                    <h1>Application of Calculus</h1>
                </div>
                <div>
                    <h1>Linear Regression</h1>
                </div>
                <div>
                    <h1>Linear Programming</h1>
                </div>
            </div>
            <!-- Maths SUBJECTS -->
            <div class="container contain bg-light learnblock" style="margin-top: 2em;">
                <div class="row row-cols-1 row-cols-md-3 g-3 mb-3 m-auto allcard">

                </div>
            </div>
            <div>
                <h5 style="color:red;">What are the chapters included in class 12 Maths ISC?</h5>
                <p><b>All chapters of class 12 Maths , in the prescribed syllabus by the ISC
                        <a style="text-decoration: none;"
                            href="https://www.cisce.org/pdf/ISC-Class-XII-Syllabus-2021/17.%20ISC%20Mathematics.pdf">Click
                            here </a> to get more detailed description of your syllabus.

                        Every chapter have their importance and weightage.
                        Each chapter has various concepts based on NCERT pattern and plays a specific role in
                        improving
                        outcomes.
                        ISC Class 12th Maths chapter list will give you an idea of the entire course coverage.
                    </b></p>
                <h5 style="color:red;">How to start for class 12 Maths ISC?</h5>
                <p><b> For Class 12 Maths ISC, one should clearly understand the syllabus and course structure
                        first.
                        Teachers will help you in giving
                        brief introduction about your syllabus and Question paper pattern
                        and will help you to improve your learning levels . <a style="text-decoration: none;"
                            href="https://www.cisce.org/isc_XII_Specimen_Question_Papers2018.aspx">Click here for
                            specimen
                            question papers</a>. </b></p>
                <p><b>Slowly understands the concepts and initiate a habit of practice. Practicing and revising
                        all
                        these topics from initial will help you to understand the concepts with clarity.
                        Always try to clear the concepts of Class 12 Maths ISC that you do not understand.
                        Avoid skipping topics or concepts. Revise crucial topics daily.

                    </b></p>
                <h5 style="color:red;">How can you score good marks in the Maths class 12 ISC?</h5>
                <p><b>
                        To score good marks in Mathematics , one needs to understand the concepts really well
                        ,practice
                        is the key.
                        If you are well aware of the core concepts then it becomes very easy to attempt problems
                        asked
                        on those concepts.
                    </b></p>
                <p>
                    <li><b>Mathematics require a lot of practice so, allocate 2 hours for Maths.</b></li>
                    <li><b>Practice problems till you get most of them perfectly.</b></li>
                    <li><b> During preparation, candidates should utilize their time in an effective way. </b>
                    </li>
                </p>
                <h5 style="color:red;">ISC Class 12 prescribed Maths Books</h5>
                <p><b>Here is a list of the ISC books for Class 12 which students can refer while preparing for
                        their
                        Maths exam which is updated according to the latest ISC syllabus.
                        Students of Class 12 should start their preparation by studying from the textbook of ISC
                        Class 12
                        Maths as it covers the entire syllabus and gives the ample number of questions to
                        practice.
                    </b></p>
                <p>
                    <li><b>Together with Mathematics for ISC Students</b></li>
                    <li><b>ISC Mathematics For XII</b></li>
                    <li><b>Understanding ISC Mathematics</b></li>
                </p>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            function fli(e) {
                let click = false;
                let card = e.children[0];
                let image = e.children[0].children[0].children[1]
                let buttons = e.children[0].children[1].children[1].children[0]
                // $(buttons.children[0]).click(() => {
                //     console.log('click');
                // })
                // if (click == false) {
                //     console.log(click);
                //     $(card).toggleClass('rotate')
                //     setTimeout(() => {
                //         $(image).toggleClass('d-none')
                //     }, 200);
                // }
                $(card).toggleClass('rotate')
                setTimeout(() => {
                    $(image).toggleClass('d-none')
                }, 200);
            }
        </script>
        <%- include('../partials/makecard.ejs') %>
            <script>
                $(document).on("click", ".bt", function () {
                    const chapter = this.parentElement.parentElement.parentNode.parentNode.firstElementChild.firstElementChild.children[0].innerHTML
                    switch (chapter) {
                        case 'Integrals':
                            this.setAttribute('href', '/class12integrationAggarwal')
                            break;
                        case 'Linear Regression':
                            this.setAttribute('href', '/class12LinearRegressionAggarwal')
                            break;
                        case 'Linear Programming':
                            this.setAttribute('href', '/class12LinearProgrammingAggarwal')
                            break;
                        case 'Relation and Function':
                            this.setAttribute('href', '/class12Relations&FunctionsAggarwal')
                            break;
                        case 'Differential Equations':
                            this.setAttribute('href', '/class12differentialequationsAggarwal')
                            break;
                        case 'I.T.F':
                            this.setAttribute('href', '/class12itfAggarwal')
                            break;
                    }
                })
            </script>