<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 75% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  COORDINATION-COMPOUNDS CLASS 12 9.1 EXERCISE

</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 9.1</span>
        What are coordination compounds and how do they differ from double salts? Explain with examples.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Double salts are those molecular or edition compounds which exists in a solid state but dissolve in constituent
        ions when dissolved in water <br>
        Eg : Mohr salt FeSO<sub>4</sub>(NH<SUB>4</SUB>)SO<SUB>4</SUB> . 6H<SUB>2</SUB>O <br>Coordination compound are
        those molecular or edition compound which retain their identity in aqueous solution and shows property entirely
        different from their constituents ions<BR>
        Eg : K<sub>4</sub>[Fe(CN<SUB>6</SUB>)]



      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 9.2</span>
        Explain the following terms with respect to coordination
        compounds :<br>
        (i) Ligands <br>(ii) Coordination sphere<br>
        (iii) Coordination number
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <u><b class="text-danger">(i) Ligands=></b></u> the molecular or ionic species which gets directly attached to
        the central metal atom or ion during the formation of a complex is called ligand<br> Eg :
        K<sub>4</sub>[Fe(CN<SUB>6</SUB><sup>-</sup>)] CN<sup>-</sup>=> ligand<br> <u><b class="text-danger"> (ii)
            coordination sphere=></b></u> the coordination sphere consists of the central atom oblique iron and the
        legend attached to it the ionizable group called counter ion are written outside the bracket<br> Eg :
        K<sub>4</sub>[Fe(CN<SUB>6</SUB>)] [Fe(CN<SUB>6</SUB>)]<sup>4-</sup> is the coordination sphere<br> <u><b
            class="text-danger">(iii) coordination number=></b></u> the maximum number of ligands which can be
        coordinated to a central metal atom or ion is known as coordination number.<br>
        Eg : K<sub>4</sub>[Fe(CN<SUB>6</SUB>)] -> 6 - CN<sup>-</sup> is a coordination number.


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.3</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        What is the oxidation state of Ni in Ni(CO)<sub>4</sub>?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-3.jpg" alt="" />


      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.4</span>
        Calculate the oxidation number of the central metal atom (underlined) in each of the following complex species
        :<br>
        (i) K4[<u>Fe</u>(CN)<sub>6</sub>] <br>(ii) [<u>Fe</u>(H<sub>2</sub>O)<sub>6</sub>)Cl, <br>(iii)
        [<u>Co</u>(NH<sub>3</sub>)<sub>6</sub>]<sup>3+</sup> <br>(iv)
        [<u>Fe</u>(C<sub>2</sub>O<sub>4</sub>)<sub>3</sub>]<sup>3-</sup>
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-4.jpg" alt="" />





    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.5</span>
        In the complex ion [Co(NH<sub>3</sub>)<sub>3</sub> (H<sub>2</sub>O)<sub>2</sub> Cl]<sup>+</sup><br>
        (a) identify the ligands formulae and charge on each of them<br>
        (b) write the geometry of the complex ion.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) [Co(NH<sub>3</sub>)<sub>3</sub> (H<sub>2</sub> O)<sub>2</sub> Cl]<sup>+</sup> <br>
        NH<sub>3</sub> - 0 , H<sub>2</sub> O - 0 , Cl<sup>-</sup> = -1<br>
        (ii) octahedral



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.6</span>
        Define coordination number. Find the coordination number
        of the central metal atom in each of the following:<br>
        (i) [Co(NH<sub>3</sub>)<sub>5</sub>Cl]Cl<sub>2</sub> <br>(ii) K<sub>4</sub>[FeCl<sub>4</sub>]
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <u><b class="text-danger"> coordination number=></b></u> the maximum number of ligands which can be coordinated
        to a central metal atom or ion is known as coordination number.<br>
        Eg : K<sub>4</sub>[Fe(CN<SUB>6</SUB>)] -> 6 - CN<sup>-</sup> is a coordination number.<br>
        (i) [Co(NH<sub>3</sub>)<sub>5</sub> Cl]Cl<sub>2</sub><br>
        (ii) K<sub>2</sub>[FeCl<sub>4</sub>]

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.7</span>
        What is the oxidation state of Co in the complex [Co(NH<sub>3</sub>)<sub>2</sub>
        (NO<sub>2</sub>)Cl] [Au(CN)<sub>2</sub>] ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-7.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.8</span>
        What is the oxidation state of platinum in the complex
        [Pt(NH<sub>3</sub>)<sub>2</sub>Cl<sub>2</sub>]Cl<sub>2</sub>?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">

        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-8.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.9</span>
        What is the oxidation state of cobalt in the complex
        [Co(NH<sub>3</sub>)<sub>4</sub>(H<sub>2</sub>O)Br] (NO<sub>3</sub>)<sub>2</sub>?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-9.jpg" alt="" />


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.10</span>
        What is the coordination number of Fe in the complex
        K<sub>3</sub>[Fe(C<sub>2</sub>O<sub>4</sub>)<sub>3</sub>] ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        K<sub>3</sub>[Fe(C<sub>2</sub>O<sub>4</sub>)<sub>3</sub>]<br>
        C.N -> Fe is 6



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.11</span>
        What is the coordination number of cobalt in [Co(en )(H<sub>2</sub>O)
        (Br)Cl] ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-11.jpg" alt="" />


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.12</span>

        What is meant by a hexadentate ligand? Give an example.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger"> Hexadentate ligand =></b></u> The legand which contains 6 donor atoms are called as
        hexa dentate ligand. Example : EDTA (Ethylene diamine Tetra acetato)

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold">9.13 </span>
        What do you understand by chelating ligands and what are
        chelates ? Give one example each.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">Chelating Ligands =></b></u>
        The ligands containing 2 or more donor atoms are usually referred to as to polydentate ligands <br>These ligands
        may contain donor atoms positioned in such a way that they may form a 5 or 6 membered ring with a metal ion and
        thus the ring called as Chelates.



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.14</span>
        Give one example of each of the following :<br>
        (i) a neutral ligand <br>(ii) an anionic ligand
        <br>(iii) a cationic complex ion <br>(iv) an anionic complex.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-14.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.15</span>
        Calculate the charge number of the following complex ions :<br>
        (i) [Co(NH<sub>3</sub>)<sub>4</sub>Cl<sub>2</sub>]<sup>+</sup> <br>(ii)
        [Pt(NH<sub>3</sub>)<sub>2</sub>Cl<sub>2</sub>].
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        (i) [Co(NH<sub>3</sub>)<sub>2</sub>Cl<sub>2</sub>]<sup>+</sup><br>
        charge is + 1<br>
        (ii) [Pt(NH<sub>3</sub>)<sub>2</sub>Cl<sub>2</sub>]<br>
        charge is 0


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.16</span>
        Describe the main postulates of Werner's theory.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        The main postulates of Werner's theory of C.N are -: <br> => In C.N metals show 2 types of linkage (valences)
        primary and secondary <br>=> The primary valencies are normally ionizable and are satisfied by negative ions<br>
        => The secondary valencies are non ionizable these are satisfied by neutral molecules or negative ions

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.17</span>
        According to Werner's theory, what is the main difference
        between primary and secondary valencies of the central metal
        atom in a complex?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <u><b class="text-danger">Primary Valencies :</b></u><br>=>Primary valency is the oxidation state of the central
        metal atom of a coordination complex <br>=> the number of ligands that we need to satisfy the charge on the
        metal ions<br>=> Eg : Fe in K<sub>4</sub>[Fe(CN)<sub>6</sub>] is +2<br> <u><b class="text-danger">Secondary
            Valency :</b></u><br>=> Secondary valencies is the coordination number of the central metal atom in
        coordination complex<br>=> the number of ligands attached to the central metal atom<br>=> Eg : Fe in
        K<sub>4</sub>[Fe(CN)<sub>6</sub>] is 6.



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.18</span>
        Write the structures of the following complexes on the basis
        of Werner’s theory : <br>(i) CoCl<sub>3</sub>.6NH<sub>3</sub> <br>(ii) CoCl<sub>2</sub>.4NH<sub>3</sub>
        <br>(iii) CoCl<sub>2</sub>.3NH<sub>3</sub>
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-18.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-18-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-18-2.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.19</span>

        Give the modern notations of the following complexes :<br>
        (i) CoCl<sub>2</sub>.5NH<sub>3</sub> <br>(ii) CoCl<sub>3</sub>.5NH<sub>3</sub>.H<sub>2</sub>O<br>
        (iii) CoSO<sub>4</sub>.5NH<sub>3</sub>.Br

      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-19.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.20</span>
        What is the coordination number of central metal ion in
        [Fe(C<sub>2</sub>O<sub>4</sub>)<sub>3</sub>]<sup>3-</sup> ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-1/9-20.jpg" alt="" />

      <h5>


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.21</span>
        Give an example of chelate complexes.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>


        Examples of chelate complexes are en(ethylenediamine) , ox(oxalato) , EDTA, etc




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.22</span>
        How is ammonia molecule a good ligand ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>

        Due to the presence of lone pair electrons on N-atoms NH<SUB>3</SUB> act as a good legend (NH<SUB>3</SUB>)aq.
        forms complex ion with several metal ions such as Cu<sup>2+</sup>, Ag<sup>2+</sup> etc.





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.23</span>
        Name a ligand which is bidentate and give an example of the
        complex formed by this ligand.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        Etylene diamine (en) is a bidentate ligand [Co(en)<sub>3</sub>]<sup>+3</sup> <br>
        IUPAC name : tri(ethylenediamine) Co(III) ions

      </h5>
    </div>
  </div>





</div>