<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>

</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Coordination Compounds EXERCISE 9.6</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.62</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img62.jpg" alt="" class="img-fluid"
                        style="width:81%;">
                    <br>
                    There no unpaired electron in the Compound
                    magnetic behaviour of [Co (NH<sub>3</sub>)<sub>6</sub>]<sup>3+</sup> is diamagnetic.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.63</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="i">
                        <li>The outer electronic structure of [Ti(H<sub>2</sub>O)<sub>6</sub>]<sup>3+</sup> and
                            [Sc(H<sub>2</sub>O)<sub>6</sub>]<sup>+3</sup>
                            <br>
                            Due to presence of one electron in 3d-subshell in
                            [Ti(H<sub>2</sub>O)<sub>6</sub>]<sup>3+</sup>
                            Complex, d-d transition takes place by the absorption of visible Light. Hence, the complex
                            appears coloured.
                            <br>
                            [Sc(H<sub>2</sub>O)<sub>6</sub>]<sup>+3</sup> does not possess any unpaired electron. Hence
                            d-d transition in the complex
                            is not possible it is colourless.
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63.jpg" alt=""
                                class="img-fluid" style="width:78%;">
                        </li>
                        <li>
                            <br>
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(ii).jpg" alt=""
                                class="img-fluid">
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(ii)-1.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            In the formation of Ni(CO)<sub>4</sub>, Ni undergoes sp<sup>3</sup> hybridization,hence is
                            tetrahedral in shape.
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii).jpg" alt=""
                                class="img-fluid" style="width: 80%;">
                            <br>
                            In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                            dsp<sup>2</sup>-hybridization,
                            Hence, it is square planner in shape
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                                class="img-fluid" style="width: 80%;">
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.64</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <b class="text-danger">Shape-</b>tetrahedral
                    <br>
                    <b class="text-danger">Nature-</b>diamagnetic
                    <br>
                    Also, it causes the use to shift to the 3d orbital,giving rise to sp<sup>3</sup> hybridisation and
                    hence, tetrahedral
                    shape
                    since, no upaired electron are present in this
                    case [Co(CN)<sub>4</sub>] is diamagnetic.

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.65</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                    dsp<sup>2</sup>-hybridization,
                    Hence, it is square planner in shape
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                        class="img-fluid">
                    <br>
                    Hence,Ni(CN<sub>4</sub>)<sup>-4</sup> is a diamagnetic
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.66</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img66.jpg" alt="" class="img-fluid"
                    style="width:79%;">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.67</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img67.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img67-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img67-2.jpg" alt="" class="img-fluid">
                <h5 class="text-dark">
                    (b) since CN<sup>-</sup> Ligand form more stable complete with Cu<sup>+2</sup> ion than
                    NH<sub>3</sub> with Ligand with Cu<sup>+2</sup> ion.
                    so, CN<sup>-</sup> ligand is a stronger Ligand that NH<sub>3</sub>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.68</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The formation of a Complex proceeds by the stepwise addition of Ligand to the metal .A number of
                    successive equilibria can be formulated.
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img68.jpg" alt="" class="img-fluid">
                    <br>
                    Here, N is the maximum Coordination number of the metal
                    k1,k2....... k<sub>n</sub> are stepwise stability constants.
                    The overall stability constant is the eq for the total reaction which can be represented
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img68-1.jpg" alt=""
                        class="img-fluid">
                    <br>
                    Here,K<sub>f</sub> is the overall stability constant
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.69</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img69.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img69-1.jpg" alt=""
                        class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.70</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    KCN forms Complex with Cu<sup>+</sup> and Cd<sup>+2</sup> as K<sub>3</sub>[Cu(CN)<sub>4</sub>]
                    respectively. On passing H<sub>2</sub>S and Cd<sup>2+</sup> complex gets decomposed to yellow cds
                    point.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.71</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="a">
                        <li>
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img62.jpg" alt=""
                                class="img-fluid" style="width: 79%;">
                            <br>
                            There no unpaired electron in the Compound
                            magnetic behaviour of [Co (NH<sub>3</sub>)<sub>6</sub>]<sup>3+</sup> is diamagnetic.
                        </li>
                        <li>
                            In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                            dsp<sup>2</sup>-hybridization,
                            Hence, it is square planner in shape
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                                class="img-fluid" style="width: 79%;">
                            <br>
                            Hence,Ni(CN<sub>4</sub>)<sup>-4</sup> is a diamagnetic
                        </li>
                    </ol>

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.72</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="a">
                        <li>
                            <b class="text-danger"><u>Linkage isomerism-</u></b> The phenomenon of isomerism in which
                            the
                            coordination Compounds have the same metal atom or ion and same Ligand but bonded through
                            different
                            atoms or Linkage is known as Linkage isomerism.
                            <br>
                            <br>
                            Eg- <b class="text-danger">[Co(NH<sub>3</sub>)<sub>5</sub>NO<sub>2</sub>]Cl ,
                                [Co(NH<sub>3</sub>)<sub>5</sub>ONO]Cl<sub>2</sub></b>
                        </li>
                        <li>
                            In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                            dsp<sup>2</sup>-hybridization,
                            Hence, it is square planner in shape
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                                class="img-fluid" style="width: 83%;">
                            <br>
                            Hence,Ni(CN<sub>4</sub>)<sup>-4</sup> is a diamagnetic
                        </li>
                    </ol>

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.73</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">

                    In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                    dsp<sup>2</sup>-hybridization,
                    Hence, it is square planner in shape
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                        class="img-fluid" style="width: 83%;">
                    <br>
                    Hence,Ni(CN<sub>4</sub>)<sup>-4</sup> is a diamagnetic

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.74</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In the formation of Ni(CO)<sub>4</sub>, Ni undergoes sp<sup>3</sup> hybridization,hence is
                    tetrahedral in shape.
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii).jpg" alt=""
                        class="img-fluid" style="width: 80%;">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.75</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img75.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.76</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                    dsp<sup>2</sup>-hybridization,
                    Hence, it is square planner in shape
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                        class="img-fluid" style="width: 80%;">
                    <br>
                    Hence, Ni(CN<sub>4</sub>)<sup>-4</sup> is a diamagnetic
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.77</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="i">
                        <li>[Ni(CO)<sub>4</sub>]
                            <br>
                            In the formation of Ni(CO)<sub>4</sub>, Ni undergoes sp<sup>3</sup> hybridization,hence is
                            tetrahedral in shape.
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            [Ni(CO)<sub>4</sub>]<sup>2-</sup>
                            <br>
                            In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                            dsp<sup>2</sup>-hybridization,
                            Hence, it is square planner in shape
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                                class="img-fluid" style="width: 79%;">
                            <br>
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.78</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img62.jpg" alt="" class="img-fluid">
                    <br>
                    There no unpaired electron in the Compound
                    magnetic behaviour of [Co (NH<sub>3</sub>)<sub>6</sub>]<sup>3+</sup> is diamagnetic.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.79</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <b class="text-dark">Analytical Chemistry-</b>Complex formation is used in qualitative scheme of
                    analysis. In group l analysis ,silver ion is separated from the ppt of
                    AgCl,Hg<sub>2</sub>Cl<sub>2</sub> and PbCl<sub>2</sub>
                    Aqueous ammonia is added to the ppt . AgCl dissolves
                    due to formation of soluble complex.
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img79.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.80</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img80.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img80-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.81</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img81.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img81-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.81</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img82.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.82</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img82.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.83</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In the formation of [Ni(CN)<sub>4</sub>]<sup>2-</sup>,Ni<sup>+2</sup> ion undergoes
                    dsp<sup>2</sup>-hybridization,
                    Hence, it is square planner in shape
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img63(iii)-2.jpg" alt=""
                        class="img-fluid" style="width:77%;">
                    <br>
                    Hence Ni (CN<sub>4</sub>)<sup>-4</sup> is a diamagnetic
                </h5>
            </div>
        </div>
        <div class=" row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.84</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The degenerated d-orbitals split into two levels
                    eg and t<sub>2</sub>g in the presence of Ligands
                    (Difference b/w two levels eg and t<sub>2</sub>g ) is xalled the crystal-field splitting
                    energy.
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img84.jpg" alt="" class="img-fluid"
                        style="width: 83%;">
                    <ol type="i">
                        <li>If &triangle;< P the 4th electron enters one the eg orbitals giving the Configurations
                                t<sub>2</sub>g<sup>3</sup>
                                Ligands for &triangle;< P are known as weak field Ligand</li>
                        <li>
                            If &triangle;< P,it becomes more energetically favourable for the 4th electron to occupy a
                                t<sub>2</sub>g orbital with Configuration t<sub>2</sub>g<sup>4</sup> eg
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.85</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img85.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img85-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.86</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img62.jpg" alt="" class="img-fluid">
                    <br>
                    There no unpaired electron in the Compound
                    magnetic behaviour of [Co (NH<sub>3</sub>)<sub>6</sub>]<sup>3+</sup> is diamagnetic.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.87</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="a">
                        <li>
                            solubility constant=<div class="frac">
                                <span>
                                    1
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dissociation constant</span>
                            </div>
                            <br>
                            [Co(NH<sub>3</sub>)<sub>6</sub>)<sup>+3</sup> is more stable because it has low value of
                            dissociation constant, and therefore, will have high stability Constant.
                        </li>
                        <li>
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img87.jpg" alt=""
                                class="img-fluid">
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img69-1.jpg" alt=""
                                class="img-fluid">
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.88</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="a">
                        <li>
                            (i) Small size of metal ion
                            <br>
                            (ii) High charge of metal ion
                        </li>
                        <li>
                            silver ore is treated with aq. solution of Sodium cyanide and by passing a current of
                            air
                            through it the argentite ore dissolve in sodium cyanide forming argento cyanide
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img88.jpg" alt=""
                                class="img-fluid">
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.89</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The degenerated d-orbitals split into two levels
                    eg and t<sub>2</sub>g in the presence of Ligands
                    (Difference b/w two levels eg and t<sub>2</sub>g ) is xalled the crystal-field splitting energy.
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img84.jpg" alt="" class="img-fluid"
                        style="width: 83%;">
                    <ol type="i">
                        <li>If &triangle;< P the 4th electron enters one the eg orbitals giving the Configurations
                                t<sub>2</sub>g<sup>3</sup>
                                Ligands for &triangle;< P are known as weak field Ligand</li>
                        <li>
                            If &triangle;< P,it becomes more energetically favourable for the 4th electron to occupy a
                                t<sub>2</sub>g orbital with Configuration t<sub>2</sub>g<sup>4</sup> eg
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.90</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) [Fe(H<sub>2</sub>O)<sub>6</sub>]<sup>2+</sup>
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img90.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img90-1.jpg" alt=""
                        class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.91</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="i">
                        <li>Formation of M<-C sigma bond through donation of L.P of E electron of carbon (of CO) into
                                empty orbital metal atom. This is dative overlap.</li>
                        <li>
                            Formation of M-> C &pi; bond through donation of electron from filled metal d-orbitals
                            into
                            vacant antibonding &pi;. molecular orbitals of CO. <br>
                            It is back donation or back bonding. It creates a synergic effect and strengthens the
                            bond b/w
                            CO and the metal
                            <br>
                            <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img91.jpg" alt=""
                                class="img-fluid">

                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.92</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">

                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img92.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.93</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img93.jpg" alt="" class="img-fluid">
                    <ol type="i">
                        <li>sp<sup>2</sup> hybridisation of carbon</li>
                        <li>&sigma; and &pi; bonds between C and O</li>
                        <li>
                            C is nucleophilic centre.
                            <br>
                            O is electrophilic centre.
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.94</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img94.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-6/img94-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

    </div>
</body>

</html>