<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 75% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  COORDINATION-COMPOUNDS CLASS 12 9.2 EXERCISE

</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 9.24</span>
        Name the following complex ions in IUPAC system : <br>(i) [Co(CN)<sub>6</sub>]<sup>3-</sup> <br>(ii)
        [HgI<sub>4</sub>]<sup>2-</sup> <br>(iii) [Fe(H<sub>2</sub>O)<sub>6</sub>)<sup>3+</sup> <br>(iv)
        [Cu(NH<sub>3</sub>)<sub>4</sub>]<sup>2+</sup> <br>(v) [CoCl(en)<sub>2</sub>NH<sub>3</sub>]<sup>2+</sup> <br>(vi)
        [CoCl<sub>2</sub>(NH<sub>3</sub>)<sub>4</sub>]<sup>+</sup> <br>(vii)
        [Co(ONO)(NH<sub>3</sub>)<sub>5</sub>]<sup>2+</sup>
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) Hexacynocobaltate (III) ion<br>
        (ii) Tetraiodidomercurate(II) ion<br>
        (iii) Hexaaquairon (III) iron<br>
        (iv) Tetraamine copper (II) ion <br>
        (v) amminechloridobis ( ethane-1,2-diammine)cobalt (III) <br>
        (vi) Tetraamminedichloridocobalt(III) ion<br>
        (vii) Tetraamminenitritocobalt(III) ion




      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 9.25</span>
        Give the IUPAC names of the following coordination
        compounds :<br>
        (i) K<sub>3</sub>[Al(C<sub>2</sub>O<sub>4</sub>)<sub>3</sub>]<br>
        (ii) [CoCl[NH<sub>3</sub>]<sub>5</sub>]Cl<sub>2</sub> <br>
        (iii) K<sub>3</sub>[Fe(CN)<sub>6</sub>] <br>
        (iv) Na<sub>3</sub> [Co (NO<sub>2</sub>) <sub>6</sub>] <br>
        (v) [Cr(en)<sub>3</sub>]Cl<sub>3</sub><br>
        (vi) [PtCl<sub>3</sub>(NH<sub>3</sub>)<sub>3</sub>]Cl<br>
        (vii) [Co(en)<sub>3</sub>][Cr(CN)<sub>6</sub>]<br>
        (viii) Na<sub>2</sub>[Cr(EDTA)]<br>
        (ix) [Co(NO<sub>2</sub>)(NH<sub>3</sub>)<sub>5</sub>]Cl<sub>2</sub><br>
        (x) NH<sub>4</sub>[Cr(NCS)<sub>4</sub>(NH<sub>3</sub>)<sub>2</sub>]<br>
        (xi) [Cu(H<sub>2</sub>O)<sub>2</sub>(NH<sub>3</sub>)<sub>4</sub> ]SO<sub>4</sub><br>
        (xii) [Pt(py)<sub>4</sub>] [PtCl<sub>4</sub>]<br>
        (xiii) [Co(en)<sub>3</sub>][Cr(CN)<sub>6</sub>]<br>
        (xiv) [Co(ONO)(NH<sub>3</sub>)<sub>5</sub>]Cl<sub>2</sub> <br>
        (xv) Na<sub>3</sub>[AlF<sub>6</sub>]
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) potassium trioxalato aluminate (III)<br>
        (ii) pentaamminechloridocobalt(III) chloride.<br>
        (iii) potassium hexacynoferrate (III)<BR>
        (iv) sodium hexanitrocobaltate (III)<br>
        (v) tris (ethylenediammine) chromium (III) chloride<br>
        (vi) triamminetrichloridoplatinum (IV) chloride<br>
        (vii) trisethylenediammine) cobalt (III) hexacynochromate(III)<br>
        (viii) sodium ethane -1, 2-diamminetetraacetatochromate (II)<br>
        (ix) pentaamminenitrocobalt (II) chloride<br>
        (x) ammonium diamminetetra (thiocyanoto -N) chromate (II)<br>
        (xi) tetraammine diaquacopper (II) sulphate <br>
        (xii) tetrapyridineplatinum (II) tetrachloridoplatinate (II)<br>
        (xiii) tris (ethylenediammine) cobalt (III) hexacyano chromate (II)<br>
        (xiv) pentaamminenitritocobalt (III) chloride<br>
        (xv) sodium hexafluoridoaluminate (II)


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.26</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        Give the chemical formula for each of the following
        compounds :<br>
        (i) copper (II) hexacyanoferrate (II)<br>
        (ii) potassium hexacyanocobaltate (III)<br>
        (iii) hexaammineplatinum (IV) chloride<br>
        (iv) potassium hexacyanoferrate(II)<br>
        (v) nitropentaamminecobalt (III) chloride<br>
        (vi) tetrachlorocuprate (II) ion<br>
        (vii) chlorobis(ethylenediammine)nitrocobalt (III) ion<br>
        (viii) hexaaquamanganese(II) ion<br>
        (ix) potassium hexachloroplatinate(IV)<br>
        (x) triamminebromonitrocobalt

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-2/9-26.jpg" alt="" />

      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.27</span>
        Write the names of the following complexes using IUPAC norms : <br>(i)
        [Cu(NH<sub>3</sub>)<sub>4</sub>]SO<sub>4</sub> <br>(ii) [Pt(NH<sub>3</sub>)<sub>2</sub>Cl<sub>2</sub>] <br>(iii)
        [Ag(NH<sub>3</sub>)<sub>2</sub>Cl] <br>(iv) Na<sub>3</sub>[AlF<sub>6</sub>]
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) tetraammine copper (II) sulphate<br>
        (ii) diamminedichloridoplatinum (II)<br>
        (iii) diamminechloridoargentate (II)<br>
        (iv) sodium hexaflouridoaluminate (III)






    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.28</span>
        Write the IUPAC names of the complexes [CoBr(NH<sub>3</sub>)<sub>5</sub>]SO<sub>4</sub> and
        [Co(SO<sub>4</sub>)(NH<sub>4</sub>)<sub>5</sub>]Br and give a simple test to distinguish them,
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        pentaamminebromidecobalto(II)sulphate, pentaamminesulphatocobalt (III) bromide
        the former gives white ppt with BaCl<sub>2</sub> while the Latter does not.




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.29</span>
        Write the chemical formulae of the following complexes :<br>
        (i) Hexaammineplatinum(IV) chloride<br>
        (ii) Tetraamminedichlorocobalt (III) ion.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        Pt[(NH<sub>3</sub>)<sub>6</sub>]Cl<sub>4</sub><br>
        [CoCl<sub>2</sub>(NH<sub>3</sub>)<sub>4</sub>]<sup>+</sup>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.30</span>
        Write IUPAC name of the complex Na<sub>3</sub>[Cr(OH)<sub>2</sub>F<sub>4</sub>]
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Na<sub>3</sub>[Cr(OH)<sub>2</sub>F<sub>4</sub>] <br>
        sodium tetrafluoridodihydridoxochromate(III)






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.31</span>
        Name the following complex using IUPAC norms :
        [Co(en)<sub>2</sub>(ONO)Cl]Cl
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        [Co(en)<sub>2</sub>(ONO)Cl]Cl <br>

        chlorobis (ethylene diamine) nitritocobalt (III) chloride

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.32</span>
        A coordination compound has the formula CoCl<sub>3</sub>.4NH<sub>3</sub>, It does not liberate ammonia but forms
        a precipitate with AgNO<sub>3</sub>. Write the structure and IUPAC name of the complex compound.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5> [Co(NH<sub>3</sub>)<sub>4</sub>Cl<sub>2</sub>]Cl, tetraamminedichlorocobalt (III)
        chloride</h5>


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.33</span>
        Give the IUPAC name of [PtCl (NH<sub>2</sub>CH<sub>3</sub>)(NH<sub>3</sub>)<sub>2</sub>]Cl.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        [PtCl (NH<sub>2</sub>CH<sub>3</sub>)(NH<sub>3</sub>)<sub>2</sub>]Cl. <br>
        diamminechlorido (methylamine) platinum (II) chloride



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.34</span>
        Write the formula of the following complexes?<br> (i) Hexammineplatinumchloride<br>
        (ii) Dichlorotetraamminecobalt ion
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        Pt[(NH<sub>3</sub>)<sub>6</sub>]Cl<sub>4</sub><br>
        [Co<sub>2</sub>(NH<sub>3</sub>)<sub>4</sub>Cl<sub>2</sub>]<sup>+</sup>


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 9.35</span>
        Write the name and draw the structures of each of the following complex compounds : <br>(i)
        [Co(NH<sub>3</sub>)<sub>4</sub>(H<sub>2</sub>O]Cl<sub>2</sub> <br>(ii) [Pt(NH<sub>3</sub>)<sub>4</sub>]
        [NiCl<sub>4</sub>)]


      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/coordinationcompoundimg/9-2/9-35.jpg" alt="" />
      </h5>
    </div>
  </div>




</div>