<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>

</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Coordination Compounds EXERCISE 9.3</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.36</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    This type of isomerism is found in heterotopic complexes due to different possible geometrical
                    arrangements of the Ligands.
                    when two identical groups occupy adjacent positions,
                    the isomer called cis,
                    when arranged opposite to one another the isomers is called trans.
                    <br>
                    <br>
                    <b class="text-danger">E.g-></b> [Pt(NH<sub>3</sub>)<sub>2</sub>Cl<sub>2</sub>]
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.37</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In coordination isomers, the anion and cation complexes of a coordination compound exchange one or
                    more Ligands.
                    <br>
                    <br>
                    <b class="text-danger">E.g-></b>
                    [Co(NH<sub>3</sub>)<sub>6</sub>][Cr(C<sub>2</sub>O<sub>4</sub>)<sub>3</sub>]
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.38</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Compound (I) gives test for sulphate ions, while complex (II) gives test for bromide ions and not
                    for sulphate ions, when dissolved in water.
                    <br>
                    Thus in (I),sulphate ion is outside coordination sphere,while in (II)bromide ions in outside
                    coordination sphere.
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img38.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.39</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Complexes of the type Ma<sub>2</sub>b<sub>2</sub> Show geometrical isomerism
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img39.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.40</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Triamminenitrosonium platinum (II) chloride

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.41</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Diammineaquanitrosonium platinum (II) Bromide

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.42</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Triamminenitrosonium platinum (II) Bromide

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.43</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    tris (ethane-1,2-diamine) chromium(III) hexacyanocobaltate (III)
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.44</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Pentaamminenitrito-o-cobalt (III) Chloride
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.45</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Pentaaquathiocyanochromium (II) ion
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.46</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The given complex compound [Co (NH<sub>3</sub>)<sub>4</sub>Cl<sub>2</sub>]Cl exists in the form of
                    [MA<sub>4</sub>B<sub>2</sub>]
                    <br>
                    Ionisation isomers possible are:
                    [Co(NH<sub>3</sub>)<sub>4</sub>Cl<sub>2</sub>]Cl and
                    [Co(NH<sub>3</sub>)<sub>3</sub>Cl<sub>3</sub>]NH<sub>3</sub>
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img46.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.47</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The oxidation state of Co in this complex is +3
                    and the coordination number is 6. It does not librate ammonia,NH<sub>3</sub> is not ionizable.
                    <br>
                    so, the Cl is outside the coordination sphere.
                    <br>
                    <br>
                    The formulae the coordination Compound is
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img47.jpg" alt="" class="img-fluid"
                        style="width:79%;">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.48</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <b class="text-danger"><u>Linkage isomerism-</u></b> The phenomenon of isomerism in which the
                    coordination Compounds have the same metal atom or ion and same Ligand but bonded through different
                    atoms or Linkage is known as Linkage isomerism.
                    <br>
                    <br>
                    Eg- <b class="text-danger">[Co(NH<sub>3</sub>)<sub>5</sub>NO<sub>2</sub>]Cl ,
                        [Co(NH<sub>3</sub>)<sub>5</sub>ONO]Cl<sub>2</sub></b>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.49</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    [Pt(NH<sub>3</sub>)<sub>4</sub>Cl<sub>2</sub>] is a octahedral complex that exists in cis and trans
                    form
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img49.jpg" alt="" class="img-fluid"
                        style="width: 76%;">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.50</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    when the coordination compounds have similar formulae but differ in their abilities to rotate
                    directions of the plane of the polarised Light.
                    The optical isomers are pair of molecules which are non-super imposable mirror images of each other
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img50.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.51</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The given coordinate compound show Cis and trans ,geometrical isomerism
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img51.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.52</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <ol type="a">
                        <li>Coordination isomerism</li>
                        <li>Hydrated isomerism</li>
                        <li>Linkage isomerism</li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.53</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img53.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img53-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.54</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Cis-diamminedichloridoplatinum (IV) Chloride
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.55</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The ionisation isomer of [Cr(H<sub>2</sub>O)<sub>3</sub>Br]SO<sub>4</sub>
                    <br>
                    triaquabromido (III) sulphates
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.56</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Tetraamminedichlorido chromium (III) ion
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.57</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    [Cr(NH<sub>3</sub>)<sub>5</sub>Cl]SO<sub>4</sub> shows ionisation isomerism
                    [Cr(NH<sub>3</sub>)<sub>5</sub>SO<sub>4</sub>] Cl
                    <br>
                    IUPAC name is-
                    <br>
                    hexaaminesulphatochromium (III) chloride
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.58</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    It shows Cis and trans [Co(en)<sub>2</sub>Cl<sub>2</sub>]<sup>+</sup>
                    <br>
                    Cis-dichlorobis (ethylenediamine cobalt(III) ion).
                    <br>
                    trans-dichlorobis (ethylenediamine cobalt(III) ion)
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.59</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <b class="text-danger"><u>Linkage isomerism-</u></b> this is because the ligand can coordination
                    through two sites:N and S
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img59.jpg" alt="" class="img-fluid"
                        style="width:79% ;">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.60</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    IUPAC- dichloro-bis-(ethylenediamine)-cobalt (III) chloride
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img60.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q9.61</span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    the coordination compound has Cis and trans geometric isomerism
                    <br>
                    <img src="class12ISCchap/chemistry/coordinationcompoundimg/9-3/img61.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>

    </div>