<style>
  .img-fluid {
    max-width: 54% !important;
  }

  .photo1 {
    max-width: 50% !important;
  }

  .photo {
    max-width: 65% !important;
  }

  @media screen and (max-width: 768px) {
    .photo {
      max-width: 100% !important;
    }

    .photo1 {
      max-width: 100% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .img-fluid {
      max-width: 100% !important;
    }


  }

  .col {
    background-image: url('img/textwater.png');
  }

  .frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
  }

  .inte {
    font-size: 30px;
  }

  .frac span {
    display: block;
    padding: 0.1em;
  }

  .frac span.bottom {
    border-top: thin solid black;
  }

  .frac span.symbol {
    display: none;
  }
</style>
<h1 class="text-center text-danger mt-3">P-BLOCK CLASS 12 7.3 EXERCISE</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.75</span>
        Describe the following about halogen family elements :<br>
        (i) Relative oxidising power<br>
        (ii) Relative acid strength of hydrides <br>
        (iii) Oxoacids and their relative oxidising ability
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) The order of oxidising power of halogens<br />F<sub>2</sub> > Cl<sub>2</sub>
        > Br<sub>2</sub> > I<sub>2</sub><br />fluorine is an powerful oxidising
        agent due to very high electronegativity and small atomic radius
        <br />as we go down the group oxidising power decreases <br />(ii)
        Halogens combines with hydrogeoxfordn to form volatile halides form HX<BR />
        The bond between hydrogen and fluorineis covalent bond<br />
        Acidic strength all the hydrogen bond act as acid in their aqueous
        solutions<br />
        HF
        < HCl < HBr < HI <br />
        All the halogen acids ionise to give H<sup>+</sup> ion. <br />
        (iii) Florine is an powerful oxidising agent due to very high
        electronegativity and small atomic radius as we go down the group the
        oxidising power decreases
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.76</span>
        What are inter halogen compounds ? how are they classified ? Give the structure of IF<sub>7</sub>
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Halogens mutually combined together to form a remarkable set off
        compound of general formula XY<SUB>n</SUB> <br />both X&Y are halogens
        and (n) is an integer value 1, 3, 5, 7. <br /><br /><u class="text-danger">Classification of interhalogen
          compounds : </u><br />
        It is classified into 4 categories -:<br />
        (i) XY type interhalogen compounds.<br />
        (ii) XY<sub>3</sub> type interhalogen compounds.<br />
        (iii) XY<sub>5</sub> type interhalogen compounds.<br />
        (iv) XY<sub>7</sub> type interhalogen compounds.<br /><br />
        <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-3/7.76.jpg" alt="" />
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 7.77</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                        <span>
                            2cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3sin<sup>2</sup>x</span>
                    </div> -->
        Discuss briefly the properties of group 17 elements (halogen family ) state 2 examples of compounds in which
        halogens exhibit higher oxidation state .
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        [A] Properties of group 17 elements : <br /><br />
        (i) physical state : <br />
        fluorine and chlorine are gases at room temperature bromine is liquid
        while iodin is a solid. <br /><br />(ii) atomic and ionic radii : <br />
        the atomic radii and ionic radii increasing on moving down the group due
        to on moving from left to right in the periodic table the nuclear charge
        increases and moving down the group the number of shell increases
        <br /><br />(iii) ionization energy : <br />
        <CENTER> size &alpha; 1/I.E.</CENTER><BR>
        Ionization energy on moving down the group the ionization energy
        decreases due to small atomic size and high effective nuclear charge
        <br /><br />
        (iv) electronegativity : <br />
        halogens poses very high electronegativity on moving down the group the
        electronegativity decreases <bR /> F > Cl > Br > I<br /><br>
        (v) electron gain enthalpy : <br />
        halogens have maximum negative value of electron gain enthalpy exception
        fluorine has lower than chlorine but as we move down the group electron
        gain enthalpy decreases <br />
        F < Cl> Br > I<br>
          <br />
          [B] oxidation states : <br />
          florine shows-1 oxidation state and the other halogen compounds shows -1
          ,+ 3 ,+ 5 ,+ 7 <br>
          Example : HClO <sub>4</sub> , C<sub>2</sub> O<sub>7</sub>


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.78</span>
        Arrange the following according to the property mentioned against each :<br>
        (i) HF , HCl , HBr , HI in increasing order of acid strength<br>
        (ii) HClO<sub>4</sub> , HBrO<sub>4</sub> , HIO<sub>4</sub> in the order of increasing oxidising ability.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        (i) The order of acidic strength<br>
        HF < HCl < HBr < HI (increasing order)<br><br>
          (ii) The order of oxidising ability <br>
          HClO<sub>4</sub> > HBrO<sub>4</sub> > HIO<sub>4</sub>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.79</span>
        Account for the following : <br>
        (i) HI in aqueous solution is a stronger acid than hydrochloric acid.<br>
        (ii) Noble gases exhibit low chemical activity.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) HI is a stronger acid then HCl because the dissociation bond energy of H-I is less than H-Cl<br><br>(ii)
        All noble gases have 8 electrons electronic configuration the stable close shell electronic configuration of
        these elements is responsible for their low chemical activity
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.80</span>
        Name a compound in which chlorine displays in oxidation state of +7
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-3/7.80.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.81</span>
        Write the balanced equation for the following reaction : <br>
        BrO<sub>3</sub><sup>-</sup> + F<sub>2</sub> + OH<SUP>-</SUP> &rarr;
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-3/7.81.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.82</span>
        Which among the following is the strongest oxidising agent : ClO<sub>4</sub><sup>-</sup> ,
        BrO<sub>4</sub><sup>-</sup> , IO<sub>4</sub><sup>-</sup> ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>BrO<sub>4</sub><sup>-</sup></h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.83</span>
        Why is HF the weakest acid among hydrohalo acids inspite of the fact that fluorine is most electronegative
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        HF is a weakest acid Because Flourine is top
        of Halogens F<sup>-</sup> ions is the smallest halide
        so H-F bond is very stable & Bond energy is very high
        Therefore it will not release H<sup>+</sup> ion easily so it is weakest acid.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.84</span>
        Arrange the following in decreasing order of property indicated :<br>
        (i) Cl<sub>2</sub> , Br<sub>2</sub> , F<sub>2</sub> , I<sub>2</sub> (bond energy)<br>
        (ii) MF , MCl , MBr , MI (ionic strength of bond)
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) The bond energy decreasing order<br>
        Cl<sub>2</sub> > Br<sub>2</sub> > F<sub>2</sub> > I<sub>2</sub> <br><br>
        (ii) Ionic strength of bond <br>
        M-F > M-Cl > M-Br > M-I (decreasing order)
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.85</span>
        Write an example of a neutral molecule which is isoelectric to ClO<sup>-</sup>.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img src="pblock/7-1/7.85.jpg" alt="" class="img-fluid photo" /> <br>
        CIF acts like a Lewis base aasit accepts electron ClF<sub>3</sub>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.86</span>
        Explain why is the boiling point of hydrogen fluoride higher than that of hydrogen chloride
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Greater the intermolecular forces greater the boiling point
        HF has strong intermolecular forces due to hydrogen bonding between HF and H
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.87</span>
        Give 2 examples of pseudoshalogens
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Covalent dimers of such pseudohalides are called pseudohalogens.<br>
        Example : Thiocynogens (SCN)<sub>2</sub> , cynogens (CN)<sub>2</sub>


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.88</span>
        What are noble gases and why are they called so ? Write their electronic configurations
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The The noble gases are also called inert gases the elements that belong group 18 of the modern periodic table
        under standard conditions for temperature and pressure all the noble gases exist in the gaseous phase they are
        known to possess extremely low chemical reactivity that's why it is called noble gases.
        <br><br>
        <img src="class12ISCchap/chemistry/pblockimg/7-3/7.88.jpg" alt="" class="img-fluid photo" />
        <img src="class12ISCchap/chemistry/pblockimg/7-3/7.88-1.jpg" alt="" class="img-fluid photo" />


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.89</span>
        Draw the structure of XeOF<sub>4</sub>
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5><img src="class12ISCchap/chemistry/pblockimg/7-3/7.89.jpg" alt="" class="img-fluid photo" /></h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 7.90</span>
        Complete the equation :<br>
        XeF<sub>4</sub> + H<sub>2</sub>O &rarr;
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5><img src="class12ISCchap/chemistry/pblockimg/7-3/7.90.jpg" alt="" class="img-fluid photo" /></h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-91</span>
        Name the molecular geometry of XeOF<sub>4</sub>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img91.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-92</span>
        Complete and balance the following equation : XeF<sub>6</sub> +KF -->
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        XeF<sub>6</sub> +KF-->K<sup>+</sup>[XeF<sub>7</sub>]<sup>-</sup>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-93</span>
        Explain, why does neon not form compounds analogous to those formed by xenon
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        Neon does not form Compounds like Xenon
        because neon holds is electrons much more
        tightly than Xenon
        <br>
        Neon is a small atom, close to nuclei
        <br>
        So the I.E of ne is 2087KJ/mol
        <br>
        Xe is Large amd its e<sup>-</sup> is to far from nucleus So, the I.E is 1170 KJ/mol.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-94</span>
        Name the molecular geometry of Xe0<sub>3</sub>.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img94.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-95</span>
        What is the state of hybridisation of Xe in:
        <ol type="i">
          <li>XeF<Sub>2</Sub></li>
          <li>XeF<Sub>6</Sub></li>
          <li>XeOF<Sub>4</Sub></li>
          <li>XeO<Sub>3</Sub></li>
          <li>XeF<Sub>4</Sub></li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img95.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-96</span>
        Complete and balance the following reactions
        <ol type="i">
          <li>XeF<Sub>2</Sub>+ H<sub>2</sub>O --> </li>
          <li>XeF<Sub>4</Sub>+ H<sub>2</sub>O --></li>
          <li>XeF<Sub>6</Sub>+ H<sub>2</sub>O --></li>
          <li>XeF<Sub>6</Sub>+ SiO<sub>2</sub> --></li>
          <li>XeOF<Sub>4</Sub>+ H<sub>2</sub>O --></li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img96.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-97</span>
        Explain the shape of XeF<sub>4</sub> on the basis of VSEPR theory
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        XeF<sub>4</sub> ->Xe is sp<sup>3</sup>d<sup>2</sup> -hybridised
        <br>
        <br>
        due to VSEPR theory its shape is square planer presence of two L.P of e<sup>-</sup> geometry is
        distorted from
        octahedral to square planar.
        <br>
        <img src="class12ISCchap/chemistry/pblockimg/7-3/img97.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-98</span>
        What products are formed when XeF<sub>4</sub> is hydrolysed
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        XeF<Sub>4</Sub> is hydrolysed it give XeO<sub>3</sub>
        <br>
        <br>
        6XeF<sub>4</sub> +12H<sub>2</sub>O->2XeO<sub>3</sub>+4Xe+3O<sub>2</sub>+24HF
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-99</span>
        Why are interhalogen compounds more reactive than the related elemental halogens?
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        Because,
        -> interhalogens are all prone to hydrolysis and ionise to give rise to polyatomic ions.
        <br>
        ->THe bond energy of inter halogen compound is less than the bond energy of halogens as the
        overlapping between orbitals of dissimilar atoms is less effective
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-100</span>
        State reason for the following :
        <br>
        Fluorine provides the largest variety of interhalogen compounds amongst halogens.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        Florine forms maximum inter halogens compounds because of its small size and high electronegativity
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-101</span>
        Why are fluorine and oxygen compounds more aptly called oxygen fluorides?
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        this is because fluorine is more electronegative than oxygen
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-102</span>
        <ol type="a">
          <li>
            <ol type="i">
              <li>Fluorine has lower electron affinity than chlorine and yet it is a stronger
                oxidising
                agent
                than chlorine Explain</li>
              <li>Of HI and HCl, which has a weaker covalent bond and what effect has it on their acid
                strengths?</li>
              <li>NaOCl solution becomes unstable on warming.What happens to it ?</li>
            </ol>
          </li>
          <li>Draw the structures of XeF<sub>4</sub> and SF<sub>4</sub> molecules.</li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        (A) <u><b class="text-danger">Reasons</b></u>
        <br>
        (ii) As we move down the group the size of atom increase and bond strength decrease thus HI has
        weaker covalent bond than HCl, so HI is more acidic than HCl
        <br>
        <br>
        (iii) It disproportionates to NACl and NAClO<sub>3</sub>
        <br>
        <img src="class12ISCchap/chemistry/pblockimg/7-3/img102.jpg" alt="" class="img-fluid">
        <br>
        <br>
        (B) Structures
        <br>
        (i) <u>XeF<sub>4</sub></u>
        <br>
        XeF<sub>4</sub> ->Xe is sp<sup>3</sup>d<sup>2</sup> -hybridised
        <br>
        <br>
        due to VSEPR theory its shape is square planer presence of two L.P of e<sup>-</sup> geometry is
        distorted from
        octahedral to square planar.
        <br>
        <img src="class12ISCchap/chemistry/pblockimg/7-3/img97.jpg" alt="" class="img-fluid">
        <br>
        <br>
        <img src="class12ISCchap/chemistry/pblockimg/7-3/img102-1.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-103</span>
        Give appropriate reason for each of the following observations
        <ol type="i">
          <li>
            Of the noble gases, only xenon is known to chemical compounds.
          </li>
          <li> Despite its lower electron affinity, fluorine is a stronger oxidising agent than chlorine.
          </li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        (i) Because Xe is large in size and having higher atomic mass
        <br>

        Due to large atomic size the force of attraction between the outer e<sup>-</sup>> and the protons in
        the nucleus is weaker
        <br>
        <br>
        (ii) flourine is the strongest oxidising agent among the halogens.For this phenomenon is much
        greater heat of hydration of F<sup>-</sup> than Cl<sup>-</sup> which compensates for the lower
        e<sup>-</sup> affinity of F than of Cl
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-104</span>
        Why is HF not stored in plain glass bottles?
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        HF rapidly reacts which silica and glass to form soluble salt and that process leads to break the
        glass bottles
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-105</span>
        Give appropriate reason for each of the following observations:
        <ol type="i">
          <li>Only higher members of group 18 of the periodic table are expected to form compounds.
          </li>
          <li>Fluorine is a stronger oxidising agent than chlorine, though fluorine has lower electron
            affinity than chlorine.</li>
          <li>NO<sub>2</sub> readily forms a dimer, whereas ClO<sub>2</sub> does not.</li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        (i) Because members of Group 18 have low Ionization energy,therefore excitation of electron can be
        done by supplying energy
        <br>
        <br>
        (ii) When element combine with Flourine the energy released are highest due to small in size of F
        <br>
        ->Lattice energy and hydration energy of fluoride are higher those of chlorides
        <br>
        ->F<sub>2</sub> has a low dissociation energy then Cl<sub>2</sub>
        <br>
        ->flourine is the strongest oxidising agent among the halogens .For this phenomenon is much greater
        heat of hydration of F<sup>-</sup> than Cl<sup>-</sup> which compensates for the lower electron
        affinity of F than of Cl
        <br>
        <br>
        (iii) NO<sub>2</sub> forms dimer due to presence of odd electron whereas ClO<sub>2</sub> does not
        form dimer because due to the reason that odd electron is delocalised as it is involved in
        p(pi)-d(pi) bonding.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-106</span>
        Draw the structure of SiF<sub>6</sub><sup>2-</sup> or XeF<sub>4</sub>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img106.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-107</span>
        Draw the structure of XeOF<sub>4</sub> or BrF<sub>3</sub>.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img107.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-108</span>
        Give chemical evidence for the following :
        <br>
        Fluorine is a stronger oxidising agent than chlorine.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        flourine is the strongest oxidising agent among the halogens.For this phenomenon is much greater
        heat of hydration of fluorine than chlorine which compensates for the Lower e<sup>-</sup> affinity
        of F than of Cl
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-109</span>
        Assign appropriate reason for each of the following :
        <ol type="i">
          <li>Hydrogen fluoride is a much weaker acid than HCl in aqueous solution.</li>
          <li> The bond energy of F<sub>2</sub> is less than that of Cl<sub>2</sub>.</li>
          <li>Bleaching of flowers by Cl<sub>2</sub> is permanent while by SO<sub>2</sub> is temporary
          </li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        (i) The bond dissociation energy of H-F is much higher
        than H-Cl bond ,
        in aq solution H-Cl bond can break
        more easily to form H<sup>+</sup> ion than HF bond.
        <br>
        <br>
        (ii) Flourine has high electronegativity due to which F-F repels each other having lesser bond
        dissociation enthalpy than Cl<sub>2</sub>.
        <br>
        <br>
        (iii) In the presence of water,the oxidation of
        SO<sub>2</sub> librates nascent hydrogen
        <br>
        <br>
        SO<sub>2</sub> + 2H<sub>2</sub>O ->H<sub>2</sub>SO<Sub>4</Sub> + 2[H]
        <br>
        Nascent hydrogen reduces the coloring
        <br>
        <br>
        coloring matter + 2[H] ->Colourless Compound.
        <br>

        The Colorless (reduced) Compound is re-oxidized by air to coloured compound.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-110</span>
        Write balanced chemical equations for the following reactions :
        <ol type="i">
          <li>XeF<sub>2</sub>+H<sub>2</sub>O --></li>
          <li>XeF<sub>4</sub>+SbF<sub>5</sub> --></li>
          <li>U+ ClF<SuB>3</SuB></li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img110.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-111</span>
        <ol type="a">
          <li>
            Complete the following reaction equations :
            <ol type="i">
              <li>XeF<Sub>6</Sub>+H<sub>2</sub>O--></li>
              <li>CaOCl<sub>2</sub>+HCl--></li>
            </ol>
          </li>
          <li>
            Write the structures of the following :
            <ol type="i">
              <li>IF<sub>5</sub></li>
              <li>XeOF<sub>3</sub></li>
              <li>XeO<Sub>3</Sub></li>
            </ol>
          </li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img111.jpg" alt="" class="img-fluid" width="900">
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img111-1.jpg" alt="" class="img-fluid" width="900">
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img111-2.jpg" alt="" class="img-fluid" width="900">

    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-112</span>
        Write the structural formula for either XeF<sub>2</sub> or IF<sub>3</sub>.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img112.jpg" alt="" class="img-fluid">


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-113</span>
        Draw the structures of:
        <ol type="i">
          <li>Hypochlorous acid</li>
          <li>Chlorous acid</li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img113.jpg" alt="" class="img-fluid">


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q7-114</span>
        Draw the structures of :
        <ol type="i">
          <li>XeOF<sub>4</sub></li>
          <li>XeO<sub>3</sub></li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/pblockimg/7-3/img114.jpg" alt="" class="img-fluid">


    </div>
  </div>

</div>

</div>