<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        max-width: 54% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            max-width: 100% !important;
        }


    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">P-BLOCK CLASS 12 7.2 EXERCISE</h1>
    <div class="container mt-5">




        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-35</span>
                    Why is it that molecular nitrogen is not particularly reactive?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    N<sub>2</sub>-->N&equiv;N(Triple bond) [px=px]
                    <br>
                    To dissociate the triple between N<sub>2</sub>,we require very high amount of Energy.
                    <br>
                    <br>
                    <span class="text-danger">N<sub>2</sub> is inert in nature -stable less reaction</span>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-36</span>
                    Among the hydrides of group 15 , predict the hydride having
                    <ol type="i">
                        <li> highest thermal stability</li>
                        <li>largest bond angle</li>
                        <li>lowest boiling point</li>
                        <li>maximum reducing power</li>
                        <li> least basic character.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) Highest thermal stability of group 15 is
                    <br>
                    NH<sub>3</sub> > PH<sub>3</sub> >AsH<sub>3</sub>
                    <br>
                    <br>
                    (ii) Largest bond angle of group 15 is
                    <br>
                    Ammonia has highest Bond angle
                    <br>
                    NH<sub>3</sub> > PH<sub>3</sub> >AsH<sub>3</sub> > SbH<sub>3</sub> >BiH<sub>3</sub>
                    <br>
                    <br>
                    As we move down the group the electronegativity of
                    Central atom decrease,So the Bond angle also decrease.
                    <br>
                    <br>
                    (iii) Lowest boiling point of group 15 is PH<sub>3</sub>
                    <br>
                    <br>
                    (iV) Maximum reducing power of group 15 is BiH<sub>3</sub>
                    <br>
                    <br>
                    (V) Least Basic character of group 15 is BiH<sub>3</sub>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-37</span>
                    Write the names and structures of oxo acids of phosphorus in which phosphorus exists in + 1, + 3, +
                    5 and + 7 oxidation states
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img38.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img38-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-38</span>
                    Complete and balance the following reactions :
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/q-38.jpg" alt="" class="img-fluid">
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img39.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-39</span>
                    Write the state of hybridisation of nitrogen in NO<sup>-</sup><sub>3</sub> ion.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The hybridisation of Nitrogen in NO<sub>3</sub><sup>-</sup> ion is Sp<sup>2</sup>
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-40</span>
                    Write the structure of pyrophosphoric acid, H<sub>4</sub>P<sub>2</sub>O<sub>7</sub>.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Structure->Pyrophosphoric acid (H<sub>4</sub>P<sub>2</sub>O<sub>7</sub>)
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img40.jpg" alt="" class="img-fluid">
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-41</span>
                    Explain giving reason each of the following :
                    <ol type="i">
                        <li>Nitrogen exists as a diatomic molecule N<sub>2</sub>, whereas phosphorus exists as a tetra
                            atomic
                            molecule P<sub>4</sub>. </li>
                        <li>SF<sub>6</sub> is known but SH<sub>6</sub> is not known. </li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) due to small size of N atom its valence electron are close enough to form pi bond with another N
                    atom
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img41.jpg" alt="" class="img-fluid">
                    <br>
                    due to larger size of P atom, its outer shell e<sup>-</sup>.
                    So phosphorus bonds to three other atoms of P to complete its octet
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img41-1.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Reason</b></u>
                    <br>
                    SF<sub>6</sub> has sp<sup>3</sup>d<sup>2</sup> hybridisation and octahedral geometery
                    <br>
                    <br>
                    SF<sub>6</sub> is surrounded by 6-F atoms
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img41-2.jpg" alt="" class="img-fluid">
                    <br>
                    Due to the presence of Six -flourine atoms.
                    <br>
                    Because of very high electronegativity if flourine, sulphur exhibits its maximum oxidation State of
                    +6 in SF<sub>6</sub>. But SH<sub>6</sub> is not formed because hydrogen
                    is feebly electronegative.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-42</span>
                    Arrange the following in the decreasing order of property indicated :
                    <ol type="i">
                        <li>H<sub>2</sub>O,H<sub>2</sub>S,H<sub>2</sub>Se,H<sub>2</sub>Te (boiling point)</li>
                        <li>NH<sub>3</sub>,PH<sub>3</sub>,AsH<sub>3</sub>,SbH<sub>3</sub> (basic strength)</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) The boling order of group 16
                    <br>
                    H<sub>2</sub>O > H<sub>2</sub>Te > H<sub>2</sub>Se > H<sub>2</sub> S
                    <br>
                    <br>
                    (ii) The order of Basic strength of group 15
                    <br>
                    NH<sub>3</sub> > PH<sub>3</sub> > AsH<sub>3</sub> > SbH<sub>3</sub>
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-43</span>
                    Why are all the P—F bonds in PF<sub>5</sub> molecule not of the same length?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In PF<sub>5</sub> molecules in which bonds have equal length but two bonds ( axial bond ) are
                    longer.
                    <br>
                    <br>
                    Bond length depends upon hybridisation of molecules
                    <br>
                    <br>
                    Structure of sp<sup>3</sup>d is an Triangular bipyramidal
                    <br>
                    So,all bonds of PF<sub>5</sub> isn't equal
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-44</span>
                    Why does oxygen not show oxidation states of + 4 and + 6, whereas sulphur does so?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Does not have vacant-2d orbital in their valence shells
                    in their ground state, they possess only two-unpaired
                    e<sup>-</sup> which can form only two bonds, but in sulphur shows
                    +4 and +6 oxidation state due to the presence of
                    vacant 3-d orbital to which electron can be promoted from 3s & 3p filled orbitals.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-45</span>
                    What type of hybridisation is involved for oxygen in H2O? Give reason for your answer.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In hybridisation of H<sub>2</sub>O, the Oxygen afore is sp<sup>3</sup> Hybridized.
                    Formation of water molecule there are three 2p orbital and one 2s orbital Combine & formed four
                    sp<sup>3</sup> orbitals
                </h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img45.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-46</span>
                    Give the structure of sulphur tetrafluoride.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In hybridisation of H<sub>2</sub>O, the Oxygen afore is sp<sup>3</sup> Hybridized.
                    Formation of water molecule there are three 2p orbital and one 2s orbital Combine & formed four
                    sp<sup>3</sup> orbitals
                </h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img46.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-47</span>
                    Discuss briefly the properties of group 16 elements. Define catenation and illustrate with example.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">
                            Properties of Group 16 elements->
                        </b></u>
                    <br>
                    [A] <u>
                        <b class="text-danger"> Electronic Configuration</b>
                    </u>
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img47.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    [B] <u><b class="text-danger">Atomic and Physical properties</b></u>
                    <br>
                    <br>
                    (i) <u><b class="text-danger">Physical state and Molecular structure</b></u>
                    <br>
                    oxygen is the 1st member of Group-16 is a gas where as other element of the group Solid
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Atomic Radius</b></u>
                    <br>
                    As we go down the group
                    number of shells increase radii increase size also increase
                    <br>
                    Po> Te> Se> S>O
                    <br>
                    Increasing order of Atomic Radius
                    <br>
                    <u><b class="text-danger">Ionization Enthalpy or Ionization Energy</b></u>
                    <br>
                    Size &prop;1/I.E
                    <br>
                    we go down the group the I. E decrease
                    <br>
                    then the Oxygen has more I.E among all the elements of group 16.
                    <br>
                    <u><b class="text-danger">Electronegativity</b></u>
                    <br>
                    As we move from left to Right Electronegativity increase
                    <br>
                    But, we go down the group , Electronegativity decrease.
                    <br>
                    <br>
                    <u><b class="text-danger">Catenation</b></u>
                    <br>
                    Oxygen the 1st member of the Group, show only a Little tendency towards Catenation
                    <br>
                    <br>
                    <u><b class="text-danger">Example</b></u>-> H-O-OH,[-O-O-]<sup>2-</sup> etc
                    <br>
                    sulphur shows greater tendency towards Catenation
                    <br>
                    <u><b class="text-danger">Example</b></u>->sulphanes,polysulphuric acid,polysulphides
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-48</span>
                    Arrange H<sub>2</sub>S, H<sub>2</sub>0, H<sub>2</sub>Se, H<sub>2</sub>Te in the order of decreasing
                    thermal stability
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    As we move down the group thermal stability decrease
                    <br>
                    <br>
                    size &prop; 1/Thermal stability
                    <br>
                    <br>
                    H<sub>2</sub>O > H<sub>2</sub>S> H<sub>2</sub>Se > H<sub>2</sub>Te
                    <br>
                    decreasing order of Thermal stability
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-49</span>
                    Explain the hybridisation in SF<sub>6</sub> molecule. What is the shape of this molecule?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    In SF<sub>6</sub> Molecule the hybridisation is sp<sup>3</sup>d<sup>2</sup>
                    <br>
                    Sulphur Hexaflouride is a
                    type of greenhouse gas which is colourless,odourless,non-toxic .
                </h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img49.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img49-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-50</span>
                    What is the oxidation state of S in the following oxoacids?
                    <ol type="i">
                        <li> Sulphurous acid</li>
                        <li>Sulphuric acid</li>
                        <li>Dithionic acid</li>
                        <li> Peroxodisulphuric acid</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img50.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img50-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img50-2.jpg" alt="" class="img-fluid">


            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-51</span>
                    Account for the following :
                    <ol type="i">
                        <li>NH<sub>3</sub> has higher boiling point than PH<sub>3</sub>. </li>
                        <li>H<sub>3</sub>PO<sub>3</sub> is a diprotic acid.</li>
                        <li>OF<sub>2</sub> should be called oxygen difluoride and not fluorine oxide. </li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) NH<sub>3</sub> has higher boiling point than PH<sub>3</sub>
                    <br>
                    <br>
                    <u><b class="text-danger">Reason</b></u>->
                    <br>
                    As we move down the group in nitrogen family metallic character increase and,
                    <br>
                    NH<sub>3</sub> has highly polar N-H bond giving rise to hydrogen bonding
                    <br>
                    But In PH<sub>3</sub> is larger than NH<sub>3</sub> with greater dispersion force
                    <br>
                    <br>
                    since the strength of Hydrogen bond is greater than dispersion forces,
                    <br>
                    Hence NH<sub>3</sub> has greater boiling point than PH<sub>3</sub>
                    <br>
                    <br>
                    (ii) H<sub>3</sub>PO<sub>3</sub> is a diprotic acid
                    <br>
                    H<sub>3</sub>PO<sub>3</sub> ->Phosphorus acid
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img51.jpg" alt="" class="img-fluid">
                    <br>
                    A diprotic acid due to presence of two replacing H-atoms
                    <br>
                    (iii) OF<sub>2</sub> should be called Oxygen diflouride and not flouride oxide
                    <br>
                    Flourine is more electronegative than oxygen
                    <br>
                    So, the name of electropositive element written first followed by the electronegative element.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-52</span>
                    Which type of hybridisation does explain the trigonal bipyramidal shape of SF<ub>4</ub>?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img52.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-53</span>
                    Describe the properties of O, S, Se, Te and Po (group 16 elements) with reference to
                    <ol type="i">
                        <li>metallic/non-metallic character</li>
                        <li>catenation </li>
                        <li>thermal stability of hydrides</li>
                        <li>oxidation states</li>
                        <li>allotropy</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) <u><b class="text-danger">Metallic and Non-Metallic character</b></u>->
                    <br>
                    Metallic character of group 16 elements increase down the group
                    <br>
                    where as, Oxygen and sulphur are typical non-metals and insulator,Se,Te are semiconductor and PO is
                    metallic in nature
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Catenation</b></u>
                    <br>
                    In group 16 Oxygen show that little tendency towards Catenation
                    <br>
                    <br>
                    <u><b class="text-danger">Example</b></u>->link peroxide H-O-O-H,[-O-O-]<sup>2-</sup> etc
                    <br>
                    sulphur shows greater tendency towards Catenation
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Thermal stability of Hydrides</b></u>
                    <br>
                    The Thermal stability of Hydrides of group 16 elements
                    <br>
                    H<sub>2</sub>O > H<sub>2</sub>S> H<sub>2</sub>Se > H<sub>2</sub>Te
                    <br>
                    Thermal stability decrease
                    <br>
                    <br>
                    move from H<sub>2</sub>O to H<sub>2</sub>Te,the size of the Central atom increase
                    <br>
                    <br>
                    (iv)<u><b class="text-danger">Oxidation State</b></u>
                    <br>
                    ->The most common oxidation state as -2.
                    <br>
                    -> sulphur can exists at +4 and +6 state.
                    <br>
                    -> For Se, Te, Po oxidation state +2,+4 and +6 are possible
                    <br>
                    ->Oxygen does not show +4 and +6 oxidation state due to presence of d-orbital.
                    <br>
                    <br>
                    (v) <u><b class="text-danger">Allotrophy</b></u>
                    <br>
                    <b class="text-danger">Group 16-elements</b>
                    <br>
                    <b class="text-danger"> For Oxygen</b> it is emits as dioxygen (0<sub>2</sub>) and Ozone
                    (0<sub>3</sub>)
                    <br>
                    <b class="text-danger">For sulphur</b> Homocyclic species containing 6-20 sulphur atom,
                    <br>
                    It is also exits as chain polymer (catena-Sn sulphur).
                    <br>
                    <b class="text-danger">For Selenium</b> it is exists six allotropic modification
                    three are &alpha;, &beta;, &gamma; form are red
                    monoclinic form and Contain 58 rings.
                    <br>
                    The most
                    stable form grey Hexagonal Monoclinic form
                    <br>

                    <b class="text-danger">For Te and Po</b> it also show allotropy and Po has two
                    allotropic a-form and ? -form
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-54</span>
                    On being slowly passed through water, PH<sub>3</sub> forms bubbles but NH<sub>3</sub> dissolves. Why
                    is it so?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    PH<sub>3</sub> does not dissolves due to Lack of intermolecular H- bonding.
                    <br>
                    NH<sub>3</sub> highly soluble in water,Since molecule of NH<sub>3</sub> is involves in Hydrogen
                    Bonding.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-55</span>
                    Draw the molecular structure of peroxomonosulphuric acid.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img55.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-56</span>
                    State the types of hybrid orbitals associated with
                    <ol type="i">
                        <li> P in PCl<sub>5</sub></li>
                        <li> S in SF<sub>6</sub></li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) P in PCL<sub>5</sub>
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img56.jpg" alt="" class="img-fluid">
                    <br>
                    According to the VSEPR Theory, a molecule with five Bonding, pairs must have a both trigonal
                    bipyramidal electron Geometry
                    <br>
                    <br>
                    (ii) S in SF<sub>6</sub>
                    <br>
                    In SF<sub>6</sub> Molecule the hybridisation is sp<sup>3</sup>d<sup>2</sup>
                    <br>
                    Sulphur Hexaflouride is a type of greenhouse gas which is colourless,odourless,non-toxic
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img56-1.jpg" alt="" class="img-fluid">
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-57</span>
                    What is the nature of bonds in NO<sub>2</sub> molecule?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    NO<sub>2</sub> is an odd electron molecule and is paramagnetic in nature . In one the resonating
                    structure of NO<sub>2</sub>
                    <br>
                    Two covalent bonds are present btw N&O
                    <br>
                    There is also a coordinate bond between N and the other oxygen atom.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-58</span>
                    Which has the larger bond angle H<sub>2</sub>S or H<sub>2</sub>O and why?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img58.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-59</span>
                    How is sulphuric acid manufactured by contact process?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Contact Process</b></u>->
                    <br>
                    This process involves the catalytic oxidation of sulphur dioxide to sulphur trioxide by atmospheric
                    air
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img59.jpg" alt="" class="img-fluid">
                    <br>
                    The reaction is reversible, exothermic involves a decrease in the number of moles.According to
                    Le-chatelier's principle
                    <br>
                    (i) Low Temperature
                    <br>
                    (ii) High pressure
                    <br>
                    (iii) Excess of Oxygen
                    <br>
                    (iv) use of Catalyst
                    <br>
                    The sulphur trioxide obtained is dissolved in concentrated sulphuric acid to get oleum. Sulphuric
                    acid of desired concentration can be obtained by diluting,
                </h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img59-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-60</span>
                    Discuss the structures of PCl<sub>3</sub> and PCl<sub>5</sub>.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img60.jpg" alt="" class="img-fluid" width="900">
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img60-1.jpg" alt="" class="img-fluid" width="900">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-61</span>
                    Oxides of nitrogen have open chain structure while those of phosphorus have closed chain or cage
                    structures. Why is it so? Illustrate with one structural example for each type of oxides.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    nitrogen due to its small size and high electronegativity has a strong tendency to form P
                    (&pi;)-p(&pi;)
                    bonds with oxygen and form oxides with open chain structure
                    <br>
                    <br>
                    But in phosphorus due to its Large size has no tendency to form p(&pi;)-p(&pi;) bonds with oxygen
                    so, it
                    is a
                    cage-like structure is formed
                    <br>
                    Eg->P<sub>4</sub>O<sub>6</sub>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-62</span>
                    What type of hybridisation is associated with N in NH<sub>3</sub>? What is the expected bond angle
                    in NH<sub>3</sub>?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img62.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-63</span>
                    Expain the following observations:
                    <ol type="i">
                        <li>among the hydrides of elements of group 16, water shows unusual physical properties.</li>
                        <li> Unlike phosphorus , nitrogen shows little tendency for catenation. </li>
                        <li>Sulphur in vapour state exhibits paramagnetic behaviour.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) <u><b class="text-danger">Reason</b></u>
                    <br>
                    water shows unusual physical properties such as
                    High Boating point,weak acidic character & High B.P as compared to the other Hydrides of 16.
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Reason</b></u>
                    <br>
                    N-N bond is very weak because of the repulsion
                    in the electron pair on the nitrogen atom.
                    <br>
                    (M-M) bond
                    dissociation energy.
                    <br>
                    <br>
                    (iii) <u><b class="text-danger">Reason</b></u>
                    <br>
                    In vapour state,sulphur exists as S<sub>2</sub> molecule , which has two-unpaired electron in
                    antibonding pie orbital, same as O<sub>2</sub> molecule,Hence its exists as paramagnetism
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-64</span>
                    Account for the following :
                    <ol type="i">
                        <li>Tendency to show -2 oxidation state diminishes from sulphur to polonium in group 16.</li>
                        <li>NO<sub>2</sub> readily forms a dimer, whereas ClO<sub>2</sub> does not.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) The valence shell electronic configuration of group 16 ns<sup>2</sup>np<sup>4</sup>
                    strongly electronegativity these elements prefer to
                    gain two electrons to attain noble gas configuration
                    and thus exhibits an Oxidation State of -2
                    <br>
                    <br>
                    (ii) NO<sub>2</sub> forms dimer due to presence of odd electron
                    whereas CLO<sub>2</sub> does not form dinner because due to the reason that odd electron is
                    delocalized as it is involved in p(pi) -d(pi) bonding.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-65</span>
                    Account for the following :
                    <ol type="i">
                        <li> PH<sub>3</sub> is a weaker base than NH<sub>3</sub>.</li>
                        <li>SF<sub>6</sub> exists but OF<sub>6</sub> does not. </li>
                        <li>Sulphur exhibits tendency for catenation but oxygen does not.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) NH3 is more basic than PH<sub>3</sub> as NH<sub>3</sub> has more density of e<sup>-</sup>
                    <br>
                    NH<sub>3</sub>-> have intermolecular H- bonding is present while PH<sub>3</sub> have no H-bonding
                    <br>
                    <br>
                    (ii) SF<sub>6</sub> exists but OF<sub>6</sub> does not because oxygen does not has vacant d-
                    orbitals in the valence shell. Electrons are oxygen cannot be excited to higher levels to six
                    upaired electrons.
                    <br>
                    <br>
                    (iii) <u><b class="text-danger">Catenation</b></u>
                    <br>
                    In group 16 Oxygen show that little tendency towards Catenation
                    <br>
                    <br>
                    <u><b class="text-danger">Example</b></u>->link peroxide H-O-O-H,[-O-O-]<sup>2-</sup> etc
                    <br>
                    But sulphur shows greater tendency towards Catenation

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-66</span>
                    Assign appropriate reason for each of the following observations :
                    <ol type="i">
                        <li>Phosphinic acid behaves as a monoprotic acid.</li>
                        <li>SF<sub>6</sub> is not easily hydrolysed, whereas SF<sub>4</sub> is readily hydrolysed. </li>
                        <li>White phosphorus is much more reactive than red phosphorus.</li>
                        <li>Sulphur in vapour state exhibits some paramagnetic behaviour.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) Phosphinic acid->H<sub>3</sub>PO<sub>2</sub>
                    Phosphinic acid is a monoprotic acid as it contains one H-bond
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img66.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (ii) SF<sub>6</sub> has sp<sup>3</sup>d<sup>2</sup> hybridisation
                    and octahedral geometry
                    <br>
                    SF<sub>6</sub> is surrounded by 6-F atoms
                    <br>
                    where as SF<sub>4</sub> has sp<sup>3</sup>d hybridisation and see-saw geometry with a lone pair of
                    electron.
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img66-1.jpg" alt="" class="img-fluid">
                    <br>
                    Due to the presence of six -flourine atoms in SF<sub>6</sub> it is steric hindrance,so water
                    (H<sub>2</sub>O) Cannot
                    attack and SF<sub>6</sub> is not easily hydrolysed.
                    <br>
                    Where as in SF<sub>4</sub> the lone pair of electron and geometry .So it is hydrolysed.
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img66-2.jpg" alt="" class="img-fluid">
                    <br>
                    <u><b class="text-danger">Red phosphorus</b></u>
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img66-3.jpg" alt="" class="img-fluid">
                    <br>
                    white phosphorus is more reactive than red phosphorus
                    because it has monomeric terahedral structure having
                    angular strain and require less energy to break the bond.
                    <br>
                    <br>
                    (iv) <u><b class="text-danger">Reason</b></u>->
                    <br>
                    In vapour state,sulphur exists as S<sub>2</sub> molecule , which has two-unpaired electron in
                    antibonding pie orbital,same as O<sub>2</sub> molecule,Hence its exists as paramagnetism
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-67</span>
                    Give chemical reaction in support of each of the following :
                    <ol type="i">
                        <li> All the bonds in PCl<sub>5</sub> molecule are not equivalent.</li>
                        <li>Sulphur exhibits greater tendency for catenation than selenium.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) All the bonds in PCl<sub>5</sub> molecule are not equivalent
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img67.jpg" alt="" class="img-fluid">
                    <br>
                    PCL<sub>5</sub> has a trigonal bipyramidal structure dsp<sup>3</sup> Hybridisations
                    <br>
                    Due to this Two Cl atom lies along axial line and three Cl-atom lies in the equitorial planes.
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Catenation</b></u>
                    <br>
                    In group 16 Oxygen show that little tendency towards Catenation
                    <br>
                    <br>
                    <u><b class="text-danger">Example</b></u>->link peroxide H-O-O-H,[-O-O-]<sup>2-</sup> etc
                    <br>
                    But sulphur shows greater tendency towards Catenation
                    <br>
                    <br>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-68</span>
                    Give reasons for the following statement :
                    <br>
                    SF<sub>6</sub> is not easily hydrolysed though thermodynamically ft
                    should be.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    SF<sub>6</sub> has sp<sup>3</sup>d<sup>2</sup> hybridisation
                    and octahedral geometry
                    <br>
                    SF<sub>6</sub> is surrounded by 6-F atoms
                    <br>
                    where as SF<sub>4</sub> has sp<sup>3</sup>d hybridisation and see-saw geometry with a lone pair of
                    electron.
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img66-1.jpg" alt="" class="img-fluid">
                    <br>
                    Due to the presence of six -flourine atoms in SF<sub>6</sub> it is steric hindrance,so water
                    (H<sub>2</sub>O) Cannot
                    attack and SF<sub>6</sub> is not easily hydrolysed.
                    <br>
                    Where as in SF<sub>4</sub> the lone pair of electron and geometry .So it is hydrolysed.

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-69</span>
                    Give reasons for each of the following :
                    <ol type="i">
                        <li>Nitric oxide becomes brown when released in air. </li>
                        <li>PCl<sub>5</sub> is ionic in the solid state.</li>
                        <li>Ammonia is a good complexing agent.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Sulphur disappear when boiled with an aqueous solutions of sodium sulphite because sodium
                    thiosulphate is formed
                    <br>
                    <br>
                    (i) Sodium thiosulphate is soluble in water and this disappearance easily in water
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img69.jpg" alt="" class="img-fluid">
                    <br>
                    (ii) H<sub>3</sub>PO<sub>4</sub> is a diprotic acid
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img69-1.jpg" alt="" class="img-fluid">
                    <br>

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-71</span>
                    Assign a reason for each of the following :
                    <ol type="i">
                        <li> In group 15, the bond angle H—M—H decreases in the following order : NH<sub>3</sub>
                            (107.8°), PH<sub>3</sub>
                            (93.6°), AsH<sub>3</sub> (91.8°).</li>
                        <li>Sulphur hexafluoride is used as a gaseous electrical insulator.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) <u><b class="text-danger">Reason</b></u>->As we move down the group,radius of
                    element increase and electronegativity decreases .So bond angle decreases
                    <br>
                    AsH<sub>3</sub>> PH<sub>3</sub>>NH<sub>3</sub>
                    <br>
                    decreasing order
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Reason</b></u>->Sulphur Hexafluoride used as electrical Insulator
                    is an good dielectric gas
                    <br>
                    for rich high voltage application
                    <br>
                    It is chemically inert.
                    <br>
                    non-flameable,non-corrosive,non-toxic.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-72</span>
                    Assign a reason for each of the following :
                    <ol type="i">
                        <li>SCl<sub>6</sub> is not known but SF<sub>6</sub> is known.</li>
                        <li>Not all bonds in a molecule of PCl<sub>5</sub> are equivalent.</li>
                        <li>SF<sub>6</sub> is not easily hydrolysed.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img72.jpg" alt="" class="img-fluid">
                <h5 class="text-dark">
                    Fourie has smaller in size accommodate its six
                    atom in given space of sulphur while chlorine being bigger in size is not able to accommodate.
                    due to repulsion btw its six atoms.
                    SF<sub>6</sub> is known but SCl<sub>6</sub> is not known.
                    <br>
                    <br>
                    (ii) All the bonds in PCl<sub>5</sub> molecule are not equivalent
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img67.jpg" alt="" class="img-fluid">
                    <br>
                    PCL<sub>5</sub> has a trigonal bipyramidal structure dsp<sup>3</sup> Hybridisations
                    <br>
                    Due to this Two Cl atom lies along axial line and three Cl-atom lies in the equitorial planes.
                    <br>
                    <br>
                    (iii) SF<sub>6</sub> has sp<sup>3</sup>d<sup>2</sup> hybridisation
                    and octahedral geometry
                    <br>
                    SF<sub>6</sub> is surrounded by 6-F atoms
                    <br>
                    where as SF<sub>4</sub> has sp<sup>3</sup>d hybridisation and see-saw geometry with a lone pair of
                    electron.
                    <br>
                    <img src="class12ISCchap/chemistry/pblockimg/7-2/img66-1.jpg" alt="" class="img-fluid">
                    <br>
                    Due to the presence of six -flourine atoms in SF<sub>6</sub> it is steric hindrance,so water
                    (H<sub>2</sub>O) Cannot
                    attack and SF<sub>6</sub> is not easily hydrolysed.
                    <br>
                    Where as in SF<sub>4</sub> the lone pair of electron and geometry .So it is hydrolysed.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-73</span>
                    Write chemical equation for the following reaction :
                    <br>
                    <br>
                    Ca<sub>3</sub>(PO<sub>4</sub>)<sub>2</sub> +SiO<sub>2</sub> +C -->
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    2Ca<sub>3</sub>(PO<sub>4</sub>)<sub>2</sub> +6SiO<sub>2</sub> +10C --->6CaSiO<sub>3</sub>
                    +P<sub>4</sub> +10CO
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q7-74</span>
                    Draw the structures of
                    <ol type="i">
                        <li>H<sub>2</sub>SO<sub>3</sub> </li>
                        <li>H<sub>2</sub>SO<sub>4</sub> </li>
                        <li>H<sub>2</sub>S<sub>2</sub>O<sub>7</sub></li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img74.jpg" alt="" class="img-fluid" width="800">
                <img src="class12ISCchap/chemistry/pblockimg/7-2/img74-1.jpg" alt="" class="img-fluid" width="800">

            </div>
        </div>


    </div>
</body>