<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .photo1 {
        max-width: 50% !important;
    }

    .photo {
        max-width: 65% !important;
    }

    @media screen and (max-width : 768px) {
        .photo {
            max-width: 100% !important;
        }

        .photo1 {
            max-width: 100% !important;
        }
    }


    /* .col{
        background-image: url('images/textwater.jpg');
    } */
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">P-BLOCK CLASS 12 7.1 EXERCISE</h1>
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.1</span>
                Why is dinitrogen unreactive at ordinary temperature ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                Dinitrogen is reactive at room temperature is due to high
                Stability of N&equiv;N Molecules.
                The N&equiv;N has very high bond enthalpy (941.4 KJ).


            </h5>

        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.2</span>
                What happens when : <br>
                (i) Dinitrogen is passed over calcium carbide at 1300 K<br>
                (ii) Magnesium nitride is treated with water<br>
                (iii) Ammonia is treated with excess of chlorine <br>
                (iv) Nitric acid is poured over sawdust<br>
                (v) Nitric acid is treated with gold.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>(i) Dinitrogen is passed over Calcium Carbide at 1300K<br>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.1.jpg" alt=""><br>
                (ii) Magnesium Nitride is reacted with water <br>
                Magnesium reacts with dinitrogen form Magnesium Nitride<br>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.1-1.jpg" alt=""><br>
                Then Magnesium Nitride reacts with water form Ammonia
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.1-2.jpg" alt=""><br>
                (iii) Ammonia is treated with excess of chlorine <br>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.1-3.jpg" alt=""><br>
                (iv) Nitric acid is poured over saw dust <br>
                when nitric acid is dropped over heated saw dust it catch fire spontaneously i.e. bursts into flame<br>
                (v) Nitric acid is treated with gold <br>chloroauric acid is formed<br>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.1-4.jpg" alt=""><br>







            </h5>

        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.3</span>
                <span class="integrate"></span>

                <!-- <div class="frac">
                        <span>
                            2cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3sin<sup>2</sup>x</span>
                    </div> -->
                Why is solubility of ammonia in water is very high ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>Ammonia is highly soluble in water due to hydrogen bonding <br>
                <img class="img-fluid " src="class12ISCchap/chemistry/pblockimg/7-1/7.3.jpg" alt=""><br>
            </h5>

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.4</span>
                Why is iron rendered passive in concentrated nitric acid ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>

            <h5>Formation of reddish brown Layer of iron oxide formed
                <br> Iron reacts with Conc. HNO<sub>3</sub> , NO<sub>2</sub><br>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.4.jpg" alt="">
                <br> <br> Highly conc. nitric acid (80%) makes iron passive.

            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.5</span>
                Explain why <br>
                (i) A precipitate of silver chloride dissolves in NH<sub>4</sub> OH;<BR>
                (ii) Zinc sulpate does not give a precipitate with excess of NH<sub>4</sub> OH;<BR>
                (iii) Nitric acid makes wool yellow.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5> (i) The precipitate of silver chloride dissolves in NH<SUB>4</SUB>OH><br>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.5.jpg" alt=""><br>

                (ii) zinc sulphates does not give a precipitate with excess of NH<SUB>4</SUB>OH<br>
                with excess of NH<SUB>4</SUB>OH the ppt dissolves to give a Colourless solution of tetramine zinc (II)
                sulphates<br>
                <br> <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.5-1.jpg" alt="">

                <br>(iii) Nitric acid makes wool yellow <br>
                The yellow Strains on the wool fibres are caused due to the reaction of nitric acid with protein Keratin
                present in the wool fibres
                This reaction as called Xanthoproteic reaction.<br>


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.6</span>
                Why does oxygen not show oxidation states of +4 and +6, Whereas sulphur does so?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>Does not have vacant 2d orbital in their valence shells
                In their ground state they possess only two-unpaired
                e<sup>-</sup> which can fore only two bonds,<br> But in Sulphur shows
                + 4 and +6 oxidation State due to the presence of
                vacant 3d orbital to which electron Can be promoted from 3s & 3p filled orbitals.

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.7</span>
                What type of hybridization is involved for oxygen in H<sub>2</sub>O. give reason for your answer
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>In Hybridisation of H<sub>2</sub>O the Oxygen atom is sp<sup>3</sup> hybridized.<br>
                formation of water molecule there are three 2p orbitals and one 2s orbital 9 combine & formed four
                sp<sup>3</sup> orbitals.
                <br> <img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.7.jpg" alt="">
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.8</span>
                Give the structure of sulphur tetrafluoride
            </h5>


            <h5><span class="text-success">Solution </span></h5>

            <h5><img class="img-fluid photo" src="class12ISCchap/chemistry/pblockimg/7-1/7.8.jpg" alt="">
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.9</span>
                Discuss briefly the properties of group 16 elements define catenation and illustrate with example.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <u><b class="text-danger">
                        Properties of Group 16 elements->
                    </b></u>
                <br>
                [A] <u>
                    <b class="text-danger"> Electronic Configuration</b>
                </u>
                <br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.9.jpg" alt="" class="img-fluid photo">
                <br>
                <br>
                [B] <u><b class="text-danger">Atomic and Physical properties</b></u>
                <br>
                <br>
                (i) <u><b class="text-danger">Physical state and Molecular structure</b></u>
                <br>
                oxygen is the 1st member of Group-16 is a gas where as other element of the group Solid
                <br>
                <br>
                (ii) <u><b class="text-danger">Atomic Radius</b></u>
                <br>
                As we go down the group
                number of shells increase radii increase size also increase
                <br>
                Po> Te> Se> S>O
                <br>
                Increasing order of Atomic Radius
                <br>
                <u><b class="text-danger">Ionization Enthalpy or Ionization Energy</b></u>
                <br>
                Size &prop;1/I.E
                <br>
                we go down the group the I. E decrease
                <br>
                then the Oxygen has more I.E among all the elements of group 16.
                <br>
                <u><b class="text-danger">Electronegativity</b></u>
                <br>
                As we move from left to Right Electronegativity increase
                <br>
                But, we go down the group , Electronegativity decrease.
                <br>
                <br>
                <u><b class="text-danger">Catenation</b></u>
                <br>
                Oxygen the 1st member of the Group, show only a Little tendency towards Catenation
                <br>
                <br>
                <u><b class="text-danger">Example</b></u>-> H-O-OH,[-O-O-]<sup>2-</sup> etc
                <br>
                sulphur shows greater tendency towards Catenation
                <br>
                <u><b class="text-danger">Example</b></u>->sulphanes,polysulphuric acid,polysulphides
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.10</span>
                Express H<SUB>2</SUB>O , H<SUB>2</SUB>S , H<SUB>2</SUB>Se , H<SUB>2</SUB>Te in decreasing order of
                Thermal stability
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5> H<SUB>2</SUB>O > H<SUB>2</SUB>S > H<SUB>2</SUB>Se > H<SUB>2</SUB>Te <br> decreasing order of Thermal
                stability
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.11</span>
                Explain the hybridization in SF<sub>6</sub> molecule what is the shape of this molecule ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>In SF<sub>6</sub> Molecule the hybridisation is sp<sup>3</sup>d<sup>2</sup><br> Sulphur Hexa flouride is
                a type of greenhouse gas which is colourless , odourless and non-toxic .
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.11.jpg" alt="" class="img-fluid photo">
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.12</span>
                What is the oxidation state of S in the following oxoacids ?<br>
                (i) Sulfurous acid <br>(ii) sulphuric acid <br>(iii) Dithionic acid <br>(iv) Peroxodisulphuric acid
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5> <img src="class12ISCchap/chemistry/pblockimg/7-1/7.12.jpg" alt="" class="img-fluid photo">
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.12-1.jpg" alt="" class="img-fluid photo">
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.12-2.jpg" alt="" class="img-fluid photo">
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.12-3.jpg" alt="" class="img-fluid photo">


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.13</span>
                What type of hybridisation does explain the diagonal bipyramidal shape of SF<sub>4</sub> >?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.13.jpg" alt="" class="img-fluid photo">
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.14</span>

                Describe the properties of O , Se , S , Te , Po (group 16 elements) with reference to<br>
                (i) Metallic / non metallic character<br>
                (ii) Catenation<br>
                (iii) Thermal stability of hydrides <br>
                (iv) Oxidation states<br>
                (v) allotropy
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <b> <u class="text-danger">(i) Metallic and Non. Metallic character</u></b> <br> Metallic character of
                group 16 elements increase down the group
                where as oxygen and sulphur are typical non-metals and insulator, Se Te are semiconductor and po is
                metallic in nature.
                <br> <b> <u class="text-danger">(ii) Catenation</u></b><br>
                In group 16 Oxygen show that little tendency towards catenation
                Example : link peroxides H-0-0-H [-0-0-]<SUP>2-</SUP> etc<br>
                but sulphur shows greater tendency towards catenation
                <br> <b> <u class="text-danger">(iii) Thermal stability of hydrides</u></b>
                The Thermal stability of Hydrides of group 16 elements
                H<SUB>2</SUB>O > H<SUB>2</SUB>S > H<SUB>2</SUB>Se > H<SUB>2</SUB>Te <br>Thermal stability decrease
                move from H<SUB>2</SUB>O to H<SUB>2</SUB>Te the size of the central atom increase.
                <br><b> <u class="text-danger">(iv) Oxidation State</u></b>
                <br> 1. The most common oxidation state is -2.
                <br> 2. sulphur can exists at +4 and +6 state.
                <br> 3. For Se, Te, Po oxidation state +2 , +4 +6 are
                possible
                <br> 4. Oxygen does not show +4 and +6 oxidation state due to presence of d-orbital.
                <br> <b> <u class="text-danger">(v) Allotropy</u></b><br>
                Group 16 -elements<br>
                <br> <u>For Oxygen :</u> it is exists as dioxygen (O<SUB>2</SUB>) and Ozone (O<SUB>3</SUB>)<br>
                <br> <u>For sulphur:</u> Homocyclic species containing 6-20 sulphur atom,
                It is also exits as chain polymer (Catena-Sn sulphur).<br>
                <br> <u>For Selenium :</u> it is exists six allotropic modification
                three are &alpha; , &beta;, and &gamma; form are red
                monoclinic form and Contain S<sub>8</sub> rings.
                The most stable form grey Hexagonal monoclinic form<br>
                <br><u>For Te and Po :</u> it also show allotropy and Po has two
                allotropic &alpha;-form and &beta;-form

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.15</span>
                Draw the molecular structure of peroxomonosulphuric acid
            </h5>


            <h5><span class="text-success">Solution </span></h5>

            <h5> <img src="class12ISCchap/chemistry/pblockimg/7-1/7.15.jpg" alt="" class="img-fluid photo">
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.16</span>
                Which has the larger bond angle H<sub>2</sub>S or H<sub>2</sub>S and why?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5><img src="class12ISCchap/chemistry/pblockimg/7-1/7.16.jpg" alt="" class="img-fluid photo">
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.17</span>
                Explain the following observation :<br> Among the hydrides of elements of group 16 water shows unusual
                physical properties
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                water shows unusual physical properties such as
                high Boiling point , weak acidic character & High B.P. as compared to the other Hydrides of group-16.

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.18</span>
                Why does sulphur in vapour state exhibit paramagnetic behaviour ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                In vapour state sulphur exists as S<sub>2</sub> molecule , which has two-unpaired electron in
                antibonding pie orbital, same as O<sub>2</sub> molecule Hence its exists as paramagnetism.

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.19</span>
                Account for the following : <br>
                (i) Tendency to show -2 oxidation state diminishes from sulfur to polonium in Group 16<br>
                (ii) NO<sub>2</sub> readily forms a dimer whereas ClO<sub>2 </sub> does not
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                (i) The valence shell electronic configuration of group 16 ns<sup>2</sup>np<sup>4</sup>
                strongly electronegativity these elements prefer to
                gain two electrons to attain noble gas configuration and thus exhibit an oxidation State of -2.<br>
                (ii) NO<sub>2</sub> forms dimer due to presence of odd electron whereas ClO<sub>2</sub> does not form
                dimer because due to the reason that odd electron is delocalised as it is involved in p(pi) -d(pi)
                bonding.

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.20</span>
                Assign appropriate reason for each of the following observations : <br>
                (i) SF<sub>6</sub> is not easily hydrolysed whereas SF<sub>4</sub> is easily hydrolysed. <br>
                (ii) Sulphur in vapour state exhibits some paramagnetic behaviour
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.20.jpg" alt="" class="img-fluid photo">
                <br> Due to the presence of six -flourine atoms in SF<sub>6</sub> it is steric hindrance so water cannot
                attack and SF<sub>6</sub> is not easily hydrolysed.<br>
                Where as in SF<sub>4</sub>
                the lone pair of electron and geometry so it is hydrolysed.<br>
                (ii) In vapour state sulphur exists as S<sub>2</sub> molecule ,
                which has two-unpaired electron in antibonding pie
                orbital, same as O<sub>2</sub> molecule Hence its exists as paramagnetism.


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.21</span>
                Give reason for the following statement :<br>
                SF<sub>6</sub> is not easily hydrolysed though thermodynamically it should be
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.20.jpg" alt="" class="img-fluid photo">
                <br> Due to the presence of six -flourine atoms in SF<sub>6</sub> it is steric hindrance so water cannot
                attack and SF<sub>6</sub> is not easily hydrolysed.<br>
                Where as in SF<sub>4</sub>
                the lone pair of electron and geometry so it is hydrolysed.<br>

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.22</span>
                Give reason for the following facts :<br>
                (a) Sulfur disappears when boiled with an aqueous solution of sodium sulphite <br>
                (b) H<SUB>2</SUB> SO<SUB>4</SUB> is diprotic acid
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                Sulphur disappear when boiled with an aqueous solution of sodium sulphite because Sodium thiosulphate is
                formed
                sodium thiosulphate is soluble in water and this disappearance easily in water<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.22.jpg" alt="" class="img-fluid photo"><br>

                (ii) some strong acids such as sulphuric acid are diprotic acid that have two H<sup>+</sup> which
                dissociates one at a time.
                <br> <img src="class12ISCchap/chemistry/pblockimg/7-1/7.22-1.jpg" alt="" class="img-fluid photo">

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.23</span>
                Assign a reason for the following : <br>
                Sulfur hexafluoride is used as a gaseous electrical insulator
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                Sulphur Hexafluoride used as electrical insulator is an good dielectric gas
                for rich high voltage application
                It is chemically inert,
                non-flameable, non-corrosive , non - toxic.


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.24</span>
                Assign a reason for the following : <br>
                (i) SF<sub>6</sub> is known but SCl<sub>6</sub> is not known.<br>
                (ii) SF<sub>6</sub> is not easily hydrolysed
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>(i)<br><img src="class12ISCchap/chemistry/pblockimg/7-1/7.24.jpg" alt="" class="img-fluid photo"><br>
                Flourine has smaller in size accommodate its six
                atom in given space of sulphur while chlorine being bigger in size is not able to accommodate.
                due to repulsion b/w its six atoms
                SF<sub>6</sub> is known but SCl<sub>6</sub> is not known.<br><br>
                (ii)<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.20.jpg" alt="" class="img-fluid photo">
                <br> Due to the presence of six -flourine atoms in SF<sub>6</sub> it is steric hindrance so water cannot
                attack and SF<sub>6</sub> is not easily hydrolysed.<br>
                Where as in SF<sub>4</sub>
                the lone pair of electron and geometry so it is hydrolysed.<br>

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.25</span>
                Discuss the structures of SO<sub>2</sub> and SO<sub>3</sub>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.25.jpg" alt="" class="img-fluid photo">

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.26</span>
                What is allotropy ? Why is ozone regarded as an allotrope of oxygen
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                Allotropy is the phenomenon of an element existing in two or more physical forms
                different structural modifications of an elements.<br>
                -> ozone is an allotrope of Oxygen<br>
                -> It is 0<sub>3</sub> while normal oxygen is 0<sub>2</sub><br>
                -> ozone absorb harmful ultra-voilet (U.V.) rays from the Sun.


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.27</span>
                Why is ozone used as a disinfectant ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                It is used as an oxidising agent.
                ozone is used as a disinfectant and germicide in the purification of water.<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.27.jpg" alt="" class="img-fluid photo">


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.28</span>
                What is tailing of mercury ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                Tailing of mercury -><br><br>
                (0<sub>3</sub>) it is used as a Laboratory test to detect
                the presence of ozone . ozone is an oxidising agent and its reacts with mercury to form H<SUB>2</SUB>O
                due to which it losses its meniscus and sticks on the wall of the glass this is called tailing of
                mercury<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.28.jpg" alt="" class="img-fluid photo">

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.29</span>
                How is ozone found in the upper atmosphere and how is it useful for us ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                In the upper Layer of atmosphere the ultraviolent rays split the molecules of oxygen (0<sub>2</sub>)
                into its constituents two atoms.
                Each of the atom then combine with another oxygen (0<sub>2</sub>) molecule when gives
                rise to Ozone (0<sub>3</sub>)<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.29.jpg" alt="" class="img-fluid photo">


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.30</span>
                What happens when :<br>
                (i) Ozone is passed in an acidified solution of ferrous sulphate <br>
                (ii) Moist sulphur is treated with ozone <br>
                (iii) Ozone is passed in an aqueous solution of potassium iodide
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.30.jpg" alt="" class="img-fluid photo">
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.30-1.jpg" alt="" class="img-fluid photo">

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.31</span>
                Out of oxygen and ozone which is better oxidising agent and why ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                ozone is a powerful oxidising agent because it
                decompose readily under normal Condition form nascent oxygen which is very reactive radical and
                responsible for the oxidation of number of substance
                <br><img src="class12ISCchap/chemistry/pblockimg/7-1/7.31.jpg" alt="" class="img-fluid photo">

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.32</span>
                How is ozone prepared ? Discuss its structure
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                ozone is an allotropic form of oxygen and exists as a triatomic molecules.
                <br><u class="text-danger">Preparation of ozone-></u><br>
                Ozone is prepared by passing a silent electric discharge is pure and dry dioxygen.<br><br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.32.jpg" alt="" class="img-fluid photo">
                <br>This reaction is endothermic and formation of one mole of ozone involves in the absorption<br>
                <br>The apparatus used for the preparation of ozone is called ozoniser.<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.32-1.jpg" alt="" class="img-fluid photo">




            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.33</span>
                Describe the important oxidation reaction of ozone
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                The important oxidation reaction of ozone are :<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.33.jpg" alt="" class="img-fluid photo">
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.33-1.jpg" alt="" class="img-fluid photo">



            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 7.34</span>
                What happens when : <br>
                (i) Ozone is treated with ethylene<br>
                (ii) Ozone reacts with potassium iodide<br>
                (iii) Black lead sulphide is treated with ozone<br>
                (iv) Ozone is treated with an aqueous solution of potassium manganate ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <u>(i) Ozone is treated with ethylene :</u><br>
                When ozone reacts with unsaturated organic Compounds Containing double bonds to form addition products
                called ozonoid.<br>
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.34.jpg" alt="" class="img-fluid photo"><br>

                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.34-1.jpg" alt="" class="img-fluid photo">
                <img src="class12ISCchap/chemistry/pblockimg/7-1/7.34-2.jpg" alt="" class="img-fluid photo">


            </h5>

        </div>
    </div>

</div>