<!-- Second Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light snav" style="padding: 0px;">
    <div class="container" style="justify-content: end!important;">
        <div class="ss">
            <ul class="navbar-nav" style="flex-direction: row!important;">
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-caret-down"></i>
                        ICSE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/class9">Class 9th</a></li>
                        <li><a class="dropdown-item" href="/class10">Class 10th</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-caret-down"></i>
                        CBSE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/commingsoon">Class 9th</a></li>
                        <li><a class="dropdown-item" href="/commingsoon">Class 10th</a></li>
                        <li><a class="dropdown-item" href="/commingsoon">Class 11th</a></li>
                        <li><a class="dropdown-item" href="/commingsoon">Class 12th</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-caret-down"></i>
                        ISC
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/class11">Class 11th</a></li>
                        <li><a class="dropdown-item" href="/class12">Class 12th</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>