<%- include('../partials/additionalcss.ejs') %>
    <%- include('../partials/secondnav.ejs') %>
        <div class="container">
            <div>
                <h1 style="color:red;">ISC Class 11th Physics</h1>
                <p style="font-size:medium;">
                    <b>Physics is the study of energy and matter in space and time. It deals with how the fundamental
                        constituents
                        of the universe interact.Physics starts emerging as one of the Science disciplines at this level
                        and
                        its
                        beauty lies in its numerical problems. In grade-11, students get to explore the fundamental laws
                        and
                        principles of Physics.
                        IQ Classes content aims to develop an in-depth understanding of these fundamentals and also make
                        sure
                        that students get enough material for practice and reinforcement.
                    </b>
                </p>
                <p><b>The ISC Class 11 Physics syllabus includes concepts like electric Charges and fields , Torque ,
                        Electric Potential, Capacitors and Dielectrics, Gauss Theorem, and many more.

                    </b></p>

            </div>
            <div class="info d-none">
                <span>class11ISC/class11physicsimg</span>
                <div>
                    <h1>Physical World</h1>
                </div>
                <div>
                    <h1>Units and measurement</h1>
                </div>
                <div>
                    <h1>Dimensional Analysis</h1>
                </div>
                <div>
                    <h1>Motion in a Straight Line</h1>
                </div>
                <div>
                    <h1>Motion in a Plane</h1>
                </div>
                <div>
                    <h1>Newton's Law of Motion</h1>
                </div>
                <div>
                    <h1>Friction</h1>
                </div>
                <div>
                    <h1>Uniform circular Motion</h1>
                </div>
                <div>
                    <h1>Work Energy and Power</h1>
                </div>
                <div>
                    <h1>Centre of Mass</h1>
                </div>
                <div>
                    <h1>Rotational Motion</h1>
                </div>
                <div>
                    <h1>Gravitation</h1>
                </div>
                <div>
                    <h1>Elasticity</h1>
                </div>
                <div>
                    <h1>Fluid Pressure</h1>
                </div>
                <div>
                    <h1>Flow of Liquids</h1>
                </div>
                <div>
                    <h1>Surface Tension</h1>
                </div>
                <div>
                    <h1>Thermal Properties of matter</h1>
                </div>
                <div>
                    <h1>Heat Transfer</h1>
                </div>
                <div>
                    <h1>Thermodynamics</h1>
                </div>
                <div>
                    <h1>Isothermal and Adiabatic Process</h1>
                </div>
                <div>
                    <h1>Heat Engine</h1>
                </div>
                <div>
                    <h1>Behaviour of Perfect gas and Kinetic Theory</h1>
                </div>
                <div>
                    <h1>Simple Harmonic Motion</h1>
                </div>
                <div>
                    <h1>Free,Damped and Forced Oscillation</h1>
                </div>
                <div>
                    <h1>Waves</h1>
                </div>
                <div>
                    <h1>Wave Motions</h1>
                </div>
                <div>
                    <h1>Superposition of Waves-1</h1>
                </div>
                <div>
                    <h1>Superposition of Waves-2</h1>
                </div>
                <div>
                    <h1>Vibration of Stretched String</h1>
                </div>
                <div>
                    <h1>Doppler Effect</h1>
                </div>
            </div>

            <!-- PHYSICS SUBJECTS -->
            <div class="container contain bg-light learnblock" style="margin-top: 2em;">
                <div class="row row-cols-1 row-cols-md-3 g-3 mb-3 m-auto allcard">

                </div>
            </div>

            <div>
                <h5 style="color:red;">What are the chapters included in class 11 Physics ISC?</h5>
                <p><b>All chapters of class 11 Physics ISC, in the prescribed syllabus by the ISC
                        <a style="text-decoration: none;"
                            href="https://www.cisce.org/pdf/ISC-Class-XII-Syllabus-2021/18.%20ISC%20Physics.pdf">Click
                            here </a>
                        to get more detailed description of your syllabus.

                        Every chapter have their importance and weightage.
                        Each chapter has various concepts based on NCERT pattern and plays a specific role in
                        improving your
                        skills.
                        Physics chapter list will give you an idea of the entire course coverage. </b></p>
                <h5 style="color:red;">How to start for class 11 Physics ISC?</h5>
                <p><b> Firstly you should clearly understand the syllabus and course structure. Teachers will help
                        you in
                        giving
                        brief introduction about your syllabus and Question paper pattern
                        and will help you to improve your learning levels . <a style="text-decoration: none;"
                            href="https://cisce.org/Class_XI_Specimen_Question_Papers_2019.aspx">Click here for
                            specimen
                            question papers</a>. </b></p>
                <p><b>Slowly understands the concepts and initiate a habit of practice.
                        Always try to clear the concepts of Class 11 Physics ISC that you do not understand.
                        Avoid skipping topics or concepts. Revise crucial topics daily.

                    </b></p>
                <h5 style="color:red;">How can you score good marks in the Physics class 11 ISC?</h5>
                <p><b>If you are well aware of the core concepts then it becomes very easy to attempt problems asked
                        on
                        those concepts. This also motivates you to gain knowledge and excel in studies. </b>

                <p>
                    <li><b> Practice as many numerical problems as possible from ISC Physics sample papers.</b>
                    </li>
                    <li><b>Write down definitions of laws, principles, and theories for continuous reference.</b>
                    </li>
                    <li> <b> Create a list of problematic numerical problems at the end of each chapter or
                            topic.</b></li>


                    </b>
                </p>




                </p>
                <h5 style="color:red;">ISC Class 11 prescribed Physics Books</h5>
                <p><b>Here is a list of the ISC books for Class 11 which students can refer while preparing for
                        their
                        Physics exam which is updated according to the latest ISC syllabus.
                        Students of Class 11 should start their preparation by studying from the textbook of ISC
                        Class 11
                        Physics as it covers the entire syllabus and gives the ample number of questions to
                        practice.
                    </b></p>


                <li><b>A New Approach to ISC Physics Part 1 for Class 11</b></li>
                <li><b>Concise Physics for ISC Class 11</b></li>
                <li><b>S.Chand ISC Physics Book 1 for Class 11</b></li>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            function fli(e) {

                let allcard = $('.thecard');

                let click = false;
                let card = e.children[0];
                let image = e.children[0].children[0].children[1]
                let buttons = e.children[0].children[1].children[1].children[0]


                $(card).toggleClass('rotate')
                setTimeout(() => {
                    $(image).toggleClass('d-none')
                }, 200);
            }
        </script>

        <%- include('../partials/makecard.ejs') %>