<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 59%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .over {
        text-decoration: overline;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">ITF CLASS 12 2.1 EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Give the principal values for the following (1 to 6)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                sin<sup>-1</sup>( <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;2</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/1-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                cos<sup>-1</sup>( <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;2</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/1-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(iii)</span>
                tan<sup>-1</sup>(&radic;3)

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/1-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                sec<sup>-1</sup>( <div class="frac">
                    <span>
                        2
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/2-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                cot<sup>-1</sup>(&radic;3)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/2-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(iii)</span>
                cosec<sup>-1</sup> (&radic;2)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/2-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                cos<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/3-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                tan<sup>-1</sup>(-1)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/3-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(iii)</span>
                cosec<sup>-1</sup>(&radic;2)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/3-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(i)</span>

                cot<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3</span>
                </div> )

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/4-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                sec<sup>-1</sup>
                ( <div class="frac">
                    <span>
                        2
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3</span>
                </div>)

                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/4-2-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/4-2-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(iii)</span>
                sin<sup>-1</sup>(-1)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/4-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(i)</span>

                cos<sup>-1</sup>(cos <div class="frac">
                    <span>
                        4&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/5-1-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/5-1-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                sin<sup>-1</sup>(sin <div class="frac">
                    <span>
                        4&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/5-2-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/5-2-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(iii)</span>
                tan<sup>-1</sup>(tan <div class="frac">
                    <span>
                        3&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">4</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/5-3-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/5-3-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                cos<sup>-1</sup>(cos <div class="frac">
                    <span>
                        5&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/6-1-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/6-1-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                tan<sup>-1</sup>(tan <div class="frac">
                    <span>
                        9&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">8</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/6-2-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/6-2-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(iii)</span>
                sec<sup>-1</sup>(sec <div class="frac">
                    <span>
                        9&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">5</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/6-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Show that :</h5><br>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                tan<sup>-1</sup>(tan <div class="frac">
                    <span>
                        5&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div>) &ne;<div class="frac">
                    <span>
                        5&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div> , what is its value ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/7-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                cos<sup>-1</sup>(cos - <div class="frac">
                    <span>
                        &pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div>) &ne;- <div class="frac">
                    <span>
                        &pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div> , what is its value ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/7-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(iii)</span>
                sin<sup>-1</sup>(sin <div class="frac">
                    <span>
                        5&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>) &ne;<div class="frac">
                    <span>
                        5&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div> , what is its value ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/7-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Find the domain of the following functions</h5><br>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                sin<sup>-1</sup>(1-x)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/8-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                sec<sup>-1</sup>(2x-3)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/8-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                Write the range of one branch of sin<sup>-1</sup>x , Other than the principal branch.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/9.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                Write the range of one branch of cos<sup>-1</sup>x , Other than the principal branch.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/10.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                If cot<sup>-1</sup>(<div class="frac">
                    <span>
                        3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">4</span>
                </div>) = x , find the value of cosx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/11.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                If tan<sup>-1</sup>(<div class="frac">
                    <span>
                        3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">4</span>
                </div>) = x , find the value of cosx and sinx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/12-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                If cot<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">7</span>
                </div>) = x , find the value of cos x and sin x
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/12-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(iii)</span>
                If tan<sup>-1</sup>x = sin<sup>-1</sup> (<div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>), find the value of x
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/12-3-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/12-3-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"> Evaluate the following :</h5> <br>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q13(i)</span>

                cot(tan<sup>-1</sup>&radic;3)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/13-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(ii)</span>
                sin (<div class="frac">
                    <span>
                        &pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div> - sin<sup>-1</sup> (- <div class="frac">
                    <span>
                        &radic;3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/13-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/13-2-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(iii)</span>
                cos (cos<sup>-1</sup> (- <div class="frac">
                    <span>
                        &radic;3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>) + <div class="frac">
                    <span>
                        &pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div> )
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/13-3-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/13-3-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Prove the following :</h5><br>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q14(i)</span>
                sin<sup>-1</sup> (- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>) + cos<sup>-1</sup> (- <div class="frac">
                    <span>
                        &radic;3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>) = <div class="frac">
                    <span>
                        2&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/14-1-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/14-1-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/14-1-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(ii)</span>
                tan<sup>-1</sup>(-1) + cos<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;2</span>
                </div>) = <div class="frac">
                    <span>
                        &pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3</span>
                </div>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/14-2-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/14-2-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/14-2-3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Using the principal values, find the values of :</h5><br>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q15(i)</span>
                cos<sup>-1</sup> (<div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>) - 2 sin<sup>-1</sup> (- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/15-1-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/15-1-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/15-1-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(ii)</span>
                tan<sup>-1</sup>(&radic;3) - cot<sup>-1</sup>(- &radic;3)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/15-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(iii)</span>
                tan<sup>-1</sup>(-1) + cos<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;2</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/15-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(iv)</span>
                cosec<sup>-1</sup>(-1) + cot<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/15-4.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Find the values of the following :</h5><br>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q16(i)</span>
                tan<sup>-1</sup>(2 cos(2 sin<sup>-1</sup>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/16-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(ii)</span>
                tan<sup>-1</sup>(2 sin(2 cos<sup>-1</sup>
                <div class="frac">
                    <span>
                        &radic;3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/16-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Find the values of :</h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q17(i)</span>
                tan<sup>-1</sup>(tan <div class="frac">
                    <span>
                        5&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div>) + cos<sup>-1</sup>(cos <div class="frac">
                    <span>
                        13&pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6</span>
                </div>)
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/17-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(ii)</span>
                tan<sup>-1</sup>(- <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3</span>
                </div>) + cot<sup>-1</sup>( <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3</span>
                </div>) + tan<sup>-1</sup>(sin (-<div class="frac">
                    <span>
                        &pi;
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div>))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/17-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger">Evaluate the following :</h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q18(i)</span>
                cos(sin<sup>-1</sup>(-<div class="frac">
                    <span>
                        3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">5</span>
                </div> ))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/18-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(ii)</span>
                cosec(cos<sup>-1</sup>(-<div class="frac">
                    <span>
                        12
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">13</span>
                </div> ))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/18-2-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/i.t.fimg/2-1/18-2-2.jpg" alt="">
        </div>
    </div>


</div>