<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 55%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">ITF CLASS 12 2.2 EXERCISE</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                    Evaluate the following :
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">(i)</span>
                    <!-- \(sin^{-1}(sin2)\) -->
                    sin<sup>-1</sup>(sin2)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img1(i).jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    sin<sup>-1</sup>(sin5)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img1(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    tan<sup>-1</sup>(tan4)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img1(iii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    tan<sup>-1</sup>(tan(-4))
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img1(iv).jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (v)</span>
                    cos<sup>-1</sup>(cos 10)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img1(v).jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 2 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                    Prove the following :
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup>(<div class="frac">
                        <span>
                            1+x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1-x</span>
                    </div>)= <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>+tan<sup>-1</sup> x,x< 1 </h5>


                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/i.t.fimg/2-2/img2(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/i.t.fimg/2-2/img2(i)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    tan<sup>-1</sup> x+cot<sup>-1</sup> (x+1) =tan<sup>-1</sup>(x<sup>2</sup>+x+1)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img2(ii).jpg" alt="" class="img-fluid">
            </div>
        </div>
        <!-- question 3 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                    Prove the following (for suitable values of x and y) :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup> &radic;x + tan<sup>-1</sup> &radic;y =tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            &radic; x + &radic; y
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1- &radic; xy</span>
                    </div>
                    </span>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img3(i).jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            x+ &radic;x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1-x<sup>3/2</sup></span>
                    </div> = tan<sup>-1</sup> x + tan<sup>-1</sup> &radic;x
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img3(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    tan<sup>-1</sup>(<div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic;3</span>
                    </div> tan <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>)=<div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div> cos<sup>-1</sup> (<div class="frac">
                        <span>
                            1+2cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2+cosx</span>
                    </div>)

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img3(iii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img3(iii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 4 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                    Write the following functions in simplest form :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup> (<span style="font-size: 46px;position: relative;top: 8px;"> &radic;</span>(<div
                        class="frac">
                        <span>
                            1-cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+cosx</span>
                    </div>))

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    tan<sup>-1</sup> (<div class="frac">
                        <span>
                            cosx-sinx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom"> cosx+sinx</span>
                    </div>)

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(ii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    tan<sup>-1</sup> (<div class="frac">
                        <span>
                            2 &radic;x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom"> 1-x</span>
                    </div>)

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(iii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    sin<sup>-1</sup> (<span style="font-size: 46px;position: relative;top: 8px;"> &radic;</span>
                    (<div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+x</span>
                    </div>))

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(iv).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(iv)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (v)</span>
                    tan<sup>-1</sup> (<span style="font-size: 46px;position: relative;top: 8px;"> &radic;</span>
                    (<div class="frac">
                        <span>
                            1-x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+x</span>
                    </div>))

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(v).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vi)</span>
                    cos<sup>-1</sup> (1-2x<sup>2</sup>)

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(vi).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vii)</span>
                    sec<sup>-1</sup> (<div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2x<sup>2</sup>-1</span>
                    </div>)

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(vii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (viii)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic; a<sup>2</sup>-x<sup>2</sup></span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(viii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img4(viii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 5 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q5)</span>
                    Prove that : sin(cot<sup>-1</sup>(cos(tan<sup>-1</sup>x))) = &radic; <div class="frac">
                        <span>
                            x<sup>2</sup> +1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x<sup>2</sup> +2</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img5.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img5-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 6 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q6)</span>
                    Find the value of tan <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>(sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+x<sup>2</sup></span>
                    </div>+cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1-y<sup>2</sup>
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom"> 1+y<sup>2</sup></span>
                    </div>),|x|< 1,y> 0,xy< 1 </h5>


                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/i.t.fimg/2-2/img6.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <!-- question 7 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q7)</span>
                    Prove the following :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>+ tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">11</span>
                    </div> = tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(i)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">7</span>
                    </div>+ tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">13</span>
                    </div> = tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">9</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(ii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    tan<sup>-1</sup>2- tan<sup>-1</sup>1= tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(iii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    tan<sup>-1</sup>1+ tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>+tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(iv).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(iv)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (v)</span>
                    2 tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div> +tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">7</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(v).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(v)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vi)</span>
                    2 tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div> +cot<sup>-1</sup>4= tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            16
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">13</span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(vi).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(vi)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vii)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div> + tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> - tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            8
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">19</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(vii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(vii)-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(vii)-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (viii)</span>
                    cot<sup>-1</sup>1 + cot<sup>-1</sup>2 +cot<sup>-1</sup>3=<div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>


                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(viii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(viii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ix)</span>
                    tan<sup>-1</sup>2 + tan<sup>-1</sup>3 = <div class="frac">
                        <span>
                            3&pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>


                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(ix).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(ix)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (x)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div>+ tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">7</span>
                    </div> + tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div> +tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">8</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>


                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(x).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(x)-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img7(x)-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <!-- question 8 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q8)</span>
                    Prove the following :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic;5</span>
                    </div> + sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic;5</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            4
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> + cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            12
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">13</span>
                    </div> = cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            33
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">65</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> + cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            12
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">13</span>
                    </div> = cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            56
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">65</span>
                    </div>

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(iii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(iii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div> + sec<sup>-1</sup>
                    <div class="frac">
                        <span>
                            &radic; 5
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(iv).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(iv)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (v)</span>
                    cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            4
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> + tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> = tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            27
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">11</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(v).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(v)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vi)</span>
                    cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            5
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic; 41</span>
                    </div> + cot<sup>-1</sup>
                    <div class="frac">
                        <span>
                            4
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(vi).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(vi)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vii)</span>
                    sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            4
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div> + cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic;5</span>
                    </div> = cot<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">11</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(vii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img8(vii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 9 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q9)</span>
                    Evaluate : tan(2 tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>- cot<sup>-1</sup>3)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img9.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <!-- question 10 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q10)</span>
                    Find the values of the following :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan (cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div>+tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(i)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cos(sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div>+sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            5
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">13</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    cot(cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            4
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">5</span>
                    </div>+sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic;13</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(iii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(iii)-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(iii)-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    sin(2 tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div>)+ cos( tan<sup>-1</sup> &radic;3)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(iv).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img10(iv)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 11 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q11)</span>
                    Solve the following equations for x :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    cos<sup>-1</sup> (sin(cos<sup>-1</sup> x)) = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">6</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img11.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img11-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 12-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q12)</span>
                    Solve the following equations for x :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup> (x+1) +tan<sup>-1</sup> (x-1) = tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            6
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">17</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(i)-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(i)-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    tan<sup>-1</sup> ( <div class="frac">
                        <span>
                            x-2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x-3</span>
                    </div>) + tan<sup>-1</sup> ( <div class="frac">
                        <span>
                            x+2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x+3</span>
                    </div>) = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(ii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    tan<sup>-1</sup> ( <div class="frac">
                        <span>
                            x-2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x-4</span>
                    </div>) + tan<sup>-1</sup> ( <div class="frac">
                        <span>
                            x+2
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x+4</span>
                    </div>) = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(iii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(iii)-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(iii)-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    cos (sin<sup>-1</sup> x) = <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">9</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(iv).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(iv)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (v)</span>
                    cos (2 sin<sup>-1</sup> x)= <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">9</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(v).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vi)</span>
                    sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            8
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x</span>
                    </div> + sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            15
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">x</span>
                    </div> = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(vi).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(vi)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (vii)</span>
                    sin<sup>-1</sup> x+ sin<sup>-1</sup> (1-x) = cos<sup>-1</sup> x,x &NotEqual;0

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(vii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (viii)</span>
                    sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2a
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+a<sup>2</sup></span>
                    </div> + sin<sup>-1</sup>
                    <div class="frac">
                        <span>
                            2b
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+b<sup>2</sup></span>
                    </div> = 2 tan<sup>-1</sup> x

                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img12(viii).jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 13-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q13)</span>
                    Find the values of:
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    sin (sin<sup>-1</sup>x+ cos<sup>-1</sup>x), |x| 1
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img13(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cot (tan<sup>-1</sup>x+ cot<sup>-1</sup>x), x &#8712; R
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img13(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 14-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q14)</span>
                    Find the values of:
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    cosec (sin<sup>-1</sup>x+ cos<sup>-1</sup>x), |x| 1
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img14(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cos (sec<sup>-1</sup>x+ cosec<sup>-1</sup>x), |x| 1
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img14(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 15-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q15)</span>
                    Find the values of:
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup> (sin(-<div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>))
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img15(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cos (tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            3
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">4</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img15(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    tan (cos<sup>-1</sup>
                    <div class="frac">
                        <span>
                            8
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">17</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img15(iii).jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 16-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q16)</span>
                    Simplify the following :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup>(
                    <div class="frac">
                        <span>
                            sinx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">1+cosx</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img16(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    tan<sup>-1</sup>(<div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic; 1-x<sup>2</sup></span>
                    </div>),|x| < 1 </h5>


                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/i.t.fimg/2-2/img16(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <!-- question 17-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q17)</span>
                    Solve the following equations for x :
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup>x = sin<sup>-1</sup> (<div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">&radic;2</span>
                    </div>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cos(sin<sup>-1</sup>x)= <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(ii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iii)</span>
                    4 sin<sup>-1</sup>x + cos<sup>-1</sup>x = &pi;
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(iii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(iii)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (iv)</span>
                    sin<sup>-1</sup>x - cos<sup>-1</sup>x = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">6</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(iv).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(iv)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (v)</span>
                    3 tan<sup>-1</sup> x+ cot<sup>-1</sup> x=&pi;
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(v).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img17(v)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>

        <!-- question 18-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (Q18)</span>
                    Find the values of:
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (i)</span>
                    tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div> + tan<sup>-1</sup>
                    <div class="frac">
                        <span>
                            1
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3</span>
                    </div>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img18(i).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    cot<sup>-1</sup> 2 + cot<sup>-1</sup> 3
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img18(ii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <!-- question 19-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q19(i)</span>
                    If tan<sup>-1</sup> x = <div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">10</span>
                    </div> for some x&#8712;R, find the value of cot<sup>-1</sup>x
                </h5>
                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img19(i).jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> (ii)</span>
                    If sin<sup>-1</sup> x +sin<sup>-1</sup> y=<div class="frac">
                        <span>
                            &pi;
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">2</span>
                    </div>,then find the value of cos<sup>-1</sup> x + cos<sup>-1</sup> y

                </h5>
                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/i.t.fimg/2-2/img19(ii).jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</body>