<style>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:wght@300;400&family=Ubuntu&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Nova+Mono&family=Nunito:wght@500&family=Open+Sans:wght@300;400;500&family=Ubuntu&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Fira+Mono&family=Nova+Mono&family=Nunito:wght@500&family=Open+Sans:wght@300;400;500&family=Ubuntu&display=swap");

  h3 {
    font-family: "Open Sans", sans-serif;
  }

  .att {
    background-color: #ffb6c190;
    width: 15%;
    border-radius: 5px;
    margin: auto
  }

  /* Dropdown class */
  .effect3 {
    background-color: transparent !important;
    color: red !important;
    border-radius: 20px !important;
    box-shadow: 0px 5px red !important;
    font-family: "Nunito", sans-serif;
    border: 2px solid red !important;
  }

  .choose {
    display: flex;
    align-content: center;
    justify-content: center;
  }


  .sol2 {
    font-family: "Nunito", sans-serif;
    text-shadow: 1px 1px red;
  }

  h1 {
    font-family: "Alumni Sans Inline One", cursive;
    font-size: 4.5em;

    color: red;
  }

  .mainimg:hover {
    filter: drop-shadow(5px 5px 5px #9f9f9f);
  }

  .a {
    cursor: pointer;
    text-decoration: none;
  }

  .sol {
    font-size: 3em;
    display: flex;
    color: red;
    border: 2px solid;
    border-radius: 24px;
    box-shadow: 10px 10px #fe5353;
    width: 26em;
    font-family: "Nunito", sans-serif;
    text-shadow: 1px 1px red;
    margin-left: 2em;
    align-content: center;
    justify-content: center;
  }

  .lm {
    margin-top: 1.2em !important;
    margin-left: 5em !important;
  }

  .matim {
    margin-top: 2em;
    margin-left: 7em;
  }

  .sci {
    margin-left: 19em;
  }

  .lmm {
    margin-left: 12.6em !important;
  }


  @media only screen and (max-width: 760px) {
    .res {
      margin-left: 4.5em !important;
    }

    .large {
      margin-left: 1.5em !important;
    }

    .att {
      width: 40%;
    }

    .sci {
      margin-left: 0em;
    }

    .matim {
      margin-top: 2em;
      margin-left: 1em;
    }

    .lmm {
      margin-left: 2.5em !important;
    }

    .lm {
      margin-top: 1.2em !important;
      margin-left: 2em !important;
    }

    .choose {
      margin-left: 1em !important;
      margin-top: 1em !important;
    }

    .sol {
      font-size: 2em;
      color: red;
      border: 2px solid;
      border-radius: 24px;
      box-shadow: 10px 10px #fe5353;
      width: 11em;
      margin-left: 0.3em;
      font-family: "Nunito", sans-serif;
      text-shadow: 1px 1px red;
    }
  }
</style>
<h2 class="text-center mb-5 mt-5 sol">Specimen Paper Solutions</h2>


<div class="container">
  <p style="color:rgb(10, 10, 10);font-weight:500; line-height:31px;">
    Sample Papers for Examinations are released by the CISCE and CBSE. These papers are for the examinations which are
    to be conducted in the month of March-April. These sample question
    paper are based on the latest exam pattern PROVIDED BY CISCE AND CBSE. Students can download the
    Sample Papers in PDF format or refer to them online for practice, as per their
    preference. Sample Papers are the best resource for students preparing
    for the board exam . The academic session is divided into two terms with approximately 50%
    syllabus in each term. The Board will conduct examinations at the end of each
    term based on the bifurcated syllabus.
  </p>
</div>
<h2 class="text-center sol2 mt-5 att" style="color: red">Class X</h2>

<h3 class="mt-5 text-center" style="font-weight: 700"><u>ICSE</u></h3>

<div class="container mt-5 bg-light">

  <div class="row mb-5 mt-3 res">
    <div class="col-lg-3">
      <a class="a">
        <img src="specimenimg/phy.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Physics</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a class="a">
        <img src="specimenimg/bio.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Biology</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="/Class10-chem-sol" class="a">
        <img src="specimenimg/che.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Chemistry</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a href="/Class10-comp-sol" class="a"><img src="specimenimg/comp.png" width="200px" height="200px"
          class="mainimg" />
        <h3 class="mx-4 text-danger mt-3">Computers</h3>
      </a>
    </div>
  </div>
  <div class="row mb-5 mt-5 res">
    <div class="col-lg-3 large">
      <a href="/Class10-maths-sol" class="a">
        <img src="specimenimg/matha.png" width="151px" height="151px" class="mainimg" />
        <h3 class="mx-4 mt-3 text-danger">Maths</h3>
      </a>
    </div>
  </div>
</div>
<h3 class="mt-5 text-center" style="font-weight: 700"><u>CBSE</u></h3>
<div class="container mt-5 bg-light">

  <div class="row mb-5 mt-3 res bg-light">

    <div class="col-lg-6">
      <a class="a" href="/class10science">
        <img src="specimenimg/che.png" width="200px" height="200px" class="mainimg sci" />
        <h3 class="mx-5 text-danger mt-3 lmm">Science</h3>
      </a>
    </div>
    <div class="col-lg-6 large">
      <a href="/Class10CBSE-maths-sol" class="a">
        <img src="specimenimg/matha.png" width="151px" height="151px" class="mainimg matim" />
        <h3 class="mx-4 mt-3 text-danger lm">Maths</h3>
      </a>
    </div>

  </div>

</div>
<h2 class="text-center sol2 mt-5 mb-3 att" style="color: red">Class XII</h2>

<h3 class="mt-5 text-center" style="font-weight: 700"><u>ISC</u></h3>
<div class="container mt-5 bg-light">

  <div class="row mb-5 mt-3 res">
    <div class="col-lg-3">
      <a class="a" href="">
        <img src="specimenimg/phy.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Physics</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a class="a" href="">
        <img src="specimenimg/bio.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Biology</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a class="a" href="/Class12ISC-chem-sol">
        <img src="specimenimg/che.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Chemistry</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a class="a" href="/Class12-comp-sol"><img src="specimenimg/comp.png" width="200px" height="200px"
          class="mainimg" />
        <h3 class="mx-4 text-danger mt-3">Computers</h3>
      </a>
    </div>
  </div>
  <div class="row mb-5 mt-5 res">
    <div class="col-lg-3 large">
      <a href="/Class12-maths-sol" class="a">
        <img src="specimenimg/matha.png" width="151px" height="151px" class="mainimg" />
        <h3 class="mx-4 mt-3 text-danger">Maths</h3>
      </a>
    </div>
  </div>
</div>
<h3 class="mt-3 text-center" style="font-weight: 700"><u>CBSE</u></h3>
<div class="container bg-light">

  <div class="row mb-5 mt-5 res">
    <div class="col-lg-3">
      <a class="a" href="">
        <img src="specimenimg/phy.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Physics</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a class="a" href="/cbse-bio">
        <img src="specimenimg/bio.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Biology</h3>
      </a>
    </div>
    <div class="col-lg-3">
      <a class="a" href="/Class12CBSE-chem-sol">
        <img src="specimenimg/che.png" width="200px" height="200px" class="mainimg" />
        <h3 class="mx-5 text-danger mt-3">Chemistry</h3>
      </a>
    </div>
    <div class="col-lg-3 large">
      <a href="/Class12CBSE-maths-sol" class="a">
        <img src="specimenimg/matha.png" width="151px" height="151px" class="mainimg" style="margin-top:3em;" />
        <h3 class="mx-4 mt-3 text-danger">Maths</h3>
      </a>
    </div>

  </div>
  <div class="row mb-5 mt-5 res">
    <!-- <div class="col-lg-3 large">
      <a href="#" style="cursor: pointer; text-decoration: none">
        <img src="specimenimg/matha.png" width="151px" height="151px" class="mainimg" />
        <h3 class="mx-4 mt-3 text-danger">Maths</h3>
      </a>
    </div> -->
  </div>
</div>