<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 69%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>
</head>
</head>

<body class="bg-light">

    <!-- header -->
    <h1 class="text-center text-danger">CLASS 12 RELATIONS & FUNCTIONS EXERCISE 1.4</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q1</span>
                    If ƒ={2, 3, 4, 5} ->{3, 4, 5, 9} and g: {3,4,5,9} ->{7,11,15} are functions defined as
                    ƒ(2)=3,ƒ(3)=4,ƒ(4)=ƒ(5)=5 and g(3)=g(4)=7,g(5)=g(9)=11,find goƒ
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img1-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q2</span>
                    Let A={3,4,5,6} ,B={13,14,15,16} and C={23,24,25}.If
                    <br>
                    <br>
                    ƒ:A->B and g: B->C are defined by
                    <br>
                    ƒ ={(13, 23), (14, 23), (15, 24), (16, 25)},then find goƒ:A->C
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q3</span>
                    Let A={1,2,3,4}.If the functions ƒ:A->A and g: A ->A are defined by
                    <br>
                    <br>
                    ƒ={(1, 4), (2, 1), (3, 3), (4, 2)} and
                    <br>
                    <br>
                    g={(1, 3), (2, 1), (3, 2), (4, 4)},then Find
                    <br>
                    <br>
                    (i) gof (ii)fog (iii) fof
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img3(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img3(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img3(iii).jpg" alt="" class="img-fluid">


            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q4</span>
                    If the functions ƒ and g are given by ƒ={(1, 2), (3, 5), (4, 1)} amd g={(2, 3), (5, 1), (1, 3)}
                    <br>
                    <ol type="i">
                        <li>find the domain of ƒ and g
                            <br>
                            <h5><span class="text-success">Solution </span></h5>
                            <h5 class="text-dark">
                                domain of f= {1,3,4}
                                <br>
                                <br>
                                domain of g={1,2,5}
                            </h5>
                        </li>
                        <li>find the range of ƒ and g
                            <br>
                            <h5><span class="text-success">Solution </span></h5>
                            <h5 class="text-dark">
                                Range of f= {1,2,5}
                                <br>
                                <br>
                                Range of g={1,3}
                            </h5>
                        </li>
                        <li>write ƒog and goƒ as sets of ordered pairs
                            <br>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-4/img4(iii).jpg" alt=""
                                class="img-fluid">
                            <img src="class12ISCchap/maths/relations&functionimg/1-4/img4(iii)-2.jpg" alt=""
                                class="img-fluid">

                        </li>

                    </ol>
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q5</span>
                    Let <b>R</b> be the set of all real numbers.Find goƒ and ƒog when
                    ƒ:R->R and g:R->R are defined by
                    <ol type="i">
                        <li>ƒ(x) = 2x - 1 and g(x) = x<sup>2</sup> + 3 for all x∈R</li>
                        <li>ƒ(x) = x+ 1 and g(x) = |x| for all x∈R</li>
                        <li> f(x) = x<sup>3</sup> - 1 and g(x) = x<sup>2</sup>+2 for all x∈R</li>
                        <li>f(x) = sinx and g(x) = 5x<sup>2</sup> for all x∈R</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img5(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img5(i)-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img5(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img5(iii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q6</span>
                    If ƒ: R->R is defined by ƒ(x) = x<sup>2</sup> - 3x +2 for all x∈R, then find ƒoƒ
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img6.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img6-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q7</span>
                    Let R be the set of all real numbers. If the functions ƒ: R->R and g: R->R are given by f (x) =
                    x<sup>2</sup> + 3x+1 and g(x) = 2 x - 3 for all x∈R,then find
                    <br>
                    <br>
                    (i) fog (ii) gof (iii) fof (iv)gog
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img7.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img7(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img7(iii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img7(iv).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q8</span>
                    if ƒ:R->R and g:R->R are defined by ƒ(x) = x<sup>2</sup> and g(x)=x+1 for all x∈R, show that gof
                    &NotEqual; fog
                    fog.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img8.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q9</span>
                    if ƒ:R->R and g:R->R are defined by ƒ(x) = x+1 and g(x)=x-1 for all x∈R, show that gof = fog
                    =I<sub>R</sub>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img9.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img9-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q10</span>
                    if ƒ:R->R and g:R->R are defined by ƒ(x) = 3x<sup>2</sup>-2 and g(x)=sin 2x respectively find
                    <br>
                    <br>
                    (i)gof (ii) fog (iii)fof
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img10.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q11</span>
                    if ƒ:R->R is defined by f(x)=(3-x)<sup>1/3</sup>,then find (fof)(x)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img11.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q12</span>
                    if ƒ:R->R is given by f(x)=(5-x)<sup>1/5</sup>,then find fof
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img12.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img12-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q13</span>
                    If ƒ(x)=|x| and g(x)=|x| for all x∈R,find
                    <br>
                    <br>
                    (i) (gof)(-5/3)
                    <br>
                    (ii) (fog)(-5/3)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img13(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img13(ii).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img13(iii).jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q14</span>
                    If ƒ(x)=x+7 and g(x)=x-7,find (fog)(7)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-4/img14.jpg" alt="" class="img-fluid">

            </div>
        </div>

    </div>
</body>

</html>