<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 58%;
    }

    .photo {
        width: 40% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">Relation & Function CLASS 12 1.1 EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> Determine whether each of the following relations are reflexive, symmetric and transitive
                :<br> (i) Relation R in the set A = {1, 9, 3, ..., 101} defined by R = {(x, y) :2x — y = 0}.
                <br>(ii) Relation R in the set Z of all integers defined by <br>R = {(x,y) : x — y is an integer}
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/1-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/1-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/1-3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/1-4.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                If the relation R in the set A, where A = {1, 2, 3, 4, 5, 6}, is defined by R = {(x, y) : y is divisible
                by x}, then express R in the roster form. Also determine whether the relation R is <br>(i) reflexive
                <br>(ii) symmetric<br>(iii) transitive
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/2-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                If R is the relation defined on the set of natural numbers N as follows:<br> R = {(x, y); x, y &isin; N,
                2x + y = 41}, find the domain and the range of the relation R.<br> Determine whether the relation is
                reflexive, symmetric and transitive.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/3-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                Determine whether each of the following relations in the set A of human beings in a city at a particular
                time are reflexive, symmetric and, transitive<br>
                (i) R = {(x, y) : x and y work at the same place} <br> (ii) R = {(x, y) : x and y live in the same
                locality}<br>(iii) R = {(x, y) : x is exactly 7 cm taller than y} <br> (iv) R = {(x, y) : x and y live
                within 2 kilometres}
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-5.jpg" alt=""><br>
            <h5>(iv)</h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/4-7.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5</span>
                Determine whether each of the following relations in the set A of students at a particular time are
                symmetric and transitive: <br>(i) R = {(x, y) : x, y &isin; A, x and y are honest)<br> (ii) R = {(x, y):
                x , y &isin; A, x and y are obedient}<br> (iii) R = {(x, y) : x, y &isin; A, x and y are
                hardworking)<br> What are the advantages of students being honest, obedient and hardworking?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/5-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/5-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span>
                Show that the relation R in the set A = {1, 2, 3} given by R = {(1, 1), (2, 2), (3, 3), (1, 2), (2, 3)}
                is reflexive but neither symmetric nor transitive.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/6.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span>
                Determine whether each of the following relation are reflexive , symmetric and transitive <br>
                (i) R = {(a, b) : a, b &isin; N, a < b} <br>(ii) R = {(a, b) : a, b &isin; R, a &le; b }

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/7.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/7-1.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8</span>
                Let T be the set of all triangles drawn in a plane with R as a relation in T given by R =
                {(T<sub>1</sub>, T<sub>2</sub>) : T<sub>1</sub> &cong; T<sub>2</sub>}. Show that R is an equivalence
                relation.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/8.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                Show that the relation R in the set A of all books in a library of a school, given by R = {(x,y) : x and
                y have same number of pages} , is an equivalence relation.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/9.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/9-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                Show that the relation R on the set I of all integers defined by R = {(a, b) : a - b is divisible by 3,
                a, b &isin; I}, is an equivalence relation.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/10.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/10-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                Prove that the relation R in the set A = {5, 6, 7, 8, 9), given by R = {(a, b) : |a - b| is divisible by
                2}, is an equivalence relation. Find all elements related to element

                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/11.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12</span>
                Give examples of relations which are <br>(i) symmetric but neither reflexive nor transitive.<br> (ii)
                transitive but neither reflexive nor symmetric.<br> (iii) symmetric and transitive but not
                reflexive.<br> (iv) symmetric and reflexive but not transitive. <br>(v) reflexive and transitive but not
                symmetric.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/12.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/12-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13</span>

                Give an example of a relation R on A = {a, b, c} which is <br>(i) neither reflexive nor symmetric but
                transitive. <br>(ii) neither symmetric nor transitive but reflexive.<br> (iii) neither transitive nor
                reflexive but symmetric.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-1/13.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14</span>
                Show that the relation S in the set A ={x &isin; Z : 0 &le;x &le;12 } S ={(a, b) : a, b &isin; A, |a—b|
                is divisible by 4} Find the set of elements related to 1.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/14.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/14-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/14-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15</span>

                Show that the relation R in the set A = {x &isin; W , 0&le;x&le;17} given by <br>R={(a,b) : |a — b| is a
                multiple of 5}<br> (ii) R = {(a, b) : a = b}<br> are equivalence relations. Find the set of all elements
                related to 2 in each case.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/15.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/15-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/15-2.jpg" alt="">

            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/15-3.jpg" alt=""><br>
            <h5>(ii)</h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/15-4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/15-5.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16</span>
                If A ={-1,1,3} then what is the number of relations on A?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/16.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17</span>
                (i) If R = {(x, y) : x + 2y = 8} is a relation on N, write the range of R. <br>(ii) Let R = {(a,
                a<sup>3</sup>) : a is a prime number less than 5}. Find the range of R.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/17.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18</span>
                Let A be any non-empty set. State true or false : <br>(i) Identity relation on A is reflexive. <br>(ii)
                Every reflexive relation on A is identity relation on A. <br>(iii) Identity relation on A is symmetric.
                <br>(iv) Identity relation on A is an equivalence relation. <br>(v) Universal relation on A is an
                equivalence relation.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/18.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/18-1.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q19</span>
                State the reason for the relation R in the set {1, 2, 3} given by R = {(1, 2), (2, 1)} not to be
                transitive.


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/19.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20</span>
                Write the smallest equivalence relation on A where A = {2, 3, 4}.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/20.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21</span>
                If A = {0, 1, 2, ..., 9} and the relation R on A is defined by R = {(x, y) : x, y &isin; A, y = 2x + 1},
                then determine whether the relation R is<br>
                (i) reflexive (ii) symmetric (iii) transitive.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/21.jpg" alt="">

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q22</span>
                Is the relation R on the set R of real numbers defined by R = {(a, b) : a, b &isin; R, 1 + ab &ge; 0}
                transitive? Justify your answer.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/22.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q23</span>
                Is the relation R on the set Q of rational numbers defined by R = {(x, y) : x, y &isin; Q, x < y<sup>
                    2</sup>}, symmetric? Justify your answer.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/23.jpg" alt="">

        </div>

    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q24</span>
                If the relation R on the set A = {1, 2, 3} is defined by R = {(1, 1), (2, 2),(3,3),(2,1),(3,2)} then
                determine whether the relation R is <br>(i) reflexive (ii) symmetric (iii) transitive.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/24.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q25</span>
                If R be the relation in the set {1, 2, 3, 4} given by R = {(1, 2), (2, 2),(1, 1), (4, 4),(1, 3), (3, 3),
                (3, 2)}, then determine whether<br>
                (i) R is reflexive and symmetric but not transitive. <br>(ii) R is reflexive and transitive but not
                symmetric.<br> (iii) R is symmetric and transitive but not reflexive.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-1/25.jpg" alt="">

        </div>
    </div>




</div>