<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 76%;
    }

    .photo {
        width: 65% !important;
    }


    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">Relation & Function CLASS 12 1.3 EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> Let A= {1, 2} B= {3, 6}, function f: A -> B be defined by f(x) = 3x and function g: A &rarr;
                B be defined by g(x) = x<sup>2</sup> + 2. Show that f = g
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/1.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                Check the injectivity
                and surjectivity of the following functions<br> (i) f: N&rarr;N defined by f(x) = x<sup>2</sup><br>(ii)
                f: Z &rarr;Z defined by f(x) = x<sup>2</sup> <br>(iii) f: R&rarr;R defined by f(x) = x<sup>2</sup><br>
                (iv) f: N&rarr;Q defined by f(x) = x<sup>3</sup><br> (v) f:Z &rarr;Z defined by f(x) = x<sup>3</sup><br>
                (vi) f:R&rarr;R defined by f(x) = x<sup>3</sup>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/2.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/2-1.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/2-2.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/2-3.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/2-4.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/2-5.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3</span>


                Let I be the set of all integers, Show that the function f: I&rarr;I defined by f(x)=|x| is neither
                one-one nor onto.


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                Show that the function f: R &rarr;R defined by f(x) = 3x<sup>2</sup> - 2 is many-one into
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/4.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5</span>

                let A= {1, 2, 3},B= (4, 5, 6, 7} and f: {(1, 4), (2, 5), (3, 6)} be a function from A to B. Show that f
                is one-one but not onto.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/5.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span>
                In each of the following cases state whether the function is bijective or not. Justify your answer<br>
                (i) f: R &rarr;R defined by f(x) = 2x + 1 <br>(ii) f: R &rarr; R defined by f(x) = 3 - 4x <br>(iii) f :
                R&rarr;R defined by f(x) =1 + x<sup>2</sup>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/6-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/6-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span>
                Let f: R&rarr;R be defined as f(x) = x<sup>4</sup> Show that f is neither One-One nor onto

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/7.jpg" alt="">



        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8</span>
                Let A = R — {2} and B= R - {1}. Show that the function fi A &rarr; B defined by f(x)= <div class="frac">
                    <span>
                        x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x-2</span>
                </div> is bijective.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/8.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                Show that the function f : R -> R defined by f(x) = cos x iS neither one-one nor onto
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/9.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                Show that the function f: I&rarr;I defined by f(x) = x<sup>2</sup> + x is neither one-one nor onto .


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/10.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                If the function f: I -> I is defined by<br>
                <img src="class12ISCchap/maths/relations&functionimg/1-3/11ques.png" alt=""> find,<br>
                (i) f (3) <br>(ii) f (4) <br>(iii) x, if f(x) = -9.<br>
                Is this function one-one?


                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/11.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/11-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12</span>


                Show that the function f: N &rarr; N defined by<br>
                <img src="class12ISCchap/maths/relations&functionimg/1-3/12ques.png" alt=""> find,<br>
                is both one-one and onto.



            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/12.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/12-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13</span>

                Find the number of all one-one functions from the set {1, 2, 3, 4} to itself.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/13.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14</span>
                Show that the function f : Q -> Q defined by f(x) = 3x - 2 is one-one.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/14.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15</span>

                Show that the function f : N &rarr; N defined by f(x) = 2x - 1 is not onto.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/15.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16</span>
                Show that the function f : N —> N defined by f(n) = n<sup>2</sup> is injective.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/16.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17</span>
                Is the function f : N —> N defined by f(m) = m<sup>2</sup> + m + 2 one-one? Justify your answer.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/17.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18</span>
                What is the range of the function f(x) = <div class="frac">
                    <span>
                        |x-1|
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x-1</span>
                </div>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/18.jpg" alt="">

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q19</span>
                Find the domain of the function f(x) = <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">5-3 sinx</span>
                </div>


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/19.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20</span>
                Find the range of the function f (x) = <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2-cosx</span>
                </div>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/20.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/20-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21</span>
                Find the range of the following functions :<br>
                (i) f (x) = sin x + cos x <br>(ii) f(x) = 3 sin x + 4 cos x.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/21.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/21-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/12-1.jpg" alt="">

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q22</span>
                The function f: R -> R is defined by f(x) = |2x -3|.<br>
                (i) Is f one-one? <br>(ii) Is f onto?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/22.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q23</span>
                If A = {1, 2, 3} and B = (3, 5}, then find the number of functions from A to B.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/23.jpg" alt="">

        </div>

    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q24</span>
                If A = {a, b, c} and B = {1, 2, 3, 4}, then find the number of functions from A to B.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/24.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q25</span>
                If A = {a, b} and B = {1, 3, 5}, then find the number of one-one functions from A to B.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/25.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q26</span>
                If A = {a, b, c} and B = {p, q}, then find the number of onto functions from A to B.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/26.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q27</span>
                If A = {1, 2, 3, 4} and B = {-1, 3}, then find the number of onto functions from A to B.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/27.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q28</span>
                If A = {1, 2, 3} and B = {a, B, c}, then find the number of one-one onto functions from
                A to B.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/28.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q29</span>
                If A = {1, 2, 3, 4} and B = {a, b, c}, then find the number of bijections from A to B.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/29.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q30</span>
                Which of the following graphs represent functions? <br>
                <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/30ques.png" alt="">
                <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/30ques-1.png" alt="">

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/30.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q31</span>
                From the graphs of the following functions in x, find their range : <br>
                <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/31ques.png" alt="">
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/31.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q32</span>
                Which of the following graphs represent a one-one function? <br>
                <img class="img-fluid photo" src="class12ISCchap/maths/relations&functionimg/1-3/32ques.png" alt="">
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/relations&functionimg/1-3/32.jpg" alt="">

        </div>
    </div>




</div>