<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 71%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 120%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>
</head>
</head>

<body class="bg-light">

    <!-- header -->
    <h1 class="text-center text-danger">CLASS 12 RELATIONS & FUNCTIONS EXERCISE 1.6</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q1</span>
                    For each binary operation '*' defined below, determine whether * is commutative and whether * is
                    associative :
                    <ol type="i">
                        <li>
                            On Z, defined by a * b = a - b
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1.jpg" alt="" class="img-fluid"
                                style="width: 71%;">
                        </li>
                        <li>
                            On Q, defined by a * b = ab/2
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-1.jpg" alt=""
                                class="img-fluid" style="width: 71%;">>
                        </li>
                        <li>
                            On Q, defined by a * b = ab - 1
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-2.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On R, defined by a * b = 2a + 2b
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-3.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On Q defined by a*b=a-b+ab
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-4.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On R, defined by a * b = b
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-5.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On R - {-1} defined by a * b = a/b+1
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-6.jpg" alt=""
                                class="img-fluid">
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-6(1).jpg" alt=""
                                class="img-fluid">

                        </li>
                        <li>
                            On N, defined by a * b = 1
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-7.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On N, defined by a * b = a<sup>3</sup> + b<sup>3</sup>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img1-8.jpg" alt=""
                                class="img-fluid">
                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q2</span>
                    <ol type="i">
                        <li>Is the binary operation '*' on the set R, given by a * b =a+b/2 for all a,b ∈ R commutative?
                        </li>
                        <li> Is the above binary operation '*' associative?
                        </li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img2(i).jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img2(i)-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q3</span>
                    Let '*' be a binary operation on the set Q of rational numbers given as a * b = (2a-b)<sup>2</sup>
                    a, b ∈ Q. Find 3 * 5 and 5*3. Is 3*5 = 5*3?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img3.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q4</span>
                    Let * be a binary operation on Q as given below :
                    <ol type="i">
                        <li>a*b=a-b
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img4.jpg" alt="" class="img-fluid">

                        </li>
                        <li>a * b = (a-b)<sup>2</sup>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img4(ii).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>a * b = a+ab
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img4(iii).jpg" alt=""
                                class="img-fluid">
                        </li>
                    </ol>
                    <br>
                    Find which of the above binary operations are commutative and which are associative.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q5</span>
                    Let '*' be a binary operation on Q defined by a * b = ab/4
                    <ol type="i">
                        <li>
                            Show that the operation * is commutative as well as associative. <h5><span
                                    class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img5.jpg" alt="" class="img-fluid">
                        </li>
                        <li>
                            It has 4 as identity element. <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img5(ii).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            Every non-zero element is invertible. If a &NotEqual;0 ∈Q, find its inverse.
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img5(iii).jpg" alt=""
                                class="img-fluid">
                        </li>

                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q6</span>
                    Let A={1, 2, 3}, set the composition table for the infimum Operation '^' on A.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img6.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q7</span>
                    Let A={1, 2, 3, 4}, set the composition table for the supermum operation 'v' on A
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img7.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q8</span>
                    If A=W x W and '*' on A be defined by
                    <br>
                    <br>
                    (a,b)*(c,d)= (a + c, b +d), for all (a, b), (c, d) ∈ A, then show that
                    <ol>
                        <li>
                            '*' is a binary operation on A.
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img8(i).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            '*' is commutative On A.
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img8(ii).jpg" alt=""
                                class="img-fluid">

                        </li>
                        <li>
                            '*' is associative on A
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img8(iii).jpg" alt=""
                                class="img-fluid">
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img8(iii)-1.jpg" alt=""
                                class="img-fluid">

                        </li>
                    </ol>
                    <br>
                    Also find the identity element, if any, in A.
                </h5>

            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q9</span>
                    Determine whether or not each of the definition of '*' given below gives a binary operation. In the
                    event that '*' is not a binary operation, give justification.
                    <ol type="i">
                        <li>
                            On Z<sup>+</sup>, defined by a*b=a-b where Z<sup>+</sup> is the set of non-negative
                            integers.
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img9(i).jpg" alt=""
                                class=" img-fluid">
                        </li>
                        <li>
                            On Z<sup>+</sup>, defined by a * b = ab
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img9(ii).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On Z<sup>+</sup>, defined by a * b = |a-b|
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img9(iii).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On Z<sup>+</sup>, defined by a * b = a
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img9(iv).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On Z<sup>+</sup>, defined by a * b = b
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img9(v).jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            On N, defined by a * b = a+b/2
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/relations&functionimg/1-6/img9(vi).jpg" alt=""
                                class="img-fluid">
                        </li>

                    </ol>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q10</span>
                    Let * on I be a binary operation defined by
                    <br>
                    <br>
                    a* b = 2a + b -3.Find 3*4
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img10.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q11</span>
                    Let * on I be a binary operation defined by
                    <br>
                    <br>
                    a * b = 3a + 4b - 2. Find 4 * 5.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img11.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q12</span>
                    If the binary operation '*' on I is defined by a * b = 2a - 3b,then find
                    <br>
                    <br>
                    (i) 3*7 (ii) 7 * 3 (iii) (2 * 5)*4
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img12.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img12-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q13</span>
                    If the binary operation * on the set of integers Z, is defined by a * b = a + 3b<sup>2</sup>, then
                    find the value of 2 * 4
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img13.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q14</span>
                    If the binary operation '*' on N is defined by a * b = a<sup>b</sup>, then find
                    <br>
                    <br>
                    (i)2* 3 &nbsp;&nbsp; (ii) 3*2 &nbsp;&nbsp;(iii) (1 * 2) * 3 &nbsp;&nbsp;&nbsp;(iv) 1 * (2 * 3)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img14.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q15</span>
                    Let * be a binary operation on N given by a * b = HCF (a, b), a, b∈ N. Write the value of 22 * 4.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img15.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q16</span>
                    The binary operation * : R x R -> R is defined as a * b = 2a + b. Find (2 * 3) * 4.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img16.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q17</span>
                    Let * be a binary operation on N given by a * b = LCM (a, b) for all a, b∈N. Find 5 * 7
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img17.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q18</span>
                    Let * be a binary operation, on the set of all non-zero real numbers, given by a * b = ab/5 for all
                    a, b ∈R - {0}. Find the value of x, given that 2 * (x * 5) = 10
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img18.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q19</span>
                    If the binary operation * on the set of integers Z is defined by a * b = a + b - 5, then write the
                    identity element of * in Z.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img19.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q20</span>
                    State whether the following statements are true or false. Justify.
                    <ol type="i">
                        <li>For an arbitrary binary * on N, a *a = a, for all a∈N</li>
                        <li>If * is a commutative binary operation on N, then a * (b * c) = (c * b) * a</li>
                        <li>Every binary operation defined on a set having exactly one element <i>a</i> is necessarily
                            commutative and associative with <i>a</i> as the identity element and <i>a</i> being the
                            inverse of <i>a</i></li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img20.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img20-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q21</span>
                    Let '*' be defined on the set {1, 2, 3, 4, 5} by a * b = LCM of a and b. Is * a binary operation?
                    Justify your answer
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img21.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q22</span>
                    If A = {a,b}, then find the number of binary operations on A.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img22.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q23</span>
                    If A = {1, 2, 3}, then find the number of binary operations on A.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/relations&functionimg/1-6/img23.jpg" alt="" class="img-fluid">

            </div>
        </div>

    </div>
</body>

</html>