<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 120%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>
</head>
</head>

<body class="bg-light">

    <!-- header -->
    <h1 class="text-center text-danger">CLASS 12 DIFFERENTIAL EQUATION EXERCISE 9.5</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q1</span>

                    <ol type="i">
                        <li>
                            (x+y)<sup>2</sup>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =1
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img1(i)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img1(i)-2.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img1(i)-3.jpg" alt="" class="img-fluid">

                        </li>
                        <li>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =(4x+y+1)<sup>2</sup>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img1(ii)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img1(ii)-2.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img1(ii)-3.jpg" alt="" class="img-fluid">

                        </li>

                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q2</span>

                    <ol type="i">
                        <li>
                            (x-y)<sup>2</sup>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =a<sup>2</sup>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img2(i).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img2(i)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img2(i)-2.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img2(i)-3.jpg" alt="" class="img-fluid">

                        </li>
                        <li>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =tan<sup>2</sup> (x+y)
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img2(ii).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img2(ii)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img2(ii)-2.jpg" alt="" class="img-fluid">

                        </li>

                    </ol>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q3</span>

                    <ol type="i">
                        <li>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =(3x+y+4)<sup>2</sup>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img3(i).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img3(i)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img3(i)-2.jpg" alt="" class="img-fluid">

                        </li>
                        <li>
                            cos(x+y) dy=dx
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img3(ii).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img3(ii)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img3(ii)-2.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img3(ii)-3.jpg" alt="" class="img-fluid">

                        </li>

                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q4</span>

                    <ol type="i">
                        <li>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =cos(x+y)
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img4(i).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img4(i)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img4(i)-2.jpg" alt="" class="img-fluid">

                        </li>
                        <li>
                            cos<sup>2</sup>(x-2y)=1-2<div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img4(ii).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img4(ii)-1.jpg" alt="" class="img-fluid">

                        </li>

                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q5</span>

                    <ol type="i">
                        <li>
                            (x+y+1) <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> =1
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img5(i).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img5(i)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img5(i)-2.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img5(i)-3.jpg" alt="" class="img-fluid">

                        </li>
                        <li>
                            <div class="frac">
                                <span>
                                    dy
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">dx</span>
                            </div> = <div class="frac">
                                <span>
                                    x+y-1
                                </span>
                                <span class="symbol">/</span>
                                <span class="bottom">x+y+1</span>
                            </div>
                            <h5><span class="text-success">Solution </span></h5>
                            <img src="class12ISCchap/maths/deimg/9-5/img5(ii).jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img5(ii)-1.jpg" alt="" class="img-fluid">
                            <img src="class12ISCchap/maths/deimg/9-5/img5(ii)-2.jpg" alt="" class="img-fluid">

                        </li>

                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold">Q6</span>
                    Find a particular solution of the differential equation (x + y + 1)<sup>2</sup> dy = dx, given that
                    y = 0 when x = -1.
                </h5>

                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/maths/deimg/9-5/img6.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/deimg/9-5/img6-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/deimg/9-5/img6-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/deimg/9-5/img6-3.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/maths/deimg/9-5/img6-4.jpg" alt="" class="img-fluid">

            </div>
        </div>

    </div>
</body>

</html>