<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .photo {
        width: 68% !important;
    }

    .img-fluid {
        width: 61%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">DIFF. EQ. CLASS 12 9.2 EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> What is the number of arbitrary constants in the general solution of a differential equation
                of order 4?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                What is the number of arbitrary constants in a particular solution of a differential equation of order
                3?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                What is the number of arbitrary constants in the general solution of the differential equation.<br>
                (1 + x<sup>2</sup>) (<div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div>)<sup>3</sup> + y (<div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div>)<sup>4</sup> = 7&radic;x ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                Verify that y = e<sup>-3x</sup> is a solution of the differential equation <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + 3y = 0.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/4.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5</span>
                In each of the following, show that the given function is a solution of the corresponding differential
                equation : <br>
                (i) y = cosx + C : <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + sinx = 0 <br>
                (ii) y = x<sup>2</sup> + 2x + C: y' -2x - 2 = 0 <br>
                (iii) y= Ae<sup>-x</sup>:y'+y=0 <br>
                (iv) y= Ax: xy' = y <br>
                (v) y = e<sup>x</sup> +1 : y"- y' =0

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/5-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/5-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/5-3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span>
                Verify that xy = log y +c is a solution of the differential equation (xy - 1) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + y<sup>2</sup> = 0.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/6.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span>
                Show that y = c<sub>1</sub>e<sup>x</sup> + c<sub>2</sub>e<sup>-x</sup> is the general solution of the
                differential equation <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div> - y = 0<br>

                In each of the following (8 to 14), show that the given function (explicit or implicit) is a solution
                of the corresponding differential equation :
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/7.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8</span>
                y= &radic;(a<sup>2</sup> - x<sup>2</sup>), x&isin; (-a , a) : x + y <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = 0
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/8.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                y = 1/4 (x &plusmn; A)&sup2; : y<sup>2</sup><sub>1</sub> = y
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/9.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                y<sup>2</sup> = 4ax : y= x <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + a <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dy</span>
                </div>

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/10.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/10-1.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                x + y = tan<sup>-1</sup>y: y<sup>2</sup>y’ + y<sup>2</sup> + 1 = 0.

                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/11.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12</span>
                a cos x + b sin x : <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div> + y = 0

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/12.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13</span>

                y = e<sup>-3x</sup> + <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div>+ <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> - 6y = 0
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/13.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14</span>
                y = x sin 3x : <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div> + 9y - 6 cos 3x = 0
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/14.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15</span>


                Show that y = e<sup>-x</sup> + ax + b is a solution of the differential equation e<sup>x</sup>
                <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div> = 1
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-2/15.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16</span>
                Show that y = a cos (log x) + b sin (log x) is a solution of the differential equation <br>
                x<sup>2</sup>
                <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div> + x <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + y = 0
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/16.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17</span>
                Show that y = sin (sin x) is a solution of the differential equation<br>
                <div class="frac">
                    <span>
                        d<sup>2</sup>y
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx<sup>2</sup></span>
                </div> + tanx <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + y cos<sup>2</sup>x = 0
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/17.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/17-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18</span>
                Show that,y = e<sup>m sin<sup>-1</sup>x</sup>,is a solution of the differential equation <br>
                (1-x<sup>2</sup>)y<sub>2</sub> - xy<sub>1</sub> - m<sup>2</sup>y = 0
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/18.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/18-1.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q19</span>
                Show that the differential equation of which y =2(x<sup>2</sup> - 1) ce<sup>-x<sup>2</sup></sup> a
                solution is <br>
                <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + 2xy = 4x<sup>3</sup>


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/19.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20</span>
                Show that y<sup>2</sup> = 4a(x + a) is a solution of the differential equation y (1 -
                y<sub>1</sub><sup>2</sup>) = 2xy<sub>1</sub>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/20.jpg" alt="">
            <img class="img-fluid photo" src="class12ISCchap/maths/deimg/9-2/20-1.jpg" alt="">
        </div>
    </div>





</div>