<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .photo {
        width: 68% !important;
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">DIFF. EQ. CLASS 12 9.4 EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) -->(i) (x<sup>2</sup> + 4) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = 1<br>
                (ii) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = y sin x
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/1.jpg" alt="">

            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/1-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                (i) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = &radic;(4 - y<sup>2</sup>)<br>
                (ii) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + y = 1
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/2-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/2-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                (i) x<sup>5</sup>
                <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = -y<sup>5</sup> <br>
                (ii) x(1 - y<sup>2</sup>)dx + y(1-x<sup>2</sup>)dy = 0 <br>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid " src="class12ISCchap/maths/deimg/9-4/3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/3-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/3-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                (i) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = <div class="frac">
                    <span>
                        x + 1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2 - y</span>
                </div> <br>
                (ii) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = e<sup>x + y</sup>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/4-1.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5</span>
                (i) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = (e <sup>x</sup> + 1)y<br>
                (ii) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + <div class="frac">
                    <span>
                        1 + y<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">y</span>
                </div> = 0

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/5-1.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span>
                (i) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = <div class="frac">
                    <span>
                        1 + y<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1 + x<sup>2</sup></span>
                </div> <br>
                (ii) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = 2<sup> y - x</sup> <br>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/6-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/6-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span>
                (i) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = logx<br>
                (ii) (sin<sup>4</sup>x) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = cosx

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/7.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/7-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/7-2.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8</span>
                (i)e<sup>x</sup>
                <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + 1 = x <br>
                (ii)<div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x</span>
                </div> . <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = tan<sup>-1</sup>x
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/8.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/8-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/8-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/8-3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                (i) y’ = (cos<sup>2</sup>x — sin<sup>2</sup> x) cos<sup>2</sup>y <br>(ii) (xy<sup>2</sup> + x) dx +
                (x<sup>2</sup>y + y) dy = 0.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/9.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/9-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/9-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                (i) (1+ x) (1 + y<sup>2</sup>) dx + (1 + y) (1 + x<sup>2</sup>) dy =0 <br>
                (ii) x &radic;(1- y<sup>2</sup>)dx + y &radic;(1- x<sup>2</sup>)dy = 0

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/10.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/10-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/10-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/10-3.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                (@) cos x cos y dy + sin x sin y dx = 0<br>
                (ii) cos x (1 + cos y) dx - sin y (1 + sin x) dy = 0.
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/11.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/11-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/11-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12</span>
                (i) x (e<sup>2y</sup>- 1) dy + (x<sup>2</sup> - 1) e<sup>y</sup> dx =0 <br>
                (ii) e<sup>x</sup> tan y + (1 - e<sup>x</sup>) sec<sup>2</sup> y dy = 0

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/12.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/12-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/12-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13</span>
                (i) y dx - x dy = xy dx <br>(ii) (1 + y<sup>2</sup>) tan<sup>-1</sup> x dx + 2y(1 + x<sup>2</sup>) dy =
                0 <br>

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/13.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/13-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/13-2.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14</span>
                (i) (1 + x<sup>2</sup>) dy = xy dx <br>(ii) xyy’ = 1 + x + y + xy.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/14.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/14-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/14-2.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15</span>
                (i) y(1 - x<sup>2</sup>) <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = x(1 + y<sup>2</sup>)
                <br>(ii) (y + xy) dx + x (1 - y<sup>2</sup>) dy = 0.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/15.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/15-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/15-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-4/15-3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q16</span>
                <ol type="i">
                    <li>
                        (x<sup>2</sup>- y x<sup>2</sup>) dy + (y<sup>2</sup> + x<sup>2</sup>y<sup>2</sup>) dx = 0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img16(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img16(i)-1.jpg" alt="" class="img-fluid">

                    </li>
                    <li>
                        (e<sup>x</sup> + 1) y dy = (y + 1)e<sup>x</sup> dx

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img16(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img16(ii)-1.jpg" alt="" class="img-fluid">
                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q17</span>
                <ol type="i">
                    <li>
                        <div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div> =e<sup>3x-2y</sup> +x<sup>2</sup> e<sup>-2y</sup>

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img17(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img17(i)-1.jpg" alt="" class="img-fluid">

                    </li>
                    <li>
                        (1+e<sup>2x</sup>)dy +(1+y<sup>2</sup>) e<sup>x</sup> dx=0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img17(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img17(ii)-1.jpg" alt="" class="img-fluid">
                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q18</span>
                <ol type="i">
                    <li>
                        &radic;a+x <div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div> +xy=0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img18(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img18(i)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img18(i)-2.jpg" alt="" class="img-fluid">

                    </li>
                    <li>
                        (x - 1) dy = 2 x<sup>3</sup> y dx

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img18(ii).jpg" alt="" class="img-fluid">
                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q19</span>
                <ol type="i">
                    <li>
                        x log x dy - y dx = 0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img19(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img19(i)-1.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        sin<sup>3</sup> x dx - sin y dy = O
                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img19(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img19(ii)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img19(ii)-2.jpg" alt="" class="img-fluid">

                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q20</span>
                <ol type="i">
                    <li>
                        e<sup>2x-3y</sup> dx + e<sup>2y-3x</sup>> dy = 0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img20(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img20(i)-1.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        log(<div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div>) =2x-3y

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img20(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img20(ii)-1.jpg" alt="" class="img-fluid">
                    </li>
                </ol>
            </h5>


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q21</span>
                if <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> + &radic; <div class="frac">
                    <span>
                        1-y<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-x<sup>2</sup></span>
                </div> =0,show that y&radic;1-x<sup>2</sup> +x&radic; 1-y<sup>2</sup> =A
            </h5>
            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img21.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img21-1.jpg" alt="" class="img-fluid">



        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q22</span>
                Solve the differential equation <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> = 1 + x + y<sup>2</sup> + xy<sup>2</sup>, given that y=0 when x=0
            </h5>
            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img22.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img22-1.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img22-2.jpg" alt="" class="img-fluid">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q23</span>
                Find the particular solution of the differential equation <div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div> - 4xy<sup>2</sup>, given that y=0 when x = 0
            </h5>
            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img23.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img23-1.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img23-2.jpg" alt="" class="img-fluid">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q24</span>
                Solve the following differential equations :
                <ol type="i">
                    <li>2(y + 3) - xy <div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div> = 0, given that y(1) = -2

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img24(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img24(i)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img24(i)-2.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img24(i)-3.jpg" alt="" class="img-fluid">
                    </li>
                    <li>(1 + y2) dx + x dy = 0, given that y (1) = 1

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img24(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img24(ii)-1.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        <div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div> x<sup>2</sup> e<sup>-3y</sup> , given that y = 0 for x = 0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img24(iii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img24(iii)-1.jpg" alt="" class="img-fluid">
                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q25</span>
                Solve the following differential equations :
                <ol type="i">
                    <li> (1 + y<sup>2</sup>) (1 + log x) dx + x dy = 0, given that when x = 1, y = 1

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img25(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img25(i)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img25(i)-2.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        (1 + x<sup>2</sup>)<div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div> + (1 + y<sup>2</sup>) = 0, given that y = 1 when x = 0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img25(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img25(ii)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img25(ii)-2.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        x (1 + y<sup>2</sup>) dx - y (1 + x<sup>2</sup>) dy = 0, given that y = 0 when x = 1

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img25(iii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img25(iii)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img25(iii)-2.jpg" alt="" class="img-fluid">

                    </li>
                </ol>
            </h5>

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q26</span>
                Solve the following differential equations :
                <ol type="i">
                    <li> y'=y tanx , given that y = 1 when x = 0

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img26(i).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img26(i)-1.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        <div class="frac">
                            <span>
                                dy
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">dx</span>
                        </div> = y<sup>2</sup> tan 2x, given that y (0) = 2

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img26(ii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img26(ii)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img26(ii)-2.jpg" alt="" class="img-fluid">
                    </li>
                    <li>
                        y' = y cot 2x, given that y (&pi;/4) = 2

                        <h5><span class="text-success">Solution </span></h5>
                        <img src="class12ISCchap/maths/deimg/9-4/img26(iii).jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img26(iii)-1.jpg" alt="" class="img-fluid">
                        <img src="class12ISCchap/maths/deimg/9-4/img26(iii)-2.jpg" alt="" class="img-fluid">
                    </li>
                </ol>
            </h5>


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q27</span>
                Find the particular solution of cos (<div class="frac">
                    <span>
                        dy
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">dx</span>
                </div>) = a, given that y = 2 when x = 0
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img27.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img27-1.jpg" alt="" class="img-fluid">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q28</span>
                Find the equation of a curve passing through the point (1, 1) whose differential equation is x dy =
                (2x<sup>2</sup> + 1) dx, x&NotEqual;0
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img28.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img28-1.jpg" alt="" class="img-fluid">

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q29</span>
                Find the equation of the curve through the point (1, 0) if the slope of the tangent to the curve at
                any point (x, y) is <div class="frac">
                    <span>
                        y-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup> +x</span>
                </div>
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img29.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img29-1.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img29-2.jpg" alt="" class="img-fluid">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold">Q30</span>
                Find the equation of a curve passing through the point (-2, 3) given that the slope of the
                tangent to the curve at any point (x, y) is <div class="frac">
                    <span>
                        2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">y<sup>2 </sup></span>
                </div>
            </h5>

            <h5><span class="text-success">Solution </span></h5>
            <img src="class12ISCchap/maths/deimg/9-4/img30.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img30.-1.jpg" alt="" class="img-fluid">
            <img src="class12ISCchap/maths/deimg/9-4/img30.-2.jpg" alt="" class="img-fluid">

        </div>
    </div>



</div>