<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .photo {
        width: 68% !important;
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }

        .photo {
            width: 100% !important;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">DIFF. EQ. CLASS 12 9.3 EXERCISE</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> Form the differential equation of the family of straight lines y = mx, where m is arbitrary
                constant.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                Find the differential equation of the family of straight lines y = mx + c, where m, c are
                arbitrary constants.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                Form the differential equation of the family of concentric cirdes x<sup>2</sup> + y<sup>2</sup>= 1,
                where
                (r > 0) is arbitrary constant.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid " src="class12ISCchap/maths/deimg/9-3/3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                Form the differential equation not containing
                the following equations :<br>
                (i) y = ax<sup>3</sup>, a is arbitrary constant<br>
                (ii) x<sup>2</sup>- y<sup>2</sup>= a<sup>2</sup> a is arbitrary constant<br>

                (iii) y = c sin<sup>-1</sup>x, c is arbitrary constant <br>(iv) y<sup>2</sup> = 4ax, a is arbitrary
                constant. <br><br>
                Find the differential equations by eliminating the arbitrary constants and satisfied by the
                following (5 to 11) equations :
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/4-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/4-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/4-3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5</span>
                (i) y = e<sup>mx</sup>, m is arbitrary constant<br> (ii) y = k e<sup>tan<sup>-1</sup>x</sup>, k is
                arbitrary constant

                <br>(iii) y = tan<sup>-1</sup> x + ce<sup>-tan<sup>-1</sup>x</sup>, c is arbitrary constant.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/5-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/5-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span>
                (i) x<sup>2</sup> + (y- b)<sup>2</sup> = 1, b is arbitrary constant <br>(ii) (x - a)<sup>2</sup> -
                y<sup>2</sup> = 1, a is arbitrary constant<br>
                (iii) x<sup>2</sup> + y<sup>2</sup> = ax<sup>3</sup>, a is arbitrary constant.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/6-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/6-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">a</span>
                </div> + <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">b</span>
                </div> = 1 a,b are arbitrary constants<br>


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/7.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8</span>
                (i) y<sup>2</sup>=4a(x-b), a, b are arbitrary constants<br>
                (ii) (y - b)<sup>2</sup> = 4(x - a), a, b are arbitrary constants<br>
                (iii) y<sup>2</sup> = a (b<sup>2</sup> - x<sup>2</sup>), a, b are arbitrary constants.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/8.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/8-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/8-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                (i) y=a cos (x +b), a, b are arbitrary constants.<br>
                (ii) y = A cos 2x + B sin 2x, A, B are arbitrary constants.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/9.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/9-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                (i) y= Ae<sup>2x</sup> + Be<sup>-2x</sup>, A, B are arbitrary constants<br>(ii) y=ae<sup>3x</sup>
                +be<sup>-2x</sup>, a,b are arbitrary constants.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/10.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/10-1.jpg" alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                (i) y = (sin<sup>-1</sup> x)<sup>2</sup> + A cos<sup>-1</sup> x + B where A, B are arbitrary constants.
                <br>(ii) y=e<sup>x</sup> (A cosx + B sinx), A, B are arbitrary constants.
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/11.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/11-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12</span>
                Find the differential equation of the family of curves (x — h)<sup>2</sup> + (y - k)<sup>2</sup> =
                r<sup>2</sup>, where h, k are arbitrary constants.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/12.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/12-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/12-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13</span>

                Find the differential equation of each of the following family of curves: <br>(i) concentric circles
                with centre at (1, 2). <br>(ii) all circles which touch the y-axis at origin.<br>
                (iii) circles in the second quadrant and touching the coordinate axes. <br>(iv) all parabolas having
                their vertices at origin and axis along positive direction of y-axis.
                <br> (v) all parabolas having their vertices at origin and foci on y-axis. <br>(vi) all ellipses whose
                centres are at origin and foci on y-axis. <br>(vii) all hyperbolas having foci on x-axis and centres at
                the origin. <br>(viii) all non-vertical lines in a plane.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-7.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-8.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-9.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-10.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/13-11.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14</span>
                Form the differential equation of the family of circles having centres on y-axis and <br>(i) radius 3
                units <br> (ii) passing through origin.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/14.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/14-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/14-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/14-3.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15</span>

                Form the differential equation of simple harmonic motion given by x = A cos (nt + &alpha;),
                where n is fixed and A, &alpha; are parameters.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/deimg/9-3/15.jpg" alt="">

        </div>
    </div>






</div>