<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 61%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .top {
        margin-top: 2em;
    }

    .bar {
        text-decoration: overline;
    }


    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">Linear-Regression CLASS 12 EXERCISE2</h1>
<!-- v&#8407+v&#8407 -->
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q1</span>
                <!-- sin<sup>-1</sup>( <div class="frac">
                   <span>
                       1
                   </span>
                   <span class="symbol">/</span>
                   <span class="bottom">&radic;2</span>
               </div>) --> If the two lines of regression are 3x - 2y + 1 = 0 and 2x - y - 2 = 0, find x&#772; and
                y&#772;
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2</span>
                If the two coefficients of regression are - 0.6 and - 1.4, find the coefficient of correlation.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3</span>
                Find the regression coefficient of y on x for the following data: &sum;x = 60, &sum;y = 105,
                &sum;x<sup>2</sup> = 800, &sum;y<sup>2</sup> = 2000, &sum;xy = 1200 and n = 10.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/3.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4</span>
                x and y are correlated variables. Ten observations of values of (x, y) have the following results :
                &sum;x = 55, &sum;y = 55, &sum;xy = 350, &sum;x<sup>2</sup> = 385 Predict the value of y when the value
                of x is 6.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/4.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/4-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5</span>
                The following results were obtained with respect to two variables x and y : &sum;x = 30, &sum;y = 42,
                &sum;xy = 199, &sum;x<sup>2</sup> = 184, &sum;x<sup>2</sup> = 318, n = 6,
                Find the following :<br>
                (i) the regression coefficients.<br>
                (ii) correlation coefficient between x and y.<br>
                (iii) the regression equation of y on x.<br>
                (iv) the likely value of y when x = 10. <br>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/5-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/5-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6</span>
                (i) Out of the two regression lines, find the line of regression of Y on X : 3x + 12y = 8, 9x + 3y = 46
                <br>
                (ii) Two regression lines are represented by 2x + 3y—10 = 0 and 4x + y —5 =0. Find the line of
                regression of y on x.<br>
                (iii) Two regression lines are represented by 4x + 10y = 9 and 6x + 3y = 4. Find the regression line of
                y on x.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/6.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/6-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/6-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/6-3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/6-4.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7</span>
                Find the coefficient of correlation from the following regression lines <br> (i) x - 2y + 3 = 0 , 4x -
                5y + 1 = 0<br>
                (ii) 3x + 4y - 7 = 0, 4x + y - 5 = 0.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/7.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/7-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/7-2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8</span>
                If x&#772; = 18, y&#772; = 100, &sigma;<sub>x</sub> = 14, &sigma;<sub>y</sub> = 20 and &rho;(X, Y) = 0.8
                find the regression lines. Estimate the value of y when x = 70 and that of x when y = 90
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/8.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/8-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9</span>
                Following table shows the sales and advertisement expenditure of a firm<br>
                <h6>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td></td>
                            <td>Sales <br>(&#8377; in crores)</td>
                            <td> Advertisement Expenditure <br>( &#8377; in crores)</td>
                        </tr>
                        <tr>
                            <td>Mean <br> Standard deviation</td>
                            <td>40 <br> 10</td>
                            <td>6 <br> 1.5</td>
                        </tr>
                    </table>
                </h6>
                <h5 class="text-danger"> Correlation of coefficient = r = 0.9<br>
                    Estimate the likely sales for a proposed expenditure of &#8377;10 crores</h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/9.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10</span>
                The following table shows the mean and standard deviation of the marks of Mathematics and Physics scored
                by the students of a school:
                <h6>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td></td>
                            <td>Mathematics</td>
                            <td> Physics</td>
                        </tr>
                        <tr>
                            <td>Mean <br> Standard deviation</td>
                            <td>84 <br>7 </td>
                            <td>81 <br> 4</td>
                        </tr>
                    </table>
                </h6>
                <h5 class="text-danger">The correlation coefficient between the given marks is 0.86. Estimate the likely
                    marks in Physics if the marks in Mathematics are 92.</h5>

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/4-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11</span>
                There are two series of index numbers : P for price index and S for stock of a commodity. The mean and
                standard deviation of P are 100 and 8 and of S are 103 and 4 respectively. The correlation coefficient
                between the two series is 0.4. With these data, obtain the regression lines of P on S and S on P.

                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>



            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/11.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12</span>
                The line of regression of marks in statistics (X) on marks in accountancy (Y) for a class of 50 students
                is 3Y — 5X + 180 = 0. <br>Average score in accountancy is 44 and variance of marks in statistics is <div
                    class="frac">
                    <span>
                        9
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">16</span>
                </div> th of variance
                of marks in accountancy. Find the average score in statistics and also the coefficient of correlation
                between marks in statistics and accountancy.

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/12.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13</span>

                From the equations of the two regression lines, 4x + 3y +7 =0 and 3x + 4y + 8 =0, find: <br>(i) the
                means of x and y. <br>(ii) the regression coefficients.<br> (iii) the coefficient of correlation.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/13.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/13-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14</span>
                Two random variables have regression lines 3x + 2y - 26 = 0 and 6x + y-31 = 0. Calculate: <br>(i) the
                mean values of x and y
                <br>(ii) the coefficient of determination
                <br>(iii) the standard deviation of y, given variance of x is 25,
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/14.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/14-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15</span>


                Show that if five students get respectively 1, 2, 3, 4, 5 marks (X) out of 10 in subject A,and 3, 3, 5,
                7, 6 marks (Y) out of 10 in subject B, the regression equation of Y on X can be written as y = 1.8 + x.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/15.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16</span>
                Fit a straight

                line to the following data, treating y as the dependent variable <br>
                <h6>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>x</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>y</td>
                            <td>3</td>
                            <td>7</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                    </table>
                </h6>

                <h5 class="text-danger"> Hence, predict the value of y when x = 6, </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/16.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/16-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17</span>
                Treating x as independent variable, find the line of best fit for the following data :<br>
                <h6>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>x</td>
                            <td>15</td>
                            <td>12</td>
                            <td>11</td>
                            <td>14</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>y</td>
                            <td>25</td>
                            <td>28</td>
                            <td>24</td>
                            <td>22</td>
                            <td>30</td>
                        </tr>
                    </table>
                </h6>
                <h5 class="text-danger"> Hence, predict the value of y when x = 10, </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/17.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/17-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18</span>
                Find the equations of the lines of regression on the basis of following data <br>
                <h6>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>x</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>y</td>
                            <td>166</td>
                            <td>184</td>
                            <td>142</td>
                            <td>180</td>
                            <td>338</td>
                        </tr>
                    </table>
                </h6>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/18.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/18-1.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q19</span>
                A manufacturer of optical lenses has the following data on the cost per unit (in &#8377;)
                of a certain quality of lens and the number of units made in each order:<br>
                <h6>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>
                                <center>Order number</center>
                            </td>
                            <td>
                                <center>No. of units (x)</center>
                            </td>
                            <td>
                                <center>Cost per unit (y)</center>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <center>1<br>2<br>3<br>4<br>5<br>6</center>
                            </td>
                            <td>
                                <center>1<br>3<br>5<br>7<br>10<br>15</center>
                            </td>
                            <td>
                                <center>58<br>52<br>46<br>40<br>37<br>22</center>
                            </td>

                        </tr>
                    </table>
                </h6>
                <h5 class="text-danger">Find the correlation coefficient. Also determine the two regression equations.
                </h5>


            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/19.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/19-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20</span>
                The following observations are given :
                (1, 4), (2, 8), (3, 2), (4, 12), (5, 10), (6, 14), (7, 16), (8, 6), (9, 18)
                Estimate the values of y when the value of x is 10 and also estimate the value of x when
                the value of y is 5.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/20.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/20-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21</span>
                The following table shows the ages x and systolic blood pressure y of 12 women.<br>
                (i) Find the correlation coefficient between x and y.<br>
                (ii) Determine the least squares regression line of y on x.<br>

                (iii) Estimate the blood pressure of a woman whose age is 45 years. <br>
                <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/21ques.png" alt="">

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/21.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/21-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/21-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/21-3.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">

            <h5 class="text-danger"><span class="fw-bold"> Q22</span>
                The following table shows final grades of 10 students in Algebra and Physics. <br>
                <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/22ques.png" alt="">

                <h5 class="text-danger">(i) Find both the least squares lines.<br>
                    (ii) If a student receives 75 marks in Algebra, what is his expected score in Physics?<br>
                    (iii) If a student receives 95 marks in Physics, what is his expected score in Algebra? </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/22.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/22-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/22-2.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/linear-regressionimg/2/22-3.jpg" alt="">
        </div>
    </div>




</div>