<style>
    .col {
        background-image: url('textwater.png');
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>

</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Polymer Exercise15.7</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q27</span>
                    What are polyolefins and polydienes?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Polyolefins</u></b>
                    <br>
                    polyolefins is a type of polymer produced from a simple olefin as a
                    monomer
                    <br>
                    <br>
                    <b class="text-danger">Eg-</b> polyethylene is the polyolefins produced by polymerising the olefin
                    ethylene.
                    <br>
                    <br>
                    <b class="text-danger"><u>Polydienes-</u></b>
                    <br>
                    <br>
                    Polydienes are any polymer of a conjugated diene ; especially one forming a synthetic rubber
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q28</span>
                    What is the difference between polyacrylates and polyesters?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <table class="table table-bordered table-hover" style="width:77%">
                        <tbody>
                            <thead>
                                <th>Polyacrylates</th>
                                <th>Polyesters</th>
                            </thead>
                            <tr>
                                <td>These are addition polymers</td>
                                <td>These are condensation polymers having an ester Linkage</td>
                            </tr>
                            <tr>
                                <td>these are synthesised from various types of acrylic monomers.
                                </td>
                                <td>Terylene is synthesised by the condensation of ethylene glycol and terephthalic
                                    acid</td>
                            </tr>

                        </tbody>
                    </table>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q29</span>
                    What is the difference between nylon-6 and nylon-66?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <table class="table table-bordered table-hover" style="width:77%">
                        <tbody>
                            <thead>
                                <th>Nylon-66</th>
                                <th>Nylon-6</th>
                            </thead>
                            <tr>
                                <td>It is the co-polymer of
                                    adipic acid and Hexamethylene-deamine</td>
                                <td>It is the polymer of
                                    caprolactam</td>
                            </tr>
                            <tr>
                                <td>Hydrogen bonds are present
                                </td>
                                <td>Comparatively less H-bond</td>
                            </tr>
                            <tr>
                                <td>In the molecules of its polymer chain there
                                    are 6-c atoms of acid-amine</td>
                                <td>In the molecules of its polymer chain there are only 6-c atoms</td>
                            </tr>
                            <tr>
                                <td>The tensile strength of nylon thread is high</td>
                                <td>Low tensile strength of its thread</td>
                            </tr>

                        </tbody>
                    </table>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q30</span>
                    What is bakelite? How is buna-S obtained?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Bakelite</u></b>
                    <br>
                    <br>
                    It is a polymer obtained by the polymerisation of phenol and formaldehyde.
                    Buna-s is obtained by copolymerisation of styrene and 1,3 -butadiene.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img30.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q31</span>
                    What is a polyamide? How is nylon-6 synthesised?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Polyamides</u></b>
                    <br>
                    <br>
                    the Condensation polymers containing diamines and dibasic
                    acids Linked through the amides Linkage (CONH) are known as polyamides.
                    <BR>
                    <BR>
                    <b class="text-danger"><u>Synthesis of Nylon-6-</u></b> u caprolactam is the monomer unit of nylon
                    -6,when caprolactam is
                    heated with water,it gives aminocarpic acid.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img31.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q32</span>
                    Briefly describe the following terms giving one example of
                    each :
                    <ol type="i">
                        <li>Polyolefins </li>
                        <li>Polyamides </li>
                        <li>Polyesters</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Polyolefins</u></b>
                    <br>
                    polyolefins is a type of polymer produced from a simple olefin as a
                    monomer
                    <br>
                    <br>
                    <b class="text-danger">Eg-</b> polyethylene is the polyolefins produced by polymerising the olefin
                    ethylene.
                    <br>
                    <br>
                    <b class="text-danger"><u>Polyamides</u></b>
                    <br>
                    <br>
                    the Condensation polymers containing diamines and dibasic
                    acids Linked through the amides Linkage (CONH) are known as polyamides.
                    <BR>
                    <br>
                    <b class="text-danger"><u>Polyesters-</u></b>
                    <br>
                    <br>
                    These are condensation polymers having an ester Linkage
                    <br>
                    Terylene is synthesised by the condensation of ethylene glycol and terephthalic acid
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q33</span>
                    Arrange the following polymers in the increasing order of
                    their intermolecular forces. Also classify them as addition and
                    condensation polymers.
                    <br>
                    Nylon 6, Neoprene, PVC
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img33.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    Addition Polymer-Neoprene,PVC
                    <br>
                    Condensation Polymer-Nylon-6
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q34</span>
                    Write equations for the preparation of the following :
                    <ol type="a">
                        <li>Buna-S </li>
                        <li>Nylon-6</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>Buna-S Preparation-</u></b>
                    <br>
                    <br>
                    Buna-s is obtained by copolymerisation of styrene and 1,3-butadiene
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (ii) <b class="text-danger"><u>Nylon-6 Preparation-</u></b>
                    <br>
                    <b class="text-danger">Nylon-6 obtained-</b>
                    <br>
                    caprolactum is the monomer unit of nylon -6, when caprolactam is
                    heated with water ,it gives aminocarpic acid.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q35</span>
                    What are elastomers? Give the chemical equations for the
                    preparation of Buna-S.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Elastomers-</u></b>
                    <br>
                    <br>
                    In elastomeric polymer, the polymer chain are held together by
                    weakest intermolecular forces.
                    <br>
                    <br>
                    ->These weak binding forces permit the polymer to the stretched.
                    <br>
                    <br>
                    <b class="text-danger">Eg-</b>Buna-S,Neoprene etc.
                    <br>
                    <br>

                    ->Structural formulae of 1,3 Butadiene is
                    <br>
                    CH<sub>2</sub>=CH-CH=C,this monomer of Buna-S.
                    <br>
                    <br>
                    <b class="text-danger"><u>Buna-S Preparation-</u></b>
                    <br>
                    <br>
                    Buna-s is obtained by copolymerisation of styrene and 1,3-butadiene
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q36</span>
                    What are copolymers? Give chemical equation for
                    preparation of terylene.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Co-polymer</u></b>
                    <br>
                    <br>
                    A polymer made up of two or monomer species
                    <br>
                    <b class="text-danger">Eg-</b> Polyethylene-Vinylacetate(PEVA)
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img36.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q37</span>
                    What is Buna-S? Name the monomers used in its preparation.
                    Mention its uses.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Buna-S is a synthetic rubber. The monomers used for it is a butadiene and styrene.
                    <br>
                    <br>
                    <b class="text-danger"><u>Buna-S Preparation-</u></b>
                    <br>
                    <br>
                    Buna-s is obtained by copolymerisation of styrene and 1,3-butadiene
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <b class="text-danger"><u>Uses-</u></b>
                    <br>
                    It is used for making automobiles tyres,floortiles,footwear,cable etc.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q38</span>
                    Explain the difference between chain growth and step growth
                    polymerisation. How is nylon-66 synthesised ?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <table class="table table-bordered table-hover" style="width:77%">
                        <tbody>
                            <thead>
                                <th>Chain growth polymerisation</th>
                                <th>step growth polymerisation</th>
                            </thead>
                            <tr>
                                <td>Chain growth polymerization is the formation of polymers from unsaturated monomers
                                </td>
                                <td>step growth polymerisation is the formation of a polymer from bi-functional</td>
                            </tr>
                            <tr>
                                <td>polymer chain is
                                    formed at the beginning by the attachment of one monomer at a time
                                </td>
                                <td>oligomers are formed at the beginning and are later combined together </td>
                            </tr>
                            <tr>
                                <td>Monomers are unsaturated</td>
                                <td>Monomers are bi-functional</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <b class="text-danger">nylon-66 synthesised-</b> by poly condensation at hexamethylene
                    -diamine and adipic acid.
                    Equivalent amounts of hexamethyldiamine and adipic acid are combined with water in a reactor.
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q39</span>
                    Write equations for the synthesis of the following polymers:
                    <ol type="a">
                        <li>Glyptal </li>
                        <li>Teflon</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>Glyptal</u></b>
                    <br>
                    <br>
                    Glyptal is a condensation polymer of ethylene glycol and phthalic acid
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img39.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (ii) <b class="text-danger"><u>Teflon</u></b>
                    <br>
                    <br>
                    Tetraflouroethylene is the monomer that undergoes addition polymerisation to form teflon
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img39-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q40</span>
                    How are Buna-S and Terylene synthesised? Give chemical
                    equations.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img40.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <b class="text-danger"><u>Buna-S Preparation-</u></b>
                    <br>
                    <br>
                    Buna-s is obtained by copolymerisation of styrene and 1,3-butadiene
                    <br>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q41</span>
                    Name the polymer used for making unbreakable crockery.
                    How is it prepared?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Melamine formaldehyde resin is the polymer used for making plastic crockery.
                    <br>
                    <br>
                    It is used in making plastic (unbreakable ) crockery.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img41.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q42</span>
                    Write the names and structures of the following polymers
                    <ol type="a">
                        <li>PVC </li>
                        <li>PMMA </li>
                        <li>PCTFE. </li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>PVC-</u></b>
                    <br>
                    The monomer of PVC is venyl chloride
                    <br>
                    CH<sub>2</sub>=CHCl-
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img42.jpg" alt="" class="img-fluid">
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img42-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q43</span>
                    How would you prepare nylon-6 from cyclohexane? Write
                    chemical equations.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Nylon-6 Preparation-</u></b>
                    <br>
                    <b class="text-danger">Nylon-6 obtained-</b>
                    <br>
                    caprolactum is the monomer unit of nylon -6, when caprolactam is
                    heated with water ,it gives aminocarpic acid.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q44</span>
                    Write the names of monomers of bakelite. State whether
                    bakelite is a thermoplastic or a thermosetting plastic. Give
                    reasons for your answer.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Bakelite is a polymer made up of the monomers phenol and formaldehyde.
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img44.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q45</span>
                    Write the monomers of (i) Teflon and (ii) Nylon-66. Give one
                    use of each polymer.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Teflon</u></b>
                    <br>
                    <br>
                    Tetraflouroethylene is the monomer that undergoes addition polymerisation to form teflon
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img39-1.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <b class="text-danger"><u>Nylon-66</u></b>
                    <br>
                    <br>
                    <b class="text-danger">nylon-66 synthesised </b> by poly condensation at hexamethylene
                    -diamine and adipic acid.
                    Equivalent amounts of hexamethyldiamine and adipic acid are combined with water in a reactor.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q46</span>
                    State the significance of numbers in the polymers nylon-6 and nylon-66. Write the monomers used for
                    making nylon-66
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Nylon -6 is a Condensation polymer of monomeric unit which is Caprolactam which contains 6-c atoms.
                    Hence 6 in Nylon 6 represents the number of C-atoms.
                    <br>
                    Nylon-66 is a Condensation polymer of two different monomeric units that is adipic acid and
                    hexamethylene 6 - carbon atoms.

                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q47</span>
                    Write the names and structures of monomers of each of the following polymers:
                    <ol>
                        <li>Natural rubber</li>
                        <li>Buna-S</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>Natural rubber-</u></b>
                    <br>
                    <br>
                    monomer of the natural rubber is isoprene(2-methyl-1,3butadiene)
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img47.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (ii) <b class="text-danger"><u>Buna-S Preparation-</u></b>
                    <br>
                    <br>
                    Buna-s is obtained by copolymerisation of styrene and 1,3-butadiene
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q48</span>
                    Name the monomers with structure for the following polymers:
                    <ol type="i">
                        <li>Nylon-66</li>
                        <li>Neoprene</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>Nylon-66</u></b>
                    <br>
                    <br>
                    Monomer of Nylon-66-> caprolactum
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img48.jpg" alt="" class="img-fluid">
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img48-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q49</span>
                    Write the names and the structures of monomers of following polymers:
                    <ol type="i">
                        <li>Natual rubber</li>
                        <li>Terylene</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Natural rubber-</u></b>
                    <br>
                    <br>
                    monomer of the natural rubber is isoprene(2-methyl-1,3butadiene)
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img47.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <b class="text-danger"><u>Terylene-</u></b>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img49.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q50</span>
                    Write the monomers for the following
                    <ol type="i">
                        <li>Teflon</li>
                        <li>Cellulose </li>
                        <li>Neoprene </li>
                        <li>Polythene</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/polymersimg/15-7/img50.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q51</span>
                    What are elastomers? Write the chemical equation to represent the preparation of Buna-S.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Elastomers-</u></b>
                    <br>
                    <br>
                    In elastomeric polymer, the polymer chain are held together by
                    weakest intermolecular forces.
                    <br>
                    <br>
                    ->These weak binding forces permit the polymer to the stretched.
                    <br>
                    <br>
                    <b class="text-danger">Eg-</b>Buna-S,Neoprene etc.
                    <br>
                    <br>

                    ->Structural formulae of 1,3 Butadiene is
                    <br>
                    CH<sub>2</sub>=CH-CH=C,this monomer of Buna-S.
                    <br>
                    <br>
                    <b class="text-danger"><u>Buna-S Preparation-</u></b>
                    <br>
                    <br>
                    Buna-s is obtained by copolymerisation of styrene and 1,3-butadiene
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q52</span>
                    Write equations used for the synthesis of
                    <ol type="i">
                        <li>Terylene</li>
                        <li>Neoprene</li>
                        <li>Glyptal</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Terylene</u></b>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img49.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img52.jpg" alt="" class="img-fluid">
                    <br>
                    (c) <b class="text-danger"><u>Glyptal</u></b>
                    <br>
                    <br>
                    <b class="text-danger">Synthesis of Glyptal-</b> Glyptal is a condensation polymer of ethylene
                    glycol
                    and phthalic acid
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img39.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q53</span>
                    Write the mode of free radical polymerisation of an alkene.
                    Clearly indicate the role of an initiator in it.-
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Free radical polymerisation of an alkene the polymerisation
                    takes place through the generation of an initiator,which is a molecule which decompose to form free
                    radical.
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img53.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    The addition occurs as
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img53-1.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    t-butyl peroxide and Benzoyl peroxide are generally used as initiators because they decompose under
                    mild conditions to form free radicals.
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img53-2.jpg" alt="" class="img-fluid">
                    <br>
                    The free radical is called an initiater because it starts the reaction
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q54</span>
                    Write the structures of monomers used for getting (a) PVC
                    and (b)PMMA
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>PVC-</u></b>
                    <br>
                    The monomer of PVC is venyl chloride
                    <br>
                    CH<sub>2</sub>=CHCl-
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img42.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q55</span>
                    How are the following prepared?
                    <ol type="a">
                        <li>Dacron</li>
                        <li>Bakelite</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>Dacron-</u></b>
                    <br>
                    <br>
                    Dacron is obtained by heating to terephthalic acid with ethylene glycol at 425-475k.
                    <br>
                    It is a condensation polymers.
                    <br>
                    <br>
                    (ii) <b class="text-danger"><u>Bakelite</u></b>
                    <br>
                    It is prepared by the condensation reaction of phenol and formaldehyde,monomer unit
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img55.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q56</span>
                    <ol type="a">
                        <li>How does vulcanisation change the properties of natural
                            rubber? </li>
                        <li>Why are the numbers 66 and 6 put in the name of
                            nylon-66 and nylon-6? </li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <ol type="a">
                        <li>
                            On vulcanisation,sulphur forms cross-link at the reactive sites of double bonds due to which
                            rubber becomes stiff.
                        </li>
                        <li>Nylon -6 is a Condensation polymer of monomeric unit which is Caprolactam which contains 6-c
                            atoms.
                            Hence 6 in Nylon 6 represents the number of C-atoms.
                            <br>
                            Nylon-66 is a Condensation polymer of two different monomeric units that is adipic acid and
                            hexamethylene 6 - carbon atoms.
                        </li>
                    </ol>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q57</span>
                    How is bakelite made and what is its major use? Why is
                    bakelite a thermosetting polymer?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">

                    <b class="text-danger"><u>Bakelite</u></b>
                    <br>
                    It is prepared by the condensation reaction of phenol and formaldehyde,monomer unit
                    <br>
                    <br>
                    <b class="text-danger">Uses-</b>
                    <br>
                    Due to its high tensile strength it is used for making many products such as telephone, electrical
                    gadgets etc.
                    <br>
                    <br>
                    Bakelite is a thermosetting polymer. It is formed from formaldehyde and phenol.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q58</span>
                    What are biodegradable polymers? Write the structural
                    formula of a biodegradable polymer.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    The polymers which Can decompose in a few days are decomposed by The action of microorganisms are
                    known as
                    Biodegradable polymers.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img58.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q59</span>
                    Draw the structure of monomer of each of the following
                    polymers :
                    <ol type="i">
                        <li>Polyvinylchloride (PVC)
                        </li>
                        <li>Nylon-6 </li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>PVC-</u></b>
                    <br>
                    The monomer of PVC is venyl chloride
                    <br>
                    CH<sub>2</sub>=CHCl-
                    <br>
                    <br>
                    <b class="text-danger"><u>Nylon-6 </u></b>
                    <br>
                    <b class="text-danger">Nylon-6 obtained-</b>
                    <br>
                    caprolactum is the monomer unit of nylon -6, when caprolactam is
                    heated with water ,it gives aminocarpic acid.
                    <br>
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img34-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q60</span>
                    Write formulae of the monomers of polythene and teflon.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <img src="class12ISCchap/chemistry/polymersimg/15-7/img60.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>

    </div>