<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 75% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  POLYMERS CLASS 12 15.4 EXERCISE
</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 15.1</span>
        What do you understand by the terms polymers and polymerisation?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">(i) Polymer :</b></u> is a large molecule of very high molecular mass formed by the
        repeated combination of a very large number of one or more type of small molecules<br><u><b
            class="text-danger">(ii) Polymerization :</b></u> the process by which monomer molecules combine together to
        form a polymer is called polymerization



      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 15.2</span>
        Explain the difference between the chain and the step growth
        polymerisation . How is nylon-66 synthesised?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-2.jpg" alt="" />

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.3</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->

        What are thermosetting and thermoplastics ? Give one example of each type.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger"> Thermosetting :</b></u> The polymers which on heating change
        irreversibly into hard rigid and infusible material
        are called thermosetting polymers.<br>
        Eg : phenol-formaldehyde (bakelite) resins.<br>

        <u><b class="text-danger"> Thermoplastics :</b></u> The polymers in which the intermolecular force of attraction
        are
        intermediary attraction to those off elastomers and fibres are called
        thermoplastics.<br>
        Eg : polyethene, teflon , (PVC) etc.


      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.4</span>
        Define the terms <br>(i) Thermoseting plastics, <br>(ii) Step growth polymerization
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger"> Thermosetting :</b></u> The polymers which on heating change
        irreversibly into hard rigid and infusible material
        are called thermosetting polymers.<br>
        Eg : phenol-formaldehyde (bakelite) resins.<br>
        <u><b class="text-danger"> Step growth polymerization :</b></u>
        Step growth Polymerization
        formation of a polymer
        from bi-functional <br>Obligomers are formed at the beginning and are later combined together.





    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.5</span>
        Define a polymer.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Polymer :- is a large molecule of very high molecular mass formed by the repeated combination of a very large
        number of one or more types of small molecules.



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.6</span>
        Define number average molecular mass and weight average
        molecular mass of a polymer.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-6.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-6-1.jpg" alt="" />


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.7</span>
        Name the property which is employed to determine the <br>
        (a) number-average molecular mass,<br> (b) mass-average molecular mass.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) Osmometry is applied to determine no. average of molecular wt. (M<sub>n</sub>)<br>
        (ii) Osmotic pressure measurement is prefered for molar mass determination because even in dilute solution the
        osmotic pressure values are appreciably high
        can be measured at room temperature.





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.8</span>
        What is polydispersity index? What does the term
        'polydispersity' index greater than one mean?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        <u><b class="text-danger">Polydispersity Index :</b></u> The ratio of the weight average Molecular mass
        and the
        number average molecular mass of a polymer is called PDI <br>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-8.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.9</span>
        Define the following terms: <br>(i) Thermoplastics <br>(ii) Thermosetting plastics
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger"> Thermosetting :</b></u> The polymers which on heating change
        irreversibly into hard rigid and infusible material
        are called thermosetting polymers.<br>
        Eg : phenol-formaldehyde (bakelite) resins.<br>

        <u><b class="text-danger"> Thermoplastics :</b></u> The polymers in which the intermolecular force of attraction
        are
        intermediary attraction to those off elastomers and fibres are called
        thermoplastics.<br>
        Eg : polyethene, teflon , (PVC) etc.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.10</span>
        Arrange the following polymers in the increasing order of
        their intermolecular forces. Also classify them as addition and
        condensation polymers.
        Nylon-66, Buna-S , polythene
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The increasing order of intermolecular forces<br><b class="text-danger">Buna -S < polyethene < Nylon 66</b><br>
            Nylon 66 - condensation polymer.<br>
            Buna-S, polyethene - Addition polymer




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.11</span>
        Differentiate between elastomers and fibres on the basis of intermolecular forces. Give one structural formula
        of each type of polymers.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b>1.) Elastomers</b></u> => In elastomeric polymer, the polymer
        are need together by
        weakest intermolecular forces.<br>
        -> These weak binding forces permit the polymer to the stretched.
        Eg : Buna- S , Neoprene etc.<br>
        <b><u class="text-danger"> Structural formulae of Butadiene is</u></b><br>
        CH<SUB>2</SUB>=CH-CH=C is monomer of Buna-S.<br>
        <u><b>2.) Fibres </b></u>=> In these polymers , the chain are held together by the strong intermolecular forces
        like H-bonding.<br>
        Eg : Nylon 66 , polyesters etc.<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-11.jpg" alt="" />


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.12</span>
        Comment on the main structural difference between thermoplastics and thermosetting polymers What effect does the
        difference have on their properties ?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-12.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold">15.13 </span>
        Mention which of the following are addition polymers.<br>
        <br> (i) Terylene <br>(ii) Nylon-66 <br>(iii) Neoprene <br>(iv) Teflon
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Many Common addition polymers are formed from saturated monomers (usually having a C = C double bond).<br>
        Eg : PVC , Teflon, Buna rubbers.<br>
        Teflon is addition polymer.<br>




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.14</span>
        Explain the following processes with a suitable example in
        each case : <br>(i) Chain-growth polymerisation
        <br>(ii) Step-growth polymerisation.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-14.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.15</span>
        Give one example for each of the following :<br> (i) Thermoplastic polymer <br>(ii) Natural polymer
        <br>(iii) Condensation polymer <br>(iv) Chain-growth polymer
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        1.) Thermoplastic polymer - (polyethene , teflon, PVC etc)<br>
        2.) Natural polymer - (silk , wool , DNA , etc)<br>
        3.) condensation polymer - (Terylene or dacron)<br>
        4.) Chain-growth polymer - (polypropylene (PP), PVC etc.)


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.16</span>
        Write the names and structures of the monomers of each of the following polymers :<br>
        (i) Natural rubber <br>(ii) Buna-S
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-16.jpg" alt="" />

      <h5>


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.17</span>
        What is the difference between elastomers and fibres?
        Illustrate with an example of each.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <u><b>1.) Elastomers</b></u> => In elastomeric polymer, the polymer
        are need together by
        weakest intermolecular forces.<br>
        -> These weak binding forces permit the polymer to the stretched.
        Eg : Buna- S , Neoprene etc.<br>
        <b><u class="text-danger"> Structural formulae of Butadiene is</u></b><br>
        CH<SUB>2</SUB>=CH-CH=C is monomer of Buna-S.<br>
        <u><b>2.) Fibres </b></u>=> In these polymers , the chain are held together by the strong intermolecular forces
        like H-bonding.<br>
        Eg : Nylon 66 , polyesters etc.<br>



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.18</span>
        How are polymers classified into different categories on the
        basis of intermolecular forces? Give an example of a polymer
        of each of these categories.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        On the basis, of intermolecular forces the polymers are classified as : <br>

        (1.) Elastomers - Natural rubber<br>
        (2.) Fibres - wool<br>
        (3.) Thermoplastic polymers - Polycarbonate<br>
        (4.) Thermosetting polymers - silicone.<br>



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.19</span>
        How do the thermoplastic polymers differ from thermosetting
        polymers in their mode of formation? Give an example of
        each.


      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        Thermoplastic polymers are linear (slightly branched) long chain polymers which can be repeated softened and
        hardened on heating. Hence, they can be
        modified again.<br>
        Example : Polythene, Polystyrene.<br><br>
        Thermosetting polymers are cross-linked or heavily branched polymers which get hardened during the molding
        process .These plastics cannot be softened again
        on heating <br>
        Example : bakelite, urea-formaldehyde resin



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.20</span>
        In terms of its mode of formation how is chain growth
        polymerisation different from step growth polymerisation?
        Give an example of each.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-20.jpg" alt="" />
      <h5>


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.21</span>
        Differentiate between addition and condensation polymers
        based on mode of polymerisation. Give an example of each
        type.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        The addition polymers are obtained by the repeated addition of monomer molecules possessing double or triple
        bond.<br>
        <br> <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-21.jpg" alt="" /><br>
        The condensation polymers are formed by a repeated condensation reaction between that takes place between
        monomeric units having bi-functional or tri-functional<br>
        Example : Terylene , nylon 6,6





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.22</span>
        What is meant by copolymerisation? Give an example of such
        a polymer.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        When the polymers are synthesised by polymerisation of two or more than two different monomers they are scalded
        copolymer and this process is called
        Copolymerisation.<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-22.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.23</span>
        What is the difference between thermosetting and
        thermoplastic polymers? Give an example each.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/polymersimg/15-4/15-23.jpg" alt="" />


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.24</span>
        Differentiate between a homopolymer and a copolymer. Give
        an example of each type.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        Homopolymer :- A polymer that has the same monomeric unit in the chain.<br>
        Eg : PVC, Polypropylene etc <br>
        Co-polymer :- A polymer species made up of two or more monomer<br>

        Eg : Polyethylene-vinylacetylene (PEVA)



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.25</span>
        How are polymers classified on the basis of forces operating
        between their molecules? To which of these classes does
        nylon-66 belong?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        On The basis, of molecular forces the polymers are classified as <br>

        (1.) Elastomers - Natural rubber<br>
        (2.) Fibres - wool<br>
        (3.) Thermoplastic polymers - Polycarbonate<br>
        (4.) Thermosetting polymers - silicone.<br>
        Nylon 66, related to fibres category on the behalf their molecules attraction.




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 15.26</span>
        What are natural and synthetic polymers?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <u><b> Natural polymers :</b></u>
        The Polymers which occurs in nature i.e. in plants, animals , etc<br>
        Eg : natural rubber, Cellulose , Proteins , starch <br>
        <u><b>Synthetic -polymers :</b></u>
        The polymers which are made in factories/laboratories by using simple substance are called man-made polymers.
        Eg : Polythene , PVC






      </h5>
    </div>
  </div>





</div>