<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">ELECTROCHEMISTRY CLASS 12 3.6 EXERCISE</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.31</span>
                    Define a galvanic cell
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    An electrochemical cell or a galvanic cell is a
                    device in which chemical energy is converted into electrical energy
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.32</span>
                    Define : (i) Reference electrode (ii) Standard electrode potential.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) <u><b class="text-danger">Reference electrode</b></u>->
                    <br>
                    It as an electrode which has a stable and well - Known electrode
                    potential.The high stability of the electrode potential is usually reached by employing a redox
                    system with
                    constant conc. of each.
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Standard electrode potential</b></u>
                    <br>
                    A potential difference developed between the electrode and the electrolyte which is called electrode
                    potential.
                    <br>
                    When the concentration of all the species
                    involved in a half-cell is unity. Then the electrode potential is known as standard electrode
                    potential.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.33</span>
                    What is understood by a normal hydrogen electrode ? Give its significance.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The standard hydrogen electrode is standard measurement of electrode potential for the
                    thermodynamics scale of redox potentials.
                    <br>
                    The standard is determined by the potential
                    of a platinum electrode in the redox half reaction.
                    <br>
                    <br>
                    2H<sup>+</sup>(aq) +2e<sup>-</sup> &#8594; H<sub>2</sub> at 25<sup>o</sup>C
                    <br>
                    <br>
                    also known as Normal hydrogen electrode or (NHE).
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.34</span>
                    Define standard half cell potential.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Half-cell potential refers to the potential developed at the electrode of each Half
                    cell in an electrochemical cell. The overall potential is the total potential calculated from the
                    potential of two half cells.
                    <br>
                    <br>
                    <b class="text-danger">At Standard Condition,</b>
                    <br>
                    Temperature=273K
                    <br>
                    Pressure at 1bar
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.35</span>
                    What do you understand by electrochemical series ? How does it help in predicting whether a given
                    reaction is feasible in a given direction or not ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Electrochemical Series</b></u>->
                    <br>
                    It is a series of chemical elements arranged in order of their standard electrode potential.
                    According to electrochemical series-
                    An element with higher reduction potential can oxidise another one so for a particular reaction if
                    emf is positive than reaction will be feasible at that temperature.
                    <br>
                    <br>
                    Thus the feasibility of the reaction can be understood with the help of electrochemical series.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.36</span>
                    Why is it not possible to measure the single electrode potential ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The process of oxidation and reduction cannot take place alone.So the electrode potential is a
                    relative tendency and can be measured with respect to reference electrode such as (SHE)
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.37</span>
                    What is standard hydrogen electrode ? Give the reaction that occurs at this electrode when it acts
                    as positive electrode in a electrochemical cell.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The standard hydrogen electrode,is a redox electrode which forms the basis of the thermodynamics
                    scale of oxidation-reduction potentials-
                    <br>
                    <br>
                    cell reaction of (SHE)
                    <br>
                    when it acts as anode is
                    <br>
                    <br>
                    H<sub>2</sub> &#8594; 2H<sup>+</sup> +2e<sup>-</sup>
                    <br>
                    <br>
                    At Cathode ->
                    <br>
                    2H<sup>+</sup> +2e<sup>-</sup> &#8594; H<sub>2</sub>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.38</span>
                    What is the effect of change in (a) concentration (b) temperature on the electrode potential of a
                    given half cell?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img38.jpg" alt="" class="img-fluid">
                <h5 class="text-dark">
                    (i) when the concentration of Mn<sup>+</sup> increases, the half cell potential increase and
                    vice-versa
                    <br>
                    <br>
                    (ii) when temperature increase,the half-cell potential also increase
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.39</span>
                    Write Nernst equation.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img39.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.40</span>
                    State the values of E<sup>o</sup><sub>Ca/Ca<sup>2+</sup></sub>
                    ,E<sup>o</sup><sub>Ni/Ni<sup>2+</sup></sub> and
                    E<sup>o</sup><sub>Cl<sup>-</sup>/1/2Cl<sub>2</sub></sub> if
                    E<sup>o</sup><sub>Ca<sup>2+</sup>/Ca</sub> =-2.87 volts,E<sup>o</sup><sub>Ni<sup>2+</sup>/Ni</sub>
                    =-0.25 volts and E<sup>o</sup><sub>1/2Cl<sub>2</sub>/Cl<sup>-</sup></sub> =+1.36volts
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img40.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.41</span>
                    A potential difference of 0.25 volts is observed when an electrode system M/M<sup>2+</sup>(1 mol
                    L<sup>-1</sup>) is
                    connected to a standard hydrogen electrode. If the direction of the flow of current is from hydrogen
                    electrode to the metal electrode, calculate the standard potential of the electrode.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img41.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.42</span>
                    The standard reduction potential of the electrode X/X<sup>+</sup> (1 mol L<sup>-1</sup>) is + 0.80
                    volts. Predict the
                    direction of the flow of electrons when it is connected to a standard hydrogen electrode.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The standard reduction potential,more will be the tendency of electrode to get reduced.
                    Hence, it will act as Cathode.
                    <br>
                    <br>
                    So, the

                    given electrode has higher standard
                    reduction Potential = 0.80V , then (SHE) which has E<sup>o</sup>=0
                    <br>
                    <br>

                    Thus X/X<sup>+</sup> electrode acts a cathode and
                    (SHE)
                    acts as anode .
                    <br>
                    The Direction of flow of
                    electron is from Anode to Cathode while
                    direction of flow of current is from cathode to anode
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.43</span>
                    Predict whether the following reaction is feasible under standard conditions or not :
                    <br>
                    <br>
                    Zn(s) +
                    Cu<sup>2+</sup>(aq) -> Zn<sup>2+</sup>(aq) + Cu (s)
                    <br>
                    <br>
                    Given that E<sup>o</sup><sub>Zn<sup>2+</sup>/Zn</sub> = -0.76 volts and
                    E<sup>o</sup><sub>Cu<sup>2+</sup>/Cu</sub>=+0.34 volts
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img43.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-6/img43-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.45</span>
                    Can we store:
                    <br>
                    (a) copper sulphate solution in zinc vessel
                    <br>
                    (b) copper sulphate solution in silver vessel ? Give suitable explanation.
                    <br>
                    <br>
                    Given: E<sup>o</sup><sub>Cu<sup>2+</sup>/Cu</sub> =+0.34 V,
                    E<sup>o</sup><sub>Zn<sup>2+</sup>/Zn</sub> =-0.76 V, E<sup>o</sup><sub>Ag<sup>+</sup>/Ag</sub>
                    =+0.80 V
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img45.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.46</span>
                    The two half cell reactions and their oxidation potentials are
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-6/q46.jpg" alt="" class="img-fluid">
                    <br>
                    Write the cell reaction and calculate the cell emf.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img46.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.47</span>
                    A cell is prepared by dipping a copper rod in 1M copper sulphate solution and a zinc rod in 1 M zinc
                    sulphate solution. The standard reduction potentials of copper and zinc are 0.34 V and - 0.76 V
                    respectively.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img47.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-6/img47-2.jpg" alt="" class="img-fluid">

                <h5 class="text-dark">
                    (c) Cu<sup>2+</sup> /Cu electrode will be positive
                    <br>
                    <br>
                    (d) The cell can be represented as
                    <br>
                    [Zn | ZnSO<sub>4</sub>(1m) || CuSO<sub>4</sub>(1m) | Cu(s)]
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.48</span>
                    Calculate at 25°C the electrode potential of Mg<sup>2+</sup>/Mg electrode in which the concentration
                    of Mg<sup>2+</sup> ions is 0.1 M. Given E°<sub>Mg<sup>2+</sup>/Mg</sub> = - 2.36 V, R = 8.314
                    JK<sup>-1</sup>,
                    F = 96500 coulombs mo1<sup>-1</sup>.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img48.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.49</span>
                    Why does the blue colour of copper sulphate solution get discharged when zinc rod is dipped into it
                    ? Given E°<sub>Cu<sup>2+</sup>/Cu</sub>
                    = + 0.34 V and E°<sub>Zn<sup>2+</sup>/Zn</sub> =- 0.76 V
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">

                    Oxidation occurs at anode while reduction at Cathode.
                    <br>
                    As E<sup>o</sup><sub>cell</sub> is positive,reaction is spontaneous ,that is reaction will occur.
                    <br>
                    Hence,the colour of the CuSO<sub>4</sub> Solution will be discharged.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.50</span>
                    Using the standard electrode potentials predict the reaction, if any, that occurs between the
                    following :
                    <ol type="a">
                        <li>Fe<sup>3+</sup> (aq) and I<sup>-</sup>(aq)</li>
                        <li>Ag<sup>+</sup>(aq) and Cu</li>
                        <li>Fe<sup>3+</sup> (aq) and Br<sup>-</sup>(aq)</li>
                        <li>Ag(s) and Fe<sup>3+</sup> (aq)</li>
                        <li>Br<sub>2</sub>(aq) / Fe<sup>2+</sup>(aq)</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    When the emf is positive,the reaction is feasible

                </h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img50.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-6/img50-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-6/img50-3.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.51</span>
                    Calculate the electrode potentials of the following half cell at 25°C,
                    <ol type="i">
                        <li>Pt, Cl<sub>2</sub> (10 atm) | HCl (0.1 M)</li>
                        <li> Pt, H<sub>2</sub> (5 atm) | HCl (0.5 M) </li>
                    </ol>
                    <br>
                    <br>
                    Given: E°<sub>1/2 Cl<sub>2</sub> / Cl<sup>-</sup></sub> =+1.36 V and E° <sub>H<sup>+</sup> /1/2
                        H<sub>2</sub>=0.00V.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img51.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-6/img51-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.52</span>
                    Calculate the electrode potentials of the following half cells at 298 K
                    <ol type="a">
                        <li>Ag (s) | AgNO<sub>3</sub> (0.1 M)</li>
                        <li>Co (s) | Co<sup>2+</sup> (0.01 M) </li>
                    </ol>
                    <br>
                    <br>
                    Given: E°<sub>Ag<sup>+</sup>/Ag</sub> =+0.80 V,E° <sub>Co<sup>2+</sup>/Co</sub> =-0.28V
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img52.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-6/img52-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.53</span>
                    Calculate the potential of a zinc-zinc ion electrode in which the zinc ion activity is 0.001 M.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-6/img53.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</body>