<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">ELECTROCHEMISTRY CLASS 12 3.7 EXERCISE</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.54</span>
                    Write Nernst equation for the following cell reaction :
                    <br>
                    <br>
                    2A + 3B -> C + 2D
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img54.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.55</span>
                    How can the cell potential be used in predicting the feasibility of a cell reaction?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) The net emf of the cell Reaction E<sub>cell</sub>
                    <br>
                    <br>
                    E<sup>o</sup><sub>cell</sub> = E<sup>o</sup><sub>cathode</sub>- E<sup>o</sup><sub>anode</sub>
                    <br>
                    <br>
                    (ii) If,
                    <br>
                    E<sup>o</sup><sub>cell</sub> =+ve the reduction is feasible
                    <br>
                    E<sup>o</sup><sub>cell</sub> =-ve the reduction is not feasible
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.56</span>
                    Calculate the EMF of the cell at 298 K :
                    <br>
                    <br>
                    Pt, Br<sub>2</sub> | Br<sup>-</sup>(0.01 M) || H<sup>+</sup> (0.03 M) | H<sub>2</sub> (1 atm),Pt
                    <br>
                    Given: E<sup>o</sup> <sub>1/2Br<sub>2</sub>/Br<sup>-</sup></sub> =+1.08V
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img56.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img56-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.57</span>
                    Calculate the standard electrode potential of the Ni<sup>2+</sup>/Ni electrode, if the cell
                    potential of the
                    cell
                    <br>
                    <br>
                    Ni|Ni<sup>2+</sup> (0.01 M) || Cu<sup>2+</sup> (0.1 M) | Cu
                    <br>
                    is 0.59 V,Given : E<sup>o</sup><sub>Cu<sup>2+</sup>/Cu</sub> = + 0.34 V.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img57.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img57-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.58</span>
                    Calculate the e.m.f of the following cell at 298 K :
                    <br>
                    <br>
                    Mg|Mg<sup>2+</sup> (0.001 M) || Cu<sup>2+</sup> (0.001 M) | Cu
                    <br>
                    Given : E<sup>o</sup><sub>Cu<sup>2+</sup>/Cu</sub> = -0.337
                    V,E<sup>o</sup><sub>Mg<sup>2+</sup>/Mg</sub> =-2.37V,F=96500 C mol<sup>-1</sup>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img58.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.59</span>
                    Calculate the E.M.F. of the following cell at 298 K :
                    <br>
                    <br>
                    Mg|Mg<sup>2+</sup> (0.1 M) || Ag<sup>+</sup> (0.1 M) | Ag
                    <br>
                    E<sup>o</sup><sub>Mg<sup>2+</sup>/Mg</sub> = -2.37
                    V,E<sup>o</sup><sub>Ag<sup>+</sup>/Ag</sub> =-0.80V,R=8.31 JK<sup>-1</sup>,F=96500 C
                    mol<sup>-1</sup>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img59.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img59-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.60</span>
                    Consider a cell composed of two half cells :
                    <br>
                    <br>
                    (i) Cu (s) | Cu<sup>2+</sup> (aq) and (ii) Ag (s) | Ag<sup>+</sup> (aq)
                    <br>
                    Calculate : (a) the standard cell potential, and
                    <br>
                    (b) the cell potential when [Cu<sup>2+</sup>] is 2M and [Ag<sup>+</sup>] is 0.05 M.
                    <br>
                    <br>
                    Given, E<sup>o</sup><sub>Mg<sup>2+</sup>/Mg</sub> = +0.33
                    V,E<sup>o</sup><sub>Ag<sup>+</sup>/Ag</sub> =+0.80V,R=8.31 JK<sup>-1</sup>,F=96500 C
                    mol<sup>-1</sup>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img60.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img60-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.61</span>
                    Consider a cell composed of the following two half cells :
                    <br>
                    <br>
                    (i) Mg (s)|Mg<sup>2+</sup>(aq), and (ii) Ag (s) | Ag<sup>+</sup>(aq)
                    <br>
                    <br>
                    The EMF of the cell is 2.96 V, [Mg<sup>2+</sup>] = 0.130 M and [Ag<sup>+</sup>]= 1.0 x
                    10<sup>-4</sup> M. Calculate the standard EMF of the cell.(R= 8.31 JK<sup>-1</sup>mol<sup>-1</sup>,
                    F= 96500 C mol<sup>-1</sup>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img61.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img61-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.62</span>
                    Calculate the cell potential at 298 K :
                    <br>
                    <br>
                    Zn (s) | Zn<sup>2+</sup> (0.1 M) || Sn<sup>2+</sup> (0.001 M) | Sn (s)
                    <br>
                    <br>
                    Given : E<sup>o</sup><sub>Zn<sup>2+</sup>/Zn</sub> = -0.76
                    V,E<sup>o</sup><sub>Sn<sup>2+</sup>/Sn</sub> =-0.14V
                    <br>
                    <br>
                    (Gas constant,R= 8.31 JK<sup>-1</sup>mol<sup>-1</sup>,
                    Faraday constant F= 96500 C mol<sup>-1</sup>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img62.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img62-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.63</span>
                    The standard potentials are given as :
                    <br>
                    <br>
                    E<sup>o</sup><sub>Cu<sup>2+</sup>/Cu=+0.34 V,and E<sup>o</sup> <sub>Ag<sup>+</sup>/Ag</sub>=+0.80 V
                        <br>
                        Calculate the cell potential (E) for the cell containing 0.100 M Ag<sup>+</sup> and 4.00 M
                        Cu<sup>2+</sup> at 298 K.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img63.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img63-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.64</span>
                    Predict whether the following reaction will occur spontaneously at 298 K :
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-7/q64.jpg" alt="" class="img-fluid">
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img64.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.65</span>
                    The half reactions are :
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-7/q65.jpg" alt="" class="img-fluid">
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img65.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-7/img65-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.66</span>
                    Calculate the emf of the cell
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-7/q66.jpg" alt="" class="img-fluid">
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-7/img66.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
    </div>
</body>