<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 54% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  ELECTROCHEMISTRY CLASS 12 3.2 EXERCISE
</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.6</span>
        What do you understand by the term electrolytic conduction
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The ease flow of current through an electrolytic solution is called electrolytic conductance. <br> Electrolytic
        conduction is due to the movement of ions and it increases with the rise in temperature <br>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.7</span>
        Define the terms: <br> (i) specific conductance <br> (ii) equivalent conductance
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">Specific conductance :</b></u><br />
        The ability of a substance to Conduct electricity It is the reciprocal of specific resistance It is denoted by
        Kappa (k)
        <br /><img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-7.jpg" alt="" /> <br>
        <u><b class="text-danger">(ii) Equivalent Conductance :</b></u><br />
        the Conducting power of all ions furnished by one gram -equivalent of an Electrolyte present in a definite
        volume of a solution
        <br> Units => ohm<sup>-1</sup> cm<sup>2</sup> eq<sup>-1</sup> or S cm<sup>2</sup> eq<sup>-1</sup>
        <br />

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.8</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        Define the term :<br> (i) cell constant <br>(ii) molar conductivity
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u>Cell constant :</u> <br> In a conductivity cell the distance 'l' between the two electrodes and the area 'A'
        of the electrode are fixed the quantity l/A is a constant for a particular conductivity cell this quantity
        termed as cell constant <br><img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-8.jpg"
          alt="" />
        <br> <u>Molar Conductivity :</u><br> The conducting power of all ions furnished by one mole of an electrolyte
        present in a definite volume of the solution molar conductivity or molar conductance of an electrolyte solution
        at dilution V<sub>m</sub> is the conductance of the solution containing one mole of the electrolyte dissolve in
        V<sub>m</sub> cm<sup>3</sup> of the solution.<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-8-2.jpg" alt="" />

      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.9</span>
        Give the units of molar conductivity
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-9.jpg" alt="" />

    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.10</span>
        Define molar conductivity of analytic solution mention the effect of temperature on Molar conductivity
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u>Molar Conductivity :</u><br> The conducting power of all ions furnished by one mole of an electrolyte present
        in a definite volume of the solution molar conductivity or molar conductance of an electrolyte solution at
        dilution V<sub>m</sub> is the conductance of the solution containing one mole of the electrolyte dissolve in
        V<sub>m</sub> cm<sup>3</sup> of the solution.<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-8-2.jpg" alt="" /><br>
        <u>Effect of temperature on molar conductivity -</u><br>
        with increase in the temperature the molar conductivity of an electrolyte increase with increase in the
        interaction of the ions.
      </h5><br>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.11</span>
        Define the terms equivalent in molar conductivity what are the physical significance
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <u><b class="text-danger"> Equivalent Conductance :</b></u><br />
        the Conducting power of all ions furnished by one gram -equivalent of an Electrolyte present in a definite
        volume of a solution
        <br> Units => ohm<sup>-1</sup> cm<sup>2</sup> eq<sup>-1</sup> or S cm<sup>2</sup> eq<sup>-1</sup>
        <br />
        <u><b class="text-danger">Molar Conductivity :</b></u><br> The conducting power of all ions furnished by one
        mole of an electrolyte present in a definite volume of the solution molar conductivity or molar conductance of
        an electrolyte solution at dilution V<sub>m</sub> is the conductance of the solution containing one mole of the
        electrolyte dissolve in V<sub>m</sub> cm<sup>3</sup> of the solution.<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-11.jpg" alt="" /><br>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.12</span>
        The resistance of 0.01 M NaCl solution in a conductivity cell was found to be 210 &ohm; the specific conductance
        of this solution is 4.5 x 10<sup>-3</sup> S cm<sup>-1</sup>. What is the cell constant of the cell
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-12.jpg" alt="" />
      <h5>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.13</span>
        The resistance of 0.01 N in NaCl solution is 200 &ohm; 25<sup>0</sup> C cell constant of the conductivity cell
        is unity. Calculate equivalent conductance of the solution
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-13.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.14</span>
        The specific conductance of N/50 solution of KCl at 20<sup>0</sup>C is 0.00 2765 mho cm<sup>-1</sup>. If the
        resistance of a cell containing this solution is 400 ohms, find out the cell constant
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-14.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.15</span>
        Calculate the equivalent conductance of 1 M H<sub>2</sub> SO<sub>4</sub> solution if its conductivity is 2.5 x
        10<sup>-2</sup> ohm<sup>-1</sup>cm<sup>-1</sup>
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-15.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-15-2.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.16</span>
        The resistance of a decinormal solution of a salt occupying a volume between two platinum electrodes 1.80 cm
        apart and 5.4 cm<sup>2</sup> in area was found to be 32 ohms. Calculate the specific and equivalent conductance
        of the solution
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-16.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-16-2.jpg" alt="" />
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.17</span>
        A conductivity cell has its electrodes 1 cm apart and each electrode has a cross section area of 2
        cm<sup>2</sup>. When filled with N/50 solution of electrolyte MX, the cell shows a resistance of 166.5 ohm's.
        Calculate the equivalent conductivity of MX at the given concentration
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-17.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-17-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-17-2.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.18</span>
        A potential difference of 20 volts applied to the ends of a column of N/10 AgNO<sub>3</sub> solution, 4 cm in
        diameter and 12 cm in length, gives a current of 1.198 amperes. Calculate the specific and equivalent
        conductivity of the solution.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.19</span>
        A conductivity cell when filled with 0.05 M solution of KCl record the resistance of 410.5 ohm at
        25<sup>0</sup>C. When filled with CaCl<sub>2</sub> solution (11 gram in 500 mL) it records resistance of 990
        ohms .If specific conductance of 0.05 M KCl is 0.00189 ohm<sup>-1</sup>cm<sup>-1</sup>, Calculate<br> (i) cell
        constant <br>(ii) specific conductance of CaCl<sub>2</sub> <br>(iii) equivalent conductance of CaCl<sub>2</sub>
        <br> (iv) molar conductance of CaCl<sub>2</sub> solution

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-19.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-19-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-19-2.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-19-3.jpg" alt="" />


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.20</span>
        A cell with N/50 KCl solution showed resistance of 550 ohms at 25<sup>0</sup>C.The specific conductivity of N/50
        KCl at 25<sup>0</sup>C is 0.002768 ohm<sup>-1</sup>cm<sup>-1</sup>.The cell filled with an N/10 ZnSO<sub>4</sub>
        solution at 25<sup>0</sup>C shows resistance of 72.18 ohms. Calculate the cell constant and molar conductivity
        of the ZnSO<sub>4</sub> solution
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-20.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-20-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-20-2.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-2/3-20-3.jpg" alt="" />
      </h5>
    </div>
  </div>



</div>