<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">ELECTROCHEMISTRY CLASS 12 3.12 EXERCISE</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.84</span>
                    What do you understand by primary and secondary cells? In what way are they different from each
                    other?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Primary Cells</b></u>->
                    <br>
                    Those Cells in which the Cell
                    reaction occurs only in one direction and the reaction can not be reserved by the external
                    energy source.
                    <br>
                    <br>
                    <u><b class="text-danger">Secondary Cells</b></u>->
                    <br>
                    The cells can be recharged
                    by passing a direct current through them are called Secondary Cells these are
                    repeated action Cells.
                    <br>
                    -> It is different,primary Cells are the ones which cannot recharged and have to be discarded after
                    the
                    expiration of the lifetimes,
                    but in Secondary Cells needs to be recharged when the charge gets over. And
                    these cells are
                    different in size and material used in them
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.85</span>
                    What is a fuel cell? Give electrode reactions of hydrogen-oxygen fuel cell.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Fuel Cells</b></u>->
                    <br>
                    The cell which convert the chemical energy of a fuel directly into electrical energy are called fuel
                    Cells
                </h5>
                <h5 class="text-dark">
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img85.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <u><b class="text-danger">Reactions</b></u>->
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img85-1.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.86</span>
                    What is a mercury cell? Give the electrode reactions.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Mercury cells</b></u>->
                    <br>
                    Mercury battery (also called mercuric oxide battery, or mercury Cell)is a non-rechargeable
                    electrochemical battery,a primary cell.
                    Mercury batteries use a reaction between Mercuric oxide
                    and Zinc electrodes in an alkaline electrolyte
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img86.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.87</span>
                    Give a brief account of corrosion and its mechanism.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Corrosion as the process of slowly eating away of
                    the Metal due to the attack of the moisture and gases in the atmosphere on the surface of the metal
                    which results into the formation of compound such as oxides, sulphides, Carbonates and sulphates
                    etc.
                    <br>
                    <br>
                    <u><b class="text-danger">Mechanism of Corrosion</b></u>->
                    <br>
                    It can be explained by example rusting of iron
                    <br>

                    Rust is the hydrated ferric Oxide-
                    <br>
                    <br>
                    Fe<sub>2</sub>O<sub>3</sub> . XH<sub>2</sub>O
                    <br>
                    <br>
                    According to electrochemical theory of rusting the impure
                    iron surface behaves as a small
                    electrochemical Cell.
                    while, impure surface acts as cathode,pure iron acts as anode
                    <br>
                    <br>
                    <u><b class="text-danger">At anode</b></u>
                    <br>
                    fe<sup>2+</sup> ions are formed due to oxidation of iron atoms
                    <br>
                    <br>
                    fe&#8594; fe<sup>2+</sup> +2e<sup>-</sup>
                    <br>
                    <br>
                    Release electron moves to the Cathodic area and reduce O<sub>2</sub> in presence of H<sup>+</sup>
                    ions which is H<sub>2</sub>CO<sub>3</sub> or H<sub>2</sub>O
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img87.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img87-1.jpg" alt="" class="img-fluid"
                        style="width:43%!important">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.88</span>
                    What is corrosion? How is the cathodic protection of iron different from its galvanisation?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Corrosion as the process of slowly eating away of
                    the Metal due to the attack of the moisture and gases in the atmosphere on the surface of the metal
                    which results into the formation of compound such as oxides, sulphides, Carbonates and sulphates
                    etc.
                    <br>
                    <br>
                    In Catholic protection,the object is made cathode by Connecting it with more reactive metal like
                    Mg,Zn etc.
                    <br>
                    <br>

                    In Galvanisation,the iron object is project from corrosion by coating it with Zinc.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.89</span>
                    What is galvanisation? In what respect is it better than tin coating used for the protection of iron
                    from corrosion?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Galvanisation</b></u>->
                    <br>
                    The process of deposition of a thin layer of zinc on iron surface is called galvanisation,
                    because zinc is more electropositive than Iron. if tin coating (tin plated iron article) gets broken
                    at any site and the iron surface gets exposed, then iron being more electropositive than tin. Iron
                    has Lower reduction potential than Tin.
                    <br>
                    <br>
                    Galvanisation protects iron better than tin Coating from corrosion.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.90</span>
                    Describe the advantages and limitations of fuel cells.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Advantages of fuel Cells</b></u>->
                    <br>
                    <b class="text-danger">High efficiency</b>-
                    when utilizing co-generation,fuel cells can attain over 80% energy efficiency.
                    <br><br>
                    <b class="text-danger">Good reliability</b> -quality of power provided does not degrade over time
                    <br>
                    <br>
                    <b class="text-danger"> Environmentally beneficial </b>-greatly reduces CO<sub>2</sub> and
                    harmful pollutant
                    emissions.
                    <br>
                    <br>
                    <b class="text-danger"> size reduction </b>- fuel cells are significantly Lighter
                    and more compact.
                    <br><br>
                    <u><b class="text-danger">Limitation</b></u>-
                    <br>
                    -> Expensive to manufacture due the high cost of catalysts (platinum)
                    <br>
                    -> Lack of infrastructure to support the distribution of Hydrogen.
                    <br>
                    -> Hydrogen is expensive to produce and not widely available.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.91</span>
                    Explain, why tin protects copper more efficiently as compared to iron.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Galvanisation protects in two ways -
                    <br><br>
                    it forms a coating of corrosion-resistant zinc
                    which prevent corrosive substances from reaching the more delicate past of the Metal.
                    <br><br>
                    The zinc serves as a sacrificial anode .So that even if the coating is scratched,the exposed Steel
                    will still be protected by the remaining zinc.
                    <br><br>
                    A coating of zinc is deposited on iron to protect it from corrosion and formation of rust.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.92</span>
                    Discuss the factors which govern the rate of corrosion of a metal.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The factors which govern the rate of corrosion of a metal.
                    <br>
                    <br>
                    -> Higher the reactivity of the metal,higher the probability of the metal getting corrosion
                    <br> ->Presence of electrolytes in water increase the rate of Corrosion
                    <br>-> A rise in temperature increase the rate of corrosion.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.93</span>
                    Explain the mechanism of rusting of iron.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u><b class="text-danger">Mechanism of Rusting of Iron</b></u>->
                    <br>
                    It can be explained by example rusting of iron
                    <br>

                    Rust is the hydrated ferric Oxide-
                    <br>
                    <br>
                    Fe<sub>2</sub>O<sub>3</sub> . XH<sub>2</sub>O
                    <br>
                    <br>
                    According to electrochemical theory of rusting the impure
                    iron surface behaves as a small
                    electrochemical Cell.
                    while, impure surface acts as cathode,pure iron acts as anode
                    <br>
                    <br>
                    <u><b class="text-danger">At anode</b></u>
                    <br>
                    fe<sup>2+</sup> ions are formed due to oxidation of iron atoms
                    <br>
                    <br>
                    fe&#8594; fe<sup>2+</sup> +2e<sup>-</sup>
                    <br>
                    <br>
                    Release electron moves to the Cathodic area and reduce O<sub>2</sub> in presence of H<sup>+</sup>
                    ions which is H<sub>2</sub>CO<sub>3</sub> or H<sub>2</sub>O
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img87.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-12/img93.jpg" alt="" class="img-fluid"
                        style="width:37%!important">

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.94</span>
                    Give an example of a fuel cell and write the anode and cathode reactions for it.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-12/img94.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.95</span>
                    How does a fuel cell operate ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-12/img95.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.96</span>
                    Write the cell reactions which occur in lead storage battery :
                    <br>
                    (i) when the battery is in use, and (ii) when the battery is on charging.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-12/img96.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
    </div>
</body>