<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 54% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  ELECTROCHEMISTRY CLASS 12 3.1 EXERCISE
</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.1</span>
        Define electrochemistry
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The branch of chemistry which deals with the study of the conversion of chemical energy into electrical energy
        or vice versa and their mutual relationship is referred to as electrochemistry
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.2</span>
        Define and explain the following terms:<br>
        (a) Strong electrolyte <br>(b) weak electrolyte <br>(c) non electrolyte
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">(a) Strong Electrolyte :</b></u><br />
        The electrolyte which dissociates almost completely into ions in solutions are called strong electrolyte <br>
        The degree of dissociation of these electrolytes is almost equal to 1<br /> Example : <br>Strong acids : HCl ,
        HNO<sub>3</sub> , H<sub>2</sub>SO<sub>4</sub><br>
        Strong base : NaOH , KOH , Ba(OH)<SUB>2</SUB> <br>
        <u><b class="text-danger">(b) Weak Electrolyte :</b></u><br />
        The electrolyte which do not dissociate much in aqueous solution are called weak electrolytes<br>Due to partial
        dissociation the degree of dissociation of these electrolytes is less than 1<br> Example : <br> Organic acids :
        acetic acid , oxalic acid , benzoic acid <br> Organic bases : CH<sub>3</sub>NH<sub>2</sub> ,
        C<sub>2</sub>NH<sub>2</sub> <br>


        <u><b class="text-danger">(c) Non-electrolyte :</b></u><br />
        Glucose , a sugar with the chemical formula C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>
        is a example of
        non-electrolyte.
        It dissolves readily in water
        because it does not dissociate inside the solution into ions it is Considered as non-electrolyte<br>
        Another example : Ethanol.

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.3</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        Sort out strong electrolytes weak electrolytes and non electrolytes among the following:<br>
        NH<sub>4</sub>Cl , CH<sub>3</sub>OONa , NaCl , CH<sub>3</sub>COOH , HCN , NH<SUB>4</SUB>OH , Urea , Sucrose
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        -> Strong electrolyte = NH<sub>4</sub>Cl , CH<sub>3</sub>OONa , NaCl<br>
        -> Weak electrolyte = CH<sub>3</sub>COOH , HCN , NH<SUB>4</SUB>OH <br>
        -> Non-electrolyte = Urea , Sucrose
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.4</span>
        What do you understand by electrolytic conduction ? In what way it is different from metallic conduction
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        The ease flow of current through an electrolytic solution is called electrolytic conductance. <br> Electrolytic
        conduction is due to the movement of ions and it increases with the rise in temperature <br> It is different
        from metallic conduction<br>-> Due to the movement of electrons <br>-> It does not involve any transfer of
        matter.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.5</span>
        Discuss the factors on which electrolytic conduction depends
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u>Factors affecting Electrolytic conductance</u> <br>
        <u>(i) The Concentration of Ions on the solution </u><br>The Conductance of the solution varies with the ion
        concentration the conductivity of electrolytes
        will increase with the increase in the concentration of ions <br>
        <u>(ii) Types of electrolytes : </u>
        Strong electrolytes gets ionized Completely in the Solution where as weak electrolyte do not.<br>
        <u> (iii) Temperature :</u><br>
        Ions should dissolves in the solution at given temperature. So at higher temperatures the solubility is
        more.<br>
        <u>(iv) Type of solvent :</u> <br>
        Highest the polarity of the solvent type the higher the conductivity.

      </h5>
    </div>
  </div>


</div>