<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 55%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }
</style>

<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">ELECTROCHEMISTRY CLASS 12 3.9 EXERCISE</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.67</span>
                    What is electrolysis ? Explain the mechanism of electrolysis by taking a suitable example.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u> <b class="text-danger"> Electrolysis</b></u>->
                    <br>
                    Electrolysis refers to the decomposition of
                    a substance by an electric current .
                    <br>
                    <br>
                    <u><b class="text-danger">Example</b></u>->
                    When the current is passed through the molten NaCl,sodium and chlorine are
                    deposited at different electrodes . sodium chloride is
                    decomposed into sodium and chlorine.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.68</span>
                    Define the following terms :
                    <ol type="i">
                        <li>Faraday</li>
                        <li>Electrochemical equivalent</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (i) <u><b class="text-danger">Faraday</b></u>->
                    <br>
                    Faraday's constant is equal to charge 1mol of electron
                    Its value is 96500 Cmol<sup>-1</sup>
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">Electrochemical Equivalent</b></u>->
                    <br>
                    Amount of substance deposited when 1amp current is passed
                    <br>
                    for 1sec (or when 1c of charge is passed )
                    <br>
                    Its unit is g/c
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.69</span>
                    Explain the criteria for product formation during electrolysis taking the example of aqueous sodium
                    chloride.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The Three products of the electrolysis
                    of Concentrated sodium chloride solution have important uses -
                    <br>
                    <br>
                    ->Hydrogen is used as a fuel and for making ammonia.
                    <br>
                    ->Chlorine is used to sterilize water supplies, and to make bleach and HCl.
                    <br>
                    ->Sodium Hydroxide is used to make soap ( paper and bleach).
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.70</span>
                    State and explain Faraday's laws of electrolysis.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The amount of substance produced at an
                    electrode during electrolysis is directly proportional to the quantity of electricity passed through
                    the electrolyte.
                </h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img70.jpg" alt="" class="img-fluid">
                <br>
                <h5 class="text-dark">
                    The same quantity of electricity is required to produce one equivalent of any substance it is called
                    Faraday.
                    <br>
                    It is equal to 96500 C, and is equal to the charge on 1mole of electron
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.71</span>
                    Predict the products of electrolysis of an aqueous solution of CuBr<sub>2</sub> using inert
                    electrodes.Given :
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-9/q71.jpg" alt="" class="img-fluid">
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img71.jpg" alt="" class="img-fluid">
                <h5 class="text-dark">
                    Since the reduction potential of Br is less than water,
                    it will be readily oxidised to Br<sub>2</sub> at Br<sub>2</sub>
                    <br>
                    Cu at cathode,Br<sub>2</sub> at anode.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.72</span>
                    How many coulombs of electricity are required for
                    <ol type="i">
                        <li>reduction of 1 mole of Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> to Cr<sup>3+</sup>;</li>
                        <li> oxidation of 1 mole of H<sub>2</sub>O to O<sub>2</sub>;</li>
                        <li> reduction of 1 mole of Sn<sup>4+</sup> to Sn<sup>2+</sup></li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img72.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img72-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.73</span>
                    Calculate the number of coulombs required to deposit 5.4 g of Al, when the electrode reaction is
                    Al<sup>3+</sup> + 3e<sup>-</sup> -> Al (Given : Atomic mass of Al = 27g mol<sup>-1</sup>, F = 96500
                    C mol<sup>-1</sup>)
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img73.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.74</span>
                    Calculate the quantity of electricity that would be required to reduce 12.3 g of nitrobenzene to
                    aniline, if the current efficiency is 50%
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img74.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.75</span>
                    How many molecules of chlorine should be deposited from sodium chloride in 1 minute by a current of
                    300 mA
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img75.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.76</span>
                    A constant current was passed through a solution of AuCl<sub>4</sub><sup>-</sup> between gold
                    electrodes. After a period of 14 minutes, the cathode recorded an increase in mass of 1.808 g.
                    Calculate the quantity of current passed in solution. What was the magnitude of current? (Atomic
                    mass of gold = 197.0).
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img76.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img76-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.77</span>
                    A current of 4 amperes was passed for 2 hours through a solution of copper sulphate when 5.0 g of
                    copper was deposited. Calculate the current efficiency
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img77.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.78</span>
                    Two voltameters containing CuSO<sub>4</sub> and acidulated water respectively are connected in
                    series and the same current is passed for some time. 0.3177 g copper is deposited in the first one.
                    Calculate the weight of liberated hydrogen in the second (At. wt. of Cu = 63.5 and H = 1.008).
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img78.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.79</span>
                    An aqueous solution of NaCl on electrolysis gives H<sub>2</sub> (g), Cl<sub>2</sub> (g) and NaOH
                    according to the reaction
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-9/q79.jpg" alt="" class="img-fluid">
                    <br>
                    A direct current of 25 ampere with a current efficiency of 62% is passed through 20 litres of NaCl
                    solution (20% by weight).
                    <ol type="i">
                        <li>Write down the reactions taking place at the electrodes. </li>
                        <li>How long will it take to produce 1 kg of Cl<sub>2</sub>?</li>
                        <li>What will be the molarity of solution with respect to OH<sup>-</sup>? Assume no loss in
                            volume due to evaporation.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img79.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img79-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img79-2.jpg" alt="" class="img-fluid">


            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.80</span>
                    Explain, why electrolysis of aqueous solution of NaCl gives H<sub>2</sub> at cathode and
                    Cl<sub>2</sub> at anode .Write overall reaction.
                    <br>
                    <img src="class12ISCchap/chemistry/electroimg/3-9/q80.jpg" alt="" class="img-fluid">
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img80.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img80-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.81</span>
                    Silver is electrodeposited on a metallic vessel of surface area 800 cm<sup>2</sup> by passing
                    current of 0.2 amp for 3 hours. Calculate the thickness of silver deposited.
                    <br>
                    <br>(Density of silver =
                    10.47 g cm<sup>-3</sup>, atomic mass of silver = 107.92 amu).
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img81.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img81-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img81-2.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.82</span>
                    Predict the products of electrolysis obtained at the electrodes in each case when the electrodes
                    used are of platinum:
                    <ol type="i">
                        <li>An aqueous solution of AgNO<sub>3</sub></li>
                        <li>An aqueous solution of H<sub>2</sub>SO<sub>4</sub></li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img82.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/electroimg/3-9/img82-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q3.83</span>
                    How much charge is required for the reduction of 1 mole of Cu<sup>2+</sup> to Cu ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/electroimg/3-9/img83.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
    </div>
</body>