<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 54% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  ELECTROCHEMISTRY CLASS 12 3.4 EXERCISE
</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.21</span>
        How does molar conductance of a strong electrolyte vary with its concentration in solution
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        For strong electrolyte the molar conductivity decrease slightly with increase in concentration this decreases
        due to the increase in inter atomic attraction as a result of greater number of ions per unit volume
        <br> <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-21.jpg" alt="" />
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.22</span>
        How does molar conductivity of a weak electrolyte vary with its concentration in solution
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        When the concentration of weak electrolyte become very low it's degree of ionization rises sharply there is
        sharp increase in the number of ions in the solution hence the molar conductivity of weak electrolyte rises at
        low concentration
        <br> <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-22.jpg" alt="" />
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.23</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        What is the effect of decreasing concentration on the molar conductivity of a weak electrolyte
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        When the concentration of weak electrolyte become very low it's degree of ionization rises sharply there is
        sharp increase in the number of ions in the solution hence the molar conductivity of weak electrolyte rises at
        low concentration
        <br> <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-22.jpg" alt="" />

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 3.24</span>
        State and explain Kohlrausch's law ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        The molar conductivity at infinite dilution often electrolyte is equal to the sum of molar conductance of its
        cations and anions with each conductance term multiplied by the number of respective ion present in the formula
        unit of electrolyte
        <br> <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-24.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.25</span>
        How can the degree of dissociation of acetic acid be calculated from its molar conductance data.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The case of acetic acid is a weak electrolyte<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-25.jpg" alt="" /><br>
        For example : <br>
        determine of &Lambda;<sup>&infin;</sup> value for CH<sub>3</sub>COOH we take 3 strong electrolytes HCl ,
        CH<SUB>3</SUB>COONa and NaCl because the strong electrolyte chosen are strong


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.26</span>
        At 298 K the molar conductivities is at infinite dilution of sodium propionate
        (CH<SUB>3</SUB>CH<SUB>2</SUB>COONa), HCl, NaCl are 85.9 ,426.1 and 126 ohm<sup>-1</sup> c<sup>2</sup>
        mol<sup>-1</sup> respectively. Calculate the molar conductivity of propionic acid at infinite dilution.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-26.jpg" alt="" /><br>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-26-1.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.27</span>
        The molar conductivity of a weak monobasic acid in infinite dilution is 387 ohm<sup>-1</sup> cm<sup>2</sup> mol
        <sup>-1</sup>. The 0.02 M solution of the same acid has a specific conductivity of 3.3 x 10<sup>-4</sup>
        ohm<sup>-1</sup> cm<sup>2</sup> mol <sup>-1</sup>.Calculate the degree of dissociation of the acid at the given
        concentration
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.28</span>
        The molar conductivity of CH<SUB>3</SUB>COOH at infinite dilution is found to be 387 ohm<sup>-1</sup>
        cm<sup>2</sup> mol <sup>-1</sup> but at a dilution of 1g mole in 1000 litres it is 55 ohm<sup>-1</sup>
        cm<sup>2</sup> mol <sup>-1</sup> .what is the percent dissociation of the acid at a given dilution.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-28.jpg" alt="" /><br>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.29</span>
        Calculate the molar conductivity at infinite dilution for CH<SUB>3</SUB>COOH if the molar conductivities at
        infinite dilution for NaCl, HCl, CH<SUB>3</SUB>COONa are 126.45 ,426.16 and 91.0 ohm<sup>-1</sup> cm<sup>2</sup>
        mol <sup>-1</sup> respectively
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-29.jpg" alt="" /> <br>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-29-1.jpg" alt="" /><br>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 3.30</span>
        The molar conductance are infinite dilution of Al<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub> is 858
        ohm<sup>-1</sup> cm<sup>2</sup> mol <sup>-1</sup>. Calculate the molar conductance at infinite dilution of
        Al<sup>3+</sup> ion if that of SO<sub>4</sub><sup>2-</sup> is 160 ohm<sup>-1</sup> cm<sup>2</sup> mol
        <sup>-1</sup>.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/electroimg/3-4/3-30.jpg" alt="" />

      </h5>
    </div>
  </div>




</div>