<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .img-fluid {
        width: 84% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100% !important;
        }
    }
</style>
</head>

<body class="bg-light">

    <h1 class="text-center text-danger mt-3">CLASS 12 CHEMICAL-KINETICS EXERCISE 4.6</h1>
    <div class="container mt-2">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.72</span>
                    Define temperature coefficient of a reaction

                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <center>Temperature coefficient of a Reaction</center>
                    <br>
                    It is defined as the ratio of the rate constant at two temperatures differ by 10<sup>0</sup>C
                    usually from 25<sup>0</sup>C to 35<sup>0</sup> C
                    <img src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.72.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.73</span>
                    What is threshold energy and how is it related to the activation energy of the reaction?
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <center>Threshold Energy</center>
                    It is the minimum amount of energy which the reactant molecules must possess for the effective
                    collision in forming the products.
                    It is related to the activation energy of the reaction
                    <br>
                    <br>
                    <b>Activation Energy=</b>Threshold energy-Average Kinetic energy of Molecules
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.74</span>
                    Define activation energy and explain the temperature dependence of the reaction rate on its basis
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <center>Activation Energy</center>
                    Activation energy may be defined as the excess energy that the reactant molecules(having less energy
                    than the threshold energy)must require in order to cross the energy barrier and to change into the
                    products.
                    <br>
                    Is activation energy dependent on temperature when there is an increase in temperature molecules
                    start moving faster because they gain energy.
                    This means if the temperature increase then the molecules will start moving with the required
                    activation energy.So that the reaction occurs on collision
                </h4>
                <img src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.74.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.75</span>
                    Define energy of activation of a reaction. How does it vary with rise in temperature?
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <center>Activation Energy</center>
                    Activation energy may be defined as the excess energy that the reactant molecules(having less energy
                    than the threshold energy)must require in order to cross the energy barrier and to change into the
                    products
                    <br>
                    Is activation energy dependent on temperature when there is an increase in temperature molecules
                    start moving faster because they gain energy.
                    This means if the temperature increase then the molecules will start moving with the required
                    activation energy.So that the reaction occurs on collision

                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.76</span>
                    How is the rate constant of a reaction related to its activation energy? Name the equation which
                    gives the relationship
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Rate constant and activation energy tells how fast the reaction proceeds not when done it is
                    spontaneous according to
                    <br>
                    Arehinius equation k=Ae<sup>-Ea/RT</sup>
                    <br>
                    Where,A is a constant known as frequency factor and E<sub>a</sub>-->activation energy
                    <br>
                    where R<sub>1</sub> is constant
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.77</span>
                    The following values for the first order reaction rate constants were obtained for a reaction
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Temp.(K)</th>
                            <th>k</th>
                        </thead>
                        <tr>
                            <td>298</td>
                            <td>3.46x10<sup>-5</sup>s<sup>-1</sup></td>
                        </tr>
                        <tr>
                            <td>308</td>
                            <td>13.50x10<sup>-5</sup>s<sup>-1</sup></td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">
                    Calculate the activation energy for the reaction.
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.77.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.78</span>
                    The rate of a reaction triples when temperature changes from 20 to 50째C.Calculate the energy of
                    activation for such a reaction.
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.78.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.79</span>
                    The rate constant of a first order reaction becomes 6 times when the temperature is raised from 350
                    K to 410 K. Calculate the energy of activation.(Gas constant, R = 8.314 J K<sup>-1</sup>
                    mol<sup>-1</sup>)
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.79.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.80</span>
                    The slope of the line in the graph of log k (k = rate constant)versus 1/T for a reaction is - 5400
                    K.
                    Calculate the energy of activation for this reaction; (R = 8.314 J K<sup>-1</sup>mol<sup>-1 </sup>).
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.80.jpg" alt="">
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.80-2.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.81</span>
                    The slope of the line in the graph of log k versus 1/T for the
                    reaction
                    <br>
                    N<sub>2</sub>0<sub>5</sub> (g) --> 2NO<sub>2</sub> + 1/2 0<sub>2</sub> (g)
                </h4>
                <h4 class="text-danger">
                    is - 5000 K. Calculate the energy of activation for the reaction. (R = 8.314 J K<sup>-1</sup>
                    mol<sup>-1</sup>).
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.81.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.82</span>
                    The rate constant of a reaction is 0.01439 min<sup>-1</sup> at 25째C and its activation energy is
                    70,000 J
                    mol<sup>-1</sup>. What is the value of rate constant at 40째 C? (Given; R = 8.314 J K<sup>-1</sup>
                    mol<sup>-1</sup>)
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.82.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.83</span>
                    The rate constant of a reaction is 1.2 x 10<sup>-3</sup> s<sup>-1</sup> at 303 K and 2.1 x
                    10<sup>-3</sup>s<sup>-1</sup> at 313 K.
                    Calculate the
                    energy of activation of the reaction. (R = 8.314 JK<sup>-1</sup> mol<sup>-1</sup>)
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.83.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.84</span>
                    The decomposition of phosphine <br>
                    4PH<sub>3</sub> (g) ---> P<sub>4</sub> (g) + 6 H<sub>2</sub> (g)
                    <br>
                    has the rate law, Rate = k [PH<sub>3</sub> ].
                    <br>
                    The
                    rate constant is 6.0 x 10<sup>-4</sup> s<sup>-1</sup> at 300 K and activation energy is 3.05 x
                    10<sup>5</sup> J
                    mo1<sup>-1</sup>. What is the
                    value of rate constant at 310 K ? (R = 8.314 J K<sup>-1</sup>mol<sup>-1</sup>)
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.84.jpg" alt="">
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.84-2.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.85</span>
                    The specific rate constant for a particular reaction is 2.34 x 10<sup>-3</sup> mol L<sup>-1</sup>
                    s<sup>-1</sup> at 370 K
                    and 7.50 x
                    10<sup>-2</sup> mol L<sup>-1</sup>
                    s<sup>-1</sup> at 400 K. Calculate the activation energy for the reaction. (R = 8.314
                    JK<sup>-1</sup> mo1<sup>-1</sup>)
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.85.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.86</span>
                    In some cases it is found that a large number of colliding molecules have energy more than the
                    theshold value, yet the reaction is slow, why?
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    The main reason behind the reaction to be slow even after a large number of colliding molecules have
                    energy more than threshold energy for a reaction is because of the improper alignment of the
                    molecules which are colliding
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.87</span>
                    Define activation energy of a reaction
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <center>Activation Energy</center>
                    Activation energy may be defined as the excess energy that the reactant molecules(having less energy
                    than the threshold energy) must require in order to cross the energy barrier and to change into the
                    products.
                    <br>
                    Is activation energy dependent on temperature when there is an increase in temperature molecules
                    start moving faster because they gain energy
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.88</span>
                    The activation energy of a reaction is 75.2 kJ mol<sup>-1</sup> in the absence of a catalyst and
                    50.14 kJ mol<sup>-1</sup> with a catalyst. How many times will the rate of reaction grow in the
                    presence of the catalyst if the reaction proceeds at 25째C? (R = 8.314 JK<sup>-1</sup>
                    mol<sup>-1</sup>).
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.88.jpg" alt="">
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.88-2.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.89</span>
                    The first order rate constant for the decomposition of ethyl iodide by the reaction
                    <br>
                    C<sub>2</sub>H<sub>5</sub> I (g)---> C<sub>2</sub>H<sub>4</sub> (g) + HI (g)
                    <br>
                    at 600 K is 1.60 x 10<sup>-5</sup> s<sup>-1</sup>.Its energy of activation is 209 kJ/ mol. Calculate
                    the rate constant of
                    the reaction at 700 K.
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-6/img4.89.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.90</span>
                    What do you understand by molecularity of a reaction?
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b>molecularity=</b>the number of reacting species(atoms,ions or molecules ) which must collide
                    simultaneously in order to bring about a chemical reaction is called molecularity.
                    <br>
                    It can have only positive integer value eg->1,2,3 etc can ever have a negative value
                </h4>
            </div>
        </div>



    </div>

</body>