<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
</head>

<body class="bg-light">

    <h1 class="text-center text-danger mt-3">CLASS 12 CHEMICAL-KINETICS EXERCISE 4.4</h1>
    <div class="container mt-2">





        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.36</span>
                    <span class="integrate"></span>
                    what are the main characteristics of a first order reaction?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    The main characteristics of Ist order reaction
                    <ol type="a">
                        <li>The rate constant does not depends upon the concentration of reactant</li>
                        <li>Half life period for a Ist order reactant is constant</li>
                    </ol>
                </h4>
            </div>
        </div>



        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.37</span>
                    What is rate constant? Define half life period and show that half life period does not depend upon
                    the initial
                    concentration for the first order reaction.
                    <!-- <div class="frac">
                <span>
                    2cosx
                </span>
                <span class="symbol">/</span>
                <span class="bottom">3sin<sup>2</sup>x</span>
            </div> -->

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b>Rate Constant-></b>is defined as the rate of the reaction when conc. of each reactant is taken
                    as=1 Rate constant=Rate
                    <br>
                    <b>Half Life period-></b>Half life period t<sup>1/2</sup> of a reaction is defined as the time
                    required to reduced the concentration of a reactant to one half of its initial value
                </h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.37.jpg" alt="">
                <h4 class="text-dark">
                    Thus half-life period of a Ist order reaction is independent of the intial concentration of the
                    reactant
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.38</span>
                    write the rate law for a first order reaction and justify the statement that half life of such a
                    reaction is independent of the initial concentration of the reactant.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    For this reaction
                    <br>
                    Rate-->product
                    <br>
                    rate Law which relates the rate of reaction to the concentration of reactant
                    <br>
                    rate=k[R]
                    <br>
                    For Ist order Reaction
                </h4>
                <img src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.38.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">Q4.39</span>
                    How is the progress of reaction followed in each of the following first order reactions :<br> (i)
                    Decomposition of N<sub>2</sub>O<sub>5</sub>;<br> (ii) Hydrolysis of ethyl acetate in the presence of
                    dil. HCl;<br> (iii) Inversion of cane sugar?

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <ol type="i">
                        <li>
                            Decomposition of N<sub>2</sub>O<sub>5</sub>
                            <img src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.39.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>
                            Hydrolysis of ethyl acetate in the presence of dil.HCL
                            <img src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.39-2.jpg" alt=""
                                class="img-fluid">
                        </li>
                        <li>Inversion of cane Sugar
                            <img src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.39-3.jpg" alt=""
                                class="img-fluid">

                        </li>
                    </ol>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.40</span>
                    Show that the units of rate constant for a first order reaction do not depend upon the units of
                    concentration.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.40.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.41</span>
                    What will be the shape of the curve if the concentration of the reactant is plotted against time for
                    a first order reaction?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    It shows straight line with a negative slope
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.42</span>
                    A reaction is 50% complete in 2h and 75% complete in 4h. What is the order of reaction?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.42.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.43</span>
                    A first order reaction is 20% complete in 10 minutes. Calculate the time taken for the reaction to
                    go to 80% completion.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.43.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.44</span>
                    Time required to decompose SO<SUB>2</SUB>Cl<sub>2</sub> to half of its initial amount is 60 minutes.
                    If the decomposition is a first order reaction, find the rate constant of this reaction.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.44.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.45</span>
                    Find the three-fourths life, t<sub>3/4</sub> of a first order reaction when for it k = 7.4 x
                    10<sup>-5</sup> s<sup>-1</sup>.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img width="1000" class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.45.jpg"
                    alt="">
                <img width="1000" class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.45-2.jpg"
                    alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.46</span>
                    A first order reaction has a specific reaction rate of 10<sup>-2</sup>s<sup>-1</sup>. How much time
                    will it take for 10 g of its reactant to be reduced to 2.5 g?

                </h4>



                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.46.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.47</span>
                    A reaction that is first order with respect to reactant A has a rate constant of 6 min<sup>-1</sup>.
                    If we start with [A] = 50 mol L<sup>-1</sup> when would [A] reach the value of 0.05 mol
                    L<sup>-1</sup>?


                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.47.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.48</span>
                    A first order reaction takes 100 minutes for completion of 60 per cent of reaction. Find the time
                    when 90% of the reaction will be completed.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.48.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.49</span>
                    Calculate the half life of a first order reaction having a value of 2 x
                    10<sup>-3</sup>s<sup>-1</sup> for its rate constant.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.49.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.50</span>
                    A radioactive element is half disintegrated in 40 minutes. What is the time required for the decay
                    of 75% of the element?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">The Half life period of the radioactive element if 75% of its disintegrate in 40
                    <br>
                    =>40/2=20minute
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.51</span>
                    In a reaction, 5g ethyl acetate is hydrolysed per litre in the presence of dil. HCl in 300 min.
                    lithe reaction is of first order, and the initial concentration of ethyl acetate is 22 g/L, then
                    calculate the rate constant of the reaction
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.51.jpg" alt="">
                <h4 class="text-dark">5g of ethyl acetate has been hydrolysed
                    <br>
                    So,5/88moles of ethyl acetate has been hydrolysed
                    <br>
                    So,number of moles remaining in the solution.
                </h4>
                <img src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.51-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.52</span>
                    The decomposition of N<sub>2</sub>O<sub>5</sub> in CCl<sub>4</sub> solution follows the first order
                    rate law. The concentration of N<sub>2</sub>O<sub>5</sub> measured at different time intervals are
                    given below. <br>
                    <br>Time in seconds (t) : 0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 80 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 160
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 410 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 600 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    1130 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1720<br>
                    (N<sub>2</sub>O<sub>2</sub>)(mol/L) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.5
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.8
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.6 <br>
                    <br> Calculate its rate constant at t = 410 s and t = 1130 s. What do these results show?
                    <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/4.52ques.jpg" alt="">
                </h4>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.52.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.53</span>
                    The following data were obtained in an experiment on inversion of cane sugar in the presence of 0.1N
                    HCl.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/4.53ques.jpg"
                        alt=""><br>
                    Show that the reaction is of first order After what time would you expect a zero reading in
                    polarimeter ?
                </h4>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Rate Law expression for the inversion of cane sugar for Ist order kinetics
                </h4>
                <img width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.53.jpg" alt=""
                    class="img-fluid">
                <img width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.53-2.jpg" alt=""
                    class="img-fluid">
                <img width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.53-3.jpg" alt=""
                    class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.54</span>
                    A solution of H<sub>2</sub>O<sub>2</sub> when titrated against KMnO4<sub>4</sub>solution at
                    different time intervals gave the following results.
                    <br><img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/4.54ques.jpg"
                        alt=""><br>
                    Show that the decomposition of H<sub>2</sub>O<sub>2</sub> is a first order reaction.
                </h4>
                </h4>


            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> 4.55</span>
                    The kinetic study of hydrolysis of methyl acetate in excess of dil. HCl at 25°C was followed by
                    withdrawing 2 Ml, of the reaction mixture at intervals of t, adding 50 Ml water and titrating with
                    baryta water. Following results were obtained <br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/4.55ques.jpg" alt="">
                    <br>
                    Show that the reaction is of first order and determine the value of rate constant
                </h4>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-4/img4.55.jpg" alt="">
            </div>
        </div>


    </div>

</body>