<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">CLASS 12 CHEMICAL-KINETICS EXERCISE 4.1</h1>
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.1</span>
                <span class="integrate"></span>
                What do you understand by the rate of a reaction?
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>
                The rate of a chemical reaction may be defined as the change in concentration of any of the reactants or
                any of the product per unit time <br>
            </h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/1.jpg" alt="">
        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.2</span>
                <span class="integrate"></span>
                Define the following:<br> (i) Average rate of a reaction <br>(ii) Instantaneous rate of a reaction.
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>(i) The change in concentration of any of the reactants or any of the product per unit time over the
                specified interval of time is defined as average rate of reaction<br>
                (ii)The change in concentration of any of the reactants or any of the product at a particular instance
                of time is defined as instantaneous rate of reaction </h4>

        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.3</span>
                <span class="integrate"></span>
                Express the average rates of following reactions in terms of concentrations of reactants and products
                :<br> (i) 2NO<sub>2</sub> + F<sub>2</sub>&rarr; 2NO<sub>2</sub>F<br> (ii) H<sub>2</sub> (g)
                +I<sub>2</sub> (g)&rarr; 2HI (g)<br>(iii) 2ICl (g) + H<sub>2</sub> (g) &rarr; I<sub>2</sub> (g) + 2HCl
                (g).
                <!-- <div class="frac">
                        <span>
                            2cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3sin<sup>2</sup>x</span>
                    </div> -->

            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/3.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.4</span>
                For a chemical reaction 2A + B &rarr; 2C + 3D, the rate of disappearance of A is 0.10 mol
                L<sup>-1</sup>s<sup>-1</sup>. Calculate the rate of reaction and the rate of appearance of D.
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/4.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.5</span>
                The reaction,<br> 2N<sub>2</sub>O<sub>5</sub>(g) &rarr; 4NO<sub>2</sub>(g) + O<sub>2</sub>(g)<br> is
                carried out in a closed vessel. The concentration of N<sub>2</sub>O<sub>5</sub> (g) is found to decrease
                by 2 x 10<sup>-2</sup> mol L<sup>-1</sup> in 10 seconds. Calculate the rate of reaction and the rate of
                appearance of NO<sub>2</sub>.


            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/5.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/5-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.6</span>
                For the reaction N<sub>2</sub> (g) + 3H<sub>2</sub> (g) &rarr; 2NH<sub>3</sub> (g) <br>
                the rate of reaction is found to be 2 x 10<sup>4</sup> mol. Calculate the rate of disappearance of
                N<sub>2</sub>(g) and that of H<sub>2</sub>(g).
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/6.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.7</span>
                For the reaction, <br>
                N<sub>2</sub>O<sub>4</sub>(g) &#8652; 2NO<sub>2</sub> (g) it has been found that the pressure of
                N<sub>2</sub>O<sub>4</sub> falls from 0.64 atm to 0.38 atm in 28 minutes. Calculate the rate of reaction
                and the rate of appearance of NO<sub>2</sub> (g).
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/7.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/7-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.8</span>
                Express the relationship between the rate of production of water and the rate of disappearance of oxygen
                in the following reaction:
                2H<sub>2</sub> + O<sub>2</sub> &rarr; 2H<sub>2</sub>O
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/8.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.9</span>
                What aspect of a reaction is influenced by presence of catalyst which increases the rate or possibility
                of the reaction ?
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4> Catalyst lowers down the activation energy and provides an alternative path to the reaction. The number
                of molecukes processing activation energy will increase at the same temperature and number of effective
                collision.</h4>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.10</span>
                Express the rate of the following reaction in terms of disappearance of hydrogen in the reaction:<br>
                3H<sub>2</sub>(g) + N<sub>2</sub>(g) &rarr; 2NH<sub>3</sub>(g)
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-1/10.jpg" alt="">
        </div>
    </div>


</div>