<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">CLASS 12 CHEMICAL-KINETICS EXERCISE 4.2</h1>
<div class="container mt-2">





    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.11</span>
                <span class="integrate"></span>
                What do you understand by rate law and rate constant ? What are the units of rate constant for a
                reaction of order n ?
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4><span class="text-danger">Rate law:</span><br>
                It is the way of representing / expressing the rate of reacting terms of concentration of reactants.<br>
                aA + bB &rarr; cC + dD<br>
                Rate = K[A]<sup>&alpha;</sup>[B]<sup>&beta;</sup> , &alpha; and &beta; are the order of the reaction
                w.r.t A and B<br>
                <br> <span class="text-danger"> Rate constant (K):</span><br>
                It is the rate of reaction if the molar concentration of reactants are unity<br>
                Rate = K[A]<sup>&alpha;</sup>[B]<sup>&beta;</sup> , Rate = K<br>
                unit depends on first order and second order.

            </h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/2.jpg" alt="">
        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.12</span>
                Define order of a reaction
                <!-- <div class="frac">
                        <span>
                            2cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3sin<sup>2</sup>x</span>
                    </div> -->

            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>
                The power to which the concentration term of a particular reactant in the rate law is raised is called
                the order of reaction.
                <br> The order of reaction can be zero or fraction , whole number<br>
                2NO + O<sub>2</sub> &rarr; 2NO<SUB>2</SUB>
                <br> Rate = K [NO]<sup>2</sup>[O<sub>2</sub>]<sup>1</sup><br>
                Overall reaction = 2 + 1 = 3
            </h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/3.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/3-1.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.13</span>
                What is specific reaction rate and how is it different from the reaction rate?
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4><span class="text-danger">Reaction Rate:</span><br>
                (i) It is the rate of change of concentration of a reactant or a product with respect to time. <br>
                (ii) Its units are fixed and are mol L<sup>-1</sup>s<sup>-1</sup>.<br><br>
                <span class="text-danger">Reaction Rate:</span><br>
                (i) It is a constant of proportionality and is equal to the rate of reaction when the molar conc. of
                each of the reactant is unity.<br>
                (ii) Its units depend upon the order of reaction.
            </h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/4.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.14</span>
                How is rate constant related to the concentration of reactants?


            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>It is independent of concentration</h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/5.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.15</span>
                Name one zero order reaction.
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>Rate is independent of the concentration of reactant<br>
                Eg- H<sub>2</sub> + Cl<sub>2</sub> &rarr; 2HCl<br>
                Rate = K[H<sub>2</sub>]<sup>0</sup>[Cl<sub>2</sub>]<sup>0</sup>
            </h4>

            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/6.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.16</span>
                Identify the reaction order if the units of rate constant are s<sup>-1</sup> .
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>unit of I<sup>st</sup> order reaction is s<sup>-1</sup></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/7.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.17</span>
                The rate constant of a reaction is 2 x 10<sup>-2</sup> L mol<sup>-1</sup> s<sup>-1</sup>. What is the
                order of reaction?
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/8.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.18</span>
                The reaction A + B&rarr; C has zero order. Write the rate equation.
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>zero order reaction <br>
                A + B &rarr; C <br>
                rate = K[A]<SUP>0</SUP>[B]<SUP>0</SUP><br>
                rate = K
            </h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/9.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/9-1.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/9-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.19</span>
                The form of rate law for a reaction is expressed as Rate = k [Cl<sub>2</sub>] [NO]<sup>2</sup> Find out
                the order of reaction with respect to Cl<sub>2</sub>, with respect to NO and also the overall order of
                the reaction.
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/10.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.20</span>
                For the reaction, 2A + B + C &rarr; A<sub>2</sub>B + C, rate law has been determined to be; Rate = k [A]
                [B]<sup>2</sup>. If the rate constant k = 2.0 x 10<sup>-6</sup> mol<sup>-2</sup> Ls<sup>-1</sup>, what
                will be the initial rate of the reaction with [A] = 0.1 mol L<sup>-1</sup>, [B) = 0.2 mol L<sup>-1</sup>
                and [C] = 0.8 mol L<sup>-1</sup>?
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/11.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.21</span>
                The reaction 2A + B&rarr; C + D obeys the rate equation, Rate = k [A]<sup>2</sup> [B]<sup>-1/2</sup>.
                Find the order of this reaction when A is present in large excess.

            </h4>



            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/12.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.22</span>
                Determine the order of reaction which has the rate expression, Rate = k [A]<sup>1/2</sup>
                [B]<sup>1/2</sup>


            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/13.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.23</span>
                (a) Express the relationship between the rate of production of oxygen and the rate of disappearance of
                hydrogen peroxide (H<sub>2</sub>O<sub>2</sub>) in the following
                reaction.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                2H<sub>2</sub>O<sub>2</sub>&rarr; 2H<sub>2</sub>O + O<sub>2</sub><br> (b) The rate of formation of a
                dimer in a second order dimerisation reaction is 6.5 x 10<sup>-6</sup> mol L<sup>-1</sup>s<sup>-1</sup>
                at 0.01 mol L<sup>-1</sup> monomer concentration. Calculate the rate constant
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/14.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/14-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.24</span>
                The rate of a gaseous reaction is halved when the volume of the vessel is doubled. What is the order of
                reaction?
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/15.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.25</span>
                What is meant by relative rates of reaction ? Write the relative rate expressions for the following
                chemical reaction:<br>
                NH<sub>3</sub>(g) + 5O<sub>2</sub> &rarr; 4NO(g) + 6H<sub>2</sub>O (g)
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/16.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.26</span>
                For the reaction.<br> A + B &rarr; Products,<br> the rate law is, Rate = k[A]<sup>2/3</sup>
                [B]<sup>2</sup>. What are the units of rate constant
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/17.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.27</span>
                For the reaction. 2A + B + C &rarr; A<sub>2</sub>B + C , the rate law has been determined to be <br>Rate
                = k [A] [B]<sup>2</sup>.<br> If the value of k is 2.0 x 10<sup>-6</sup> mol<sup>-2</sup>
                L<sup>2</sup>s<sup>-1</sup> (or the reaction, determine the initial rate of the reaction with [A] = 0.2
                mol L<sup>-1</sup>, [B] = 0.1 mol L<sup>-1</sup>and [C] = 0.5 mol L<sup>-1</sup>.
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/18.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.28</span>
                The rate of decomposition of a substance A becomes eight times when its concentration is doubled. What
                is the order of this reaction ?
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/19.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.29</span>
                The rate law for the decomposition of N<sub>2</sub>O<sub>5</sub> is <br>Rate = k
                [N<sub>2</sub>O<sub>5</sub>]<br> What is the significance of k in this equation ?

            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4> Rate = K[N<SUB>2</SUB>O<SUB>5</SUB>]<br>
                K represents the rate constant for the reaction. It becomes equal to the reaction rate .<br>When the
                most conc. of N<sub>2</sub>O<sub>5</sub> is 1 mol L<sup>-1</sup>.
            </h4>

            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/20.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.30</span>
                A reaction is first order in A and second order in B.<br> (i) Write differential rate equation.<br> (ii)
                How is the rate affected if the concentration of B is tripled ?<br> (iii) How is the rate affected if
                the concentrations of both A and B are doubled?<br><br> What is the significance of rate constant in the
                rate expression ?
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <h4>(i) K[A][B] <sup>2</sup><br>
                (ii) the rate affected if the concentration of B is tripled.<br>
                rate = K[3B]<sup>2</sup> <br> it increase 9 times
                <br> (iii) If both A and B are doubled <br>
                r = K[2A][2B]<SUP>2</SUP><BR>
                it increase by 8 times.
            </h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/21.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.31</span>
                Following reaction takes places in one step : 2NO(g) + O<sub>2</sub>(g) &#8652; 2NO<sub>2</sub> (g)<br>
                How will the rate of the above reaction change if the volume of the reaction vessel is diminished to
                one-third of its original volume ?<br> Will there be any change in the order of the reaction with the
                reduced volume ?

            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/22.jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/22-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.32</span>
                Give an example of a pseudo first order reaction.


            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/23.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.33</span>
                For the reaction 2X &rarr; X<sub>2</sub>, rate of reaction becomes three times when the concentration of
                X is increased by 27 times. What is the order of reaction ?


            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/24.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.34</span>
                For the reaction Cl<sub>2</sub>(g) + 2NO(g) &rarr; 2NOCl (g),<br> Rate law is expressed as rate = k
                [Cl<sub>2</sub>] [NO]<sup>2</sup>. What is the overall order of this reaction ?


            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/25.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> 4.35</span>
                The decomposition of NH<sub>3</sub> on platinum surface,<br>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/4.35.jpg" alt=""><br>
                is a zero order reaction with k = 2.5 x 10<sup>-4</sup> Ms<sup>-1</sup>. What are the rates of
                production of N<sub>2</sub> and H<sub>2</sub> ?


            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-2/26.jpg" alt="">
        </div>
    </div>

</div>