<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .img-fluid {
        width: 84% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100% !important;
        }
    }
</style>
</head>

<body class="bg-light">

    <h1 class="text-center text-danger mt-3">CLASS 12 CHEMICAL-KINETICS EXERCISE 4.5</h1>
    <div class="container mt-2">



        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.56</span>
                    The decomposition of [N<sub>2</sub>0<sub>5</sub>] in a carbon tetrachloride solution has been found
                    to be of first order
                    with rate constant
                    <br>
                    k = 6.2 x 10<sup>-4</sup>s<sup>-1</sup>
                    <br>
                    N<sub>2</sub>0<sub>5</sub>(solution) -> 2NO<sub>2</sub> (solution) + 1/2 0<sub>2</sub> (g)
                    <br>
                    Calculate the rate of reaction when [ N<sub>2</sub>0<sub>5</sub>] = 1.75 mol L<sup>-1</sup>. At
                    what concentration of N<sub>2</sub>0<sub>5</sub> the reaction would have a rate of 3.8 x
                    10<sup>-3</sup>mol L<sup>-1</sup>
                    s<sup>-1</sup>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">For Ist order Reaction
                    <br>
                    Rate=K[N<sub>2</sub>O<sub>5</sub>]
                    <br>
                    =6.2x10<sup>-4</sup>x1.75
                    <br>
                    =1.08x10<sup>-3</sup>mol/L
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.57</span>
                    The following data were obtained at 300 K for the reaction 2 A + B-->C + D :
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Experiment number</th>
                            <th>[A]
                                <br>(mol L<sup>-1</sup>)
                            </th>
                            <th>[B]
                                <br>(mol L<sup>-1</sup>)
                            </th>
                            <th>Rate of formation of D <br>(mol L<sup>-1</sup>min<sup>-1</sup>)</th>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>0.1</td>
                            <td>0.1</td>
                            <td>6.0x10<sup>-3</sup></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>0.3</td>
                            <td>0.2</td>
                            <td>7.4x10<sup>-2</sup></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>0.3</td>
                            <td>0.4</td>
                            <td>2.88x10<sup>-1</sup></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>0.4</td>
                            <td>0.1</td>
                            <td>2.4x10<sup>-2</sup></td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">
                    Calculate the rate of formation of D when [A] = 0.5 mol L<sup>-1</sup> and [B]=0.2mol L<sup>-1</sup>
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.57.jpg" alt=""
                    style="width: 100%!important;">
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.58</span>
                    Following data were obtained for the decomposition of N<sub>2</sub>O<sub>5</sub> which is a first
                    order reaction.
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>t(min)</th>
                            <th>[N<sub>2</sub>O<sub>5</sub> ](mol L<sup>-1</sup>)</th>
                        </thead>
                        <tr>
                            <td>0</td>
                            <td>1.000</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>0.705</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>0.497</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>0.349</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">
                    From the data given above, determine the value of (i) specific reaction rate and (ii) half-life of
                    the reaction.
                </h4>
                <h4><span class="text-success">Solution </span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.59</span>
                    Consider the following data for the reaction
                    <br>
                    A + B --->Products;
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Run</th>
                            <th>Intial conc.A</th>
                            <th> Initial conc. B</th>
                            <th>Initial rate(mol s<sup>-1</sup>)</th>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>0.10 M</td>
                            <td>1.0 M</td>
                            <td>2.1 x10<sup>-3</sup></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>0.20 M</td>
                            <td>2.0 M</td>
                            <td>8.4 x10<sup>-3</sup></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>0.30 M</td>
                            <td>3.0 M</td>
                            <td>8.4 x10<sup>-3</sup></td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">
                    Determine the order of reaction with respect to A and with respect to B and the overall order of the
                    reaction
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.59.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.60</span>
                    For the reaction 2 A + B C---> A<sub>2</sub>B +C, the rate law has been determined to he Rate = k
                    [A] [B]<sup>2</sup>. If the value of the k is 2.0 x 10<sup>-6</sup>
                    mol<sup>-2</sup>L<sup>2</sup>s<sup>-1</sup> for the reaction, determine the initial rate of the
                    reaction with [A] = 0.2 mol L<sup>-1</sup>, [B] = 0.1 mol L<sup>-1</sup>, [C] = 0.5 mol
                    L<sup>-1</sup>.
                </h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.60.jpg" alt="">
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.60-2.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.61</span>
                    The catalytic decomposition of hydrogen peroxide was studied by titrating it at different intervals
                    with KMnO4 solution. Calculate the rate constant from the following data assuming the reaction to be
                    of the first order.
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>t(seconds)</th>
                            <th>KMno<sub>4</sub>(ML)</th>
                        </thead>
                        <tr>
                            <td>0</td>
                            <td>22.8</td>

                        </tr>
                        <tr>
                            <td>600</td>
                            <td>13.8</td>
                        </tr>
                        <tr>
                            <td>1200</td>
                            <td>8.2</td>
                        </tr>
                    </tbody>
                </table>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.61.jpg" alt="">
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.61-2.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.62</span>
                    For the reaction 2N0 (g) + Cl<sub>2</sub> (g) ---> 2NOCI (g), following data were obtained.
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Experiment</th>
                            <th>Initial conc. of NO (mol L<sup>-1</sup>)</th>
                            <th>Initial conc. ol C1<sub>2</sub> (mol L<sup>-1</sup>)</th>
                            <th>Initial rate (mol L<sup>-1</sup> s<sup>-1</sup>)</th>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>0.010</td>
                            <td>0.020</td>
                            <td>2.40x10<sup>-4</sup></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>0.030</td>
                            <td>0.020</td>
                            <td>2.16x10<sup>-3</sup></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>0.030</td>
                            <td>0.040</td>
                            <td>4.32x10<sup>-3</sup></td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">Determine the orders with respect to NO and C1<sub>2</sub>, the rate law and the
                    rate
                    constant.</h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.62.jpg"
                    alt="">
                <img class="img-fluid" width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.62-2.jpg"
                    alt="">
                <img class="img-fluid" width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.62-3.jpg"
                    alt="">
                <img class="img-fluid" width="1000" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.62-4.jpg"
                    alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.63</span>
                    Benzene diazonium chloride decomposes as
                    <br>
                    C<sub>6</sub>H<sub>5</sub>N<sub>2</sub>CI ---> C<sub>6</sub>H<sub>5</sub>CI + N<sub>2</sub>
                    <br>
                    The volume of N<sub>2</sub> evolved at different time intervals was measured and the following data
                    were
                    obtained.
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Time(min)</th>
                            <th>Volume of N<sub>2</sub>(mL)</th>

                        </thead>
                        <tr>
                            <td>0</td>
                            <td>0</td>

                        </tr>
                        <tr>
                            <td>20</td>
                            <td>10</td>

                        </tr>
                        <tr>
                            <td>70</td>
                            <td>33</td>

                        </tr>
                        <tr>
                            <td>&infin;</td>
                            <td>1.62</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">Find the order of reaction and calculate the value of rate constant.</h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.63.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.64</span>
                    Find the two-third life, t<sub>2/3</sub>, of a first order reaction in which
                    <br>
                    k=5.4x10<sup>-14</sup>s<sup>-1</sup>
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.64.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.65</span>
                    The following rate data were obtained at 300 K for the reaction
                    <br>
                    2A+B-->C+D
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Experiment number</th>
                            <th>[A]
                                <br>(mol L<sup>-1</sup>)
                            </th>
                            <th>[B]
                                <br>(mol L<sup>-1</sup>)
                            </th>
                            <th>Rate of formation of D <br>(mol L<sup>-1</sup>min<sup>-1</sup>)</th>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>0.1</td>
                            <td>0.1</td>
                            <td>4.5x10<sup>-3</sup></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>0.3</td>
                            <td>0.2</td>
                            <td>5.4x10<sup>-2</sup></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>0.3</td>
                            <td>0.4</td>
                            <td>2.16x10<sup>-1</sup></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>0.4</td>
                            <td>0.1</td>
                            <td>1.8x10<sup>-2</sup></td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="text-danger">
                    Calculate the rate of formation of D when [A) = 0.5 mol L<sup>-1</sup> and [B] = 0.3 mol
                    L<sup>-1</sup>.
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.65.jpg" alt=""
                    style="width: 100%!important;">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.66</span>
                    For the reaction A----> B + C, the data given below were obtained. Prove that the reaction is of
                    first order
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>t</th>
                            <th>[A]
                            </th>

                        </thead>
                        <tr>
                            <td>0</td>
                            <td>50.8</td>

                        </tr>
                        <tr>
                            <td>90</td>
                            <td>19.7</td>
                        </tr>
                        <tr>
                            <td>180</td>
                            <td>7.62</td>
                        </tr>
                    </tbody>
                </table>


                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.66.jpg" alt="">
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.66-2.jpg" alt="">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.67</span>
                    The following data were obtained for the decomposition of phosphine.
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>
                        <thead>
                            <th>Initial pressure(mm of Hg)</th>
                            <th>Half-life
                            </th>

                        </thead>
                        <tr>
                            <td>707</td>
                            <td>84</td>

                        </tr>
                        <tr>
                            <td>500</td>
                            <td>83.8</td>
                        </tr>
                        <tr>
                            <td>79</td>
                            <td>84</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="text-danger">
                    Find the order of reaction.
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    In the given data,we find that 1/2 life periods at different inital conc.(pressures in the case of
                    gasesous reaction) are particularly same.Since the half life period of a Ist order reaction is
                    independent of intial conc.
                    So the reaction is Ist order
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.68</span>
                    State any one condition under which a bimolecular reaction may be kinetically of first order.
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    When one of the reactant present in excess
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.69</span>
                    How is half life related to initial concentration for a second order reaction?
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.69.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.70</span>
                    Express the relation between the half life period of a reactant and its initial concentration for a
                    reaction of n<sup>th</sup> order.
                </h4>

                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.70.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q4.71</span>
                    The reaction A + 2B--->C obeys the equation
                    <br>
                    Rate=k[A]<sup>1/2</sup>[B]<sup>3/2</sup>
                </h4>
                <h4 class="text-danger">What is the order of the reaction?</h4>
                <h4><span class="text-success">Solution </span></h4>
                <img class="img-fluid" src="class12ISCchap/chemistry/chemicalkineticimg/4-5/img4.71.jpg" alt="">
            </div>
        </div>


    </div>

</body>