<style>
    .col {
        background-image: url('img/textwater.png');
    }

    .img-fluid {
        width: 54% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100% !important;
        }
    }
</style>
</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Surface Chemistry QUESTIONS 5.2</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.20</span>
                    How does a catalyst work in : <br>
                    (a) Homogeneous catalyst <br>
                    (b) Hetrogenous catalyst </h5>
                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    (a) <u><span class="text-danger">Homogeneous catalysis</span></u>->when the catalyst
                    mixes
                    homogenously with
                    the
                    reactant to form a single phase, it is said to be a homogenous catalyst also know as
                    homogenous and
                    this type of catalyst is known as Homogeneous Catalyst <br>
                    (b) <u><span class="text-danger">Heterogenous Catalysis</span>
                    </u>-> when the Catalyst does not mixup
                    homogeneously with the reactants and form a separate phase, it as said to be a
                    heterogeneous
                    Catalyst.

                </h5>
                </li>
                </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.21</span>
                    Give reasons for the catalytic activity of finely divided iron in Haber's process.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <span class="text-danger">Haber's Process </span> hydrogen reacts with N<sub>2</sub> to produce
                    ammonia,
                    catalyst are those compounds which are used to change the rate of reaction.
                    <br>
                    In ammonia production of Haber's process, finely divided iron
                    Catalyst does not effect the % yield of ammonia.
                    <br>
                    Catalyst are obtained are the end of reaction.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.22</span>
                    Give four examples of heterogeneous catalytic reactions.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger">Example of Heterogenous Reaction</u>
                    <br>
                    ->Manufacture of ammonia from N<sub>2</sub> and H<sub>2</sub> by Haber's process using iron iron as
                    catalyst.
                </h5>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.2.jpg" alt="">
                <h5 class="text-dark">
                    -> Oxidation of SO<sub>2</sub> to SO<sub>3</sub> using platinized to V<sub>2</sub>O<sub>5</sub> as
                    Catalyst.
                </h5>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.2-1.jpg" alt="">
                <h5 class="text-dark">
                    -> Synthesis of methyl alcohol from CO and hydrogen using a mixture of ZnO and CuO as Catalyst
                </h5>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.2-2.jpg" alt="">
                <h5 class="text-dark">
                    -> Polymerisation of ethylene using TiCl<sub>4</sub> and trialkyl aluminium as a catalyst.
                </h5>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.2-3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.23</span>
                    What is a shape selective catalyst?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger">Shape-selective Catalysis</u>
                    <br>
                    <br>
                    zeolites are microporous aluminosilicates of the general formula
                    <br>
                    M<sub>x/n</sub>,[(AlO<sub>2</sub>)<sub>x</sub> (SiO<sub>2</sub>)<sub>y</sub>].mH<sub>2</sub>O,where
                    <br>
                    M->Metal cation
                    <br>

                    (eg->Na<sup>+</sup>,K<sup>+</sup> or Ca<sup>+2</sup>)
                    <br>
                    <br>
                    They may be as well as synthetic.
                    <br>
                    Zeolites may be Considered as open Structure of silica in which x/(x+y) fraction of tetrahedral
                    sities in occupied by aluminium.
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.24</span>
                    Differentiate between homogeneous and heterogeneous catalysis.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger">Difference between Homogeneous and heterogeneous Catalyst</u>
                    <br>
                    (a) <b><u class="text-danger">Homogeneous Catalyst-></u></b>
                    <br>
                    ->In homogeneous catalysis, the catalyst is present in the same phase as the reactant
                    <br>
                    ->High selectivity
                    <br>
                    <br>
                    Example->
                    <br>
                    Oxidation of CO by 0<sub>2</sub> takes place in the presence of No as a Catalyst
                    <br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24.jpg" alt="">
                    <br>
                    Here, all substance are present in the gaseous phase
                    <br>
                    <br>
                    (a) <u class="text-danger"><b> Heterogeneous Catalysis </b></u> When the Catalyst does not mixup
                    homogeneously with the
                    reactants and form a separate phase, it as said to
                    be a heterogeneous Catalyst.
                    <br>
                    <u class="text-danger">Example of Heterogeneous Reaction</u>
                    <br>
                    ->Manufacture of ammonia from N<sub>2</sub> and H<sub>2</sub> by Haber's process using iron as
                    catalyst. <br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-1.jpg" alt="">
                    <br>
                    ->Oxidation of S0<sub>2</sub> to S0<sub>3</sub> using platinized to V<sub>2</sub>0<sub>5</sub> as
                    Catalyst.<br>
                    <img src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-2.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.26</span>
                    Why is a catalyst, in general, used in the form of finely divided powder?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    Catalyst when taken in the form of finely divided
                    powder,it has large surface area. Large the surface area, more will be activity as catalyst.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.27</span>
                    Explain two aspects of choosing heterogeneous catalyst.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <b><u class="text-danger">Two aspects of heterogeneous Catalyst --> </u></b>
                    <br>
                    <br>
                    <b><u class="text-danger">Heterogeneous Catalysis-></u></b>
                    When the Catalyst does not mixup homogeneously with the
                    reactants and form a separate phase, it as said to be a heterogeneous Catalyst.
                    <br>
                    <u class="text-danger"><b>Example of Heterogeneous Reaction->
                        </b></u>
                    <br>
                    Manufacture of ammonia from N<sub>2</sub> and H<sub>2</sub> by Haber's process using iron as
                    catalyst.
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-1.jpg" alt="">
                    <br>
                    ->Oxidation of S0<sub>2</sub> to S0<sub>3</sub> using platinized to V<sub>2</sub>0<sub>5</sub> as
                    Catalyst. <br>
                    <img src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-2.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.28</span>
                    Indicate a chemical reaction involving a homogeneous catalyst.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger"><b>Homogeneous Catalyst</b></u>
                    ->In homogeneous catalysis, the catalyst is present in the same phase as the reactant
                    <br>
                    ->High selectivity
                    <br>
                    <br>
                    Example->
                    <br>
                    Oxidation of CO by 0<sub>2</sub> takes place in the presence of NO as a Catalyst
                    <br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24.jpg" alt="">
                    <br>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.29</span>
                    Name two industrial processes in which heterogeneous catalysts are employed.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.29.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.30</span>
                    What is shape selective catalysis? Name a shape selective catalyst which converts alcohols directly
                    to gasoline.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger">Shape-selective Catalysis</u>
                    <br>
                    <br>
                    zeolites are microporous aluminosilicates of the general formula
                    <br>
                    M<sub>x/n</sub>,[(AlO<sub>2</sub>)<sub>x</sub> (SiO<sub>2</sub>)<sub>y</sub>].mH<sub>2</sub>O,where
                    <br>
                    M->Metal cation
                    <br>

                    (eg->Na<sup>+</sup>,K<sup>+</sup> or Ca<sup>+2</sup>)
                    <br>
                    <br>
                    They may be as well as synthetic.
                    <br>
                    Zeolites may be Considered as open Structure of silica in which x/(x+y) fraction of tetrahedral
                    sities in occupied by aluminium.
                    <br>
                    <br>
                    Zeolites Catalyst known as ZSM -5 Converts alcohols to gasoline. The alcohol is dehydrated in the
                    cavities and the hydrocarbon are formed.

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.31</span>
                    What is enzyme catalysis? Give some examples.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger"><b> Enzyme Catalyst</b></u>
                    <br>
                    Enzymes are biological catalysts. Catalysts are substance that increase the rate of
                    chemical reactions without being used up.
                    <br>
                    Enzymes are also proteins that are folded into Complex
                    shapes that allow smaller molecules to fit into them.
                    <br>
                    <u class="text-danger"> Examples</u> Lactose,alcohol dehydrogenase and DNA polymerase
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.32</span>
                    Explain the mechanism of enzyme catalysis.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    The mechanism for enzyme catalysis include following steps:
                    <br>
                    <br>
                    (i) Enzyme (E) binds to substrate (s) to form enzymes substrate complex (ES)
                    <img src="/class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.32.jpg" alt="" class="img-fluid">
                    <br>
                    (ii)this step is fast and reversible
                    <br>
                    (2) Enzyme substrate Complex (ES) Converts to enzyme product (EP) complex
                    <br>
                    &nbsp;&nbsp;&nbsp; ES->EP
                    <br>
                    this is slow step (rate determining step)
                    <br>
                    (3) Enzyme product Complete (EP) dissociates into enzyme (E) and products (P)
                    <br>
                    &nbsp;&nbsp;&nbsp; EP->E+P
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.33</span>
                    Taking two examples of heterogeneous catalytic reactions, explain how a heterogeneous catalyst helps
                    in the reaction.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger"><b>Example of Heterogeneous Reaction->
                        </b></u>
                    <br>
                    <br>
                    -> Manufacture of ammonia from N<sub>2</sub> and H<sub>2</sub> by Haber's process using iron as
                    catalyst.
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-1.jpg" alt="">
                    <br>
                    ->Oxidation of S0<sub>2</sub> to S0<sub>3</sub> using platinized to V<sub>2</sub>0<sub>5</sub> as
                    Catalyst.<br>
                    <img src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-2.jpg" alt="" class="img-fluid">
                    <br>
                    ->Synthesis of methyl alcohol from CO and hydrogen using a mixture of ZnO and CuO as Catalyst
                    <img src="/class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.33.jpg" alt="" class="img-fluid">
                    <br>
                    ->Polymerisation of ethylene using TiCl<sub>4</sub> and trialkyl aluminium,as catalyst.<br>
                    <img src="/class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.33-1.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.34</span>
                    What do you understand by activity and selectivity of catalysts ? Describe some features of
                    catalysis by zeolites.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <u class="text-danger"><b>Activity -></b></u>
                    The ability of a catalyst to accelerate chemical reactions is termed as activity.
                    <br>
                    <img src="/class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.34.jpg" alt="" class="img-fluid">
                    <br>
                    Pt increase the rate of reaction between H<sub>2</sub> and O<sub>2</sub> to such an extent that the
                    reaction
                    occurs with an explosive violence.
                    <br>
                    <u class="text-danger"><b>Selectivity-></b></u>The ability of a catalyst to direct a Chemical
                    reaction to yield
                    particular product (s) is termed as selectivity.
                    <br>
                    n-heptane selectively gives toulene on a platinum catalyst.<br>
                    <img src="/class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.34-1.jpg" alt="" class="img-fluid">
                    <br>
                    <u class="text-danger"><b>Some features of Catalyst by zeolites</b></u>
                    <br>
                    <br>
                    zeolites are microporous aluminosilicates of the general formula
                    <br>
                    M<sub>x/n</sub>,[(AlO<sub>2</sub>)<sub>x</sub> (SiO<sub>2</sub>)<sub>y</sub>].mH<sub>2</sub>O,where
                    <br>
                    M->Metal cation
                    <br>

                    (eg->Na<sup>+</sup>,K<sup>+</sup> or Ca<sup>+2</sup>)
                    <br>
                    <br>
                    They may be as well as synthetic.
                    <br>
                    Zeolites may be Considered as open Structure of silica in which x/(x+y) fraction of tetrahedral
                    sities in occupied by aluminium.
                    <br>
                    <br>
                    Zeolites Catalyst known as ZSM -5 Converts alcohols to gasoline. The alcohol is dehydrated in the
                    cavities and the hydrocarbon are formed.

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.35</span>
                    Illustrate with examples. Homogeneous and heterogeneous catalysis
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <br>
                    (a) <b><u class="text-danger">Homogeneous Catalyst-></u></b>
                    <br>
                    ->In homogeneous catalysis, the catalyst is present in the same phase as the reactant
                    <br>
                    ->High selectivity
                    <br>
                    <br>
                    Example->
                    <br>
                    Oxidation of CO by 0<sub>2</sub> takes place in the presence of No as a Catalyst
                    <br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24.jpg" alt="">
                    <br>
                    Here, all substance are present in the gaseous phase
                    <br>
                    <br>
                    (a) <b><u class="text-danger">Heterogeneous Catalysis </u></b> When the Catalyst does not mixup
                    homogeneously with the
                    reactants and form a separate phase, it as said to
                    be a heterogeneous Catalyst.
                    <br>
                    <u class="text-danger">Example of Heterogeneous Reaction</u>
                    <br>
                    ->Manufacture of ammonia from N<sub>2</sub> and H<sub>2</sub> by Haber's process using iron as
                    catalyst.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-1.jpg" alt="">
                    <br>
                    ->Oxidation of S0<sub>2</sub> to S0<sub>3</sub> using platinized to V<sub>2</sub>0<sub>5</sub> as
                    Catalyst.<br>
                    <img src="class12ISCchap/chemistry/surfacechemistryimg/5-2/img5.24-2.jpg" alt="" class="img-fluid">
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> Q5.36</span>
                    Explain shape selective catalysis with a suitable example.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5 class="text-dark">
                    <h5 class="text-dark">
                        <u class="text-danger">Shape-selective Catalysis</u>
                        <br>
                        <br>
                        zeolites are microporous aluminosilicates of the general formula
                        <br>
                        M<sub>x/n</sub>,[(AlO<sub>2</sub>)<sub>x</sub>
                        (SiO<sub>2</sub>)<sub>y</sub>].mH<sub>2</sub>O,where
                        <br>
                        M->Metal cation
                        <br>

                        (eg->Na<sup>+</sup>,K<sup>+</sup> or Ca<sup>+2</sup>)
                        <br>
                        <br>
                        They may be as well as synthetic.
                        <br>
                        Zeolites may be Considered as open Structure of silica in which x/(x+y) fraction of tetrahedral
                        sities in occupied by aluminium.

                    </h5>
                </h5>
            </div>
        </div>

    </div>
</body>