<style>
    .img-fluid {
        max-width: 44% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            max-width: 100% !important;
        }
    }

    .col {
        background-image: url('img/textwater.png');
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">SURFACE-CHEMISTRY CLASS 12 5.3 EXERCISE</h1>
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.37</span>
                Which of the following are not colloidal systems ? Milk, Sugar solution, Butter, Brass, Smoke, Cloud,
                50% alcohol, Soap solution.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                sugar solution , brass , 50% alcohol.


            </h5>

        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.38</span>
                Explain the terms : electrodialysis and Tyndall effect.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5><span class="text-danger">(a) Electrodialysis :</span> <br> Dialysis is a slow process
                It can be expedited by applying an electric field.
                under the influence of electric field ,
                the impurity ions move fast to the oppositely charged electrodes and the process gets quickened.
                this process is known as Electrodialysis.<BR>
                <span class="text-danger">(b) Tyndall Effect :</span> <br>
                When an intense converging beam of light is passed through collidal solution kept in dark. The path of
                the beam gets illuminated with a bluish light.
                This phenomenon is called
                Tyndall and the illuminated path is known as Tyndall Cone.
                <br>This phenomenon was first
                observed by Tyndall an 1869.


            </h5>

        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.39</span>
                What are lyophilic and lyophohic sols ? Compare these sols in term of stability and reversibility
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5><span class="text-danger">Lyophillic Sols :</span><br>
                1. The term lyophilic means liquid loving (i.e. solvent loving).<br>
                2. The substance which when mixed with a suitable Liquid (dispersion medium) readily from collidal
                solution are called lyophilic or intrinsic colloids.
                <br> 3. gum, gelatin , albumin , starch etc eg. of lyophillic sols.
                <br><span class="text-danger">Lyophobic Sols :</span><br>
                1. The term lyophobic means Liquid hating (i.e. solvent hating).<br>
                2. The substance which do not posses much affinity for the dispersion medium and do not readily pass
                into the solid state -when mixed with the medium are called lyophobic sols or Extrinsic colloids
                <br> 3. Example of Lyophobic sols : gold & platinate sols<br>
            </h5>
            <br>
            <h5>Compare terms :</h5>
            <br>
            <h5>
                <table class="table table-responsive table-bordered">
                    <tr>
                        <td></td>
                        <td class="text-danger">Lyophillic Sols</td>
                        <td class="text-danger">Lyophobic sols </td>

                    </tr>
                    <tr>
                        <td class="text-danger">Stability</td>
                        <td>Due to hydration
                            they are quite stable and are not easily coagulated</td>
                        <td>They are less
                            Stable and coagulated by
                            heating.</td>

                    </tr>
                    <tr>
                        <td class="text-danger">Reversibility</td>
                        <td>
                            Reversible
                        </td>
                        <td>Irreversible</td>

                    </tr>

                </table>
            </h5>



        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.40</span>
                Explain the terms (i) emulsification (ii) demulsification by giving one example of each.
            </h5>


            <h5><span class="text-success">Solution </span></h5>

            <h5><span class="text-danger">Emulsification :</span> <br>
                Emulsion are usually prepared by
                vigorously mixing the two liquids by using either a high speed mixing machine or using ultrasonic
                vibrators
                <br> This process is known as Emulsification.<br>
                <span class="text-danger"> (b) Demulsification :</span><br>
                Emulsions can be broken into their Constituents liquids by physical methods such as heating ,freezing
                etc.
                <br> The process by breaking an emulsion to
                chemical constituents Liquids is called demulsification.

            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.41</span>
                What are micelles ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>Associated colloids are those colloids which
                behave as a normal strong electrolytes at low Conc.
                but exhibit colloidal properties
                the aggregated particles thus formed are called Micelles.


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.42</span>
                Describe the cleansing action of soaps.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>The dirt present on cloths is organic in nature and insoluble in water , it cannot be
                removed by only washing with water. when soap
                is dissolved in water, its hydrophobic ends attach themselves to the dirt and remove if from the
                clothes.<br>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-3/5.42.jpg" alt=""><br>
                (a) The hydrocarbon residue R of RCOO<SUP>-</SUP> ion dissolves in the greasy dirt on the clothes.<br>
                (b) soap micelle containing greasy dirt (grease micelle).


            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.43</span>
                What is observed when an electric current is passed through a colloidal solution ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5> On passing electric current through a sol, Colloidal particles start moving towards oppositely charged
                electrode where they lose their charge and get coagulated (ectrophoresis),
                <br> Scattering of light by the Colloidal particles takes place and the path of light becomes visible
                (Tyndall effect).

            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.44</span>
                What are associated colloids ? How are they different from multimolecular colloids ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>

            <h5><span class="text-danger">Associated colloids</span><br>
                Associated colloids are those colloids which behave as normal strong electrolytes at low Conc. but
                exhibit colloidal properties the aggregated particles thus formed are called Micelles
                <br> Associated colloids are formed by electrolytes so that they
                are dissociated into ions and these ions associated together to form ionic micelles whose size lies in
                the colloidal range.<br> Example: soap
                and multimolecular colloids formed by the aggregation
                of large no. of simple molecules.

            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.45</span>
                What is the difference between a colloidal solution and an emulsion ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>Difference between Collidal solutions and Emulsions</h5>
            <h5><span class="text-danger">(a) Colloidal solution :</span><br>
                (i) A Homogeneous non-crystalline substance consisting of large molecules or ultramicroscopic particles
                of one substance dispersed through a second substance.
                <br> (ii) can form when any state of matter (solid, Liquid or gas) combine with a Liquid.<br>
                <span class="text-danger">(b) Emulsion :</span><br>
                (i) The Colloidal dispersion of two immiscible liquid in which one Liquid act as a dispersion medium and
                the other as dispersed phase is Called an Emulsion.
                <br> (ii) A fine dispersed of minute droplets of one Liquid in another in which it is not soluble or
                miscible.
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.46</span>
                What is difference between multimolecular and macromolecular colloids ? Give one example of each type.
                How are associated colloids different from these two types of colloids ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5><span class="text-danger"> Multimolecular colloids :</span><br>

                1. the colloidal particles are aggregates of a Large number of atoms or molecules having a diameter of
                less than 1nm.
                <br> 2. Weak van der waals forces are present b/w particles.<br>
                <span class="text-danger"> Macromolecular colloids :</span> <br>
                1. The colloidal particles are macromolecules having a very Large Molecular mass.<br>
                2. Strong chemical bond are present blew macromolecules particles.

                <br><br> Associated colloids are those colloids which behave as normal strong electrolytes at low Conc.
                but exhibit colloidal properties
                ,the aggregated particles
                thus formed are called Micelles.

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.47</span>
                Describe briefly the following:
                <ol type="i">
                    <li>Dialysis
                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark"><span class="text-danger"> (a) Dialysis :</span> <br>


                            the process of separating the impurity
                            particles of true solution dimensions (crystalloids) from an impure so by means of diffusion
                            through a
                            suitable membrane such as parchment paper or cellophane membrane is called Dialysis<br>
                            <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-3/5.47.jpg"
                                alt="">
                        </h5>
                    </li>
                    <li>Electrophoresis
                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <br>
                            <span class="text-danger">(b) Electrophoresis :</span>
                            <br>If the Colloidal particles
                            carry positive charge, they move towards cathode when subjected to an electric field and
                            vice versa,
                            this phenomenon is called Electrophoresis
                        </h5>

                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.48</span>
                Describe the following terms while stating the properties of colloids :
                <ol type="i">
                    <li>Brownian movement
                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark"><span class="text-danger">(a) Brownian Movement :</span>
                            <br> The continuous zing-rag movement
                            the colloidal particles in the dispersion
                            medium in a colloidal sol. is called
                            Brownian movement 'the property was discovered by
                            Robert brown in 1927 which is observed in pollen
                            grains suspended in water exhibit random zing-zag motion.<br>
                        </h5>
                    </li>
                    <li>Tyndall effect
                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <span class="text-danger">(b) Tyndall Effect :</span> <br>
                            When an intense converging beam of light is passed through collidal solution kept in dark.
                            The path of
                            the beam gets illuminated with a bluish light.
                            This phenomenon is called
                            Tyndall and the illuminated path is known as Tyndall Cone.
                            <br>This phenomenon was first
                            observed by Tyndall an 1869.<br>
                        </h5>
                    </li>
                    <li>Electrophoresis

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <span class="text-danger">(c) Electrophoresis :</span>
                            <br>If the Colloidal particles
                            carry positive charge, they move towards cathode when subjected to an electric field and
                            vice versa,
                            this phenomenon is called Electrophoresis<br>
                            <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-3/5.48.jpg"
                                alt="">


                        </h5>
                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.49</span>
                Describe a chemical method each for the preparation of sols of sulphur and platinum in water.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5><span class="text-danger">Preparation of platinum sols :</span> <br>

                sols of Pt in water
                can be prepared by Bredig's Arc method. Pt electrodes
                are employed here through which high voltage is passed so that metal gets vaporised, when these vapours
                are condensed (a colloidal sol. of platinum in water is obtained)
                <br><span class="text-danger"> Preparation of sulphur sols :</span> <br>
                sulphur sol is prepared by the oxidation of H<sub>2</sub>S with the help of concentrated
                HNO<SUB>3</SUB><br>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-3/5.49.jpg" alt="">
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.50</span>
                What happens when a solution of NaCI is added to ferric hydroxide sol ? Explain. Write whether
                Fe(OH)<sub>3</sub>
                sol is a multimolecular or macromolecular colloid.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>Fe(OH)<SUB>3</SUB> is a positively charged colloid which is coagulated by the addition of NaCl in which
                Cl<sup>-</sup>
                ions are present
                there will be no reaction because
                Na is more reactive metal as compared to Fe.<br>
                Fe(OH)<SUB>3</SUB>is a Multimolecular Colloid.



            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.51</span>
                Explain why are lyophilic sols relatively more stable than lyophobic sols.
            </h5>


            <h5><span class="text-success">Solution </span></h5>

            <h5> The stability of lyophilic sols is a result of two factor:<br>
                (i) the presence of a charge and the solvation
                of Colloidal particles,<br>
                (ii) the stability of lyophobic sols is
                only because of the presence of a charge.<br>
                <br> thus , the lyophilic Sols is more stable than lyophobic sols due to extensive solvation.

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.52</span>
                What are micelles ? How do they differ from normal colloidal solutions?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5> <span class="text-danger">Micelles :</span> <br> Associated colloids are those colloids which behave as
                normal strong electrolytes at low Conc. but exhibit colloidal properties
                ,the aggregated particles
                thus formed are called Micelles.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>Micelle system behaves as a true solution in low concentration snd as
                collidal solution in high concentration.
                <br>


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.53</span>
                Differentiate micelles from multimolecular colloids and give example of each.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <span class="text-danger">Micelles :</span> <br>1. Associated colloids are those colloids which behave
                as normal strong electrolytes at low Conc. but exhibit colloidal properties
                ,the aggregated particles
                thus formed are called Micelles.
                <br>
                2. Micelle system behaves as a true solution in low concentration.
                <br>
                <span class="text-danger"> Multimolecular colloids :</span><br>

                1. the colloidal particles are aggregates of a Large number of atoms or molecules having a diameter of
                less than 1nm.
                <br> 2. Weak van der waals forces are present b/w particles.<br>

            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.54</span>
                What are micelles? Give an example of a miceller system.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <span class="text-danger">Micelles :</span> <br>1. Associated colloids are those colloids which behave
                as normal strong electrolytes at low Conc. but exhibit colloidal properties
                ,the aggregated particles
                thus formed are called Micelles.
                <br>
                2. Micelle system behaves as a true solution in low concentration.<br>
                Example : soap and synthetic detergents.
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> 5.55</span>
                Why do colloidal solutions exhibit Tyndall effect ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5>
                <span class="text-danger">Tyndall Effect :</span> <br>
                When an intense converging beam of light is passed through collidal solution kept in dark. The path of
                the beam gets illuminated with a bluish light.
                This phenomenon is called
                Tyndall and the illuminated path is known as Tyndall Cone.
                <br>This phenomenon was first
                observed by Tyndall an 1869.<br>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-3/5.55.jpg" alt="">
            </h5>

        </div>
    </div>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.56</span>
                <ol type="a">
                    <li>
                        Distinguish between true solution and colloidal solution of same colour.

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (a) when a beam of light is passed through true
                            solution and Colloidal solution kept in glass vessel, the only Colloidal solution
                            exhibits Tyndall
                            effect
                            whereas true solution does not.
                            <br>
                            Through visibility of The
                            solution,
                            True son is transparent while colloidal
                            solution is blue.
                            <br>
                        </h5>
                    </li>
                    <li>How are the following sols (in water) prepared? (i) Sulphur (ii) Ferric hydroxide

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <br>
                            (b) <u><b>Preparation of sulphur solution</b></u>
                            <br>
                            (i) sulphur solution is prepared by the oxidation of H<sub>2</sub>S with the help of
                            concentrated
                            HNO<sub>3</sub>
                            <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img56.jpg" alt=""
                                class="img-fluid">
                            <br>
                            (ii)Fe(OH)<sub>3</sub> is a positively charged colloid which is coagulated by the
                            addition of NaCl
                            in
                            which
                            Cl<sup>-</sup>
                            ions are present
                            there will be no reaction because
                            Na is more reactive metal as compared to Fe.
                            <br><br>
                            <span class="text-danger">Fe(OH)<sub>3</sub> solution is a multimolecular colloid</span>
                            <br>
                        </h5>
                    </li>
                    <li>Explain why are deltas formed where river and sea water meet.

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <br>
                            (c) River water is a Colloidal Solution of clay and sea water
                            Contains a number of electrolytes.
                            When river waters meets the
                            Sea water, the electrolytes present in the sea water coagulate in the Colloidal solution
                            of clay
                            resulting in its deposition with The formation of deltas.
                        </h5>
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.57</span>
                Explain the observations likely to be made when (i) a beam of light and (ii) an electric current are
                allowed to pass through a colloidal solution.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) when a beam of Light is passed through a colloidal solution, Colloidal particles scatter light &
                we can see the patn of light ,thus,
                The Tyndall Effects is observed.
                <br>
                <br>
                (ii) On passing electric current through a solution,colloidal particles start moving towards
                oppositively charged electric where they lose their charge and get coagulate
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.58</span>
                <ol type="a">
                    <li>
                        Describe a method for distinguishing a colloidal solution from a true solution when the two
                        have the same colour.

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (a) when a beam of light is passed through true solution and Colloidal solution is Kept
                            glass
                            vessel, the only Colloidal solution exhibits tyndall effect
                            whereas true solution does not
                            Through visibility of The
                            solution,
                            True son is transparent while colloidal
                            solution is blue.
                            <br>
                        </h5>
                    </li>
                    <li>When are gas masks used and how do they work?

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (b) Gas masks - It is a device which consists of activated charcoal this is applicable
                            to absorb
                            poisonous gases.
                            Physical adsorption takes place
                            as their is not any chemical bonding btw activated charcoal and gases.
                            <br>
                        </h5>
                    </li>
                    <li>What is meant by 'Shape selective catalysis'

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (c) <u class="text-danger">Shape-selective Catalysis</u>
                            <br>
                            zeolites are microporous aluminosilicates of the general formula
                            <br>
                            M<sub>x/n</sub>,[(AlO<sub>2</sub>)<sub>x</sub>
                            (SiO<sub>2</sub>)<sub>y</sub>].mH<sub>2</sub>O,where
                            <br>
                            M->Metal cation
                            <br>

                            (eg->Na<sup>+</sup>,K<sup>+</sup> or Ca<sup>+2</sup>)
                            <br>
                            <br>
                            They may be as well as synthetic.
                            <br>
                            Zeolites may be Considered as open Structure of silica in which x/(x+y) fraction of
                            tetrahedral
                            sities in occupied by aluminium.
                        </h5>
                    </li>
                </ol>
            </h5>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.59</span>
                What are multimolecular and macromolecular colloids? Give one example of each type. How are
                associated colloids different from them ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <u><b>Multimolecular Colloids</b></u>
                <br>
                ->the Colloidal particles are aggregates of a Large number of atoms or molecules having a diameter
                of less than 1nm
                <br>
                ->Weak vander walls forces are present between particles

                <br>
                <br>
                <u><b>Macromolecular Colloids</b></u>
                <br>
                ->the colloidal particles are Macromolecular having a very large molecular mass
                ->Strong chemical bond are present between macromolecules particles.
                <u><b class="text-danger">Answers</b></u>
                <br>
                Associated colloids are those colloids which behave as normal strong electrolytes at Low
                concentration but exhibit colloidal properties
                the aggregated particles thus formed are called <b>Micelles</b>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.60</span>
                Account for the following:
                <ol type="i">
                    <li>
                        Ferric hydroxide sol is positively charged.

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (i) Fe(OH)<sub>3</sub> is a positively charged colloid which is coagulated by the
                            addition of NaCl
                            in
                            which
                            Cl<sup>-</sup>
                            ions are present
                            there will be no reaction because
                            Na is more reactive metal as compared to Fe.
                            <br><br>
                            <span class="text-danger">Fe(OH)<sub>3</sub> solution is a multimolecular colloid</span>
                        </h5>
                    </li>
                    <li> The extent of physical adsorption decreases with rise in temperature.

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <br>
                            (ii) It is because physical adsorption involves weak
                            force of Attraction between adsorbent and adsorbent molecules,generally of vandar walls
                            type these
                            forces decrease rapidly with Increase in temperature.
                        </h5>
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.61</span>
                <ol type="a">
                    <li> State the principle of electrodialysis of colloidal solutions.</li>
                    <li> Differentiate between emulsions and micelles taking a suitable example of each.</li>
                </ol>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <u><b class="text-danger">Dialysis</b></u>-It is a process of removing dissolved substance from a
                colloid solution by means of diffusion through membrane.
                <br>
                when dissolved substance is an electrolyte process of electrodialysis is applied.
                <br> Here,dialysis is carried out under the effect of electric field some potential is applied
                between the metal screens that support the membrane
                <br>
                <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img61.jpg" alt="" class="img-fluid">
            </h5>
            <table class="table table-bordered table-hover" style="width:77%">
                <tbody>
                    <thead>
                        <th>Emulsion</th>
                        <th>Micelles</th>
                    </thead>
                    <tr>
                        <td> Emulsion is a Colloid solution in which both the dispersed phase and
                            dispersion medium
                            are in liquid state.
                        </td>
                        <td>they are associated
                            colloids behaviour at high concentration and strong electrolyte as low concentration
                        </td>
                    </tr>
                    <tr>
                        <td>Example->milk,and cod liveroil</td>
                        <td>Example->soap</td>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.62</span>
                Explain the following terms :
                <ol type="i">
                    <li>Electrodialysis

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            <u><b class="text-danger"> Electrodialysis-></b></u> Dialysis as a slow process
                            It Can be expedited by applying an electric field.
                            Under the influence of electric field.
                            the impurity ions move fast to the oppositely charged electrodes and the process gets
                            quickened.
                            this process is Known as Electrodialysis
                            <br>
                            <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img62.jpg" alt=""
                                class="img-fluid">
                        </h5>
                    </li>
                    <li>Phases of a colloidal solution.

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (b) <u><b class="text-danger">Phases of a collidal solution</b></u>
                            <br>
                            In Colloidal solution only 2 phases present, dispersed phase and dispersed medium.
                            <br>
                            <u><b class="text-danger">Dispersed Phase</b></u>->It is a substance present in small
                            proportion and
                            consists of
                            particles of colloids size (1 to 100 mm).
                            <br>
                            <br>
                            <u><b class="text-danger">Dispersed Medium</b></u>->It is the medium in which the
                            colloid particles
                            are dispersed
                            <br>
                            <br>
                            <u>For example</u>->
                            in a colloidal solution of sulphur in water, sulphur particles constitute the dispersed
                            phase and
                            water
                            is the disperse medium.
                        </h5>
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.63</span>
                What is meant by the term peptization ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <u><b class="text-danger">Peptization-></b></u>
                In this method. a freshly prepared precipitate of the substance is made to pass into the collidal
                state by The addition of a suitable electrolyte.
                <br>
                The process of dispersing a freshly
                prepared precipitate into colloidal form by using a suitable electrolyte is Called
                <b>peptization</b>
                <br>
                <br>
                The electrolyte added as Called peptization agent.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.64</span>
                What are emulsions ? Write two applications of emulsification.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <u><b class="text-danger">Emulsion-></b></u>
                <br>
                Emulsion is a Colloid solution in which both the dispersed phase and dispersion medium are in liquid
                state.
                <br>
                Example->milk, and cod liveroil
                <br>
                <u><b class="text-danger">Two Applicaton of Emulsion are-></b></u>
                <br>
                -> A large number of pharmaceuticals
                are prepared in the form of lotions,creams etc
                <br>
                ->the concentration of sulphide ores by froth floatation process involves the treatment of finely
                pulverized ore will an oil emulsion
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.65</span>
                What happens when an electric field is applied to a colloidal dispersion ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                On passing electric current through a solution, Colloidal particles start moving towards
                oppositively charged electrode where they lose their charge and get coagulated (electrophoresis).
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.66</span>
                Colloidal solutions can be prepared in water and in air as media. What distinctive names are given
                to these two types of sols ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Colloidal solutions with water as dispersion medium are called hydrosols and air as dispersion
                medium are called aerosols
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.67</span>
                How are following sols prepared ?
                <ol type="a">
                    <li>Sulphur sol </li>
                    <li>Collodion </li>
                </ol>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                <u><b class="text-danger">Preparation of sulphur Solution</b></u>
                <br>
                <br>
                (i) sulphur solution is prepared by the oxidation of H<sub>2</sub>S with the help of concentrated
                HNO<sub>3</sub>
                <br>
                <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img67.jpg" alt="" class="img-fluid">
                <br>
                (ii) Collodion as 4% Solution of Nitro Cellulose in a mixture of ethyl alcohol.
                <br>
                It is used for coating things in surgery
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.68</span>
                How does the addition of an alum purify water ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Alum is also known as Aluminium sulphate is added to water in order to destabilize the mud panicles
                suspended in it
                <br> This process is Known as <b>Coagulation</b>.
                <br>
                <br>
                Alum helps an purifying water by Al which
                coagulates the mud particles.
                <br>
                Because of the
                high charge on the Aluminium ion (Al<sup>+3</sup>). It helps small particles of suspended solids to
                group
                together
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.69</span>
                Why do lyophilic sols not require any stabilising agent for their preservation? How is colloidal
                sulphur in water prepared ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                Lyophilic collidal solution are stable as they are highly hydrated in solutions thus they do not
                require stabilizing agents for preservation.
                <br>
                <br>
                (b) <u><b class="text-danger">Preparation of sulphur solution</b></u> <br>
                <br>
                sulphur solution is prepared by the oxidation of H<sub>2</sub>S with the help of concentrated
                HNO<sub>3</sub>
                <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img69.jpg" alt="" class="img-fluid">
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.70</span>
                In what way is a sol different from a gel ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) Solution->
                <br>
                <br>
                ->Dispersed phase is a solid
                <br>
                ->dispersion medium is a liquid
                <br>
                -> Example-> As<sub>2</sub>S<sub>3</sub>,(S) in water,paints
                <br>
                <br>
                (ii)Gel-->
                <br>
                ->disperse phase is a liquid
                <br>
                ->Dispersion medium is a solid
                <br>
                ->Example-> cheese,butter,,jellies etc
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.71</span>
                How are the colloids classified on the basis of the nature of interaction between dispersed phase
                and dispersion medium? Describe an important characteristic of each class. Which of these sols need
                stabilising agents for preservation ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                In Colloidal solution only 2 phases present, dispersed phase and dispersed medium.
                <br>
                <u><b class="text-danger">Dispersed Phase</b></u>->It is a substance present in small proportion and
                consists of
                particles of colloids size (1 to 100 mm).
                <br>
                <br>
                <u><b class="text-danger">Dispersed Medium</b></u>->It is the medium in which the colloid particles
                are dispersed
                <br>
                <br>
                <u>For example</u>->
                in a colloidal solution of sulphur in water, sulphur particles constitute the dispersed phase and
                water
                is the disperse medium.
                <br>
                <br>
                Lyophobic Colloids need stabilising agent for preservation
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.72</span>
                Explain the following terms
                <ol type="i">
                    <li>Peptization

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (a) <u><b class="text-danger">Peptization-></b></u>
                            In this method. a freshly prepared precipitate of the substance is made to pass into the
                            collidal
                            state by The addition of a suitable electrolyte.
                            <br>
                            The process of dispersing a freshly
                            prepared precipitate into colloidal form by using a suitable electrolyte is Called
                            <b>peptization</b>
                            <br>
                            <br>
                            The electrolyte added is called peptization agent

                        </h5>
                    </li>
                    <li>Dialysis

                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (b) <u><b class="text-danger">Dialysis</b></u>-the process of separating the impure
                            particles of
                            true solution dimensions (crystalloids
                            from an Impure solution by means of diffusion through a Suitable membrane such as
                            parchment paper or
                            cellophane membrane called Dialysis
                            <br>
                            <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img61.jpg" alt=""
                                class="img-fluid">
                        </h5>
                    </li>
                    <li> Hardy-Schulze rule
                        <h5><span class="text-success">Solution </span></h5>
                        <h5 class="text-dark">
                            (c) <u><b class="text-danger">Hardy-Schulze rule</b></u>->
                            The greater the valency of the oppositively
                            charged ion of the electrolyte added to a collidal solution, the faster is the
                            coagulation of the
                            colloidal solution.
                        </h5>
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.73</span>
                Explain the following terms giving an example in each case
                <ol type="i">
                    <li>Emulsification

                        <h5><span class="text-success">Solution </span></h5>


                        <h5 class="text-dark">
                            (a) <u><b class="text-danger">emulsification</b></u>->
                            Emulsion are usually prepared by vigorously mixing the Two liquids by using either a
                            high speed
                            mixing machine or using ultrasonic vibrators. The process is known as
                            <b>Emulsification</b>.
                        </h5>
                    </li>
                    <li>Coagulation

                        <h5><span class="text-success">Solution </span></h5>

                        <h5 class="text-dark">
                            (b) <u><b class="text-danger">Coagulation</b></u>->
                            Alum is also known as Aluminum sulfate is added to water in order to destabilize the mud
                            panicles
                            suspended in it This process is Known as coagulation.
                        </h5>
                    </li>
                    <li>Electrophoresis

                        <h5><span class="text-success">Solution </span></h5>

                        <h5 class="text-dark">
                            (c) <u><b class="text-danger">electrophoresis</b></u>->If the collidal particles carry
                            positive
                            charge,they move towards cathode when subjected to an electric field and vice versa.This
                            phenomenon
                            is called electrophoresis<br>
                            <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img73.jpg" alt=""
                                class="img-fluid">
                        </h5>
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.74</span>
                Explain what is observed when
                <ol type="i">
                    <li> an electrolyte is added to ferric hydroxide sol.

                        <h5><span class="text-success">Solution </span></h5>

                        <h5 class="text-dark">
                            (i) Fe(OH)<sub>3</sub> is a positively charged colloid which is coagulated by the
                            addition of NaCl
                            in
                            which
                            Cl<sup>-</sup>
                            ions are present
                            there will be no reaction because
                            Na is more reactive metal as compared to Fe.
                            <br><br>
                            <span class="text-danger">Fe(OH)<sub>3</sub> solution is a multimolecular colloid</span>
                        </h5>
                    </li>
                    <li> an emulsion is subjected to centrifugation.

                        <h5><span class="text-success">Solution </span></h5>

                        <h5 class="text-dark">
                            (ii) when an emulsion is centrifuged, it breaks into constituents liquids.
                            i.e demulsification takes places
                        </h5>
                    </li>
                    <li>direct current is passed through a colloidal sol.

                        <h5><span class="text-success">Solution </span></h5>

                        <h5 class="text-dark">
                            (iii) On passing electric current through a solution, Colloidal particles start moving
                            towards
                            oppositively charged electrode where they lose their charge and get coagulated
                            (electrophoresis).
                        </h5>
                    </li>
                </ol>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.75</span>
                <ol type="a">
                    <li>What are the two types of emulsions and how do they differ from one another? Give one
                        example of each. </li>
                    <li>Which one of the following electrolytes is most effective for the coagulation of
                        Fe(OH)<sub>3</sub> sol
                        and why?
                        <br> NaCl, Na<sub>2</sub>SO<sub>4</sub>, Na<sub>3</sub>PO<sub>4</sub>
                    </li>
                </ol>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) The two types of emulsion are
                <br>
                <br>
                <b class="text-danger">Oil-in-water(o/w type emulsion)</b>
                <br>
                oil acts as the dispersed phase while water acts as a dispersed medium
                <br>
                <b>Example-></b> Milk which consists of liquid fat globules dispersed in water.
                <br><br>
                <b class="text-danger">water-in-oil(w/0 type emulsion)</b>
                <br>
                water acts as the dispersed phase,where as oil act as dispersed medium.
                <br>
                <b>Example-></b>Cod liver oil emulsion
                <br>
                <br>
                (ii) Fe(OH)<sub>3</sub> is a positively charged solution.According to Hardy Scuzle rule,greater the
                Charge on the
                oppositively charged ion of the electrolyte added,more effective it is in bringing about the
                coagulation.
                <br>
                Hence Na<sub>3</sub>PO<sub>4</sub> ( containing PO<sub>4</sub><sup>3-</sup> ions)
                is the most effective.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.76</span>
                Illustrate with examples :
                <ol type="i">
                    <li>Lyophilic and lyophobic sols.</li>
                    <li>Multimolecular and macromolecular colloids.</li>
                    <li>Homogeneous and heterogeneous catalysis.</li>
                </ol>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) (a) <u><b class="text-danger">Lyophillic solution</b></u>
                <br>
                -> The term lyophilic means Liquid loving (i.e solvent Loving) .
                <br>
                -> The substance which when mixed with a suitable Liquid (dispersion medium) readily from Colloidal
                solution are called lyophillic or intrinsic colloids
                <br>
                ->gum, Gelatin,albumin,starch etc eg. of lyophilic solution
                <br>
                <br>
                (b) <u><b class="text-danger">Lyophobic solution</b></u>
                <br>
                ->the term Lyophobic means liquid hating(i.e solvent hating)
                <br>
                -> The substance which do not posses much affinity
                for the for the dispersion medium and do readily pass into the solution state.When mixed with the
                medium
                are called lyophobic sols or Extrinsic Colloids
                <br>
                ->Eg. of Lyophobic solution->gold and platinum solution
                <br>
                <br>
                (ii) (a) <u><b class="text-danger">Multimolecular Colloids</b></u>
                <br>
                ->the Colloidal particles are aggregates of a Large number of atoms or molecules having a diameter
                of less than 1nm
                <br>
                ->Weak vander walls forces are present between particles

                <br>
                <br>
                (b) <u><b class="text-danger">Macromolecular Colloids</b></u>
                <br>
                ->the colloidal particles are Macromolecular having a very large molecular mass
                <br>
                ->Strong chemical bond are present between macromolecules particles.
                <br>
                <br>
                (iii) (a) <u><span class="text-danger">Homogeneous catalysis</span></u>->when the catalyst mixes
                homogenously with
                the
                reactant to form a single phase it is said to be a homogenous catalyst also know as homogenous and
                this type of catalyst is known as Homogeneous Catalyst
                <br>
                (b) <span class="text-danger">Heterogenous Catalysis</span>, when the Catalyst does not mixup
                homogeneously with the reactants and form a separate phase, it as said to be a heterogeneous
                Catalyst.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.77</span>
                Explain the following observations

                <ol type="i">
                    <li>A beam of light passing through a colloidal solution has a visible path. </li>
                    <li>Passing an electric current through a colloidal solution removes colloidal particles from
                        it. </li>
                    <li> Ferric hydroxide sol coagulates on addition of a solution of potassium sulphate.</li>
                </ol>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) when a beam of Light is passed through a colloidal solution, Colloidal particles scatter light &
                we can see the path of light ,thus,
                the Tyndall Effects is observed.
                <br>
                <br>
                (ii) On passing electric current through a solution,
                Colloidal particles start moving towards oppositively charged electric where they lose their chare
                and get coagulate
                <br>
                <br>
                (iii) when an electrolyte is added the solution, the colloidal particles take up ions carrying opp.
                charges from the electrolyte.
                Their charge gets neutralised
                and this cause the uncharged particles to come
                closer and to get coagulated .
                Here Fe<sup>3+</sup> ions of
                ferric Hydroxide are attracted by the negatively Charge SO<sup>2-</sup><sub>4</sub> particle and
                their charge
                gets neutralised this lead to coagulation.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.78</span>
                What are the two classes of emulsions ? Give one example of each class. State one activity to test
                the type of an emulsion.
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) The two types of emulsion are
                <br>
                <br>
                <b class="text-danger">Oil-in-water(o/w type emulsion)</b>
                <br>
                oil acts as the dispersed phase while water acts as a dispersed medium
                <br>
                <b>Example-></b> Milk which consists of liquid fat globules dispersed in water.
                <br><br>
                <b class="text-danger">water-in-oil(w/0 type emulsion)</b>
                <br>
                water acts as the dispersed phase,where as oil act as dispersed medium.
                <br>
                <b>Example-></b>Cod liver oil emulsion
                <br>
                <br>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.79</span>
                What happens when gelatin is added to gold sol ?
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                It acts as a stabilizing agent as it protects the gold solution by forming a layer of gelatin
                particles around each gold particles.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5.80</span>
                Explain the following terms with a suitable example in each case :
                <ol type="i">
                    <li>Shape-selective catalysis</li>
                    <li>Dialysis </li>
                </ol>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <h5 class="text-dark">
                (i) <u class="text-danger"><b>Shape-selective Catalysis</b></u>
                <br>
                zeolites are microporous aluminosilicates of the general formula
                <br>
                M<sub>x/n</sub>,[(AlO<sub>2</sub>)<sub>x</sub> (SiO<sub>2</sub>)<sub>y</sub>].mH<sub>2</sub>O,where
                <br>
                M->Metal cation
                <br>

                (eg->Na<sup>+</sup>,K<sup>+</sup> or Ca<sup>+2</sup>)
                <br>
                <br>
                They may be as well as synthetic.
                <br>
                <br>
                (ii) <u><b class="text-danger">Dialysis</b></u>-the process of separating the impure particles of
                true solution dimensions (crystalloids
                from an Impure solution by means of diffusion through a Suitable membrane such as parchment paper or
                cellophane membrane called Dialysis
                <img src="class12ISCchap/chemistry/surfacechemistryimg/5-3/img80.jpg" alt="" class="img-fluid">
            </h5>
        </div>
    </div>

</div>



</div>