<style>
    .photo {
        max-width: 10% !important;
    }

    .img-fluid {
        max-width: 54% !important;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            max-width: 100% !important;
        }

        .photo {
            max-width: 100% !important;
        }

    }

    .col {
        background-image: url('img/textwater.png');
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>

<body class="bg-light">
    <h1 class="text-center text-danger mt-3">SURFACE-CHEMISTRY CLASS 12 5-1 EXERCISE</h1>
    <div class="container mt-2">

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-1</span>
                    Explain the terms physisorption and chemisorption . How does the adsorption of a gas on solid
                    surface
                    vary with pressure ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>
                    <span class="text-danger">Physisorption :</span><br> Physisorption is also known as physical
                    adsorption
                    and it is exothermic process. Its adsorption is low ( nearly 20 to 40 KJ/mol)<br>
                    Normally in physisorption , the gas is accumulated on the solid surface due to weak force, known as
                    Vander Waals force.<br>
                    Example : adsorption of gases like N<sub>2</sub>, H<sub>2</sub> etc.<br>
                    <span class="text-danger">Chemisorption :</span><br>Chemisorption is also known as
                    chemical adsorption.
                    when the gas molecules get attached to the surface of adsorbent though strong
                    valence bond forces the adsorption is called Chemical adsorption or chemisorption <br>
                    Chemisorption is highly specific in nature.<br>
                    Example : adsorption of Hydrogen , N<sub>2</sub> etc.<br>
                    Effect of pressure on the adsorption of gases on solids.
                    when temperature is Constant and adsorption increases the extent of adsorption increase This is an
                    accordance with Le -Chatellier's principle.

                </h5>

            </div>
        </div>



        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.2</span>
                    What is meant by chemical adsorption
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5><span class="text-danger">Chemisorption :</span><br>Chemisorption is also known as
                    chemical adsorption.
                    when the gas molecules get attached to the surface of adsorbent though strong
                    valence bond forces the adsorption is called Chemical adsorption or chemisorption <br>
                    Example : adsorption of Hydrogen , N<sub>2</sub> etc.<br>
                    Chemisorption is highly specific in nature.
                </h5>

            </div>
        </div>



        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.3</span>
                    What is the effect of increase of temperature on the adsorption of a gas on a solid surface ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>Effect of pressure on the adsorption of gases on solids.<br>
                    when temperature is Constant and adsorption increases ,the extent of adsoption Increases.
                    <br>This is in accordance with Le-chattlier's principle.<br> Adsorption as an exothermic process as
                    heat
                    as evolved during adsorption with increase in temprature
                    <br> the extent of adsoption will decrease.
                </h5>

            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.4</span>
                    Give a mathematical expression showing the relation between the amount of a gas adsorbed on a solid
                    surface and the pressure of the gas.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <img class="img-fluid photo" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/4.jpg" alt="">
                <h5>where,

                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div>
                    is the extent of adsorption, x is
                    the mass of adsorbate . m is the mass of adsorbent . C is the Conc. of solute in solution and 'K' is
                    a
                    constant.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.5</span>
                    By giving suitable examples distinguish between the terms absorption and adsorption.Assuming
                    adsorption
                    to be a spontaneous process, show thermodynamically that it is always an exothermic process.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>
                    <table class="table table-rsponsive table-bordered">
                        <tr>
                            <td class="text-danger">Adsorption</td>
                            <td class="text-danger">Absorption</td>
                        </tr>
                        <tr>
                            <td>* It is a surface
                                phenomenon .The adsorbate gets deposited only at the
                                surface of adsorbent.
                            </td>
                            <td>* It as a bulk phenomenon.
                                The adsorbate penetrates
                                into the interior of adsorbent and gets uniformly distributed.

                            </td>
                        </tr>
                        <tr>
                            <td>* The Conc. of adsorbate
                                on the surface of
                                adsorbent is different
                                from that in the bulk of adsorbent.</td>
                            <td>* The Conc. of adsorbate
                                is same throughout
                                the bulk of the
                                adsorbent</td>
                        </tr>
                        <tr>
                            <td>* Example : <br>
                                (i)Adsorption of Bromine by activated charcoal.<br>
                                (ii)Adsorption of water vapour by silica gel.
                            </td>
                            <td>* Example : <br>
                                (i)Absorption of iodine by starch.<br>
                                (ii)Absorption of ink by a blotting paper</td>
                        </tr>
                    </table><br>
                    Adsorption is an exothermic process as heat is evolved during adsorption with increase in
                    temperature,
                    the extent of adsorption will decrease.

                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.6</span>
                    The adsorption of gases on solids, can be described by Freundlich's equation x/m=k p<sup>1/n</sup>
                    <ol type="a">
                        <li>How are the values of k and n determined experimentally?</li>
                        <li>Explain, why should the value of n be equal to or greater than one.</li>
                    </ol>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>Acc to Freundlich adsorption isotherm ,the
                    quantity of unit mass of solid absorbent and pressure at a particular temperature is expressed as,
                    <br>
                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div> = K p<sup>1/n</sup> -----------(i)<br>

                    where, x is mass of the gas absorbed at pressure P.<br>
                    K and n are Constant ---> depend the nature
                    of the absorbent and the gas at a particular temperature.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/6.jpg" alt=""><br>
                    (ii)
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/6-1.jpg" alt=""><br>
                    Freundlich isotherm fails to explain the
                    adsorption behavior i.e., at high pressure and Low pressure => n > 1
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.7</span>
                    <ol type="a">
                        <li> Compare physical adsorption and chemical adsorption in terms of rate and prevailing
                            temperature:
                            <h5><span class="text-success">Solution </span></h5>
                            <h5 class="text-dark"><span class="text-danger">(a) Physisorption :</span><br> Physisorption
                                is also known as
                                physical
                                adsorption and it is exothermic process. Its adsorption is low ( nearly 20 to 40
                                KJ/mol)<br>
                                Normally in physisorption , the gas is accumulated on the solid surface due to weak
                                force, known as
                                Vander Waals force.<br>
                                Example : adsorption of gases like N<sub>2</sub>, H<sub>2</sub> etc.<br>
                                <span class="text-danger">Chemisorption :</span><br>Chemisorption is also known as
                                chemical adsorption.
                                when the gas molecules get attached to the surface of adsorbent though strong
                                valence bond forces the adsorption is called Chemical adsorption or chemisorption <br>
                                Chemisorption is highly specific in nature.<br>
                                Example : adsorption of Hydrogen , N<sub>2</sub> etc.<br>
                                Effect of pressure on the adsorption of gases on solids.
                                when temperature is Constant and adsorption increases the extent of adsorption increase
                                This is an
                                accordance with Le -Chatellier's principle.
                            </h5>

                        </li>
                        <li>Show graphically how the amount of a gas adsorbed on a solid in physical adsorption varies
                            with (i) pressure (ii) temperature.

                            <h5><span class="text-success">Solution </span></h5>
                            <h5 class="text-dark">
                                <br> <span class="text-danger">(b) (i) Effect of Temperature :</span>
                                Adsorption is an exothermic process as heat is evolved during adsorption with increase
                                in
                                Temperature ,
                                the extent of absorption will decrease
                                A graph plotted b/w the amount of gas adsorbed and temperature at Const. pressure is as
                                known as
                                Adsorption Isobar.
                                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7.jpg"
                                    alt=""><br>
                                <br><span class="text-danger">(ii) Effect of Pressure :</span>
                                Adsorption of Gas depends upon the
                                pressure of a gas. The amount of a
                                Gas adsorbed for a given amount of adsorbent (x/m)
                                increases rapidly with the increase in
                                pressure.
                                <br> <img class="img-fluid"
                                    src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7-1.jpg" alt="">
                            </h5>

                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.8</span>
                    <ol type="i">
                        <li> Explain the meaning of the statement, "Adsorption is a surface phenomenon."
                            <h5><span class="text-success">Solution </span></h5>

                            <h5 class="text-dark"><span class="text-danger">(i)</span> Because of the unsaturation solid
                                and Liquid surfaces tend to
                                attract gases or dissolved substance with which they Come in close contact , the
                                substance
                                accumulates on the surface of a solid or Liquid <br>
                                The substance gets adsorbed on the surface hence the adsorption is a surface phenomenon.
                                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/8.jpg"
                                    alt="">
                            </h5>
                        </li>
                        <li>State two features of chemical adsorption which are not found with physical adsorption.
                            <h5><span class="text-success">Solution </span></h5>
                            <h5 class="text-dark">
                                <br> <span class="text-danger">(ii) Chemisorption :</span><br>Chemisorption is also
                                known as
                                chemical adsorption.
                                when the gas molecules get attached to the surface of adsorbent though strong
                                valence bond forces the adsorption is called Chemical adsorption or chemisorption <br>
                                Chemisorption is highly specific in nature.<br>
                                Example : adsorption of Hydrogen , N<sub>2</sub> etc.<br>
                                Effect of pressure on the adsorption of gases on solids.
                                when temperature is Constant and adsorption increases the extent of adsorption increase
                                This is an
                                accordance with Le -Chatellier's principle.<br>
                            </h5>

                        </li>
                    </ol>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5.9</span>
                    What do x and m represent in the following expression? (x/m) = kp<sup>1/n</sup>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>Acc to Freundlich adsorption isotherm ,the
                    quantity of unit mass of solid absorbent and pressure at a particular temperature is expressed as,
                    <br>
                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div> = K p<sup>1/n</sup> -----------(i)<br>

                    where, x is mass of the gas absorbed at pressure P.<br>
                    K and n are Constant ---> depend the nature
                    of the absorbent and the gas at a particular temperature.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/6.jpg" alt="">
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-10</span>
                    Derive a mathematical expression showing the relationship between the extent of adsorption of a gas
                    on a surface with pressure (within lower and higher ranges). Calculate the extent of adsorption at
                    one atmosphere.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5><span class="text-danger"> Pressure :</span>
                    Adsorption of Gas depends upon the
                    pressure of a gas. The amount of a
                    Gas adsorbed for a given amount of adsorbent (x/m)
                    increases rapidly with the increase in
                    pressure.
                    <br> <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7-1.jpg"
                        alt=""><br>
                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div> &alpha; p<sup>1</sup> at low pressure, where x
                    is mass of adsorbate , and m is mass
                    of adsorbent.<br>
                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div> = K P<sup>1/n</sup> <br>
                    at 1 atm , <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div> = K (1)<sup>1/n</sup> <br>

                    <div class="frac">
                        <span>
                            x
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">m</span>
                    </div> = K

                    At 1 atm extent of adsorption is equal to K.

                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-11</span>
                    Mention some important applications of adsorption.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5><span class="text-danger"> Important application of adsorption are :</span> <br>
                    * It is a surface
                    phenomenon .The adsorbate gets deposited only at the
                    surface of adsorbent. <br>
                    * The Conc. of adsorbate
                    on the surface of
                    adsorbent is different
                    from that in the bulk of adsorbent.<br>
                    * Example : <br>
                    (i)Adsorption of Bromine by activated charcoal.<br>
                    (ii)Adsorption of water vapour by silica gel.<br>
                    Adsorption is an exothermic process as heat is evolved during adsorption with increase in
                    temperature,
                    the extent of adsorption will decrease.


                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-12</span>
                    How is the phenomenon of adsorption used in the softening of hard water?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>In softening of hard water (De-ionization of water)
                    the use of ion exchangers for softening of hard water is based upon the principle of competing
                    adsorption just as in chromatography.<br> Hygroscopic
                    nature of CaCl<sub>2</sub> is not related to adsorption,

                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-13</span>
                    Show by a graphic diagram how at a constant pressure a rise in temperature will influence adsorption
                    of a gas on a solid when (i) no compound, formation occurs and (ii) chemisorption takes place.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5><span class="text-danger"></span>
                    Adsorption is an exothermic process as heat is evolved during adsorption with increase in
                    Temperature ,
                    the extent of absorption will decrease
                    A graph plotted b/w the amount of gas adsorbed and temperature at Const. pressure is as known as
                    Adsorption Isobar.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7.jpg" alt=""><br>
                    <br><span class="text-danger"> Pressure :</span>
                    Adsorption of Gas depends upon the
                    pressure of a gas. The amount of a
                    Gas adsorbed for a given amount of adsorbent (x/m)
                    increases rapidly with the increase in
                    pressure.
                    <br> <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7-1.jpg"
                        alt=""><br>
                    <span class="text-danger">(ii) Chemisorption occurs :</span><br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/13.jpg" alt="">
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-14</span>
                    How does chemical adsorption of a gas on a solid vary with temperature ?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>Chemical adsorption of a gas on solid first increase and then decrease with increase in
                    temperature.<br>
                    <br> <span class="text-danger"> Chemisorption occurs :</span><br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/13.jpg" alt="">


                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-15</span>
                    What is adsorption? How does adsorption of a gas on a solid surface vary with (a) temperature and
                    (b) pressure? Illustrate with the help of appropriate graphs.
                </h5>


                <h5><span class="text-success">Solution </span></h5>

                <h5> <span class="text-danger">Adsorption</span><br> * It is a surface
                    phenomenon .The adsorbate gets deposited only at the
                    surface of adsorbent. <br>
                    * The Conc. of adsorbate
                    on the surface of
                    adsorbent is different
                    from that in the bulk of adsorbent.<br>
                    * Example : <br>
                    (i)Adsorption of Bromine by activated charcoal.<br>
                    (ii)Adsorption of water vapour by silica gel.<br>
                    Adsorption is an exothermic process as heat is evolved during adsorption with increase in
                    Temperature ,
                    the extent of absorption will decrease<br>
                    A graph plotted b/w the amount of gas adsorbed and temperature at Const. pressure is as known as
                    Adsorption Isobar.<br></h5>
                <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7.jpg" alt=""><br>
                <h5><span class="text-danger"> Pressure :</span>
                    Adsorption of Gas depends upon the
                    pressure of a gas. The amount of a
                    Gas adsorbed for a given amount of adsorbent (x/m)
                    increases rapidly with the increase in
                    pressure.
                    <br> <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7-1.jpg"
                        alt=""><br>


                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-16</span>
                    Define adsorption and write two important differences between physical adsorption and chemisorption.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>Adsorption is a process that involves the accumulation
                    a substance in molecular species in higher Concentration on the surface.<br>
                    <span class="text-danger">Examples : </span>H<sub>2</sub> , N<sub>2</sub> these gases adsorb on
                    activated Charcoal.
                    For adsorption process two Components are
                    required <br>
                    (i) Adsorbate<br>
                    (ii) Adsorbent.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/16.jpg" alt="">

                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-17</span>
                    Which will be adsorbed more readily on the surface of charcoal and why? NH<sub>3</sub> or
                    CO<sub>2</sub>
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>
                    NH<SUB>3</SUB> will be absorbed more readily on the surface of charcoal because it is more easily
                    liquefiable.
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-18</span>
                    How do size of particles of adsorbent, pressure of gas and prevailing temperature influence the
                    extent of adsorption of a gas on a solid?
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>
                    (i) smaller the size of the parties des of the adsorbents K greatest as the surface area, greater Ys
                    the
                    adsorption.<br>
                    (ii) adsorption is an exothermic process as heat is evolved during adsorption with increase in
                    Temperature ,
                    the extent of absorption will decrease<br>
                    A graph plotted b/w the amount of gas adsorbed and temperature at Const. pressure is as known as
                    Adsorption Isobar.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7.jpg" alt=""><br>
                    <br><span class="text-danger"> Pressure :</span>
                    Adsorption of Gas depends upon the
                    pressure of a gas. The amount of a
                    Gas adsorbed for a given amount of adsorbent (x/m)
                    increases rapidly with the increase in
                    pressure.
                    <br> <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/7-1.jpg" alt="">
                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h5 class="text-danger"><span class="fw-bold"> 5-19</span>
                    Define adsorption. Write any two features which distinguish physisorption from chemisorption.
                </h5>


                <h5><span class="text-success">Solution </span></h5>
                <h5>
                    Adsorption is a process that involves the accumulation
                    a substance in molecular species in higher Concentration on the surface.<br>
                    <span class="text-danger">Examples : </span>H<sub>2</sub> , N<sub>2</sub> these gases adsorb on
                    activated Charcoal.
                    For adsorption process two Components are
                    required <br>
                    (i) Adsorbate<br>
                    (ii) Adsorbent.<br>
                    <img class="img-fluid" src="class12ISCchap/chemistry/surfacechemistryimg/5-1/16.jpg" alt="">
                </h5>

            </div>
        </div>


    </div>
</body>