<style>
  .col {
    background-image: url('images/textwater.png');
  }

  /* .col{
        background-image: url('images/textwater.jpg');
    }
    .photo1{
        max-width: 50% !important;
    }
    .photo{
        max-width: 65% !important;
    } */
  .img-fluid {
    max-width: 54% !important;
  }

  @media screen and (max-width: 768px) {

    /* .photo{
    max-width: 100% !important; 
}
.photo1{
    max-width: 100% !important;
} */
    .img-fluid {
      max-width: 100% !important;
    }
  }

  /* .col{
        background-image: url('images/textwater.jpg');
    } */
  .frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
  }

  .inte {
    font-size: 30px;
  }

  .frac span {
    display: block;
    padding: 0.1em;
  }

  .frac span.bottom {
    border-top: thin solid black;
  }

  .frac span.symbol {
    display: none;
  }
</style>
<h1 class="text-center text-danger mt-3">
  D AND F-BLOCK CLASS 12 8.1 EXERCISE
</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 8.1</span>
        What are transition metals? Which d-block metal are not normally considered as transition metal? Why ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">Transition elements :</b></u>
        Transition elements are those elements which posses in completely filled
        d-orbitals in their ground state or in their ions existing in chemically
        significant oxidation state. Elements like Zn, Cd and Hg of the 12
        columns of the d block have completely filled d orbitals and hence are
        not considered as transition element
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 8.2</span>
        Explain the following about transition metals<br>
        (i) magnetic behaviour <br>
        (ii) metallic character <br>
        (iii) oxidation states
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">(i) Magnetic Behaviour :</b></u><br />
        -> Due to the presence of unpaired electrons in the (n-1) d orbital most
        of the transition metal ions and their compounds are paramagnetic they
        are attracted by the magnetic field.<br />
        -> Those transition elements have paired electrons are diamagnetic they
        are repelled by the magnetic fields<br />
        -> Metals like Co and Ni high paramagnetism.<br />
        <u><b class="text-danger">(ii) Metallic Character :</b></u><br />
        -> All transition elements are metallic in nature they either have
        hexagonal close pack (CCP) or (BCC) which is a characteristics of true
        metals
        <br />
        -> They're hard , lustrous and ductile with high melting point and
        boiling point<br />
        -> Low ionization energy and presence of vacant orbital in the outermost
        shells due to formation of metallic bond<br />
        <u><b class="text-danger">Oxidation states</b></u><br />
        -> Transition metals have strong tendency to form complexes :<br />
        (i) Small size and high positive charge density<br />
        (ii) Presence of vacant (n-1)d orbitals which are of appropriate energy
        to exact LP and unshared pairr of electron from the ligands for bonding
        with them.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.3</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                        <span>
                            2cosx
                        </span>
                        <span class="symbol">/</span>
                        <span class="bottom">3sin<sup>2</sup>x</span>
                    </div> -->
        How is magnetic moment of a magnetic species related to the number of unpaired electrons?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Magnetic moment of paramagnetic specie<br />
        <b class="text-danger"> u = &radic;n(n+2) B.M.</b><br />
        Where n is the number of unpaired electron
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 8.4</span>
        Why do the transition elements exhibit complex formation explain with suitable examples
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        The cations of d block elements have strong tendency to form complexes
        with certain molecules (Example : CO,NO,NH<SUB>3 , etc</SUB>) or ions (
        Example : F<SUP>-</SUP> , Cl<SUP>-</SUP> , CN<SUP>-</SUP>) are called
        ligands <br>
        (i) Small size and high positive charge density.<br>
        (ii) Presence of vacant (n -1 )d orbitals which are of appropriate energy to accept loan pair and unshared pair
        of electrons from the ligands for bonding with them.
        <br> <img class="img-fluid " src="class12ISCchap/chemistry/d&fblockimg/8-1/8-4.jpg" alt="" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.5</span>
        Cu(II) is paramagnetic but Cu(I) is diamagnetic give reason. (atomic number of Cu = 29)
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The electric configuration of copper is 3d<sup>10</sup> 4s<sup>1</sup>. In Cu<sup>+</sup> the electronic
        configuration is 3d<sup>10</sup> completely filled d shell so it is diamagnetic.<br>
        In Cu<sup>+2</sup> the electronic configuration is 3d<sup>9</sup><br> Thus , there is one unpaired electron in 2
        subshell<br> Thus , it is paramagnetic
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.6</span>
        Give reasons :<br>
        (i) First ionization energy of 5d series elements are higher than those of 3d and 4d transition elements.<br>
        (ii) Transition metals show paramagnetism
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (a) Because due to the greater effective nuclear charge acting on outer valence shell electron because of weak
        shielding by 4f electron.<br>
        (b) Due to the presence of unpaired electron in the (n-1 )d orbital most of the transition metal ions and their
        compounds are paramagnetic they are attracted by the magnetic field.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.7</span>
        Why are Zn, Cd and Hg normally not considered as transition elements ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        Because they have completely filled d-subshells with outer electronic configuration (n-1)d<sup>10</sup>
        ns<sup>2</sup>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.8</span>
        What are transition elements? In what way are the electronic configuration of transition element different from
        those of representative elements ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        Transition elements are those elements which posses in completely filled d orbital in ground state or in ions
        existing in chemically significant oxidation state. Elements like zinc, cadmium ,mercury of the 12 column of the
        d block have completely filled d orbital and hence are not considered as transition element
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.9</span>
        K<sub>2</sub>PtCl<sub>6</sub> is a well known compound , whereas the corresponding Ni compound is not known.
        State a reason for it.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        As K<sub>2</sub>PtCl<sub>6</sub> is well known due to the thermodynamically more stable oxidation state of Pt is
        +4 here nickel cannot form this compound due to less stability of +4 whereas Pt complex Pt(IV) forms are more
        stable whereas nickel forms stable complex in Ni(II) form. </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.10</span>
        Why do most transitional metal ions exhibit paramagnetism?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Due to the presence of unpaired electron in the (n-1) d orbital most of the transition metal ions and their
        compounds are paramagnetic they are attracted by the magnetic field

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.11</span>
        Explain giving reasons:<br>
        (i) Transition elements have high melting and boiling points <br>(ii) transition elements exhibit variable
        oxidation state <br>(iii) A transition metal forms alloy with other transition elements <br>
        (iv) Zn, Cd and Hg are not regarded as transition elements.<br>(v) Transition elements usually form coloured
        ions.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (a) The melting point and boiling point of d block elements are attributed to the involvement of greater number
        of electrons from (n-1)d in addition to the no. of electron in the interatomic metallic bonding <br>
        (b) <u><b class="text-danger">Oxidation state :</b></u>Transition metal have strong tendency to form complexes :
        <br>(i) Small size and high positive charge density.<br>
        (ii) Presence of vacant (n -1 )d orbitals which are of appropriate energy to accept loan pair and unshared pair
        of electrons from the ligands for bonding with them.<br>
        (c) Transition metal have very similar atomic size one metal can easily replace the other metal form its lattice
        to form solid solution (alloy).
        Molten state solution of 2 or more transition metal on cooling form alloy <br>
        (d) Because they have completely filled d-subshells with outer electronic configuration (n-1)d<sup>10</sup>
        ns<sup>2</sup><br>
        (e) Transition metal ions generally posses one or more unpaired electron when visible light falls on a
        transition metal compound or ion the unpaired electron present in the lower energy d orbital gets promoted to
        high energy d orbital called d-d transition due to absorption of visible light.<br>



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.12</span>
        Give plausible reason for the fact that the first ionization energies of 5d transition metals are higher than
        those 3d and 4d transition metals.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Because due to the greater effective nuclear charge acting on outer valence shell electron because of weak
        shielding by 4f electron.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.13</span>
        Give plausible reason for the fact that transition metals have high enthalpy of atomization.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Transition elements have high effective nuclear charge and a large number of valence electrons they form very
        strong metallic bonds which results high enthalpies of atomization.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.14</span>
        What are interstitial compounds? Explain them with reference to transition metal and mention their 2 important
        properties

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <u><b class="text-danger">Interstial Compounds -></b></u> In the crystal Lattices of transition metal small
        atoms like He C, B, N etc. are trapped non-stoichiometrically. Such compound are called interstitial compounds
        <br> Example : Tic , Mn<sub>4</sub>, Fe<sub>3</sub>M , TiH<sub>2</sub>.
        <br>
        Their main characteristics are : <br>
        -> They have high MP than Metals<br>
        -> Metallic conductivity is retained.<br>
        -> They become chemically inert.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.15</span>
        Write the highest oxidation state of the element with atomic number 23
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/8.15.jpg" alt="" class="img-fluid" />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.16</span>
        Explain why transition metals are:<br>
        (a) Paramagnetic<br>
        (b) Good Catalysts
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5> (a) <u>Paramagnetic :</u><br> It is due to the presence of unpaired electron due to which they are attracted
        by magnetic field and show paramagnetism.<br>
        (b) <u>Good Catalyst :</u><br> It as due to variable oxidation state. They have large surface area and can form
        intermediate with reactants which readily changed into products.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.17</span>
        The electron configuration of Mn<sup>2+</sup> and Ti<sup>2+</sup> are d<sup>5</sup> and d<sup>2</sup>
        respectively. which one of these ions will be more paramagnetic?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Paramagnetic behavior depend on the unpaired electrons Mn<sup>+2</sup> has more unpaired electrons ( 5 unpaired
        electrons ) and thus will be more paramagnetic than Ti<sup>+2</sup> (only two 2 unpaired electrons).

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.18</span>
        Consider the given standard potential (in volts) in 1 M acidic solution :<br>
        Fe<sup>2+</sup>/Fe : -0.4V, Fe<sup>3+</sup> / Fe<sup>+2</sup> : +0.8V, Mn<sup>+2</sup>/Mn : -2.1V,
        Mn<sup>3-</sup>/ Mn<sup>+2</sup> : +1.5V<br>
        (i) Comment on the relative stabilities of + 2 and + 3 oxidation state of iron and manganese<br>
        (ii) Which of the 2 metals may be more easily oxidised to -2 state ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) State Ti<sup>4+</sup> / Ti<sup>3+</sup> has lower reduction potential than Fe<sup>3+</sup> / Fe<sup>+2</sup>
        it cannot be reduced in comparison with Fe<sup>3+</sup> / Fe<sup>+2</sup> .
        (ii) As the value of reduction potential increase the stability of +2 oxidation increase .
        <br>The correct order of stability is ,<br>
        Cr<sup>+3</sup>/Cr<sup>+2</sup>
        < Fe<sup>3+</sup>/Fe<sup>+2</sup>
          < Mn<sup>+3</sup>/ Mn<sup>+2</sup>

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.19</span>
        Name the tripositive metal ions represented by the configuration 1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup>
        3s<sup>2</sup> 3p<sup>6</sup> 3d<sup>3</sup>
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The tripositive metal ion represented by the configuration<br>
        1s<sup>2</sup> 2s<sup>2</sup> 2p<sup>6</sup> 3s<sup>2</sup> 3p<sup>6</sup> 3d<sup>3</sup><br>
        It Cr<sup>+3</sup> ion - three unpaired electrons.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.20</span>
        Give reason to indicate which one of the following would be colored : <br>
        Ni<sup>+2</sup>,VO<sup>+2</sup>,Cu<sup>+</sup>,Sc<sup>3+</sup> (Atomic numbers : Cu=29 , V=23 , Sc=21 , Ni=28)
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Colour is shown because of the unpaired electron.
        Ni<sup>+2</sup>
        electronic Configuration is 4s<sup>0</sup> 3d<sup>8</sup> due to
        incompletely filled d-orbital nickel ion show colour.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.21</span>
        Decide giving reason which one of the following pair has the property indicated : <br>
        (i) Fe or Cu has higher melting point<br>
        (ii) Co<sup>2+</sup> or Ni<sup>2+</sup> has lower magnetic moment.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Fe has higher M. P than Cu because Fe(3d<sup>6</sup> 4s<sup>1</sup>) has 4 unpaired electron in 3-d subshell.
        While Cu (3d<sup>10</sup>4s<sub>1</sub>)
        has only one unpaired electron in the s-subshell
        Hence, metallic bond in Fe are much stronger than Cu.<br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/8-21.jpg" alt="" class="img-fluid" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.22</span>
        Write the general formula by which the electronic configuration of the transition element is represented.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/8.22.jpg" alt="" class="img-fluid " />
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.23</span>
        Of the ions Co<sup>2+</sup> , Sc<sup>3+</sup> and Cr<sup>3+</sup> which ones will give coloured solution and how
        will each of them respond to a magnetic field and why?<br>
        (Atomic numbers : Co = 27 , Sc = 21 , Cr = 24)
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The transition element exhibit color and magnetic property due to unpaired electron has a unpaired electron .
        Co<sup>+2</sup> has configuration [Ar]3d<sup>7</sup> 4s<sub>0</sub>
        has 4 unpaired electron<br>
        Cr<sup>+3</sup> has [Ar]4s<sup>0</sup>3d<sup>3</sup> has 3 unpaired electron they form color solution where<br>
        Sc<sup>+3</sup> [Ar]4s<sup>0</sup>3d<sup>0</sup> Has no unpaired electron it will form colourless Solution<br>
        Co<sup>+2</sup> and Cr<sup>+3</sup> Will be attracted by magnetic field due to presence of unpaired electron
        whereas Sc<sup>+3</sup> will be repelled by magnetic field because it does not have unpaired electron




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.24</span>
        (a) Why do the d block element exhibit a larger number of oxidation states than the f block elements?<br>
        (b) How do the transition elements form interstitial compounds state an industrial advantage of such occurence.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        1.) block elements exhibit more oxidation states because of Less energy gap between d and s subshell
        where as<br>
        2.) f block elements have large energy gap b/w f and d subshell.
        Transition metals form a no. of interstitial compounds an which small atoms such as H, C, B and N occupy the
        empty spaces an their Lattices. These compounds are hard and get rigid eg:- steel and Cast iron .
        The intestinal compounds of iron and Carbon are hard extensively used in industry.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.25</span>
        Name a transition metal which does not exhibit variation in oxidation states in compounds
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Sc does not exhibit variable oxidation state.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.26</span>
        In the transition series with an increase in atomic number the atomic radius does not change very much why is it
        so?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        With the increase in atomic number a longer transition series the nuclear charge increases which tends to
        decrease the size of atom but edition of electron in the d subshell increase the screening effect which
        counterbalance the increased nuclear charge hence a longer transition series atomic radius does not change very
        much
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.27</span>
        How do the oxides of the transitional element in lower oxidation state differ from those in higher oxidation
        state in the nature of metal oxygen bonding and why
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Lower oxide of a transitional metal the metal atom has a low oxidation state the valence electron of the metal
        atom are not involved in bonding it can donate electron and behave as a base.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.28</span>
        Mention the direct consequence of the following sector on the chemical behaviour of the transition elements:<br>
        (i) They have been completely filled d orbitals in the ground state or in one of the oxidised state of their
        atoms<br>(ii)
        They contribute more valence electron per atom in the formation of metallic bonds
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (a) They can form complex compound. <br>
        -> They show variable oxidation state.<br>
        -> they are used as Catalyst.<br>
        (b) They are hard<br>
        -> They have high M.P. and B.P.<br>
        -> They have high enthalpy of atomization

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.29</span>
        Assign reason for each of the following:<br>
        (i) Ce<sup>+3</sup> Can be easily oxidised to Ce<sup>+4</sup><br>
        (ii) E<sup>0</sup> for Mn<sup>+2</sup>/Mn<sup>3+</sup> Couple is more positive than for Fe<sup>3+</sup>/
        Fe<sup>2+</sup>.<br>
        (iii) Transition metal exhibit higher enthalpies of atomization<br>
        (iv) The transition elements form interstitial compounds
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>(a)Electronic configuration of Ce is 4f<sup>1</sup> 5d<sup>1</sup> 6s<sup>2</sup><br>
        Ce<sup>+3</sup> having the configuaration of 4f <sup>0</sup> 5d<sup>0</sup> 6s<sup>0</sup>
        can easily lose electron to acquire 4f<sup>1</sup> 5d<sup>0</sup> 6s<sup>0</sup>
        stable configuration and form Ce<sup>+4</sup>.<br>

        <br> (b) Mn<sup>+2</sup> is more stable than Mn<sup>+3</sup> because Mn<sup>+2</sup> has exactly half filled
        orbitals which after losing one electron half filled orbitals while Fe<sup>+2</sup> after losing one electron
        half filled orbitals
        <br>(c)Transition elements have high effective nuclear charge and a large number of valence electrons they form
        very strong metallic bonds which results high enthalpies of atomization.
        <br>(d) Transition metals form a no. of interstitial compounds an which small atoms such as H, C, B and N occupy
        the empty spaces an their Lattices. These compounds are hard and get rigid eg:- steel and Cast iron .
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.30</span>
        Variable oxidation states are shown both by representative elements in transition element. How is this behaviour
        different for the two groups illustrate with one example in each case.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        The variability in oxidation state is a fundamental characteristic of transition elements and it arises due to
        incomplete filling of d orbitals in such a way that the oxidation state differ from other.<br> Example :
        Vanadium (V) shows variable oxidation state plus 2 + 3 + 4 and +5 etc.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.31</span>
        Account for the following:<br>
        Zinc salts are white while Cu<sup>2+</sup> salts are coloured
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Zn<sup>+2</sup> (3d<sup>10</sup>) Salts have no unpaired electrons<br>
        Cu<sup>+2</sup> (3d<sup>9</sup>) Salts have one unpaired electrons<br>
        Hence, Zn<sup>+2</sup> white and Cu<sup>+2</sup> shows color.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.32</span>
        Discuss the general trends in the following properties of the 3d transition element (21 to 29):<br>
        (i) Atomic size (ii) Oxidation states (iii) Formation of coloured ions
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5> <u><b class="text-danger"> (a) Atomic radii :</b></u>
        The transition element atomic radii belonging to a particular series decrease with increase in atomic number the
        decrease becomes small after midway
        <br> <u><b class="text-danger"> (b) Oxidation state :</b></u>Transition metal have strong tendency to form
        complexes :
        <br>(i) Small size and high positive charge density.<br>
        (ii) Presence of vacant (n -1 )d orbitals which are of appropriate energy to accept loan pair and unshared pair
        of electrons from the ligands for bonding with them.<br>
        <br> (c) Transition metal ions generally posses one or more unpaired electron when visible light falls on a
        transition metal compound or ion the unpaired electron present in the lower energy d orbital gets promoted to
        high energy d orbital called d-d transition due to absorption of visible light.<br>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.33</span>
        How would you account for the following?<br>
        (i) The transition elements exhibit high in enthalpies of atomization<br>
        (ii) The 4d and 5d series of the transition metal have more frequent metal-metal bonding in their compounds than
        do the 3d metals.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <br> (a) Transition elements have high effective nuclear charge and a large number of valence electrons they
        form very strong metallic bonds which results high enthalpies of atomization.
        <br> (b) Because due to the greater effective nuclear charge acting on outer valence shell electron because of
        weak shielding by 4f electron.<br>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.34</span>
        Describe the variability of oxidation states in the first rule of the transition element (Sc-Cu) and indicate
        the general trend
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Transition elements show variable oxidation states because their valence electron are in 2 different sets of
        orbitals that is (n -1 )d and ns the energy difference between their orbitals is very less so both the energy
        level can be used for bond formation
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.35</span>
        Explain the following:<br>
        (i) Transition elements tend to be unreactive with increasing atomic number in the series<br>(ii)
        d block element exhibit more oxidation state then f block element.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (a) Transition elements tend to be unreactive with the increasing atomic number in series due to the higher
        Ionization energies
        <br>(b) d block elements exhibit more oxidation states because of less energy gap between d and s subshell
        whereas f block elements have large energy gap between f and d subshell.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.36</span>
        (a) Cr<sup>2+</sup> is a strong reducing agent whereas Mn<sup>2+</sup> is not (Cr=24, Mn=25)<br>
        (b) The transition metal ions such as Cu<sup>+</sup>, Ag<sup>+</sup>and Sc<sup>3+</sup> are colourless<br>
        (c) The enthalpies of atomization of transition metal of 3d series do not follow a regular trend throughout the
        series<br>
        (d) The radius of Fe<sup>2+</sup> (Z=26) Is less than that of Mn<sup>2+</sup> (Z=25)

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (a) This half filled electronic configuration of Cr contributes to its stability and thus it acts as a better
        reducing agent since half filled and full filled electronic configuration contributes to its stability<br>
        (b) because they have no unpaired electron in their valence shell.<br>
        (c) Transition elements have high effective nuclear charge and a large number of valence electrons they form
        very strong metallic bonds which results high enthalpies of atomization.
        <br>(d) Because the effective nuclear charge is more in Fe<sup>3+</sup> than Mn<sup>+2</sup>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.37</span>
        Given below are the electrode potential values, E<sup>0</sup> for some of the first row transition elements :
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/8.37.jpg" alt="" class="img-fluid " />
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        It is due to irregular variations in sum of first and second Ioniozation energies and sublimation energies It is
        also
        due to stability of Electronic configuration.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.38</span>
        Why Cd<sup>+2</sup> salts are white ?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Transition elements exhibit colour to d-d transition the electronic configuration of Cd<sup>+2</sup> is
        5d<sup>10</sup> it means it has fulfilled d subshell so Cd<sup>+2</sup> is white.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 8.39</span>
        How would you account for the following:<br>
        (i) The transition element of high enthalpies of atomization<br>
        (ii) The transition metals and their compounds are found to be good catalysts in many processes?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (a) Transition elements have high effective nuclear charge and a large number of valence electrons they form
        very strong metallic bonds which results high enthalpies of atomization.<br>
        (b) <u>Good Catalyst :</u><br> It as due to variable oxidation state. They have large surface area and can form
        intermediate with reactants which readily changed into products.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.40</span>
        Which is more paramagnetic , Fe<sup>2+</sup> or Fe<sup>3+</sup>? Give reasons.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        Paramagnetic tends behaviour to increase as the number
        of unpaired electron increase
        the ferric ion fe<sup>+3</sup> is more
        paramagnetic than the ferrous ion Fe<sup>+2</sup>
        because ferric
        ion 5 unpaired electron
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.41</span>
        Give the relationship between the equivalent mass and molar mass of KMnO<sub>4</sub> (molar mass =
        158 g mol<sup>-1</sup>) in (a) acidic medium (b) alkaline medium (c) neutral medium.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img41.jpg" alt="" class="img-fluid">
      <h5 class="text-dark">
        (a) <u><b class="text-danger">Acidic Medium</b></u>->
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img41-1.jpg" alt="" class="img-fluid">
        <br>
        (b) <u><b class="text-danger">Basic Medium</b></u>->
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img41-2.jpg" alt="" class="img-fluid">
        <br>
        <br>
        (c) <u><b class="text-danger">Neutral Medium</b></u>->
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img41-3.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.42</span>
        Describe the preparation of potassium permanganate from pyrolusite ore.
      </h5>


      <h5><span class="text-success">Solution </span></h5>

      <h5 class="text-dark">
        KMnO<sub>4</sub> is prepared from Pyrolusite ore (MnO<sub>2</sub>).
        The finely powdered Pyrolusite ore (MnO<sub>2</sub>) is fused
        with an alkali Hydroxide like KOH in The presence
        of air or an oxidising agent like KNO<sub>3</sub> to give the dark green
        (K<sub>2</sub>MnO<sub>4</sub>)
        <br>
        <br>
        K<sub>2</sub>MnO<sub>4</sub> disproportionate in a neutral or acidic
        solution to give KMnO<sub>4</sub>

      </h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img42.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.43</span>
        Why is K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> generally preferred over
        Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> in volumetric analysis although both are oxidising
        agents?
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> is generally preferred over
        Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>
        in volumetric analysis because Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> is Hygroscopic in nature
        ,i.e, it absorb moisture from the
        atmosphere this could lead in inaccurate
        measurement of wt.
        <br>
        Hence K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> is preferred over
        Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> in volumetric analysis.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.44</span>
        Describe with chemical equations, what happens when
        <ol type="i">
          <li>K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> reacts with sodium chloride in the presence of
            conc. H<sub>2</sub>SO<sub>4</sub></li>
          <li>K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> reacts with an acidified solution of KI?</li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        (i) when NaCl is heated with K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> and conc
        H<sub>2</sub>SO<sub>4</sub> the reaction take place
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img44.jpg" alt="" class="img-fluid">
        <br>
        <br>
        K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> reacts with H<sub>2</sub>SO<sub>4</sub> and KI to produce
        Chromium(III) sulphate,I,potassium sulphate & H<sub>2</sub>O
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.45</span>
        <ol type="a">
          <li>Describe with the help of chemical equations the preparation of potassium dichromate from
            chromite ore.</li>
          <li>Give balanced chemical equations for what happens when acidified potassium dichromate
            solution reacts with (i) ferrous sulphate solution (ii) hydrogen sulphide gas.</li>
          <li>Draw the structure of Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> ion. </li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img45.jpg" alt="" class="img-fluid">
      <h5 class="text-dark">
        (b) (i) In presence of dilute H<sub>2</sub>SO<sub>4</sub>,K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>
        oxidise ferrous sulphate to ferric sulphate. K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> is reduced to
        Chromium sulphate.
        <br>
        Orange colour of solution turns green.
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img45-1.jpg" alt="" class="img-fluid">
        <br>
        <br>
        Acidified K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> reacts with H<sub>2</sub>S to produce
        Sulphur,potassium sulphate,Chromium(III) and water
        <br>
        <br>
        (c) <u><b class="text-danger">Structure of Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup> ion</b></u>->
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img45-2.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.46</span>
        Describe how potassium dichromate is made from chromite ore and give the equations for the chemical
        reactions involved. Write balanced ionic equations for reacting ions to represent the action of
        acidified potassium dichromate solution on
        <ol type="i">
          <li> potassium iodide solution</li>
          <li>acidified ferrous sulphate solution.</li>
        </ol>
        Write the uses of potassium dichromate.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img45.jpg" alt="" class="img-fluid">
      <h5 class="text-dark">
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img46.jpg" alt="" class="img-fluid">
        <br>
        <br>
        K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> reacts with H<sub>2</sub>SO<sub>4</sub> and KI to produce
        Chromium(III) sulphate,Iodide,potassium sulphate & H<sub>2</sub>O
        <br>
        <br>
        (ii) In presence of dilute H<sub>2</sub>SO<sub>4</sub>,K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>
        oxidise ferrous sulphate to ferric sulphate. K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> is reduced to
        Chromium sulphate.
        <br>
        Orange colour of solution turns green.
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img46-1.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.47</span>
        Describe how potassium permanganate is made from pyrolusite. Write the chemical equations for the
        involved reactions. Describe with an example each the oxidising actions of permanganate ion in
        alkaline and acidic media. What acid and alkali are actually used?
      </h5>


      <h5><span class="text-success">Solution </span></h5>

      <h5 class="text-dark">
        KMnO<sub>4</sub> is prepared from Pyrolusite ore (MnO<sub>2</sub>).
        The finely powdered Pyrolusite ore (MnO<sub>2</sub>) is fused
        with an alkali Hydroxide like KOH in The presence
        of air or an oxidising agent like KNO<sub>3</sub> to give the dark green
        (K<sub>2</sub>MnO<sub>4</sub>)
        <br>
        <br>
        K<sub>2</sub>MnO<sub>4</sub> disproportionate in a neutral or acidic
        solution to give KMnO<sub>4</sub>
        <br>
      </h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img42.jpg" alt="" class="img-fluid">
      <h5 class="text-dark">
        (ii)
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img47.jpg" alt="" class="img-fluid">
        <br>
        oxidising effect of KMnO<sub>4</sub> is maximum in acidic
        medium and least in basic medium as in acidic medium the reduction in oxidation state of Mn is
        maximum.
        <br>
        <br>
        H<sub>2</sub>SO<sub>4</sub> and NaOH is used as acid and alkali
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.48</span>
        Mention two uses of potassium permanganate in laboratory.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        <span class="text-danger">Uses of KMnO<sub>4</sub> in the laboratory</span>
        <br>
        <ol type="i">
          <li>As Laboratory reagent (1% alkaline KMnO<sub>4</sub> ) to detect
            unsaturation under The
            name Baeyer's reagent.</li>
          <li>For volumeteric estimation of ferrous salts,oxalates,iodides etc</li>
        </ol>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.49</span>
        <ol type="a">
          <li>Starting from a sample of chromite ore, how is potassium dichromate prepared ? Describe all
            the steps involved with chemical equations.</li>
          <li>Write balanced chemical equation for the reaction between an acidified solution of potassium
            dichromate and potassium iodide. </li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>

      <h5 class="text-dark">
        (a) <br> <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img45.jpg" alt="" class="img-fluid">
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img49.jpg" alt="" class="img-fluid">
        <br>
        <br>
        K<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub> reacts with H<sub>2</sub>SO<sub>4</sub> and KI to produce
        Chromium(III) sulphate,Iodide,potassium sulphate & H<sub>2</sub>O
        <br>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.50</span>
        Give balanced chemical equations for the following reactions :
        <ol type="i">
          <li>Between acidified potassium dichromate and potassium iodide.</li>
          <li>Between potassium permanganate and oxalic acid in the presence of dilute sulphuric acid.
          </li>
          <li>Chromite ore is fused with NaOH in air</li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        (a) Acidified potassium dichromate oxidises potassium iodide to iodine. Potassium dichromate is
        reduced
        to chromic sulphate - Liberated iodine turns the solution brown.
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img50.jpg" alt="" class="img-fluid">
        <br>
        <br>
        (b) <br> <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img50-1.jpg" alt="" class="img-fluid">
        <br>
        <br>
        (iii)
        chromite ore,on fusion with NaOH,
        form sodium chromate ( yellow coloured Compound)
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img50-2.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.51</span>
        Write the complete chemical equation for each of the following :
        <ol type="i">
          <li>An alkaline solution of KMnO<sub>4</sub> reacts with an iodide.</li>
          <li>An excess of SnCl<sub>2</sub> solution is added to a solution of mercury (II) chloride.
          </li>
        </ol>
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img51.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.52</span>
        A green chromium compound (A) on fusion with alkali gives a yellow compound (B) which on
        acidification gives an orange coloured compound (C). 'C' on treatment with NH<sub>4</sub>Cl gives an
        orange
        coloured product (D), which on heating decomposes to give back (A). Identify A, B, C and D. Write
        equations for reactions.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img52.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> Q8.53</span>
        Describe the steps involved in the preparation of either potassium dichromate from sodium chromate
        or potassium permanganate from manganese dioxide.
      </h5>


      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        Preparation of sodium dichromate (Na<sub>2</sub>Cr<sub>2</sub>O<sub>7</sub>) from Sodium chromate
        (Na<sub>2</sub>Cr<sub>2</sub>O<sub>4</sub>)
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img53.jpg" alt="" class="img-fluid">
        <br>
        <br>
        Pottassium dichromate is crystallised -
        <br>
        Preparation of potassium permanganate (KMnO<sub>2</sub>)
        <br>
        <br>
        <img src="class12ISCchap/chemistry/d&fblockimg/8-1/img53-1.jpg" alt="" class="img-fluid">
      </h5>
    </div>
  </div>

</div>