<style>
    .car {
        width: 90%;
        height: 28%;
        overflow: hiddden;
    }

    pre {
        overflow-y: scroll;
        height: 30em;
        margin: 2.5em 0;
    }

    .pro {
        width: 60%;
    }

    @media screen and (max-width: 768px) {
        .pro {
            width: 85% !important;
        }
    }
</style>

<body>
    <h1 class="text-center text-danger">
        SPECIMEN PAPER MATHEMATICS SOLUTION-SEMESTER 2 2022
    </h1>
    <div class="container mt-5">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <div class="d-flex flex-sm-row justify-content-center">
                        <div class="fw-bold">
                            <p class="fs-5 fw-bold lh-base">BOARD -</p>
                            <p class="fs-5 fw-bold lh-base">CLASS -</p>
                            <p class="fs-5 fw-bold lh-base">SUBJECT -</p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">ICSE</p>
                            <p class="fs-5 lh-base">10th</p>
                            <p class="fs-5 lh-base">MATHEMATICS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <h3 class="text-secondary text-center fw-bold">
                        Paper Pattern for Written Term-I
                    </h3>
                    <div class="d-flex p-1 flex-sm-row justify-content-center">
                        <div class="fw-bold">
                            <p class="fs-5 fw-bold lh-base">TIME -</p>
                            <p class="fs-5 fw-bold lh-base">MARKS -</p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">1 Hour 30 Minutes</p>
                            <p class="fs-5 lh-base">40</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="text-center">
            Visit
            <a href="https://www.cisce.org/publications.aspx#REGULATIONS%20AND%20SYLLABUSES%20-%20ICSE">
                CISCE OFFICIAL PAGE</a>
            for Regulations and Syllabus of Class 10th ICSE
        </h5>
        <h2 class="fw-bold text-center mt-4">
            <u>Solved Specimen Paper Semester-2 2022</u>
        </h2>

        <!-- question 1(1) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 1 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <h4 class="text-danger">
                Choose the correct answers to the questions from the given options.
                (Do not copy the question, Write the correct answer only.)
            </h4>
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold">(i)</span> The point (3,0) is invariant
                        under reflection in:
                    </h4>
                    <ol type="a">
                        <li>The origin</li>
                        <li>x-axis</li>
                        <li>y-axis</li>
                        <li>both x and y axes</li>
                    </ol>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(i).jpg"
                        alt="" />
                </div>
            </div>
        </div>
        <!-- question 1(ii) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(ii)</span> In the given figure, AB is a
                    diameter of the circle with centre ‘O’. If ∠𝑪𝑪𝑪𝑪𝑪𝑪 = 55⁰ then the
                    value of x is:
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 1(ii).png"
                    alt="">
                <ol type="a">
                    <li>27.5⁰</li>
                    <li>55⁰</li>
                    <li>110⁰
                    </li>
                    <li>125⁰</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(ii).jpg" alt="" />
            </div>
        </div>

        <!-- question 1(iii) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(iii)</span>If a rectangular sheet having dimensions 22 cm x 11 cm is rolled
                    along its shorter
                    side to form a cylinder. Then the curved surface area of the cylinder so formed is:
                </h4>
                <ol type="a">
                    <li>968 cm<sup>2</sup></li>
                    <li>424 cm<sup>2</sup></li>
                    <li>121 cm<sup>2</sup>
                    </li>
                    <li>242 cm<sup>2</sup></li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(iii).jpg" alt="" />
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(iii)2.jpg"
                    alt="" />

            </div>
        </div>

        <!-- question 1(iv) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(iv)</span>If the vertices of a triangle are (1,3), (2, - 4) and (-3, 1). Then
                    the co-ordinate of its
                    centroid is:
                </h4>
                <ol type="a">
                    <li>(0, 0)</li>
                    <li>(0, 1)</li>
                    <li>(1, 0)
                    </li>
                    <li>(1, 1)</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(iv).jpg" alt="" />
            </div>
        </div>

        <!-- question 1(v) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(v)</span>tan &#952; x
                    <!-- <span>&#8730;</span> 1-sin <sup>2</sup> -->
                    &radic;<span style="text-decoration: overline">1-sin <sup>2</sup></span>
                    is equal to:
                </h4>
                <ol type="a">
                    <li>cos &#952;</li>
                    <li>sin &#952;</li>
                    <li>tan &#952;
                    </li>
                    <li>cot &#952;</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(v).jpg" alt="" />
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(v)2.jpg" alt="" />

            </div>
        </div>

        <!-- question 1(vi) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(vi)</span>The median class for the given distribution is:
                </h4>
                <table class="table table-bordered table-hover" style="width:77%">

                    <tbody>

                        <tr>
                            <td><b> Class Interval</b>
                            </td>
                            <td>1 – 5</td>
                            <td>6-10</td>
                            <td>11-15</td>
                            <td>16-20</td>
                        </tr>
                        <tr>

                            <td> <b>Cumulative Frequency</b> </td>
                            <td>2</td>
                            <td>6</td>
                            <td>11</td>
                            <td>18</td>
                        </tr>
                    </tbody>
                </table>
                <ol type="a">
                    <li>1 – 5</li>
                    <li>6 – 10</li>
                    <li>11-15</li>
                    <li>11 – 20</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(vi).jpg" alt="" />

            </div>
        </div>

        <!-- question 1(vii) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(vii)</span>If the lines 7y = ax + 4 and 2𝑦 = 3 − 𝑥, are
                    parallel to each other, then the value of
                    ‘a’ is:
                </h4>
                <ol type="a">
                    <li>- 1
                    </li>
                    <li>−7/2</li>
                    <li>-2/7
                    </li>
                    <li>14</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(vii).jpg" alt="" />

            </div>
        </div>

        <!-- question 1(viii) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(viii)</span>Volume of a cylinder is 330 cm
                    <sup>3</sup>
                    . The volume of the cone having same radius and
                    height as that of the given cylinder is:
                </h4>
                <ol type="a">
                    <li>330cm<sup>3</sup>
                    </li>
                    <li>165cm<sup>3</sup></li>
                    <li>110cm<sup>3</sup>
                    </li>
                    <li>220cm<sup>3</sup></li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(viii).jpg"
                    alt="" />

            </div>
        </div>

        <!-- question 1(ix) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(ix)</span>In the given graph, the modal class is the class with frequency:
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 1(ix).png"
                    alt="">
                <ol type="a">
                    <li>72
                    </li>
                    <li>21</li>
                    <li>48
                    </li>
                    <li>36</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(ix).jpg" alt="" />

            </div>
        </div>

        <!-- question 1(x) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(x)</span>If the probability of a player winning a game is 0.56. The
                    probability of his losing
                    this game is:
                </h4>
                <ol type="a">
                    <li> 0.56
                    </li>
                    <li>1</li>
                    <li>0.44
                    </li>
                    <li>0</li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans1(x).jpg" alt="" />

            </div>
        </div>


        <!-- question 2(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 2 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold">(i)</span>Find the ratio in which the x-axis divides internally the line
                        joining points A (6, -4)
                        and B ( -3, 8).
                    </h4>

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans2(i).jpg"
                        alt="" />
                </div>
            </div>
        </div>
        <!-- question 2(ii) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(ii)</span>Three rotten apples are accidently mixed with twelve good ones. One
                    apple is picked
                    at random. What is the probability that it is a good one?
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans2(ii).jpg" alt="" />

            </div>
        </div>

        <!-- question 2(iii) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(iii)</span>In the given figure , AC is a tangent to circle at point B. ∆𝑬FD
                    is an equilateral
                    triangle and ∠𝑪BD = 𝟒0°. Find:
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 2(iii).png"
                    alt="">
                <ol type="a">
                    <li>∠BFD</sup>
                    </li>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans2(iii)a.jpg"
                        alt="" />
                    <li>∠FBD</li>
                    <li>∠ABF</sup>
                    </li>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans2(iii)bc.jpg"
                        alt="" />
                </ol>


            </div>
        </div>

        <!-- question 2(iv) -->
        <div class="row ">
            <div class="col border border-1 mt-5">
                <h4 class="text-danger">
                    <span class="fw-bold">(iii)</span>A drone camera is used to shoot an object P from two different
                    positions R and S
                    along the same vertical line QRS. The angle of depression of the object P from these
                    two positions are 35° and 𝟔0° respectively as shown in the diagram. If the distance
                    of the object P from point Q is 50 metres, then find the distance between R and S
                    correct to the nearest meter.
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 2(iv).png"
                    alt="">

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans2(iv).jpg" alt="" />

            </div>
        </div>


        <!-- question 3(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 3 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold">(i)</span>In the given figure, PT is a tangent to the circle at T, chord
                        BA is produced to meet
                        the tangent at P. Perpendicular BC bisects the chord TA at C. If PA = 9cm and
                        TB = 7cm, find the lengths of:
                    </h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 3(i).png"
                        alt="">
                    <ol type="a">
                        <li>AB</li>
                        <li>PT</li>
                    </ol>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans3(i).jpg"
                        alt="" />
                    </ol>

                </div>
            </div>
        </div>

        <!-- question 3(ii) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(ii)</span>How many solid right circular cylinders of radius 2 cm and height 3
                    cm can be made
                    by melting a solid right circular cylinder of diameter 12 cm and height 15 cm?
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans3(ii).jpg" alt="" />
                </ol>

            </div>
        </div>

        <!-- question 3(iii) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(iii)</span>Prove that:
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 3(iii).png"
                    alt="">

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans3(iii).jpg" alt="" />
                </ol>

            </div>
        </div>

        <!-- question 3(iv) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(iv)</span>Use graph paper for this question, take 2 cm = 10 marks along one
                    axis and
                    2 cm = 10 students along the other axis.
                    <br>
                    The following table shows the distribution of marks in a 50 marks test in
                    Mathematics:
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 3(iv).png"
                    alt="">
                <h4 class="text-danger">Draw the ogive for the above distribution and hence estimate the median marks.
                </h4>
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" style="display: block;"
                    src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans3(iv).jpg" alt="" />
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans3(iv)2.jpg" alt="" />

                </ol>

            </div>
        </div>


        <!-- question 4(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 4 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold">(i)</span>Find the equation of the perpendicular dropped from the point P
                        (-1,2) onto the line
                        joining A (1,4) and B (2,3).
                    </h4>

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans4(i).jpg"
                        alt="" />
                    </ol>

                </div>
            </div>
        </div>

        <!-- question 4(ii) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold">(ii)</span>Find the mean for the following distribution:
                </h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 4(ii).png"
                    alt="">
                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans4(ii).jpg" alt="" />
                <img class="img-fluid" style="display: block;"
                    src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans4(ii)2.jpg" alt="" />


            </div>

            <!-- question 4(iii) -->
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold">(iii)</span>A solid piece of wooden cone is of radius OP = 7 cm and height
                        OQ = 12 cm. A
                        cylinder whose radius and height equal to half of that of the cone is drilled out from
                        this piece of wooden cone. Find the volume of the remaining piece of wood.
                        <br>
                        (USE,𝜋=22/7)
                    </h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 4(iii).png"
                        alt="">
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans4(iii).jpg"
                        alt="" />
                </div>
            </div>


            <!-- question 4(iv) -->
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold">(iv)</span>Use a graph sheet for this question, take 2cm = 1 unit along
                        both x and y axis:
                        <br>
                    </h4>
                    <ol type="a">
                        <li>Plot the points A (3,2) and B (5,0). Reflect point A on the y-axis to A΄. Write
                            co-ordinates of A΄.</li>
                        <li>Reflect point B on the line AA΄ to B΄. Write the co-ordinates of B΄.
                        </li>
                        <li>Reflect point B on the line AA΄ to B΄. Write the co-ordinates of B΄.
                        </li>
                    </ol>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans4(iv).jpg"
                        alt="" />
                    <img class="img-fluid" style="display: block;"
                        src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans4(iv)2.jpg" alt="" />

                </div>
            </div>


            <!-- question 5(i) -->
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-center text-dark">
                        Question 5 [MATHEMATICS Specimen Paper Semester-2 2022]
                    </h4>
                </div>


                <div class="row">
                    <div class="col border border-1 mt-3">
                        <h4 class="text-danger">
                            <span class="fw-bold">(i)</span>In the given figure, the sides of the quadrilateral PQRS
                            touches
                            the circle at A,B,C
                            and D. If RC = 4 cm, RQ = 7 cm and PD = 5cm. Find the length of PQ:
                        </h4>
                        <img class="img-fluid"
                            src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 5(i).png" alt="">
                        <h4><span class="text-success">Solution</span></h4>

                        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(i).jpg"
                            alt="" />


                    </div>
                </div>


                <!-- question 5(ii) -->
                <div class="row">
                    <div class="col border border-1 mt-3">
                        <h4 class="text-danger">
                            <span class="fw-bold">(ii)</span>Prove that:
                        </h4>
                        <img class="img-fluid"
                            src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 5(ii).png" alt="">
                        <h4><span class="text-success">Solution</span></h4>
                        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(ii).jpg"
                            alt="" />


                    </div>
                </div>

                <!-- question 5(iii) -->
                <div class="row">
                    <div class="col border border-1 mt-3">
                        <h4 class="text-danger">
                            <span class="fw-bold">(iii)</span>In the given diagram, OA = OB, ∠OAB = 𝜃 and the line AB
                            passes
                            through point
                            P (-3, 4).

                        </h4>
                        <img class="img-fluid"
                            src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 5(iii).png" alt="">
                        <h4 class="text-danger">
                            Find:
                        </h4>
                        <ol type="a">
                            <li>Slope and inclination (𝜃) of the line AB</li>
                            <h4><span class="text-success">Solution</span></h4>
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(iii)a.jpg" alt="" />
                            <li>Equation of the line AB </li>
                            <h4><span class="text-success">Solution</span></h4>
                            <img class="img-fluid" style="display:block"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(iii)a.jpg" alt="" />
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(iii)b.jpg" alt="" />
                        </ol>
                    </div>

                    <!-- question 5(iv) -->
                    <div class="row">
                        <div class="col border border-1 mt-3">
                            <h4 class="text-danger">
                                <span class="fw-bold">(iv)</span>Use graph paper for this question. Estimate the mode of
                                the
                                given distribution by
                                plotting a histogram. [Take 2 cm = 10 marks along one axis and 2 cm = 5 students
                                along the other axis]

                            </h4>
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 5(iv).png" alt="">
                            <h4><span class="text-success">Solution</span></h4>
                            <img class="img-fluid" style="display: block;"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(iv).jpg" alt="" />
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans5(iv)2.jpg" alt="" />
                        </div>
                    </div>

                    <!-- question 6(i) -->
                    <div class="row">
                        <div class="col border border-1 mt-3">
                            <h4 class="text-center text-dark">
                                Question 6 [MATHEMATICS Specimen Paper Semester-2 2022]
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col border border-1 mt-3">
                                <h4 class="text-danger">
                                    <span class="fw-bold">(i)</span>A box contains tokens numbered 5 to 16. A token is
                                    drawn at
                                    random. Find the
                                    probability that the token drawn bears a number divisible by:
                                </h4>
                                <ol type="a">
                                    <li>5</li>
                                    <h4><span class="text-success">Solution</span></h4>
                                    <img class="img-fluid"
                                        src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans6(i)a.jpg" alt="" />
                                    <li>Neither by 2 nor by 3 </li>
                                    <h4><span class="text-success">Solution</span></h4>
                                    <img class="img-fluid"
                                        src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans6(i)b.jpg" alt="" />
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- question 6(ii) -->
                    <div class="row">
                        <div class="col border border-1 mt-3">
                            <h4 class="text-danger">
                                <span class="fw-bold">(ii)</span>A box contains tokens numbered 5 to 16. A token is
                                drawn at
                                random. Find the
                                probability that the token drawn bears a number divisible by:
                            </h4>

                            <h4><span class="text-success">Solution</span></h4>
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans6(ii).jpg" alt="" />
                        </div>
                    </div>

                    <!-- question 6(iii) -->
                    <div class="row">
                        <div class="col border border-1 mt-3">
                            <h4 class="text-danger">
                                <span class="fw-bold">(iii)</span>An aeroplane is flying horizontally along a straight
                                line at a
                                height of 3000 m from
                                the ground at a speed of 160 m/s. Find the time it would take for the angle of elevation
                                of the plane as seen from a particular point on the ground to change from 60⁰ to 45⁰.
                                Give your answer correct to the nearest second.
                            </h4>

                            <h4><span class="text-success">Solution</span></h4>
                            <img class="img-fluid" style="display: block;"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans6(iii).jpg" alt="" />
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans6(iii)2.jpg" alt="" />
                        </div>
                    </div>

                    <!-- question 6(iv) -->
                    <div class="row">
                        <div class="col border border-1 mt-3">
                            <h4 class="text-danger">
                                <span class="fw-bold">(iv)</span>Given that the mean of the following frequency
                                distribution is
                                30, find the missing
                                frequency ‘f’
                            </h4>

                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/question 6(iv).png" alt="">


                            <h4><span class="text-success">Solution</span></h4>
                            <img class="img-fluid"
                                src="specimenchapimg/2021-2022/Term-2/icse10-maths-speci/ans6(iv).jpg" alt="" />
                        </div>
                    </div>

</body>