<h1 class="text-center text-danger">SPECIMEN PAPER CHEMISTRY SOLUTION-SEMESTER 2 2022 </h1>
<div class="container mt-5">
    <div class="row gx-3">
        <div class="col-md-6">
            <div class="border border-2 border-highlight">
                <div class="d-flex flex-sm-row justify-content-center">
                    <div class=" fw-bold">
                        <p class=" fs-5 fw-bold lh-base">BOARD - </p>
                        <p class="fs-5 fw-bold lh-base">CLASS - </p>
                        <p class="fs-5 fw-bold lh-base">SUBJECT - </p>
                    </div>
                    <div class="text-dark">
                        <p class="fs-5 lh-base">CBSE</p>
                        <p class="fs-5 lh-base">12th </p>
                        <p class="fs-5 lh-base">CHEMISTRY </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="border border-2 border-highlight">
                <h3 class="text-secondary text-center fw-bold">Paper Pattern for MCQ Term-I</h3>
                <div class="d-flex p-1 flex-sm-row justify-content-center">
                    <div class=" fw-bold">
                        <p class=" fs-5 fw-bold lh-base">TIME - </p>
                        <p class="fs-5 fw-bold lh-base">MARKS - </p>

                    </div>
                    <div class="text-dark">
                        <p class="fs-5 lh-base">2 Hour</p>
                        <p class="fs-5 lh-base"> 35 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-center">Visit <a href="https://cbseacademic.nic.in/">
            CBSE OFFICIAL PAGE</a> for Regulations and Syllabus of Class 12th CBSE</h5>
    <h2 class="fw-bold text-center mt-4"><u>Solved Specimen Paper Semester-2 2022</u></h2>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section-A</h4>
        </div>
    </div>
    <!-- question 1 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 1 </h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark">Arrange the following in the increasing order of their property indicated (any
                2): </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Benzoic acid, Phenol, Picric acid, Salicylic acid (pka values).
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img1(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Acetaldehyde, Acetone, Methyl tert butyl ketone (reactivity towards NH<sub>2</sub>OH). </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img1(b).jpg" alt="" />

        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                ethanol, ethanoic acid, benzoic acid (boiling point) </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img1(c).jpg" alt="" />

        </div>
    </div>


    <!-- question 2 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 2 </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                cbse12-chem-speci of two electrolytes ‘A’ and ‘B’ are diluted. The Λm of ‘B’ increases 1.5 times
                while that of A increases 25 times. Which of the two is a strong electrolyte? Justify your
                answer. Graphically show the behavior of ‘A’ and ‘B’.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img2.jpg" alt="" />
        </div>
    </div>

    <!-- question 3 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 3</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-dark">Give reasons to support the answer:</h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Presence of Alpha hydrogen in aldehydes and ketones is essential for aldol condensation.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img3(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                3 –Hydroxy pentan-2-one shows positive Tollen’s test.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img3(b).jpg" alt="" />
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section-B</h4>
        </div>
    </div>

    <!-- question 4 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 4</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark">Account for the following:
            </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Aniline cannot be prepared by the ammonolysis of chlorobenzene under normal
                conditions
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img4(a).jpg" alt="" />
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                N-ethylethanamine boils at 329.3K and butanamine boils at 350.8K, although both are
                isomeric in nature.

            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img4(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                Acylation of aniline is carried out in the presence of pyridine.

            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img4(c).jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark"> OR</h4>
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 4</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark"> Convert the following:
            </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Phenol to N-phenylethanamide
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img4-2(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Chloroethane to methanamine.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img4-2(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                Propanenitrile to ethanol.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img4-2(c).jpg" alt="" />
        </div>
    </div>

    <!-- question 5 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 5</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark">Answer the following questions: </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                [Ni(H<sub>2</sub>O)<sub>6</sub> ] <sup>2+</sup> (aq) is green in colour whereas
                [Ni(H<sub>2</sub>O)<sub>4</sub>(en) ] <sup>2+</sup> (aq)is blue in colour , give
                reason in support of your answer .
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img5(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Write the formula and hybridization of the following compound:
                <br>
                tris(ethane-1,2–diamine) cobalt(III) sulphate
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img5(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 5</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark">In a coordination entity, the electronic configuration of the central metal ion
                is t<sub>2</sub>g
                <sup>3</sup>
                e<sub>g</sub>
                <sup>1</sup>
            </h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Is the coordination compound a high spin or low spin complex?
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img5-2(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Draw the crystal field splitting diagram for the above complex. </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img5-2(b).jpg" alt="" />
        </div>
    </div>


    <!-- question 6 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 6</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark">Account for the following: </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Ti(IV) is more stable than the Ti (II) or Ti(III) </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img6(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                In case of transition elements, ions of the same charge in a given series show progressive
                decrease in radius with increasing atomic number </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img6(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                Zinc is a comparatively a soft metal, iron and chromium are typically hard. </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img6(c).jpg" alt="" />
        </div>
    </div>


    <!-- question 7 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 7</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                An alkene ‘A’ (Mol. formula C<sub>5</sub>H<sub>10</sub>) on ozonolysis gives a mixture of two
                compounds ‘B’
                and ‘C’. Compound ‘B’ gives positive Fehling’s test and also forms iodoform on treatment
                with I<sub>2</sub> and NaOH. Compound ‘C’ does not give Fehling’s test but forms iodoform. Identify
                the compounds A, B and C. Write the reaction for ozonolysis and formation of iodoform
                from B and C. </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img7.jpg" alt="" />
        </div>
    </div>

    <!-- question 8 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 8</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark">Observe the figure given below and answer the questions that follow: </h4>
        </div>

    </div>
    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/q-8.jpg" alt="" />
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Which process is represented in the figure? </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img8(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                What is the application of this process? </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img8(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                Can the same process occur without applying electric field? Why is the electric field
                applied? </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img8(c).jpg" alt="" />
        </div>
    </div>

    <!-- question 9 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 9</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                N-ethylethanamine reacts with benzenesulphonyl chloride. </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img9(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Benzylchloride is treated with ammonia followed by the reaction with Chloromethane.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img9(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                Aniline reacts with chloroform in the presence of alcoholic potassium hydroxide. (1x3=3)
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img9(c).jpg" alt="" />
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 9</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Write the IUPAC name for the following organic compound:
            </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/q-9(a).jpg" alt="" />

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img9-2(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Complete the following:
            </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/q-9(b).jpg" alt="" />

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img9-2(b).jpg" alt="" />
        </div>
    </div>

    <!-- Question 10 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 10</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                Represent the cell in which the following reaction takes place.The value of E˚ for the cell is
                1.260 V. What is the value of E<sub>cell</sub> ? </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/q-10.jpg" alt="" />

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img10.jpg" alt="" />
        </div>
    </div>

    <!-- Question 11 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 11</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(a)</span>
                Why are fluorides of transition metals more stable in their higher oxidation state as
                compared to the lower oxidation state?
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img11(a).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(b)</span>
                Which one of the following would feel attraction when placed in magnetic field: Co<sup>2+</sup>
                ,
                Ag<sup>+</sup>
                ,Ti<sup>4+</sup> , Zn<sup>2+</sup>
                c.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img11(b).jpg" alt="" />
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold">(c)</span>
                It has been observed that first ionization energy of 5 d series of transition elements are
                higher than that of 3d and 4d series, explain why?
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img11(c).jpg" alt="" />
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>

        <!-- Question 11 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 11</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark"> On the basis of the figure given below, answer the following questions:
                </h4>
            </div>

        </div>
        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/q-11.jpg" alt=""
            style="width: 29%;" />


        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(a)</span>
                    Why Manganese has lower melting point
                    than Chromium?
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img11-2(a).jpg" alt="" />
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(b)</span>
                    Why do transition metals of 3d series have lower melting points as compared to 4d
                    series?

                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img11-2(b).jpg" alt="" />
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(c)</span>
                    In the third transition series, identify and name the metal with the highest melting point

                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/img11-2(c).jpg" alt="" />
            </div>
        </div>


        <!-- section c -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Section C</h4>
            </div>
        </div>
        <!-- Question 12 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 12</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark"> Read the passage given below and answer the questions that follow
                </h4>
            </div>

        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    <h4 class="text-center text-dark"><b>Are there nuclear reactions going on in our bodies?</b>
                    </h4>

                    There are nuclear reactions constantly occurring in our bodies, but there are very few of them
                    compared to the chemical reactions, and they do not affect our bodies much. All of the physical
                    processes that take place to keep a human body running are chemical processes. Nuclear
                    reactions can lead to chemical damage, which the body may notice and try to fix.
                    The nuclear reaction occurring in our bodies is radioactive decay. This is the change of a less
                    stable nucleus to a more stable nucleus. Every atom has either a stable nucleus or an unstable
                    nucleus, depending on how big it is and on the ratio of protons to neutrons. The ratio of
                    neutrons
                    to protons in a stable nucleus is thus <b>around 1:1</b> for small nuclei (Z < 20). Nuclei with too
                        many neutrons, too few neutrons, or that are simply too big are unstable. They eventually
                        transform to a stable form through radioactive decay. Wherever there are atoms with unstable
                        nuclei (radioactive atoms), there are nuclear reactions occurring naturally. The interesting
                        thing is that there are small amounts of radioactive atoms everywhere: in your chair, in the
                        ground, in the food you eat, and yes, in your body. <br>
                        <br>
                        The most common natural radioactive isotopes in humans are carbon-14 and potassium-40.
                        Chemically, these isotopes behave exactly like stable carbon and potassium. For this reason,
                        the
                        body uses carbon-14 and potassium-40 just like it does normal carbon and potassium; building
                        them into the different parts of the cells, without knowing that they are radioactive. In
                        time, carbon-14 atoms decay to stable nitrogen atoms and potassium-40 atoms decay to stable
                        calcium
                        atoms. Chemicals in the body that relied on having a carbon-14 atom or potassium-40 atom in
                        a
                        certain spot will suddenly have a nitrogen or calcium atom. Such a change damages the
                        chemical. Normally, such changes are so rare, that the body can repair the damage or filter
                        away
                        the damaged chemicals.
                        <br>
                        <br>
                        The natural occurrence of carbon-14 decay in the body is the core principle behind carbon
                        dating. As long as a person is alive and still eating, every carbon-14 atom that decays into
                        a
                        nitrogen atom is replaced on average with a new carbon-14 atom. But once a person dies, he
                        stops replacing the decaying carbon-14 atoms. Slowly the carbon-14 atoms decay to nitrogen
                        without being replaced, so that there is less and less carbon-14 in a dead body. The rate at
                        which
                        carbon-14 decays is constant and follows first order kinetics. It has a half - life of
                        nearly 6000
                        years, so by measuring the relative amount of carbon-14 in a bone, archeologists can
                        calculate
                        when the person died. All living organisms consume carbon, so carbon dating can be used to
                        date
                        any living organism, and any object made from a living organism. Bones, wood, leather, and
                        even paper can be accurately dated, as long as they first existed within the last 60,000
                        years. This
                        is all because of the fact that nuclear reactions naturally occur in living organisms.
                        <br>
                        <br>
                        (source: The textbook Chemistry: The Practical Science by Paul B. Kelter, Michael D. Mosher
                        and Andrew Scott states)
                </h4>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(a)</span>
                    Why is Carbon -14 radioactive while Carbon -12 not? (Atomic number of Carbon: 6)

                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/12(a).jpg" alt="" />
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(b)</span>
                    Researchers have uncovered the youngest known dinosaur bone, dating around 65 million
                    years ago. How was the age of this fossil estimated?


                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/12(b).jpg" alt="" />
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(c)</span>
                    Which are the two most common radioactive decays happening in human body?


                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/12(c).jpg" alt="" />
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(d)</span>
                    Suppose an organism has 20 g of Carbon -14 at its time of death. Approximately how much
                    Carbon -14 remains after 10,320 years?
                    (Given antilog 0.517 = 3.289)


                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/12(d).jpg" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">OR</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(d)</span>
                    Approximately how old is a fossil with 12 g of Carbon -14 if it initially possessed 32 g of
                    Carbon -14? (Given log 2.667 = 0.4260)


                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-chem-speci/12(d)or.jpg" alt="" />
            </div>
        </div>



    </div>