<style>
    @media screen and (min-width:780px) {
        .im {
            width: 35%;
        }

        .imm {
            width: 50%;
        }
    }
</style>

<body>


    <h1 class="text-center text-danger">SPECIMEN PAPER CHEMISTRY SOLUTION-SEMESTER 2 2022 </h1>
    <div class="container mt-5">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <div class="d-flex flex-sm-row justify-content-center">
                        <div class=" fw-bold">
                            <p class=" fs-5 fw-bold lh-base">BOARD - </p>
                            <p class="fs-5 fw-bold lh-base">CLASS - </p>
                            <p class="fs-5 fw-bold lh-base">SUBJECT - </p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">ICSE</p>
                            <p class="fs-5 lh-base">10th </p>
                            <p class="fs-5 lh-base">CHEMISTRY </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <h3 class="text-secondary text-center fw-bold">Paper Pattern for Written Term-II</h3>
                    <div class="d-flex p-1 flex-sm-row justify-content-center">
                        <div class=" fw-bold">
                            <p class=" fs-5 fw-bold lh-base">TIME - </p>
                            <p class="fs-5 fw-bold lh-base">MARKS - </p>

                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">One and a half hours </p>
                            <p class="fs-5 lh-base"> 40</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="text-center">Visit <a
                href="https://www.cisce.org/publications.aspx#REGULATIONS%20AND%20SYLLABUSES%20-%20ICSE">
                CISCE OFFICIAL PAGE</a> for Regulations and Syllabus of Class 10th ICSE</h5>
        <h2 class="fw-bold text-center mt-4"><u>Solved Specimen Paper Semester-2 2022</u></h2>

        <!-- question 1(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Section-A [Chemistry Specimen Paper Semester-2 2022]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 1 </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4>Choose the correct answers to the questions from the given options</h4>
                <br>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    The IUPAC name of Ethylene is:<br><br>
                    (a) Propane<br>
                    (b) Propyne<br>
                    (c) Ethene<br>
                    (d) Ethyne
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(c) Ethene</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Carbon to carbon double bond is found in:<br><br>
                    (a) 2-butylene<br>
                    (b) Acetaldehyde<br>
                    (c) Acetic acid<br>
                    (d) Ethyl alcohol
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b) Acetaldehyde
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Fused alumina is reduced to aluminium by electrolytic reduction, since:<br><br>
                    (a) Alumina is highly stable<br>
                    (b) Alumina is least stable<br>
                    (c) Alumina is not reduced by drying agents.<br>
                    (d) Alumina is not reduced by reducing agents.
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4> (d) Alumina is not reduced by reducing agents.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    The catalyst preferred in the conversion of Sulphur dioxide to Sulphur trioxide is:
                    <br><br>
                    (a) Finely divided iron<br>
                    (b) Graphite<br>
                    (c) Vanadium pentoxide<br>
                    (d) platinum
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4> (c) Vanadium pentoxide
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(v)</span>
                    Substitution reaction is a characteristic property of:
                    <br><br>
                    (a) Alcohols<br>
                    (b) Alkanes<br>
                    (c) Alkenes<br>
                    (d) Alkynes
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b) Alkanes
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(vi)</span>
                    The gas evolved when dilute sulphuric acid reacts with iron sulphide:<br><br>
                    (a) Sulphur dioxide<br>
                    (b) Carbon dioxide<br>
                    (c) Hydrogen sulphide<br>
                    (d) Nitrogen dioxide
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(c) Hydrogen sulphide
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(vii)</span>
                    An acid obtained from concentrated nitric acid on reaction with Sulphur:<br><br>
                    (a) Carbonic acid<br>
                    (b) Sulphuric acid<br>
                    (c) Nitric acid<br>
                    (d) Hydrochloric acid
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4> (b) Sulphuric acid
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(viii)</span>
                    The hydroxide soluble in excess of ammonium hydroxide is:<br><br>
                    (a) Zinc hydroxide<br>
                    (b) Lead hydroxide<br>
                    (c) Magnesium hydroxide<br>
                    (d) Ferrous hydroxide
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4> (a) Zinc hydroxide
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ix)</span>
                    The chemical name of the principal ore of aluminium:
                    <br><br>
                    (a) Sodium aluminium fluoride<br>
                    (b) Aluminium oxide<br>
                    (c) Hydrated Aluminium fluoride<br>
                    (d) Hydrated aluminium oxides
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4> (b) Aluminium oxide
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(x)</span>
                    A hydrocarbon which is a greenhouse gas.<br><br>
                    (a) Acetylene<br>
                    (b) Ethylene<br>
                    (c) Ethane<br>
                    (d) Methane
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4> (d) Methane
                    </h4>
                </div>
            </div>
        </div>

        <!-- Question 2 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Section-B <br>
                    (Attempt any three questions from this Section.)
                </h4>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 2 </h4>
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span> Define:<br><br>
                    (a) Catenation<br>
                    (b) Alloy </h4>


                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-1.jpg" alt="" />
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-2.jpg" alt="" />
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Name the compound formed when:<br><br>
                    (a) Ethene reacts with hydrogen in the presence of a catalyst.<br>
                    (b) Bauxite reacts with sodium hydroxide

                </h4>


                <h4><span class="text-success">Solution</span>
                </h4>
                <h4><span class="text-dark">(a) Ethane is produced</span>
                </h4>

                <h4 class="text-dark">(b)</h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-(ii).jpg" alt="" />

            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Draw the structural diagram of:<br><br>
                    (a) Propanal<br>
                    (b) Ethanoic acid<br>
                    (c) 1,2 dichloroethane
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <h4 class="text-dark">
                    (a) H<sub>3</sub>C-CH<sub>2</sub>-CH<sub>2</sub>-OH <br>
                    (b)<br>

                    <img class="img-fluid im" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-(iii).jpg"
                        alt="" /><br>
                    (c) Cl-CH<sub>2</sub>-CH<sub>2</sub>-Cl

                </h4>
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    Complete and balance the following chemical equations:
                </h4>
                <h4 class="text-danger">
                    (a) C<sub>2</sub>H<sub>6</sub> + O<sub>2</sub> &rarr;<br>
                    (b)C<sub>2</sub>H<sub>2</sub> + I<sub>2</sub> &rarr;<br>
                    (c) NH<sub>3</sub> + HCl &rarr;
                </h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(a)</h4><br>
                    <img class="img-fluid im" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-(iv)1.jpg"
                        alt="" /><br>
                    <h4>(b)</h4><br>
                    <img class="img-fluid im" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-(iv)2.jpg"
                        alt="" /><br>
                    <h4>(c)</h4><br>
                    <img class="img-fluid im" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img2-(iv)3.jpg"
                        alt="" />
                </div>
            </div>
        </div>

        <!-- SECTION B -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 3 </h4>
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Identify the anion present in the following compounds. <br><br>
                    (a) Compound Z which on reacting with dilute sulphuric acid liberates a gas which
                    has no effect on acidified potassium dichromate but turns lime water milky.<br>
                    (b) The solution of Compound L on reacting with freshly prepared ferrous sulphate
                    solution followed by addition of few drops of concentrated sulphuric acid to the
                    reactants along the sides of a test tube forms a brown ring at the junction of the
                    two liquids.
                </h4>


                <h4><span class="text-success">Solution</span></h4>

                <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(i)1.jpg" alt="" />
                <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(i)2.jpg" alt="" />

            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    State the following:<br><br>
                    (a) The drying agent used in the laboratory preparation of HCl gas.<br>
                    (b) Products formed when ammonia is burnt in excess of oxygen.
                </h4>


                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(a)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(ii)1.jpg"
                        alt="" />
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(ii)2.jpg"
                        alt="" />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    State the observation for the following, when:<br>
                    (a) Manganese dioxide reacts with concentrated HCl.<br>
                    (b) A glass rod dipped in concentrated HCl acid is brought near ammonia gas.<br>
                    (c) Concentrated sulphuric acid is added to carbon.
                </h4>


                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(a)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iii)1.jpg"
                        alt="" />
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iii)2.jpg"
                        alt="" />
                    <h4>(c)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iii)3.jpg"
                        alt="" />
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    Write balanced equation for the following conversions:<br><br>
                    (a) Lead sulphate from lead nitrate and sulphuric acid.<br>
                    (b) Nitrogen tri chloride from ammonia.<br>
                    (c) Sodium chloride from sodium sulphite and dilute hydrochloric acid.
                </h4>


                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iv).jpg"
                        alt="" />
                    <!-- <h4>(a) It protects the layer of carbon electrodes</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iv)2.jpg" alt="" />
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iv)3.jpg" alt="" /> -->
                </div>
            </div>
        </div>

        <!-- question4 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 4 </h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    State the relevant reason for the following: <br><br>
                    (a) A layer of powered coke is used over the electrolytic mixture in Hall Heroult’s
                    process.<br>
                    (b) Graphite anodes are continuously replaced during the electrolysis of alumina.<br>
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) It protects the layer of carbon electrodes</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iv)2.jpg"
                        alt="" />
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img3-(iv)3.jpg"
                        alt="" />

            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Name the alloys for the given composition: <br><br>
                    (a) Magnesium and aluminium<br>
                    (b) Magnesium + Manganese + Aluminium + Copper<br>
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) duralumin and magnox</h4><br>
                    <h4>(b) duralumin is an alloy of aluminium in which a homogeneous mix of Al, Cu , Mg and mangnese
                    </h4><br>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Identify the terms for the following:<br><br>
                    (a) The experiment which demonstrates high solubility of ammonia gas.<br>
                    (b) A method used to collect HCl gas.<br>
                    (c) The electrode where reduction takes place.
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) Ammonia fountain experiment</h4><br>
                    <h4>(b) Upward delivery or displacement</h4><br>
                    <h4>(c) Cathode</h4><br>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    Complete the table given below: <br><br>
                    <img class="img-fluid imm" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img4ques.png"
                        alt="" />
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) Fixation of atmospheric nitrogen</h4><br>
                    <h4>(b) nitric acid</h4><br>
                    <h4>(c) Contact Process</h4><br>


            </div>
        </div>

        <!-- question5 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 5</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Write the balanced chemical equation to show the concentration of ore in Baeyer’s
                    process. <br><br>
                    (a) Sodium aluminate to aluminium hydroxide<br>
                    (b) Aluminium hydroxide to alumina
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5(i)1.jpg"
                        alt="" /><br>
                    <h4>(b)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5-(i)2.jpg"
                        alt="" /><br>



            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Select the correct answer from the brackets to complete the following statements:<br><br>
                    (a) The catalyst used in the oxidation of ammonia is __________ [zinc / platinum].<br>
                    (b) The product formed when ammonia reacts with oxygen is _________ [nitric
                    oxide / nitrous oxide]<br>
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) Platinum</h4><br>
                    <h4>(b) 4NH<SUB>3</SUB>(aq) +3O<SUB>2</SUB> &rarr; 2N<SUB>2</SUB>+6H<SUB>2</SUB>O</h4><br>



            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Name the following organic compound:<br><br>
                    (a) The compound with 3 carbon atoms whose functional group is a carboxylic acid.<br>
                    (b) The first homologue whose general formula is C<sub>n</sub>H<sub>2n</sub>.<br>
                    (c) The compound formed by complete chlorination of ethyne.
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) Propanoic acid</h4><br>
                    <h4>(b)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5-(ii)2.jpg"
                        alt="" /><br>
                    <h4>(c)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5-(ii)3.jpg"
                        alt="" /><br>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    Answer the following questions related to the laboratory preparation of the hydrogen
                    chloride gas:<br><br>
                    (a) Why is sodium chloride preferred to other metallic chlorides?<br>
                    (b) State the temperature required in the preparation.<br>
                    (c) Write the chemical equation
                    <h4><span class="text-success">Solution</span></h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5-(iv)1.jpg"
                        alt="" /><br>
                    <h4>(b)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5-(iv)2.jpg"
                        alt="" /><br>
                    <h4>(c)</h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img5-(iv)2.jpg"
                        alt="" /><br>



            </div>
        </div>

        <!-- question6 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 6</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Distinguish between the following:<br><br>
                    (a) Dilute HCl and dilute HNO<sub>3</sub>[ using silver nitrate solution]<br>
                    (b) Dilute HCl and dilute H<sub>2</sub>SO<sub>4</sub>[using lead nitrate solution]
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) </h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img6-(i)1.jpg"
                        alt="" /><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img6-(i)2.jpg"
                        alt="" /><br>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Give one word for the following statements:<br><br>
                    (a) Naturally occurring minerals from which metals are extracted.<br>
                    (b) Organic compounds having the same molecular formula but different
                    Structural formula.
                    <h4><span class="text-success">Solution</span></h4><br>
                    <h4>(a) Ores</h4><br>
                    <h4>(b)Isomers</h4><br>



            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    A, B and C are the chemical properties of sulphuric acid:<br><br>
                    A. Oxidizing agent<br>
                    B. Dehydrating agent<br>
                    C. Non volatile acid<br><br><br>
                    Match the following equations 1 to 3 to the above chemical properties of sulphuric
                    acid.<br>
                    1. KNO<sub>3</sub> + H<sub>2</sub>SO<sub>4</sub> &rarr; KHSO<sub>4</sub> + HNO<sub>3</sub><br>
                    2. C<sub>12</sub>H<sub>22</sub>O<sub>11</sub> &rarr; 12C + 11H<sub>2</sub>O<br>
                    3. S + 2H<sub>2</sub>SO<sub>4</sub> &rarr; 2H<sub>2</sub>O + 3SO<sub>2</sub>
                    <h4><span class="text-success">Solution</span></h4><br>
                    <img class="img-fluid " src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img6-(iii)1.jpg"
                        alt="" /><br><br>
                    <img class="img-fluid im" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img6-(iii)2.jpg"
                        alt="" /><br>


            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    Study and complete the following table:<br><br>
                    <img class="img-fluid imm "
                        src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img6(iv)ques.png" alt="" /><br>
                    <h4><span class="text-success">Solution</span></h4><br>
                    <img class="img-fluid im" src="specimenchapimg/2021-2022/Term-2/icse10-chem-speci/img6-(iv).jpg"
                        alt="" /><br>


            </div>
        </div>



    </div>