<body>

    <h1 class="text-center text-danger">SPECIMEN PAPER CHEMISTRY SOLUTION-SEMESTER 2 2022 </h1>
    <div class="container mt-5">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <div class="d-flex flex-sm-row justify-content-center">
                        <div class=" fw-bold">
                            <p class=" fs-5 fw-bold lh-base">BOARD - </p>
                            <p class="fs-5 fw-bold lh-base">CLASS - </p>
                            <p class="fs-5 fw-bold lh-base">SUBJECT - </p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">ISC</p>
                            <p class="fs-5 lh-base">12th </p>
                            <p class="fs-5 lh-base">CHEMISTRY </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <h3 class="text-secondary text-center fw-bold">Paper Pattern for MCQ Term-I</h3>
                    <div class="d-flex p-1 flex-sm-row justify-content-center">
                        <div class=" fw-bold">
                            <p class=" fs-5 fw-bold lh-base">TIME - </p>
                            <p class="fs-5 fw-bold lh-base">MARKS - </p>

                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">1 Hour 30 Minutes </p>
                            <p class="fs-5 lh-base"> 35</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="text-center">Visit <a
                href="https://www.cisce.org/publications.aspx#REGULATIONS%20AND%20SYLLABUSES%20-%20ICSE">
                CISCE OFFICIAL PAGE</a> for Regulations and Syllabus of Class 12th ISC</h5>
        <h2 class="fw-bold text-center mt-4"><u>Solved Specimen Paper Semester-2 2022</u></h2>

        <!-- question 1(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Section-A [Chemistry Specimen Paper Semester-2 2022]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 1 </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4>Fill in the blanks by choosing the appropriate word(s) from those given in the
                    brackets</h4>
                <br>
                <h4> (two, four, sec<sup>-1</sup>
                    , diamagnetic, acetaldehyde, mol<sup>-1</sup>L sec<sup>-1</sup>
                    , paramagnetic, formaldehyde,
                    acetone, ethanol)</h4>

            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    When the concentration of a reactant of first order reaction is doubled, the rate of
                    reaction becomes ___________ times. The unit of rate constant (k) for the first
                    order reaction is __________.</h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>Two and Four</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    The transition metals show ___________ character because of the presence of
                    unpaired electrons while Cu<sup>+</sup>
                    is ___________ because its electronic configuration
                    is [Ar]3d<sup>10</sup>
                    .</h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>paramagnetic and diamagnetic
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Calcium formate on distillation gives ___________ but the distillation of calcium
                    formate and calcium acetate gives ___________.</h4>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>Acetone and formaldehyde
                    </h4>
                </div>
            </div>
        </div>

        <!-- Question 2 -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 2 </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4>Select and write the correct alternative from the choices given below</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    The type of hybridization involved in Octahedral complexes is:</h4>
                <ol type="a">
                    <li>sp<sup>3</sup></li>
                    <li>dsp<sup>2</sup></li>
                    <li>sp<sup>3</sup>d</li>
                    <li>d<sup>2</sup>sp<sup>3</sup>
                    </li>
                </ol>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(d)</h4>
                    <h4>d<sup>2</sup>sp<sup>3</h4>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    One mole of a symmetrical alkene on ozonolysis gives two moles of an aldehyde
                    having a molecular mass of 44 amu. The alkene is:</h4>
                <ol type="a">
                    <li>ethene</li>
                    <li>propene</li>
                    <li>1-butene</li>
                    <li>2-butene</sup>
                    </li>
                </ol>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(d)</h4>
                    <h4>2-butene</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Primary amine when warmed with chloroform and alc. KOH yields:</h4>
                <ol type="a">
                    <li>cyanides</li>
                    <li>isocyanides</li>
                    <li>benzene diazonium chloride</li>
                    <li>secondary amines</sup>
                    </li>
                </ol>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b)</h4>
                    <h4>isocyanides</h4>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    <b>Assertion</b>: The conversion of fresh precipitate to colloidal state is called
                    peptization.
                    <br>
                    <b>Reason</b>: It is caused by addition of common ions.
                </h4>
                <ol type="a">
                    <li>Both assertion and reason are true and reason is the correct explanation
                        of assertion</li>
                    <li>Both assertion and reason are true but reason is not the correct
                        explanation for assertion.</li>
                    <li>Assertion is true but reason is false</li>
                    <li>Assertion is false but reason is true.</sup>
                    </li>
                </ol>

                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b)</h4>
                    <h4>Both assertion and reason are true but reason is not the correct explanation for assertion.</h4>
                </div>
            </div>
        </div>

        <!-- SECTION B -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Section-B </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 3 </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark">Name the type of isomerism shown by each of the following pairs of
                    compounds: </h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    [CoCl<sub>2</sub>(NH<sub>3</sub>)<sub>4</sub>]Cl.H<sub>2</sub>O and
                    [CoCl(H<sub>2</sub>O)(NH<sub>3</sub>)<sub>4</sub>]Cl<sub>2</sub>
                </h4>


                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>Hydrate and Solvent isomerisn</h4>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    [Cr(NH<sub>3</sub>)<sub>5</sub>Br]SO<sub>4</sub> and
                    [Cr(NH<sub>3</sub>)<sub>5</sub>SO<sub>4</sub>]Br
                </h4>


                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>Ionisation isomerisn</h4>

                </div>
            </div>
        </div>

        <!-- question4 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 4 </h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Write chemical equations to illustrate each of the following name reactions:</h4>
                <ol type="a">
                    <li>Rosenmund’s reduction</li>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img4(i).jpg" alt="" />
                    <li>Clemmensen’s reduction</li>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img4(ii).jpg"
                        alt="" />

                </ol>

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">OR</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    How will you bring about the following conversions? (Give equation).
                </h4>
                <ol type="a">
                    <li>Acetic acid to acetone</li>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img4-2(i).jpg"
                        alt="" />
                    <li>Formaldehyde to urotropine</li>
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img4-2(ii).jpg"
                        alt="" />

                </ol>

            </div>
        </div>

        <!-- question5 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 5</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    What is a zwitter ion? Represent the zwitter ion of glycine.</h4>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img5.jpg" alt="" />
            </div>
        </div>

        <!-- question6 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 6</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    <ol type="i">
                        <li>Arrange the following in the increasing order of their basic strength:
                            C<sub>2</sub>H<sub>5</sub>NH<sub>2</sub>,
                            C<sub>6</sub>H<sub>5</sub>NH<sub>2</sub>, (C<sub>2</sub>H<sub>5</sub>)<sub>2</sub>NH.</li>
                        <h4><span class="text-success">Solution</span></h4>
                        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img6(i).jpg"
                            alt="" />

                        <li>What are the products formed when benzene diazonium chloride reacts with
                            phenol in weak alkaline medium? (Give equation).</li>
                        <h4><span class="text-success">Solution</span></h4>
                        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img6(ii).jpg"
                            alt="" />

                    </ol>
            </div>
        </div>

        <!-- question7 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 7</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark">Give reasons for the following:</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    <ol type="i">
                        <li>Diabetic patients are advised to take artificial sweeteners instead of natural
                            sweeteners.</li>
                        <h4><span class="text-success">Solution</span></h4>
                        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img7(i).jpg"
                            alt="" />

                        <li>The use of aspartame is limited to cold foods and drinks.</li>
                        <h4><span class="text-success">Solution</span></h4>
                        <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img7(ii).jpg"
                            alt="" />

                    </ol>

            </div>
        </div>

        <!-- question8-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 8</h4>
            </div>
        </div>
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold"></span>

                    The rate of reaction becomes four times when the temperature changes from 293K to
                    313K. Calculate the energy of activation (E<sub>a</sub>) of the reaction assuming that it does not
                    change with temperature. (R = 8·314 JK<sup>-1</sup>mol<sup>-1</sup>
                    )


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img8.jpg" alt="" />
            </div>
        </div>

        <!-- question9-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 9</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark">Give balanced equation for each of the following:</h4>
            </div>
        </div>
        <!-- question 9(i) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Ethylamine and nitrous acid
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img9(i).jpg" alt="" />
            </div>
        </div>
        <!-- question 9(ii) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Aniline and acetyl chloride
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img10(ii).jpg"
                        alt="" />
            </div>
        </div>

        <!-- question10-->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 10</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark">Give one chemical test for each to distinguish between the following pairs of
                    compound:</h4>
            </div>
        </div>
        <!-- question 10(i) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Acetaldehyde and benzaldehyde
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img10(i).jpg"
                        alt="" />
            </div>
        </div>
        <!-- question 10(ii) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Acetone and acetic acid
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img10(ii).jpg"
                        alt="" />
            </div>
        </div>


        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Section-C </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 1 </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark">Answer the following: </h4>
            </div>
        </div>

        <!-- question 11(i)a -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(a)</span>
                    Define molecularity of a reaction. Give one difference between the order of
                    reaction and its molecularity
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img11(i).jpg"
                        alt="" />
            </div>
        </div>

        <!-- question 11(i)b -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(b)</span>
                    The rate constant (k) of a first order reaction is 4·5 x 10<sup>-2</sup>
                    sec<sup>-1</sup>
                    . What will be
                    the time required for the initial concentration of 0·4 M of the reactant to be
                    reduced to 0·2 M?
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img11(ii).jpg"
                        alt="" />
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">OR </h4>
            </div>
        </div>

        <!-- question 11(ii)a -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class=" text-dark">Answer the following: </h4>
            </div>
        </div>

        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(a)</span>
                    For a first order reaction, show that the time required for the completion of
                    99% reaction is twice the time required for the completion of 90% of the
                    reaction.
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img11 b(i).jpg"
                        alt="" />
            </div>
        </div>

        <!-- question 11(ii)b -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(b)</span>
                    For a reaction, rate = k[A]<sup>1</sup>
                    [B]<sup>1.5</sup>[C]<sup>0</sup>
                    . What is the overall order of reaction?
                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img11 b(ii).jpg"
                        alt="" />
            </div>
        </div>

        <!-- question 12 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 12 </h4>
            </div>
        </div>
        <!-- question 12(i) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    What is the basic difference between the electronic configuration of transition
                    and inner transition elements?

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img12(i).jpg"
                        alt="" />
            </div>
        </div>
        <!-- question 12(ii) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Why are Zn<sup>2+</sup> ions colourless while Ni<sup>2+</sup> ions are green in colour?

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img12(ii).jpg"
                        alt="" />
            </div>
        </div>

        <!-- question 13 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 13 </h4>
            </div>
        </div>

        <!-- question 13(i) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    Write the formula of each of the following compounds:
                </h4>
                <ol type="a">
                    <li>Potassium trioxalatoaluminate (III)</li>
                    <li>Triammine triaquachromium (III) chloride</li>
                </ol>

                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img13(i).jpg" alt="" />
            </div>
        </div>

        <!-- question 13(ii) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    For the complex ion [Co(NH<sub>3</sub>)<sub>6</sub>]<sup>3+</sup>

                    , state the oxidation state of central metal atom
                    and the coordination number of the complex ion. </h4>


                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img13(ii).jpg" alt="" />
            </div>
        </div>


        <!-- question 14 -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 14 </h4>
            </div>
        </div>
        <!-- question 14(i) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    For ferric hydroxide sol. the coagulating power of phosphate ion is more than
                    chloride ion </h4>


                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img14(i).jpg" alt="" />
            </div>
        </div>
        <!-- question 14(ii) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    Lyophilic colloidal specimenchapimg/isc-chem-speci are more stable than lyophobic colloidal
                    specimenchapimg/isc-chem-speci. </h4>


                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img14(ii).jpg" alt="" />
            </div>
        </div>
        <!-- question 14(iii) -->
        <div class="row">

            <div class="col border border-1 mt-2">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Gelatin is added to ice cream. </h4>


                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/isc12-chem-speci/img14(iii).jpg" alt="" />
            </div>
        </div>

    </div>