<h1 class="text-center text-danger">SPECIMEN PAPER CHEMISTRY SOLUTION-SEMESTER 2 2022 </h1>
<div class="container mt-5">
    <div class="row gx-3">
        <div class="col-md-6">
            <div class="border border-2 border-highlight">
                <div class="d-flex flex-sm-row justify-content-center">
                    <div class=" fw-bold">
                        <p class=" fs-5 fw-bold lh-base">BOARD - </p>
                        <p class="fs-5 fw-bold lh-base">CLASS - </p>
                        <p class="fs-5 fw-bold lh-base">SUBJECT - </p>
                    </div>
                    <div class="text-dark">
                        <p class="fs-5 lh-base">CBSE</p>
                        <p class="fs-5 lh-base">10th </p>
                        <p class="fs-5 lh-base">SCIENCE </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="border border-2 border-highlight">
                <h3 class="text-secondary text-center fw-bold">Paper Pattern for MCQ Term-I</h3>
                <div class="d-flex p-1 flex-sm-row justify-content-center">
                    <div class=" fw-bold">
                        <p class=" fs-5 fw-bold lh-base">TIME - </p>
                        <p class="fs-5 fw-bold lh-base">MARKS - </p>

                    </div>
                    <div class="text-dark">
                        <p class="fs-5 lh-base">2 Hour</p>
                        <p class="fs-5 lh-base"> 40 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-center">Visit <a href="https://cbseacademic.nic.in/">
            CBSE OFFICIAL PAGE</a> for Regulations and Syllabus of Class 12th CBSE</h5>
    <h2 class="fw-bold text-center mt-4"><u>Solved Specimen Paper Semester-2 2022</u></h2>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section-A</h4>
        </div>
    </div>
    <!-- question 1 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 1 </h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">The table shows the electronic structures of four elements.</h4>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th>ELEMENT</th>
                    <th>ELECTRONIC STRUCTURE</th>

                </tr>
                <tr>
                    <td>P</td>
                    <td>2,6</td>
                </tr>
                <tr>
                    <td>Q</td>
                    <td>2,8,1</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td>2,8,7</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>2,8,8</td>
                </tr>
            </table><br>
            <h4 class=" text-danger"> a. Identify which element(s) will form covalent bonds with carbon.<br>
                b. “Carbon reacts with an element in the above table to form several
                compounds.” Give suitable reason.</h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/1.jpg" alt="" />
        </div>
    </div>



    <!-- question 2 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 2 </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                The diagram below shows part of the periodic table.<br>
                a. Which elements would react together to form covalent compounds?<br>
                b. Between the two elements W and Z, which will have a bigger atomic
                radius? Why?
            </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/2ques.png" alt="" />

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/2.jpg" alt="" />
        </div>
    </div>

    <!-- question 3 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 3</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger">a. Trace the path a male gamete takes to fertilise a female gamete after being
                released from the penis.<br>
                b. State the number of sets of chromosomes present in a zygote.</h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/3.jpg" alt="" />
        </div>
    </div>





    <!-- question 4 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 4</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Rajesh observed a patch of greenish black powdery mass on a stale piece of
                bread.<br>
                a. Name the organism responsible for this and its specific mode of asexual
                reproduction.<br>
                b. Name its vegetative and reproductive parts.
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/4.jpg" alt="" />
        </div>
    </div>




    <!-- question 5 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 5</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Mustard was growing in two fields- A and B. While Field A produced brown
                coloured seeds, field B produced yellow coloured seeds. <br>
                It was observed that in field A, the offsprings showed only the parental trait for
                consecutive generations, whereas in field B, majority of the offsprings showed
                a variation in the progeny.<br>
                What are the probable reasons for these? </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/5.1.jpg" alt="" />
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">In an asexually reproducing species, if a trait X exists in 5% of a population
                and trait Y exists in 70% of the same population, which of the two trait is likely
                to have arisen earlier? Give reason.
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/5.2.jpg" alt="" />
        </div>
    </div>




    <!-- question 6 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 6</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">A simple motor is made in a school laboratory. A coil of wire is mounted on an
                axle between the poles of a horseshoe magnet, as illustrated.
                <div>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/6.1ques.png" alt="" />
                </div>

                In the example above, coil ABCD is horizontal and the battery is connected as
                shown.<br>
                a. For this position, state the direction of the force on the arm AB.<br>
                b. Why does the current in the arm BC not contribute to the turning force on
                the coil?
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/6.1.jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                A circuit contains a battery, a variable resistor and a solenoid. The figure
                below shows the magnetic field pattern produced by the current in the
                solenoid.<br>
                a. State how the magnetic field pattern indicates regions where the magnetic
                field is stronger. <br>
                b. What happens to the magnetic field when the current in the circuit is
                reversed?
            </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/6.2ques.png" alt="" />

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/6.2.jpg" alt="" />
        </div>
    </div>


    <!-- question 7 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 7</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                DDT was sprayed in a lake to regulate breeding of mosquitoes. How would it
                affect the trophic levels in the following food chain associated with a lake?
                Justify your answer. </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/7.1ques.png" alt="" />
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/7.1.jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                In the following food chain, vertical arrows indicate the energy lost to the
                environment and horizontal arrows indicate energy transferred to the next
                trophic level. Which one of the three vertical arrows (A, C and E) and which
                one of the two horizontal arrows (B and D) will represent more energy
                transfer? Give reason for your answer.
            </h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/7.2ques.png" alt="" />
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/7.2.jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section-B</h4>
        </div>
    </div>
    <!-- question 8 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 8</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Choose an element from period 3 of modern periodic table that matches the
                description given below in each instance. Give reason for your choice.<br>
                a. It has a similar structure to diamond.<br>
                b. It has same valency as Lithium.<br>
                c. It has variable valency and is a member of the Oxygen family (group 16).</h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/8.jpg" alt="" />

        </div>

    </div>


    <!-- question 9 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 9</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                a. How many isomers are possible for the compound with the molecular
                formula C<sub>4</sub>H<sub>8</sub>? Draw the electron dot structure of branched chain isomer.<br>
                b. How will you prove that C<sub>4</sub>H<sub>8</sub> and C<sub>5</sub>H<sub>10</sub> are homologues?
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/9.1.jpg" alt="" />
        </div>
    </div>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                A carbon compound ‘A’ having melting point 156K and boiling point 351K,
                with molecular formula C<sub>2</sub>H<sub>6</sub>O is soluble in water in all proportions.
                a. Identify ‘A’ and draw its electron dot structure.
                b. Give the molecular formulae of any two homologues of ‘A’.
            </h4>

            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/9.2.jpg" alt="" />



        </div>
    </div>


    <!-- Question 10 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 10</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                Two pea plants - one with round yellow seeds (RRYY) and another with
                wrinkled green (rryy) seeds produce F1 progeny that have round, yellow
                (RrYy) seeds.
                When F1 plants are self-pollinated, which new combination of characters is
                expected in F2 progeny? How many seeds with these new combinations of
                characters will be produced when a total 160 seeds are produced in F2
                generation? Explain with reason. </h4>


            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/10.jpg" alt="" />
        </div>
    </div>






    <!-- Question 11 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 11</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">a. It would cost a man Rs. 3.50 to buy 1.0 kW h of electrical energy from the
                Main Electricity Board. His generator has a maximum power of 2.0 kW.
                The generator produces energy at this maximum power for 3 hours.
                Calculate how much it would cost to buy the same amount of energy from
                the Main Electricity Board.(1 Mark)
                b. A student boils water in an electric kettle for 20 minutes. Using the same
                mains supply he wants to reduce the boiling time of water. To do so should
                he increase or decrease the length of the heating element? Justify your
                answer.(2 Marks)
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/11.jpg" alt="" />
        </div>

    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 12</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <div>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/12.1ques.png" alt="" />
            </div>
            <h4 class=" text-danger"> In the above circuit, if the current reading in the ammeter A is 2A, what would
                be the value of R1?
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/12.1.jpg" alt="" />
        </div>

    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <div>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/12.2ques.png" alt="" />
            </div>
            <h4 class=" text-danger"> Calculate the total resistance of the circuit and find the total current in the
                circuit.
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/12.2.jpg" alt="" />
        </div>

    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 13</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Gas A, found in the upper layers of the atmosphere, is a deadly poison but is
                essential for all living beings. The amount of this gas started declining sharply
                in the 1980s.<br>
                a. Identify Gas A. How is it formed at higher levels of the atmosphere?<br>
                b. Why is it essential for all living beings? State the cause for the depletion
                of this gas
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/13.jpg" alt="" />
        </div>

    </div>
    <!-- section c -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section C</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 14</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Sahil performed an experiment to study the inheritance pattern of genes. He
                crossed tall pea plants (TT) with short pea plants (tt) and obtained all tall plants
                in F1 generation.<br>
                a. What will be set of genes present in the F1 generation? <br>
                b. Give reason why only tall plants are observed in F1 progeny. <br>
                c. When F1 plants were self - pollinated, a total of 800 plants were produced.
                How many of these would be tall, medium height or short plants? Give the
                genotype of F 2 generation.
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/14.1.jpg" alt="" />
        </div>

    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">When F1 plants were cross - pollinated with plants having tt genes, a total
                of 800 plants were produced. How many of these would be tall, medium
                height or short plants? Give the genotype of F 2 generation.
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/14.2.jpg" alt="" />
        </div>

    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 15</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Ansari Sir was demonstrating an experiment in his class with the setup as
                shown in the figure below.<br>
                A magnet is attached to a spring. The magnet can go in and out of the
                stationary coil.<br>
                He lifted the Magnet and released it to make it oscillate through the coil.
                Based on your understanding of the phenomenon, answer the following
                questions.<br>
                a. What is the principle which Ansari Sir is trying to demonstrate?<br>
                b. What will be observed when the Magnet starts oscillating through the
                coil. Explain the reason behind this observation.<br>
                c. Consider the situation where the Magnet goes in and out of the coil. State
                two changes which could be made to increase the deflection in the
                galvanometer.
                <div>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/15.1ques.png" alt="" />
                </div>
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/15.1.jpg" alt="" />
        </div>

    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Is there any difference in the observations in the galvanometer when the
                Magnet swings in and then out of the stationary coil? Justify your answer.
            </h4>
            <h4><span class="text-success">Solution</span></h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-science/15.2.jpg" alt="" />
        </div>

    </div>





</div>