<style>
    .car {
        width: 90%;
        height: 28%;
        overflow: hiddden;
    }

    pre {
        overflow-y: scroll;
        height: 30em;
        margin: 2.5em 0;
    }

    .pro {
        width: 60%;
    }

    @media screen and (max-width: 768px) {
        .pro {
            width: 85% !important;
        }
    }
</style>

<body>
    <h1 class="text-center text-danger">
        SPECIMEN PAPER MATHEMATICS SOLUTION-SEMESTER 2 2022
    </h1>
    <div class="container mt-5">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <div class="d-flex flex-sm-row justify-content-center">
                        <div class="fw-bold">
                            <p class="fs-5 fw-bold lh-base">BOARD -</p>
                            <p class="fs-5 fw-bold lh-base">CLASS -</p>
                            <p class="fs-5 fw-bold lh-base">SUBJECT -</p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">CBSE</p>
                            <p class="fs-5 lh-base">10th</p>
                            <p class="fs-5 lh-base">MATHEMATICS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <h3 class="text-secondary text-center fw-bold">
                        Paper Pattern for Written Term-I
                    </h3>
                    <div class="d-flex p-1 flex-sm-row justify-content-center">
                        <div class="fw-bold">
                            <p class="fs-5 fw-bold lh-base">TIME -</p>
                            <p class="fs-5 fw-bold lh-base">MARKS -</p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">2 hour</p>
                            <p class="fs-5 lh-base">40</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="text-center">
            Visit
            <a href="https://cbseacademic.nic.in/SQP_CLASSX_2021-22.html">
                CBSE OFFICIAL PAGE</a>
            for Regulations and Syllabus of Class 10th CBSE
        </h5>
        <h2 class="fw-bold text-center mt-4">
            <u>Solved Specimen Paper Semester-2 2022</u>
        </h2>

        <!-- question 1(1) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 1 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>


            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span> Find the value of a25 - a15 for the AP: 6, 9, 12, 15, ………..
                    </h4>

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/1(i).jpg" alt="" />
                </div>
                <div class="text-center" style="font-size:2em">OR</div>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger">
                    <span class="fw-bold"></span>If 7 times the seventh term of the AP is equal to 5 times the fifth
                    term, then
                    find the value of its 12th term.
                </h4>


                <h4><span class="text-success">Solution</span></h4>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/1(ii).jpg" alt="" />
            </div>
        </div>




        <!-- question 2(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 2 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Find the value of 𝑚 so that the quadratic equation 𝑚𝑥(5𝑥 − 6) =
                        0 has two
                        equal roots.
                    </h4>

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/2.jpg" alt="" />
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 3 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>From a point P, two tangents PA and PB are drawn to a circle C(0,
                        r).
                        If OP = 2r, then find ∠𝐴𝑃𝐵. What type of triangle is APB?
                    </h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/3-ques-img.png"
                        alt="" />

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/3.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 4 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>The curved surface area of a right circular cone is 12320 cm². If
                        the radius of its
                        base is 56cm, then find its height
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/4.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 5 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Mrs. Garg recorded the marks obtained by her students in the
                        following table.
                        She calculated the modal marks of the students of the class as 45. While
                        printing the data, a blank was left. Find the missing frequency in the table given
                        below
                    </h4>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>Marks</td>
                            <td>0-20</td>
                            <td>20-40</td>
                            <td>40-60</td>
                            <td>60-80</td>
                            <td>80-100</td>
                        </tr>
                        <td>No. of students</td>
                        <td>5</td>
                        <td>10</td>
                        <td>6</td>
                        <td>---</td>
                        <td>3</td>
                    </table>

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/5.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 6 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>If Ritu were younger by 5 years than what she really is, then the
                        square of her
                        age would have been 11 more than five times her present age. What is her
                        present age?
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/6(i).jpg" alt="" />
                </div>
            </div>
            <div class="text-center" style="font-size:2em">OR</div>
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Solve for x: 9x² - 6px + (p² - q²) = 0
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/6(ii).jpg" alt="" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 7 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Following is the distribution of the long jump competition in which
                        250 students
                        participated. Find the median distance jumped by the students. Interpret the
                        median
                    </h4>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>Distance</td>
                            <td>0-1</td>
                            <td>1-2</td>
                            <td>2-3</td>
                            <td>3-4</td>
                            <td>4-5</td>
                        </tr>
                        <td>No. of students</td>
                        <td>40</td>
                        <td>80</td>
                        <td>62</td>
                        <td>38</td>
                        <td>30</td>
                    </table>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/7.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 8 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Construct a pair of tangents to a circle of radius 4cm, which are
                        inclined to
                        each other at an angle of 60°.
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/8.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 9 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>The distribution given below shows the runs scored by batsmen in
                        one-day
                        cricket matches. Find the mean number of runs.
                    </h4>
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <td>Runs scored</td>
                            <td>0-40</td>
                            <td>40-80</td>
                            <td>80-120</td>
                            <td>120-140</td>
                            <td>140-180</td>
                        </tr>
                        <td>No. of batmans</td>
                        <td>12</td>
                        <td>20</td>
                        <td>35</td>
                        <td>30</td>
                        <td>23</td>
                    </table>

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/9.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 10 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Two vertical poles of different heights are standing 20m away from
                        each other
                        on the level ground. The angle of elevation of the top of the first pole from the
                        foot of the second pole is 60° and angle of elevation of the top of the second
                        pole from the foot of the first pole is 30°. Find the difference between the heights
                        of two poles. (Take √3 = 1.73)
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/10(i).jpg" alt="" />
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/10-i.jpg" alt="" />
                </div>
            </div>
            <div class="text-center" style="font-size:2em">OR</div>
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>A boy 1.7 m tall is standing on a horizontal ground, 50 m away from
                        a building.
                        The angle of elevation of the top of the building from his eye is 60°. Calculate
                        the height of the building. (Take √3 = 1.73)

                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/10-ii.jpg" alt="" />
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 11 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>The internal and external radii of a spherical shell are 3cm and
                        5cm
                        respectively. It is melted and recast into a solid cylinder of diameter 14cm, find
                        the height of the cylinder. Also find the total surface area of the cylinder.
                        (Take 𝜋 = 22/7 )
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/11.jpg" alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 12 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Prove that the angle between the two tangents drawn from an
                        external point to
                        a circle is supplementary to the angle subtended by the line segment joining the
                        points of contact to the centre.
                    </h4>


                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/12(i).jpg" alt="" />
                </div>
            </div>
            <div class="text-center" style="font-size:2em">OR</div>
            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Two tangents TP and TQ are drawn to a circle with centre O from an
                        external
                        point T. Prove that ∠𝑃𝑇𝑄 = 2∠𝑂𝑃 ?
                    </h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/12-ques-img.png"
                        alt="" />

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/12(ii).jpg"
                        alt="" />
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 13 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Trigonometry in the form of triangulation forms the basis of
                        navigation, whether
                        it is by land, sea or air. GPS a radio navigation system helps to locate our
                        position on earth with the help of satellites.
                        A guard, stationed at the top of a 240m tower, observed an unidentified boat
                        coming towards it. A clinometer or inclinometer is an instrument used for
                        measuring angles or slopes(tilt). The guard used the clinometer to measure the
                        angle of depression of the boat coming towards the lighthouse and found it to
                        be 30°.
                        <p> (Lighthouse of Mumbai Harbour. Picture credits - Times of India Travel)
                        <p>(i) Make a labelled figure on the basis of the given information and calculate
                            the distance of the boat from the foot of the observation tower.</p>
                        <p>(ii) After 10 minutes, the guard observed that the boat was approaching the
                            tower and its distance from tower is reduced by 240(√3 - 1) m. He
                            immediately raised the alarm. What was the new angle of depression of
                            the boat from the top of the observation tower? </p>
                    </h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/13-ques-img.png"
                        alt="" />

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/13(i).jpg" alt="" />
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/13(ii).jpg"
                        alt="" />
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">
                    Question 14 [MATHEMATICS Specimen Paper Semester-2 2022]
                </h4>
            </div>

            <div class="row">
                <div class="col border border-1 mt-3">
                    <h4 class="text-danger">
                        <span class="fw-bold"></span>Push-ups are a fast and effective exercise for building strength.
                        These are
                        helpful in almost all sports including athletics. While the push-up primarily
                        targets the muscles of the chest, arms, and shoulders, support required from
                        other muscles helps in toning up the whole body.Nitesh wants to participate in the push-up
                        challenge. He can currently make
                        3000 push-ups in one hour. But he wants to achieve a target of 3900 push-ups
                        in 1 hour for which he practices regularly. With each day of practice, he is able
                        to make 5 more push-ups in one hour as compared to the previous day. If on
                        first day of practice he makes 3000 push-ups and continues to practice regularly
                        till his target is achieved. Keeping the above situation in mind answer the
                        following questions:
                        <p></p>
                        <p>i) Form an A.P representing the number of push-ups per day and hence
                            find the minimum number of days he needs to practice before the day
                            his goal is accomplished? </p>
                        <p>ii) Find the total number of push-ups performed by Nitesh up to the day his
                            goal is achieved.</p>
                    </h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/14-ques-img.png"
                        alt="" />

                    <h4><span class="text-success">Solution</span></h4>
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/14(i).jpg" alt="" />
                    <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse10-maths-speci/14(ii).jpg"
                        alt="" />
                </div>
            </div>


        </div>






</body>