<style>
    .col {
        background-image: url('img/textwater.png');
    }
</style>
<h1 class="text-center text-danger">SPECIMEN PAPER BIOLOGY SOLUTION-SEMESTER 2 2022 </h1>
<div class="container mt-5">
    <div class="row gx-3">
        <div class="col-md-6">
            <div class="border border-2 border-highlight">
                <div class="d-flex flex-sm-row justify-content-center">
                    <div class=" fw-bold">
                        <p class=" fs-5 fw-bold lh-base">BOARD - </p>
                        <p class="fs-5 fw-bold lh-base">CLASS - </p>
                        <p class="fs-5 fw-bold lh-base">SUBJECT - </p>
                    </div>

                    <div class="text-dark">
                        <p class="fs-5 lh-base">CBSE</p>
                        <p class="fs-5 lh-base">12th </p>
                        <p class="fs-5 lh-base">BIOLOGY </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="border border-2 border-highlight">
                <h3 class="text-secondary text-center fw-bold">Paper Pattern for Written Term-II</h3>
                <div class="d-flex p-1 flex-sm-row justify-content-center">
                    <div class=" fw-bold">
                        <p class=" fs-5 fw-bold lh-base">TIME - </p>
                        <p class="fs-5 fw-bold lh-base">MARKS - </p>

                    </div>
                    <div class="text-dark">
                        <p class="fs-5 lh-base">2 Hour</p>
                        <p class="fs-5 lh-base"> 35 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-center">Visit <a href="https://cbseacademic.nic.in/">
            CBSE OFFICIAL PAGE</a> for Regulations and Syllabus of Class 12th CBSE</h5>
    <h2 class="fw-bold text-center mt-4"><u>Solved Specimen Paper Semester-2 2022</u></h2>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section-A</h4>
        </div>
    </div>
    <!-- question 1 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 1 </h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-danger">Humans have innate immunity for protection against pathogens that may
                enter the gut along with food. What are the two barriers that protect the
                body from such pathogens? </h4>
            <h4><span class="text-success">Solution</span></h4>
            <h4>Microbial pathogens enter the gut of humans along with food:<br>
                1. Physical barriers: Mucus coating of the epithelium lining the
                gastrointestinal tract helps in trapping microbes entering our body.<br>

                2. Physiological barriers: Acid in the stomach, saliva in the mouth
                prevent microbial growth</h4>
        </div>

    </div>



    <!-- question 2 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 2 </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                A patient admitted in ICU was diagnosed to have suffered from
                myocardial infarction. The condition of coronary artery is depicted in the
                image below.<br>
                Name two bioactive agents and their mode of action that can improve this
                condition.
            </h4><br>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-bio-speci/img2ques.png" alt="" />

            <h4><span class="text-success">Solution</span><br>
                Streptokinase (produced by the bacterium Streptococcus) is used as a
                ‘clot buster’ for removing clots from the blood vessels of patients who
                have undergone myocardial infarction.
                Statins (produced by the yeast Monascus purpureus) act as bloodcholesterol lowering agents.
            </h4>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                Substantiate by giving two reasons as to why a holistic understanding of
                the flora and fauna the cropland is required before introducing an
                appropriate biocontrol method.
            </h4><br>


            <h4><span class="text-success">Solution</span><br>
                Eradication of pests will disrupt predator-prey relationships, where
                beneficial predatory and parasitic insects which depend upon flora and
                fauna as food or hosts, may not be able to survive. (1 mark)
                Holistic approach ensures that various life forms that inhabit the field,
                their life cycles, patterns of feeding and the habitats that they prefer
                are extensively studied and considered.
            </h4>

        </div>
    </div>

    <!-- question 3 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 3</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger">Identify the compound chemical structure is shown below. State any three
                of its physical properties</h4>
            <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-bio-speci/img3ques.png" alt="" />
            <h4><span class="text-success">Solution</span><br>
                It is Morphine.<br>
                Physically it appears as a white, odourless, crystalline compound.
            </h4>
        </div>
    </div>



    <!-- question 4 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 4</h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                Water samples were collected at points A, B and C in a segment of a river
                near a sugar factory and tested for BOD level. The BOD levels of samples
                A, B and C were 400 mg/L, 480 mg/L and 8 mg/L respectively.
                What is this indicative of? Explain why the BOD level gets reduced
                considerably at the collection point C?
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-bio-speci/img4ques.png" alt="" />
            </h4>

            <h4><span class="text-success">Solution</span><br>
                At collection points A and B, the BOD level is high due to high organic
                pollution caused by sugar factory and sewage discharge. (1 mark)
                At the collection point C, the water was released after secondary
                treatment/ biological treatment (where vigorous growth of useful
                aerobic microbes into flocs consume the major part of the organic
                matter present in the river water or effluent due to sugar factory and
                sewage discharge). </h4>

        </div>
    </div>



    <!-- question 5 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 5</h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                An ecologist study an area with population A, thriving on unlimited
                resources and showing exponential growth, introduced population B and
                C to the same area.
                What will be the effect on the growth pattern of the population A, B and C
                when living together in the same habitat?
            </h4>

            <h4><span class="text-success">Solution</span><br>
                This interaction will lead to competition between the individuals of
                population A,B and C for resources. Eventually the ‘fittest’ individuals
                will survive and reproduce. <br>
                The resources for growth will become finite and limiting, and
                population growth will become realistic.</h4>

        </div>
    </div>



    <!-- question 6 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 6</h4>
        </div>
    </div>

    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                With the decline in the population of fig species it was noticed that the
                population of wasp species also started to decline. What is the
                relationship between the two and what could be the possible reason for
                decline of wasps? </h4>

            <h4><span class="text-success">Solution</span><br>
                The relationship between the plant and pollinator is called mutualism.
                Fig depends on wasp for pollination, and wasp depends on fig for
                food and shelter. <br>
                With the decline in population of figs, wasp loses its source of food
                and shelter. </h4>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class=" text-dark text-center">OR </h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                With the increase in the global temperature, the inhabitants of Antarctica
                are facing fluctuations in the temperature. Out of the regulators and the
                conformers, which of the two will have better chances of survival?
                Give two adaptations that support them to survive in the ambient
                environment? Give one suitable example. </h4>

            <h4><span class="text-success">Solution</span><br>
                Regulators;<br>
                Thermoregulation, Osmoregulation<br>
                Birds/mammals (any one) </h4>

        </div>
    </div>



    <!-- question 7 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section-B</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 7</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                How do normal cells get transformed into cancerous neoplastic cells?
                Elaborate giving three examples of inducing agent.</h4>

            <h4><span class="text-success">Solution</span><br>
                Transformation of normal cells into cancerous neoplastic cells may be
                induced by following physical, chemical or biological agents causing
                DNA damage:<br>
                ● Ionising radiations like X-rays and gamma rays<br>
                ● Non-ionizing radiations like UV.<br>
                ● Chemical carcinogens present in tobacco smoke<br>
                ● Cellular oncogenes (c-onc) or proto-oncogenes, when
                activated under certain conditions cause cancer. Viruses with
                oncogenes can transform normal cells to cancerous cells
            </h4>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                A person is suffering from a high-grade fever. Which symptoms will help
                to identify if he/she is suffering from Typhoid, Pneumonia or Malaria?</h4>

            <h4><span class="text-success">Solution</span><br>
                If the person has sustained high fever (39° to 40°C), weakness,
                stomach pain, constipation, headache and loss of appetite, it is
                Typhoid. <br>
                If the person has fever, chills, cough and headache; and the lips and
                fingernails turn gray to bluish, it is Pneumonia. <br>
                If the person has chills and high fever recurring every three to four
                days then, it is Malaria.
            </h4>

        </div>
    </div>

    <!-- question 8 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 8</h4>
        </div>
    </div>


    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                Recognition of an antigenic protein of a pathogen or exposure to a
                pathogen occurs during many types of immune responses, including
                active immunity and induced active immunity.
                Specify the types of responses elicited when human beings get
                encountered by a pathogen.
            </h4>

            <h4><span class="text-success">Solution</span><br>
                ● When our body encounters an antigenic protein or a pathogen for
                the first time it produces a response which is of low intensity and
                our body retains memory of the first encounter.<br>
                ● The subsequent encounter with the same pathogen elicits a
                highly intensified response carried out with the help of two
                special types of lymphocytes present in our blood, B-
                lymphocytes, and T-lymphocytes. <br>
                ● The B-lymphocytes produce an army of proteins in response to
                these pathogens into our blood to fight with them. These proteins
                are called antibodies. The T-cells themselves do not secrete
                antibodies but help B-cells produce them.</h4>

        </div>
    </div>


    <!-- question 9 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 9</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                In a pathological lab, a series of steps were undertaken for finding the
                gene of interest. Describe the steps, or make a flow chart showing the
                process of amplification of this gene of interest.</h4>

            <h4><span class="text-success">Solution</span><br>
                The flow chart shows the three steps involved in the process of PCR
                showing the following<br>
                - Denaturation The DNA strands are treated with a temperature of
                940C (Heat) and the strands are separated.<br>
                - Annealing The primers anneal to the complementary strands<br>
                - Extension The DNA polymerase facilitates the extension of the
                strands.<br><br>
                OR<br><br></h4>
            <img class="img-fluid" src="specimenchapimg/class12cbse-bio\img9ans.png" alt="" />
        </div>
    </div>


    <!-- Question 10 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 10</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                a. ‘The Evil Quartet’ describes the rates of species extinction due to
                human activities. Explain how the population of organisms is affected
                by fragmentation the habitats.<br>
                b. Introduction of alien species has led to environmental damage and
                decline of indigenous species. Give any one example of how it has
                affected the indigenous species?<br>
                c. Could the extinction of Steller’s sea cow and passenger pigeon be
                saved by man? Give reasons to support your answer.</h4>


            <h4><span class="text-success">Solution</span><br>
                a. When a large habitat is broken into small fragments due to various
                activities, mammals and birds requiring large territories and certain
                animals with migratory habitats are badly affected, leading to
                population decline.<br>
                b.<br>
                ● Nile perch introduced in Lake Victoria eventually led to the
                extinction of an ecologically unique assemblage of more than
                200 species of cichild fish.<br>
                ● Parthenium/Lantana/water hyacinth caused environmental
                damage and threat to our native species<br>
                ● African catfish-Clarias gariepinus introduced for aquaculture
                purposes is posing a threat to the indigenous catfishes in our
                rivers.<br>
                c. Yes; Humans have overexploited natural resources for their ‘greed’
                rather than ‘need’ leading to extinction of these animals.
                Sustainable harvesting could have prevented extinction of these
                species.
            </h4>

        </div>
    </div>

    <!-- Question 11 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 11</h4>
        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                a. The image shown below is of a sacred grove found in India. Explain
                how has human involvement helped in the preservation of these
                biodiversity rich regions<br>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-bio-speci/img11ques.png"
                    alt="" /><br>
                b. Value of Z (regression coefficient) is considered for measuring the
                species richness of an area. If the value of Z is 0.7 for area A ,and
                0.15 for area B, which area has higher species richness and a steeper
                slope?


            </h4>

            <h4><span class="text-success">Solution</span><br>
                a. India’s history of religious and cultural traditions emphasized the
                protection of nature. In many cultures, tracts of forest are set
                aside, all the trees and wildlife within are venerated and given total
                protection. Sacred groves in many states are the last refuges for a
                large number of rare and threatened plants.<br><br>
                b. Area A will have more species richness and a steeper slope</h4>

        </div>
    </div>



    <!-- section c -->

    <!-- Question 12 -->
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 12</h4>
        </div>
    </div>


    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                The image below depicts the result of gel electrophoresis <br>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-bio-speci/img12ques.png" alt="" />
                <br>
                If the ladder represents sequence length upto 3000 base pairs (bp),<br>
                a. Which of the bands (I - IV) correspond to 2500 bp and 100 bp
                respectively?<br>
                b. Explain the basis of this kind of separation and also mention the
                significance of this process.

            </h4>

            <h4><span class="text-success">Solution</span><br>
                a. Band III corresponds to 2500 base pairs, and Band IV corresponds
                to 100bp.<br>
                b. The fragments will resolve according to their size. The shorter
                sequence fragments would move farthest from well as seen in
                Band IV (100 bp) which is lighter as compared to Band III which is
                heavier being 2500 base pairs. <br><br>
                The significance of electrophoresis is to purify the DNA fragments
                for use in constructing recombinant DNA by joining them with
                cloning vectors</h4>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Section C</h4>
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">Question 13</h4>
        </div>
    </div>


    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                Some restriction enzymes break a phosphodiester bond on both the DNA
                strands, such that only one end of each molecule is cut and these ends
                have regions of single stranded DNA. BamH1is one such restriction
                enzyme which binds at the recognition sequence, 5’-GGATCC- 3’and
                cleaves these sequences just after the 5’- guanine on each strand.<br><br>
                a. What is the objective of this action?<br>
                b. Explain how the gene of interest is introduced into a vector.<br>
                c. You are given the DNA shown below.<br><br>
                5’ ATTTTGAGGATCCGTAATGTCCT 3’<br>
                3’ TAAAACTCCTAGGCATTACAGGA 5’<br><br>
                If this DNA was cut with BamHI, how many DNA fragments would
                you expect? Write the sequence of these double-stranded DNA
                fragments with their respective polarity.<br><br>
                d. A gene M was introduced into E.coli cloning vector PBR322 at
                BamH1 site. What will be its impact on the recombinant plamids?
                Give a possible way by which you could differentiate non
                recombinant to recombinant plasmids.

            </h4>

            <h4><span class="text-success">Solution</span><br>
                a. The two different DNA molecules will have compatible ends to
                recombine. <br>
                b. Restriction enzyme cuts the DNA of the vector and then ligates the
                gene of interest into the DNA of the vector.<br>
                c. 2 fragments <br><br>
                5’ ATTTTGAG 3’5’GATCCGTAATGTCCT 3’<br>
                3’ TAAAACTCCTAG 5’.3’GCATTACAGGA 5’<br><br>
                d. BamH1 site will affect tetracycline antibiotic resistance gene,
                hence the recombinant plasmids will lose tetracycline resistance
                due to inactivation of the resistance gene.<br>
                Recombinants can be selected from non recombinants by plating
                into a medium containing tetracycline, as the recombinants will not
                grow in the medium because the tetracycline resistance gene is
                cut.</h4>

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-center text-dark">OR</h4>

        </div>
    </div>
    <div class="row">

        <div class="col border border-1 mt-2">
            <h4 class="text-danger"><span class="fw-bold"></span>
                GM crops especially Bt crops are known to have higher resistance to pest
                attacks. To substantiate this an experimental study was conducted in 4
                different farmlands growing Bt and non Bt-Cotton crops. The farm lands
                had the same dimensions, fertility and were under similar climatic
                conditions. The histogram below shows the usage of pesticides on Bt
                crops and non-Bt crops in these farm lands.<br>
                <img class="img-fluid" src="specimenchapimg/2021-2022/Term-2/cbse12-bio-speci/img13ques.png"
                    alt="" /><br>

                a. Which of the above 4 farm lands has successfully applied the concepts
                of Biotechnology to show better management practices and use of
                agrochemicals? If you had to cultivate, which crop would you prefer (Bt
                or Non- Bt) and why?<br>
                b. Cotton Bollworms were introduced in another experimental study on
                the above farm lands wherein no pesticide was used. Explain what
                effect would a Bt and Non Bt crop have on the pest.
            </h4>

            <h4><span class="text-success">Solution</span><br>
                a. Farm Land II.<br>
                Bt crop. <br>
                Because the use of pesticides is highly reduced for Bt crop
                // Decrease of pesticide used is also more significant for
                Bt crop. <br>
                b. In Bt cotton a cry gene has been introduce from bacterium
                Bacillus thuringiensis (Bt) which causes synthesis of a toxic
                protein. This protein becomes active in the alkaline gut of
                bollworm feeding on cotton, punching holes in the lining
                causing death of the insect. <br>
                However; a Non Bt crop will have no effect on the cotton
                bollworm/ the yield of cotton will decrease / non Bt will
                succumb to pest attack.</h4>

        </div>
    </div>



</div>