
<style>
    .edit {
        display: flex;
        margin: 2.5em 0;
    }

    .editor_btn {
        display: flex;
        flex-direction: column;
        margin-right: 1em;
    }

    .editor_btn button {
        border-radius: 52px;
        transition: 230ms;
        font-size: 1.6em;
        padding: 0.4em 0.5em;
        border: 2px solid black;
    }
    .editor_btn button:hover{
        color:rgb(235, 52, 52)
    }

    .car {
        width: 90%;
        height: 28%;
        overflow: hidden;
    }

    pre {
        overflow-y: scroll;
        height: 30em;
        /* margin: 2.5em 0; */
    }

    .pro {
        width: 60%;
    }

    @media screen and (max-width: 768px) {
        .pro {
            width: 85% !important;
        }

        .car {
            width: 78%;
        }
/* 
        pre {
            overflow-y: hidden;
        } */
    }
</style>

<body>

    <h1 class="text-center text-danger">SPECIMEN PAPER COMPUTER APPLICATIONS SOLUTION-SEMESTER 2 2022 </h1>
    <div class="container mt-5">
        <div class="row gx-3">
            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <div class="d-flex flex-sm-row justify-content-center">
                        <div class=" fw-bold">
                            <p class=" fs-5 fw-bold lh-base">BOARD - </p>
                            <p class="fs-5 fw-bold lh-base">CLASS - </p>
                            <p class="fs-5 fw-bold lh-base">SUBJECT - </p>
                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">ICSE</p>
                            <p class="fs-5 lh-base">10th </p>
                            <p class="fs-5 lh-base">COMPUTER APPLICATIONS </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border border-2 border-highlight">
                    <h3 class="text-secondary text-center fw-bold">Paper Pattern for MCQ Term-I</h3>
                    <div class="d-flex p-1 flex-sm-row justify-content-center">
                        <div class=" fw-bold">
                            <p class=" fs-5 fw-bold lh-base">TIME - </p>
                            <p class="fs-5 fw-bold lh-base">MARKS - </p>

                        </div>
                        <div class="text-dark">
                            <p class="fs-5 lh-base">1 Hour</p>
                            <p class="fs-5 lh-base"> 50 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="text-center">Visit <a
                href="https://www.cisce.org/publications.aspx#REGULATIONS%20AND%20SYLLABUSES%20-%20ICSE">
                CISCE OFFICIAL PAGE</a> for Regulations and Syllabus of Class 10th ICSE</h5>
        <h2 class="fw-bold text-center mt-4"><u>Solved Specimen Paper Semester-2 2022</u></h2>

        <!-- question 1(i) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 1 [Computer Applications Specimen Paper Semester-2 2022]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(i)</span>
                    When primitive data type is converted to its corresponding object of its class, it is
                    called as ___________.</h4>
                <ol type="a">
                    <li>Boxing</li>
                    <li>Explicit type conversion</li>
                    <li>Unboxing</li>
                    <li>Implicit type conversion
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(a)</h4>
                    <h4>Boxing</h4>
                </div>
            </div>
        </div>

        <!-- question 1(ii) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(ii)</span>
                    State the value of y after the following is executed:
                    <br>
                    char x='7';
                    <br>
                    y= Character.isLetter(x);
                </h4>
                <ol type="a">
                    <li>false</li>
                    <li>7</li>
                    <li>true</li>
                    <li>‘7’
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(a)
                        (Character.isletter() method checks if a variable is a letter or not so it returns false)
                    </h4>
                    <h4>false</h4>
                </div>
            </div>
        </div>

        <!-- question 1(iii) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(iii)</span>
                    Give the output of the following string methods:
                    <br>
                    "MISSISSIPPI".indexOf('S')+ "MISSISSIPPI".lastIndexOf('I')

                </h4>
                <ol type="a">
                    <li>10</li>
                    <li>12</li>
                    <li>20</li>
                    <li>11
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b)
                        (2+10)
                    </h4>
                    <h4>12</h4>
                </div>
            </div>
        </div>

        <!-- question 1(iv) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(iv)</span>
                    Corresponding wrapper class of int data type is __________.

                </h4>
                <ol type="a">
                    <li>integer</li>
                    <li>INTEGER</li>
                    <li>Int</li>
                    <li>Integer
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(d)
                    </h4>
                    <h4>Integer</h4>
                </div>
            </div>
        </div>

        <!-- question 1(v) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(v)</span>
                    Variable that is declared with in the body of a method is termed as:
                </h4>
                <ol type="a">
                    <li>Instance variable</li>
                    <li>class variable</li>
                    <li>Local variable</li>
                    <li>Argument variable
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(c)
                    </h4>
                    <h4>Local variable</h4>
                </div>
            </div>
        </div>

        <!-- question 1(vi) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(vi)</span>
                    Identify the correct array declaration statement:
                </h4>
                <ol type="a">
                    <li>int a[10]; </li>
                    <li>int a[]=new int[10];</li>
                    <li>int arr[i]=10;</li>
                    <li>int a[10]=new int[];
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b)
                    </h4>
                    <h4>int a[]=new int[10];</h4>
                </div>
            </div>
        </div>

        <!-- question 1(vii) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(vii)</span>
                    A variable that is bounded to the object itself is called as:
                </h4>
                <ol type="a">
                    <li>Instance variable</li>
                    <li>class variable</li>
                    <li>Local variable</li>
                    <li>Argument variable
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(a)
                    </h4>
                    <h4>Instance variable</h4>
                </div>
            </div>
        </div>

        <!-- question 1(viii) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(viii)</span>
                    The access modifier that gives most accessibility is:
                </h4>
                <ol type="a">
                    <li>private</li>
                    <li>public</li>
                    <li>protected</li>
                    <li>package
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(b)
                    </h4>
                    <h4>public</h4>
                </div>
            </div>
        </div>

        <!-- question 1(ix) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(ix)</span>
                    Give the output of the following code:
                    <br>
                    String A ="26.0", B="74.0";
                    <br>
                    double C= Double .parseDouble(A);
                    <br>
                    double D = Double .parseDouble(B);
                    <br>
                    System.out.println((C+D));
                </h4>
                <ol type="a">
                    <li>26</li>
                    <li>74</li>
                    <li>100.0</li>
                    <li>2674
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(c)(Double.parseDouble() method convert it into double datatype so result will be 100.0)
                    </h4>
                    <h4>100.0</h4>
                </div>
            </div>
        </div>

        <!-- question 1(x) -->

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold">(x)</span>
                    Wrapper classes are available in __________ package.
                </h4>
                <ol type="a">
                    <li>java.io</li>
                    <li>java.util</li>
                    <li>java.lang</li>
                    <li>java.awt
                    </li>
                </ol>
                <h4><span class="text-success">Solution</span></h4>
                <div>
                    <h4>(c)
                    </h4>
                    <h4>java.lang</h4>
                </div>
            </div>
        </div>

        <!-- question(2) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 2</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    Define a class to declare an integer array of size n and accept the elements into the array.
                    Search for an element input by the user using linear search technique, display the element
                    if it is found, otherwise display the message “NO SUCH ELEMENT.
                </h4>

                <h4><span class="text-success">Solution:</span></h4>
                <div class="edit">
                    <div class="editor_btn " onclick="copy(this)">
                        <button class="mb-3"><i class="fa fa-solid fa-copy"></i></button>

                    </div>
                    <div class="car">
                        <pre style="font-weight: 900;">
import java.util.*;
class linear
{

public static void main(String args[]){
int n,a[],num,count;
Scanner sc=new Scanner(System.in);
System.out.println("Enter No of Elements");
n=sc.nextInt();
a=new int[n];
for(int i=0;i< n;i++){
System.out.println("Enter the "+i+" integer");
a[i]=sc.nextInt();
}
System.out.println("Enter the Search value");
num=sc.nextInt();

for(count =0;count< n;count++){
if(a[count]==num){
System.out.println(num+" is found in "+(count+1));
//item is found so to stop the search and to come out of loop we use break statement
break;
}
}
if(count==n){
System.out.println("NO SUCH ELEMENT EXIST");
}
}
}
                            </pre>
                    </div>
                </div>

            </div>

        </div>

        <!-- question(3) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 3</h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    Define a class to declare a character array of size ten, accept the character into the array
                    and perform the following:
                    <br>
                    <ul>
                        <li>Count the number of uppercase letters in the array and print.</li>
                        <li>Count the number of vowels in the array and print.</li>
                    </ul>
                </h4>

                <h4><span class="text-success">Solution:</span></h4>
                <div class="edit">
                    <div class="editor_btn" onclick="copy(this)">
                        <button class="mb-3"><i class="fa fa-solid fa-copy"></i></button>

                    </div>
                    <div class="car">
                        <pre style="font-weight: 900;">
 import java.util.*;
 class check{
 public static void main(String args[]){
 char ch[];int uppercount=0,vowelcount=0;
 
 ch=new char[10];
 Scanner sc=new Scanner(System.in);
 for(int j=0;j< 10;j++){
 System.out.println("Enter the "+j+" character");
 ch[j]=sc.next().charAt(0);
 }
 
 //to print the uppercase letters
 for(int i=0;i< ch.length;i++){  
 if(Character.isUpperCase(ch[i])){
 uppercount+=1;
 ch[i]=Character.toLowerCase(ch[i]);
 }
 else if(ch[i]=='a'|| ch[i]=='e'||ch[i]=='i'||ch[i]=='o'||ch[i]=='u'){
 vowelcount=vowelcount+1;
 }
 }
 System.out.println("Number of UpperCase Letters is="+uppercount);
 System.out.println("Number of vowels is="+vowelcount);
 }
 }

                        </pre>
                    </div>
                </div>
            </div>
        </div>


        <!-- question(4) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 4</h4>
            </div>


        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    Define a class to declare an array of size <b>20</b> of double datatype, accept the elements into
                    the array and perform the following:
                    <br>
                    <ul>
                        <li>Calculate and print the sum of all the elements.</li>
                        <li>Calculate and print the highest value of the array.</li>
                    </ul>
                </h4>
                <h4><span class="text-success">Solution:</span></h4>
                <div class="edit">
                    <div class="editor_btn" onclick="copy(this)">
                        <button class="mb-3"><i class="fa fa-solid fa-copy"></i></button>

                    </div>
                    <div class="car">
                        <pre style="font-weight: 900;">
import java.util.*;
class sum{
public static void main(String args[]){
double a[],sum=0.0,high=0.0;
a=new double[20];
Scanner sc=new Scanner(System.in);
for(int i=0;i< 20;i++){
System.out.println("Enter the "+i+" number");
a[i]=sc.nextDouble();
}

for(int j=0;j< 20;j++){
sum=sum+a[j];
if(high< a[j]){
high=a[j];
}
}
System.out.println(" Sum of all number is="+sum);
System.out.println("Highest value is="+high);
}
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- question(5) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 5</h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    Define a class to accept two strings, convert them into uppercase, check and display
                    whether two strings are equal or not, if the two strings are not equal, print the string with
                    the highest length or print the message both the strings are of equal length.
                </h4>
                <h4><span class="text-success">Solution:</span></h4>
                <div class="edit">
                    <div class="editor_btn" onclick="copy(this)">
                        <button class="mb-3"><i class="fa fa-solid fa-copy"></i></button>

                    </div>
                    <div class="car">
                        <pre style="font-weight: 900;">
import java.util.*;
class stchk
{
public static void main(String args[]){
String s1,s2;
Scanner sc=new Scanner(System.in);
System.out.println("Enter the first String");
s1=sc.nextLine();
s1=s1.toUpperCase();
System.out.println("Enter the Second String");
s2=sc.nextLine();
s2=s2.toUpperCase();
if(!(s1.equalsIgnoreCase(s2)))
{
if((s1.length())>(s2.length())){
System.out.println("String with Highest length is="+s1);
}
else{
System.out.println("String with Highest length is="+s2);
}
}
}
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- question(6) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 6</h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    Define a class to accept a string, convert it into lowercase and check whether the string is
                    a palindrome or not.
                    <br>
                    A palindrome is a word which reads the same backward as forward.
                    <br>
                    Example:
                    <br>
                    madam, racecar etc.
                </h4>
                <h4><span class="text-success">Solution:</span></h4>
                <div class="edit">
                    <div class="editor_btn" onclick="copy(this)">
                        <button class="mb-3"><i class="fa fa-solid fa-copy"></i></button>

                    </div>
                    <div class="car">
                        <pre style="font-weight: 900;">
  import java.util.*;
class palin
{
public static void main(String args[])
{
String s,reversestr="";
Scanner sc=new Scanner(System.in);
System.out.println("Enter the String to check");
s=sc.nextLine();
for(int i=0;i< s.length();i++){
reversestr=s.charAt(i)+reversestr;
}
if(s.equals(reversestr)){
System.out.println(s+" is a Palindrome String");
}
else{
System.out.println(s+" is not a Palindrome String");
}
}
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- question(7) -->
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-center text-dark">Question 7</h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"></span>
                    Define a class to accept and store 10 strings into the array and print the strings with even
                    number of characters.

                </h4>
                <h4><span class="text-success">Solution:</span></h4>
                <div class="edit">
                    <div class="editor_btn" onclick="copy(this)">
                        <button class="mb-3"><i class="fa fa-solid fa-copy"></i></button>

                    </div>
                    <div class="car">
                        <pre style="font-weight: 900;">
import java.util.*;
class chkeven
{
    public static void main(String args[]){
String s[]=new String[10];

Scanner sc=new Scanner(System.in);
for(int i=0;i< 10;i++)
{
System.out.println("Enter the "+i+" String");
s[i]=sc.nextLine();
}
System.out.println("String with even number of character is=");
for(int j=0;j< 10;j++){
if(s[j].length()%2==0)
{
System.out.print(s[j]+",");
}
}
}
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            function copy(e) {
                let code = e.parentNode.children[1].children[0]
                navigator.clipboard.writeText($(code).text());
            }

        </script>
</body>
