<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 68% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  CHEMISTRY IN EVERYDAY LIFE CLASS 12 16.3 EXERCISE
</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 16.1</span>
        What type of drug Phenacetin is?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Hence, Phenacetin (acetophenetidin, N-(4-ethoxyphenyl) acetamides ) is a pain-relieving and fever -reducing
        drug, which was widely used following its introduction in 1887.<br>
        It was withdrawn
        from medicinal use as dangerous from the 1970s

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 16.2</span>
        What are antipyretics? Give the name and structure of an
        antipyretic.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Antipyretics are the compounds which are used for the purpose of reducing fever.<br>
        eg : Aspirin, Paracetamol.<br>
        <img class="img-fluid " src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.3/16-2.jpg" alt="" />

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.3</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        Mention two important uses of sulphanilic acid ?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Two important uses of Sulphanalic acid.<br>
        1. dyes<br>
        2. Sulpha drugs.

      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.4</span>
        What are ‘broad spectrum antibiotics’? Name one such
        substance.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        A broad spectrum antibiotics is one which can inhibit the growth of both gram (+ve) and gram
        (-ve) bacteria.<br>
        Eg : Tetracycline.



    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.5</span>
        Give one important use of each of the following in pharmacy : <br>
        (i) Equanil <br>(ii) Morphine
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i)<u><b class="text-danger">Equanil :</b></u> Equanil is a tranquilizer r It is used for removing depression
        and hypertension.<br>
        (ii)<u><b class="text-danger">Morphine :</b></u> Morphine is an alkaloid .
        It is used as an analgesic.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.6</span>
        What are antibiotics? Name any two antibiotics which are
        specific for certain diseases.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        Antibiotic is a medicine that inhibits the growth of microorganisms and destroys it.
        It was first invented
        by Alexander Fleming, they fight against harmful disease and infections. They include a range of powerful
        drugs<br>
        Eg : Penicillin , Paracetamol.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.7</span>
        What are antipyretic medicines? Name one of them. Can it
        play any other role also?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Antipyretics are the compounds which are used for the purpose of reducing fever.<br>
        eg : Aspirin, Paracetamol.<br>
        <u><b class="text-danger">Aspirin :</b></u> Aspirin is used to reduce fever and relieve mild to moderate pain
        from condition such as common cold.



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.8</span>
        Name a substance which can be used both as an antiseptic as
        well as a disinfectant.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">
        Phenol can be used as antiseptic as well as disinfectant<br>
        0.93% as antiseptic<br>
        2% as disinfectant

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.9</span>
        What is the role of Bithional in toilet soaps?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Bithional is added to the toilet soap to remove bad odour produced by bacterial decomposition
        organic matter on soap imparting antiseptic properties.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.10</span>
        Name a drug used in case of mental depression.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        SSRI(Selective Serotonin Reputake Inhibitors)



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.11</span>
        Give an example of a sulpha drug.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        (i) sulphadiazine <br>
        (ii) sulphathiazole

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16.12</span>
        State an example each and function of the following :<br>
        (i) Tranquilizers <br>(ii) Wide spectrum antibiotics.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <b><u class="text-danger"> (i) Tranquilizer -></u></b> are neurologically active drugs which help in reducing
        Conditions
        of stress and anxiety in a person <br>Example : Equanil etc <br>
        <b><u class="text-danger"> (ii) Wide spectrum Antibiotics -></u></b> that acts against a wide range of disease
        -causing bacteria and used for any resistant bacteria
        In super-infections and empirically
        prior to identifying the causative bacteria.<br>
        Enample : Amoxicillin

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold">16.13 </span>
        Soap is a weak antiseptic. What may be added to a soap to
        improve its antiseptic action?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        Soap is a weak antiseptic.<br>
        Bithional is added to soaps to improve its antiseptic action. It is added because its reduces odours produced by
        bacterial decomposition of organic matter or the skin.

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-14</span>
        Write the formula and IUPAC name of aspirin. Why should it
        not be taken on an empty stomach?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.3/16-14.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-15</span>
        How are antiseptics different from disinfectants? Give one
        example of each of them.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.3/16-15.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-16</span>
        (a) Name one medicinal compound each that is used to treat<br>
        (i) hypertension <br> (ii) general body pain.<br><br>
        (b) Write the formal distinction between antiseptics and
        disinfectants.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        (a) Hypertensions : Rauwolfia<br>
        (b) General body pains : Aspirin.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-17</span>
        Give one important use of each of the following :<br>
        (i) Bithional<br>
        (ii) Chloramphenicol<br>
        (iii) Streptomycin<br>
        (iv) Paracetamol
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <b class="text-danger"> (i) Bithionol :</b>
        Bithionol is added to the toilet soap to remove bad odour produced by bacterial decomposition of organic matter
        on soap imparting antiseptic properties.
        <br> <b class="text-danger">(ii) Chloramphenicol :</b> It is used in the treatment of typhoid dysentery etc,
        <br><b class="text-danger">(iii) Streptomycin :</b>It is used in the prevention of tuberculosis.
        <br><b class="text-danger">(iv) Paracetamol</b> It belongs to non-narcotic analgesic and it is used to relieve
        pain
        due to arthritics.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-18</span>
        Give three examples of sulpha drugs and write their main
        uses.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        They contain sulphonamide (NH<SUB>2</SUB> -SO<SUB>2</SUB> -NH<SUB>2</SUB>) in their structure and perform the
        same function as antibiotics but they are synthesized in the Laboratory.
        same as antibiotic they kill many types of micro-organisms
        or may prevent their multiplication <br>-Some of the
        Common Examples : sulphadiazine , sulphaguanidine,
        sulphapyridine etc.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-19</span>
        Describe the following giving an example in each case :<br>
        (i) Antifertility drugs<br>
        (iii) Vat dyes.<br>
        (ii) Tranquilizers


      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        (i) Antifertility drugs => The drug used to control the population
        (by family planning) are called antifertility drugs.<br>
        Examples include norethindrone and ethinyl & estradiol. <br>
        <br>(ii) Tranquilizer => Tranquilizer are neurologically active drugs which help in reducing Conditions
        of stress and anxiety in a person<br> Example : Equanil etc.<br>
        (iii) Vat dyes => Vat dyes are most important dyes for
        dyeing and printing on Cotton and
        cellulosis fibres<br>
        Example : Indigo.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-20</span>
        Define the following and give one example of each :<br>
        (i) Antihistamines (ii) Disinfectants (iii) Antacids.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <u><b class="text-danger"> (i) Antihistamines =></b></u> It is a drug or other compound
        that inhibits the physiological histamine used especially in the treatment
        of allergies.<br>
        Examples : Brompheniramine<br>
        <u><b class="text-danger">(ii) Disinfectant =></b></u>
        There are used to destroy microorganism
        specially on the inert surfaces.<br>Examples : Ethanol<br>

        <u><b class="text-danger"> (iii) Antacids =></b></u> Antacid is a base which neutralize excess of acid in the
        stomach
        Examples : Calcium Carbonate

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-21</span>
        List two major classes of antibiotics and give one example of
        each class.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <u><b class="text-danger">Two major classes of Antibiotics -</b></u><br>
        (a) Narrow-specterum antibiotics => are active against a selected group of
        bacterial types<br> Eg : Penicillin.<br>
        (b) Broad-spectrum antibiotics => are active against a wider number of bacterial types
        and others may be used to treat a variety of infectious disease <br>Eg : chloramphenicol


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-22</span>
        Describe the following types of substances giving suitable
        examples, one each :<br>
        (i) Antihistamines <br>(ii) Antiseptics
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <u><b class="text-danger"> (i) Antihistamines =></b></u> It is a drug or other compound
        that inhibits the physiological histamine used especially in the treatment
        of allergies.<br>
        Examples : Brompheniramine<br>
        <u><b class="text-danger"> (ii) Antiseptic =></b></u><br>
        1.) This is used to slow
        down the growth
        of Pathogen.<br>
        2.) These are used on the bodies of living to remove pathogens
        from wounds and
        injuries <br>
        Eg : Hydrogen peroxide, Iodine


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-23</span>
        Describe the following with an example each :<br>
        (i) Antimicrobials (ii) Analgesics.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <b class="text-danger"> 1.) Antimicrobials =></b> An antimicrobial is an agent kills microorganisms or stops
        their growth Antimicrobial medicines can be grouped according to the microorganisms they can primarily against.
        Eggs antibiotics.<br>
        <b class="text-danger"> 2.) Analgesics =></b> These are drugs which are used to relieve pain.
        Analgesic drugs act in various ways on the
        peripheral and central nervous system.<br>
        Eg : paracetamol.


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 16-24</span>
        (a) What are antipyretic medicines?<br>
        (b) Name one of them.<br>
        (c) Can it play any other role also?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        (a) Antipyretics are the compounds which are used for the purpose of reducing fever.<br>
        (b) eg : Aspirin, Paracetamol.<br>
        (c) Paracetamol role - It belongs to non-narcotic analgesic and it is used to relieve pain
        due to arthrities.


      </h5>
    </div>
  </div>





</div>