<style>
    .col {
        background-image: url('textwater.png');
    }

    .img-fluid {
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>

</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Chemistry In everyday Life QUESTIONS 16.4</h1>
    <div class="container mt-5">


        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q25</span>
                    Name any three artificial sweetening agents and write their structures
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Common Artificial sweetening agents are
                    <ol type="i">
                        <li>Saccharin</li>
                        <li>Aspartame</li>
                        <li>Alitame</li>
                    </ol>
                    <img src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img25.jpg" alt=""
                        class="img-fluid">
                    <img src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img25-1.jpg" alt=""
                        class="img-fluid">

                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q26</span>
                    Write the structure of sucralose . Why is it expected to become
                    a great commercial success as artificial sweetener?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img26.jpg" alt="" class="img-fluid">
                <h4 class="text-dark">
                    Sucralose is an artificial sweetner and sugar substitute the majority of ingested Sucralose is not
                    broken down by the body
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q27</span>
                    What are preservatives ? Give some examples.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Preservatives-></u></b>
                    <br>
                    <br>
                    These are substances (when added to food, are capable of inhibiting
                    ,retarding or arresting the process of fermentation,acidification or other decomposition of food by
                    growth of microbes
                    <br>
                    <b class="text-danger">Example-</b> Sugar,Vinegar
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q28</span>
                    What are detergents and how are they classified?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Detergents-></u></b>
                    <br>
                    Detergents are sodium salts of long chain
                    sulphonates and sulphates.
                    <br>
                    <br>
                    <b class="text-danger"><u>Classification-> They are two types-</u></b>
                    <br>
                    <br>
                    (i) sodium salts of long chain benzene sulphonic acid -
                    <br>
                    <img src="/class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img28.jpg" alt=""
                        class="img-fluid">
                    <br>
                    <br>
                    (ii) sodium salt of long chain alkyl hydrogen sulphate -
                    <br>
                    <img src="/class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img28-1.jpg" alt=""
                        class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q29</span>
                    What are anionic detergents and why are they called so? Give
                    some examples.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Anionic Detergent-></u></b>
                    <br>
                    <br>
                    Anionic detergent are so named because large part of their molecules are anions and it is the
                    anionic part of the molecules which is involved in the cleaning action.
                    <br>
                    <b class="text-danger">Eg-></b>sodium lauryl sulphate

                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q30</span>
                    How are non-ionic detergents obtained ? Give an example.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Non-Ionic Detergent-></u></b>
                    <br>
                    <br>
                    Molecules of these detergents do not contain any ions these
                    detergent are esters of alcohols having
                    high molecular mass.
                    <br>
                    They are obtained by reacting polyethylene glycol
                    and Steanic acid.
                    <br>
                    <br>
                    <img src="/class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img30.jpg" alt=""
                        class="img-fluid">

                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q31</span>
                    What are cationic detergents ? Give an example.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Cationic Detergents-></u></b>
                    <br>
                    <br>
                    Quaternary ammonium salts of acetates,chloride or bromides
                    in which the cationic part has long hydrocarbon chain and (N) atom has positive charge are cationic
                    detergent.
                    <br>
                    <b class="text-danger">Example-</b> Cetyltrimethylammonium bromide
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q32</span>
                    Give the name and structure of a detergent used as a
                    germicide
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    cetyltrimethylammonium chloride used as a germicide
                    <br>
                    <br>
                    <img src="/class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img32.jpg" alt=""
                        class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q33</span>
                    How are sodium alkyl sulphates and sodium alkylbenzene
                    sulphonates manufactured?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    linear alkylbenzene sulphonates are manufactured by the sulphonation of linear alkylbenzene, become
                    the major anionic materials used in detergent formulation.
                    <br>
                    <img src="class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img33.jpg" alt=""
                        class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q34</span>
                    Why are detergents regarded as superior in comparison to
                    soaps?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Detergent cleans more effectively in hard water than soap.
                    Detergent cleans more effectively in
                    hard water than soap. Hard
                    water contains Calcium and magnesium ions that limit soap's cleaning capabilities
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q35</span>
                    Comment on the biodegradability of different types of
                    detergents.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Biodegradable detergents are defined as the types of detergents that has a straight hydrocarbon
                    chain these detergents are
                    known as biodegradable as they are destroyed by the bacteria.
                    <br>
                    <br>
                    <b class="text-danger">Example-</b> sodium alkyl benzene sulphonate
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q36</span>
                    Describe the following with example in each case :
                    <ol type="i">
                        <li>Antioxidants </li>
                        <li>Biodegradable detergents </li>
                        <li>Preservatives </li>
                        <li>Edible colour</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    (i) <b class="text-danger"><u>Preservatives-></u></b>
                    <br>
                    <br>
                    These are substances (when added to food, are capable of inhibiting
                    ,retarding or arresting the process of fermentation,acidification or other decomposition of food by
                    growth of microbes
                    <br>
                    <b class="text-danger">Example-</b> Sugar,Vinegar
                    <br>
                    <br>
                    (ii) <b class="text-danger"><u>Biodegradable detergents-></u></b>
                    <br>
                    <br>
                    Biodegradable detergents are defined as the types of detergents that has a straight hydrocarbon
                    chain these detergents are
                    known as biodegradable as they are destroyed by the bacteria.
                    <br>
                    <br>
                    <b class="text-danger">Example-</b>sodium alkyl benzene sulphonate
                    <br>
                    <br>
                    (iii) <b class="text-danger"><u>Antioxidant-</u></b>
                    <br>
                    the chemicals which retard the action of O<sub>2</sub> on the food stuffs
                    and thus help in their preservation are called antioxidant
                    <br>
                    <b class="text-danger">Example-</b>butylated hydroxytoulene (BHT)
                    <br>
                    <br>
                    (iv) <b class="text-danger"><u>Edible Colours-</u></b>
                    <br>
                    <br>
                    It is widely used to Colour food stuffs in order to improve their appearance.
                    These colours have no nutritive value.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q37</span>
                    What are detergents ? Give their scheme of classification.
                    Why are the detergents preferred over soaps?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Detergents-></u></b>
                    <br>
                    Detergents are sodium salts of long chain
                    sulphonates and sulphates.
                    <br>
                    <br>
                    <b class="text-danger"><u>Classification-> They are two types-</u></b>
                    <br>
                    <br>
                    (i) sodium salts of long chain benzene sulphonic acid -
                    <br>
                    <img src="/class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img28.jpg" alt=""
                        class="img-fluid">
                    <br>
                    <br>
                    (ii) sodium salt of long chain alkyl hydrogen sulphate -
                    <br>
                    <img src="/class12ISCchap/chemistry/chemistryineverydaylifeimg/16.4/img28-1.jpg" alt=""
                        class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q38</span>
                    Describe the following with suitable examples
                    <ol type="i">
                        <li>Preservatives </li>
                        <li>Artificial sweeteners </li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Preservatives-></u></b>
                    <br>
                    <br>
                    These are substances ,when added to food, are capable of inhibiting
                    ,retarding or arresting the process of fermentation,acidification or other decomposition of food by
                    growth of microbes
                    <br>
                    <b class="text-danger">Example-</b> Sugar,Vinegar
                    <br>
                    <br>
                    <b class="text-danger"><u>Artificial Sweetners-></u></b>
                    <br>
                    <br>
                    Sucrose(cane sugar) which is a nature sweetner and it most widely used it itself is a food and aids
                    to our calories intake leading to an increase in the body weight in general
                    <br>
                    <b class="text-danger">Example-</b> Saccharin,Aspartame
            </div>
        </div>
    </div>
</body>

</html>