<!-- FLIPSTER CDN -->
<link rel="stylesheet" href="common/jquery.flipster.min.css">

<!-- FLICKITY CDN -->

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">



<!-- CAROUSEL -->
<section id="part1">
    <div class="carouse">
        <div class="carouse_item active">
            <img class="img-1" src="img/class.png" alt="">
            <img src="img/class(1).png" class="img-1sm" alt="">
        </div>
        <div class="carouse_item">
            <img class="img-2" src="img/about.png" alt="">
            <img src="img/about(1).png" alt="" class="img-2sm">
        </div>
        <div class="carouse_item">
            <img class="img-3" src="img/DOUBT SOLVING SESSIONS.png" alt="">
            <img src="img/DOUBT SOLVING SESSIONS(1).png" alt="" class="img-3sm">
        </div>
        <div class="carouse_item">
            <img class="img-4" src="img/our features.png" alt="">
            <img src="img/our feature(1).png" alt="" class="img-4sm">
        </div>
        <div class="carouse_actions">
            <button id="carouse_button_prev" aria-label="Previous Slide">
                < </button>
                    <button id="carouse_button_next" aria-label="Next Slide">
                        > </button>

        </div>
    </div>
</section>

<!-- CLASS LINKS AND IMPORTANT LINKS -->
<section id="part2">
    <!-- DIVS -->
    <div class="row text-align-center">
        <div class="col-sm-4">
            <div class="card card-notice" style="width: 22rem;">
                <img src="img/notice.jpg" class="card-img-top" style="height:12rem;" alt="...">
                <p style="font-family: 'Raleway';color:red;font-weight:bold;">IMPORTANT LINKS</p>
                <ul id="card-notice-list">
                    <li> <a href="/commingsoon">Specimen Paper Solution </a></li>
                    <li><a href="/commmingsoon">Previous Year Board Solutions</a></li>
                    <li><a href="/class10calculator">Class 10th Percentage Calculator</a></li>
                    <li><a href="/class12calculator">Class 12th Percentage Calculator</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=93">Reduced Syllabus for ISC(CLASS
                            XII) Year
                            2022
                            EXAMINATION.</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=92">Reduced Syllabus for ICSE(CLASS X)
                            Year 2022 EXAMINATION.</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=95">Bifurcated Thoery Syllabus for
                            ISC (CLASS
                            XII) for ACADEMIC YEAR 2021-22</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=94">Bifurcated Thoery Syllabus for
                            ICSE (CLASS
                            X) for ACADEMIC YEAR 2021-22</a></li>
                    <li><a href="https://cbseacademic.nic.in/Term-wise-curriculum_2022.html">CBSE Term Wise Syllabus
                            for
                            Examination
                            2021-22</a></li>

                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="d-md-flex ">
                <div class="card-main" onmouseover="showclass(this)" onmouseleave="notshow(this)">
                    <div class="card-content">
                        <a class="card-lk" href="/class9">ICSE BOARD</a>
                        <a class="card-lk1" href="/commingsoon">CBSE BOARD</a>
                    </div>
                    <img class="card-imag" src="img/9(1).png">
                </div>

                <div class="card-main card_left crd" onmouseover="showclass(this)" onmouseleave="notshow(this)"
                    style="left: 123px;">
                    <div class="card-content">
                        <a class="card-lk" href="/class10">ICSE BOARD</a>
                        <a class="card-lk1" href="/commingsoon">CBSE BOARD</a>
                    </div>
                    <img class="card-imag" src="img/10(1).png">
                </div>
            </div>

            <div class="d-md-flex ">
                <div class="card-main" style=" margin-top: 40px;" onmouseover="showclass(this)"
                    onmouseleave="notshow(this)">
                    <div class="card-content">
                        <a class="card-lk" href="/class11">ISC BOARD</a>
                        <a class="card-lk1" href="/commingsoon">CBSE BOARD</a>

                    </div>
                    <img class="card-imag" src="img/11(1).png">
                </div>

                <div class="card-main card_left" onmouseover="showclass(this)" onmouseleave="notshow(this)"
                    style="margin-top: 40px;background-color: aqua;left: 123px;">
                    <div class="card-content">
                        <a class="card-lk" href="/class12">ISC BOARD</a>
                        <a class="card-lk1" href="/commingsoon">CBSE BOARD</a>
                    </div>
                    <img class="card-imag" src="img/12(1).png">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SPECIALITY -->
<section id="part3">
    <div class="custom-shape-divider-top-1630622741">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <div class="geo-shapes">
        <img src="img/triangle-xxl.png" alt="">
        <img src="img/imgbin_red-circle-font-png.png" alt="">
        <img src="img/triangle-xxl.png" alt="">
        <img src="img/imgbin_red-circle-font-png.png" alt="">
        <img src="img/triangle-xxl.png" alt="">
        <img src="img/imgbin_red-circle-font-png.png" alt="">
    </div>

    <div class="part2_headdiv">
        <h1 class="text-align-center" style="font-weight: 900;color: black;position: relative;">Reason to Choose Us
        </h1>
    </div>

    <div class="row" style="justify-content:space-between;">

        <div class="col-lg-3 special"
            style="background-image: url('img/fac.png');background-size:contain;background-repeat: no-repeat;"
            data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h3 style="margin-top: 227px;">Highly Qualified & Experienced Faculty</h3>
            <div class="content">
                <img src="img/55.png" style="margin:auto;" alt="">
                <ul>
                    <li>Highly skilled and experrienced teachers work with us</li>
                    <li>They are specialised in their respective fields</li>
                    <li>They very well know how to shape your child's future</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 special"
            style="background-image: url('img/online.png');background-size:contain;background-repeat: no-repeat;"
            data-aos="fade-up" data-aos-offset="300" data-aos-duration="3000">
            <h3 style="margin-top: 227px;">Online Test Portal for Students</h3>
            <div class="content">
                <img src="img/56.png" style="margin:auto;" alt="">
                <ul>
                    <li>Frequent Test are taken on panel</li>
                    <li>Assignments are given on panel</li>
                    <li>Different levels of tests are given</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 special"
            style="background-image: url('img/on-learn.png');background-repeat: no-repeat; background-size:contain;"
            data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h3 style="margin-top: 227px;"> Online / Offline Classes</h3>
            <div class="content">
                <img src="img/59.png" style="margin:auto;" alt="">
                <ul>
                    <li>Best Interface for students to understand easily</li>
                    <li>Small Online batches</li>
                    <li>Personel attention to students</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 special"
            style="background-image: url('img/personality (2).png');background-size:contain;background-repeat: no-repeat;"
            data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h3 style="margin-top: 227px;">Free Career Counselling Sessions</h3>
            <div class="content">
                <img src="img/60.png" style="margin:auto;" alt="">
                <ul>
                    <li>Trained Career Counsellers helps to guide student's career path</li>
                    <li>Personality Development Sessions</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 special"
            style="background-image: url('img/comp.png');background-size:contain;background-repeat: no-repeat;"
            data-aos="fade-up" data-aos-offset="300" data-aos-duration="3000">
            <h3 style="margin-top: 227px;">Well Established Computer Labs</h3>
            <div class="content">
                <img src="img/58.png" style="margin:auto;" alt="">
                <ul>
                    <li>Computer classes on JAVA/PYTHON were conducted</li>
                    <li>Practical Classes are also conducted </li>
                    <li>Development and Designing Classes are conducted</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 special"
            style="background-image: url('img/meeting.png');background-size:contain;background-repeat: no-repeat;"
            data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h3 style="margin-top: 227px;">Parent-Teacher Meeting</h3>
            <div class="content">
                <img src="img/57.png" style="margin:auto;" alt="">
                <ul>
                    <li>Regular Reports are given to parents</li>
                    <li>Monthly Meetings are conducted </li>
                    <li>Monthly score cards are generated</li>
                </ul>
            </div>
        </div>
    </div>

</section>

<!-- YOUTUBE -->
<div class="part2_headdiv mt-5" style="width: 20%;">
    <h1 class="text-align-center" style="font-weight: 900;color: black;position: relative;">@Youtube</h1>
</div>


<section id="part4" data-aos="fade-down" data-aos-duration="3000">
    <div class="carousel"
        data-flickity='{ "cellAlign": "center", "contain": true ,"pauseAutoPlayOnHover": true,"autoPlay": 2000,"wrapAround": true,"freeScroll": true,"freeScrollFriction": 0.03}'
        style="margin-top: 5em;" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="100">
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=t-hp3l0olEs&t=17s">
                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you1.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=PKateg3OUBg">
                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div> <img src="img/you2.webp" alt="" style="width: 560px;height: 315px;">

            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=3gs7i1jnSXM&t=5s">

                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you3.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=eD-vdwPNfks">
                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you4.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=MNRsSZ7Gip8">

                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you5.webp" alt="" style="width: 560px;height: 315px;">
            </a>
        </div>
        <div class="carousel-cell" style="padding: 0 22px;">
            <a href="https://www.youtube.com/watch?v=heqF1THcASA">

                <div class="carousel-bt">
                    <i class="fa fa-solid fa-play"></i>
                </div>
                <img src="img/you6.webp" alt="" style="width: 560px;height: 315px;">

            </a>
        </div>
    </div>
</section>

<!-- GALLERY -->
<div class="partgaller_headdiv" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-center">
    <h1 class="text-align-center" style="font-weight: 900;color: black;position: relative;">Visit our Gallery</h1>
</div>
<section id="gallery-base" data-aos="fade-down" data-aos-offset="100" data-aos-easing="linear" data-aos-duration="3000"
    style="margin-bottom:0px!important;">
    <!-- <div class="partgaller_headdiv pt-3 pb-3 mt-4">
  <h1 class="text-align-center" style="font-weight: 900;color: white;position: relative;">Visit our Gallery</h1>
</div> -->
    <div class="gall-carousel">
        <ul>
            <li><img src="img/1010.jpeg" alt=""></li>
            <li><img src="img/1011.jpeg" alt=""></li>
            <li><img src="img/1012.jpeg" alt=""></li>
            <li><img src="img/1013.jpeg" alt=""></li>
            <li><img src="img/1014.jpeg" alt=""></li>
            <li><img src="img/1015.jpeg" alt=""></li>
            <li><img src="img/1020.jpeg" alt=""></li>
            <li><img src="img/1016.jpeg" alt=""></li>
            <li><img src="img/t3.jpg" alt=""></li>
            <li><img src="img/t2.jpg" alt=""></li>
        </ul>
    </div>
</section>


<!-- TESTIMONIALS -->
<section id="base" data-aos="fade-down" data-aos-offset="100" data-aos-easing="linear" data-aos-duration="3000"
    style="margin-top: 46px!important;">


    <div class="part2_headdiv mt-4  testi" style="width:48%">
        <h1 class="text-align-center" style="font-weight: 900;color: black;position: relative;">What our students
            say?
        </h1>
    </div>
    <div class="view-box mt-5 pt-3">
        <div id="testimonial" data-aos="zoom-in" data-aos-offset="100" data-aos-easing="linear"
            data-aos-duration="3000">
            <div class="user space">
                <img src="img/anuj1.png" alt="">
                <p>Hi,I am Anuj and i have been in IQ Classes for the last two years now and I think my classes 10th
                    went very well eith the support I got from here
                </p>
                <h3>Anuj</h3>
                <h3>K.V,Lucknow</h3>
                <h3>Class IX</h3>
            </div>

            <div class="user space2">
                <img src="img/devrat1.png" alt="">
                <p>Hi,I am Devrat and I thanks Alex Sir for my good marks in computers.The support I got from here was
                    commendable
                </p>
                <h3>Devrat</h3>
                <h3>St. Francis' College,Lucknow</h3>
                <h3>Class XI</h3>
            </div>

            <div class="user space3">
                <img src="img/rafid3.png" alt="">
                <p>I joined IQ Classes in Class XI and since then I felt very eased in my Science,Maths and Computers
                </p>
                <h3>Rafid</h3>
                <h3>City Montessori School,Lucknow</h3>
                <h3>Class XII</h3>
            </div>
            <div class="user space2">
                <img src="img/shrey.jpg" alt="">
                <p>Maths and Computers is super easy with Alex Sir.Aradhana mam has their own tricks to teach Physics
                    and Arvind sir is too good with chemistry</p>
                <h3>Shrey</h3>
                <h3>Millennium School,Lucknow</h3>
                <h3>Class XI</h3>
            </div>
            <div class="user space">
                <img src="img/anshika1.png" alt="">
                <p>Hi,I am Anshika and I thanks IQ Classes for so good teachers and my performance in my board</p>
                <h3>Anshika</h3>
                <h3>Global Indian International School,Singapore</h3>
                <h3>Class XI</h3>
            </div>
        </div>


        <div class="control">
            <span id="control1"></span>
            <span id="control2"></span>
            <span id="control3" class="active1"></span>
            <span id="control4"></span>
            <span id="control5"></span>

        </div>
    </div>
</section>
<!--CLASS LINKS JS -->
<script>
    let check = false

    function showclass(e) {
        check = true
        animateTheClass(e)
    }
    function notshow(e) {

        setTimeout(() => {
            check = false
            animateTheClass(e)
        }, 1000);
    }
    function animateTheClass(e) {
        let cont = e.children[0]
        let ele = e.children[1]
        if (check == true) {
            ele.classList.add('addani')
            cont.classList.add('addani1')
            check = false
        }
        else {
            ele.classList.remove('addani')
            cont.classList.remove('addani1')
        }
    }
</script>


<!-- JQUERY CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>


<!-- IMPORTANT LINKS JS -->
<script>
    let ele = document.querySelector('#card-notice-list')
    let count = $('#card-notice-list li').length
    let dat = ` <li> <a href="/commingsoon">Specimen Paper Solution </a></li>
                    <li><a href="/commmingsoon">Previous Year Board Solutions</a></li>
                    <li><a href="/class10calculator">Class 10th Percentage Calculator</a></li>
                    <li><a href="/class12calculator">Class 12th Percentage Calculator</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=93">Reduced Syllabus for ISC(CLASS
                            XII) Year
                            2022
                            EXAMINATION.</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=92">Reduced Syllabus for ICSE(CLASS X) Year 2022 EXAMINATION.</a></li> 
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=95">Bifurcated Thoery Syllabus for
                            ISC (CLASS
                            XII) for ACADEMIC YEAR 2021-22</a></li>
                    <li><a href="https://www.cisce.org/publicationdetail.aspx?id=94">Bifurcated Thoery Syllabus for
                            ICSE (CLASS
                            X) for ACADEMIC YEAR 2021-22</a></li>
                    <li><a href="https://cbseacademic.nic.in/Term-wise-curriculum_2022.html">CBSE Term Wise Syllabus
                            for
                            Examination
                            2021-22</a></li>`
    let id;
    function startScroll() {
        id = setInterval(() => {

            ele.scrollBy(0, 1.3)         // trigger the callback
            // console.log($('#card-notice-list').innerHeight());
            // console.log(ele.scrollHeight);
            // console.log($('#card-notice-list').innerHeight());

            if ($('#card-notice-list').scrollTop() + $('#card-notice-list').innerHeight() >= ele.scrollHeight - 40) {
                $('#card-notice-list').append(dat)
            }
            // console.log($('#card-notice-list li').length);
            // if ($('#card-notice-list li').length == count * 2) {
            //   for (let j = 0; j < count; j++) {
            //     $('#card-notice-list li')[j].remove()
            //   }
            // }
            // console.log($('#card-notice-list li').offset().top);
            if ($('#card-notice-list li').offset().top <= 300) {
                for (let i = 0; i < count / 2; i++) {
                    $('#card-notice-list li')[i].remove()
                }
            }
            // console.log($('#card-notice-list li').length);
        }, 55);
    }
    function stopScroll() {
        clearInterval(id)
    }

    $('#card-notice-list').mouseenter(() => {
        stopScroll()
    });
    $('#card-notice-list').mouseleave(() => {
        startScroll()
    });
    window.onload = startScroll();
</script>

<!-- SMTP JS -->
<script src="https://smtpjs.com/v3/smtp.js">
</script>

<!-- FLIPSTER JS CDN -->
<script src="common/jquery.flipster.min.js"></script>

<!-- FLICKITY JS CDN -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- CAROUSEL JS -->
<script>
    let slidePosition = 0
    // let count=0
    let timer;
    let changeval = false
    let intervaltimer
    const slides = $('.carouse_item')
    const totalslides = slides.length

    $('#carouse_button_next').click(() => {
        moveToNextSlide()
        // setTimeout("stopShow()", 1000);
        stopShow()
    })
    $('#carouse_button_prev').click(() => {
        moveToPrevSlide()
        // setTimeout("stopShow()", 1000);
        stopShow()
    }
    )
    $('.carouse').mouseenter(() => {
        stopShow()
    })
    $('.carouse').mouseleave(() => {
        runShow()
    })
    function updateSlidePosition() {
        for (let slide of slides) {
            slide.classList.remove('active')
            slide.classList.add('.carouse-item-hidden')
        }
        slides[slidePosition].classList.add('active')
    }


    function moveToPrevSlide() {
        if (slidePosition === 0)
            slidePosition = totalslides - 1
        // to move the slide from 3 to 0 position
        else {
            slidePosition--
        }
        updateSlidePosition()
    }
    function moveToNextSlide() {
        if (slidePosition === totalslides - 1)
            slidePosition = 0
        // to move the slide from 3 to 0 position
        else {
            slidePosition++
        }
        updateSlidePosition()

    }


    function stopShow() {
        changeval = false;
        clearTimeout(timer)
        clearInterval(intervaltimer)
        change()
    }
    function runShow() {
        intervaltimer = setInterval(() => {
            changeval = true
            // console.log('runtrue');
            change()
        }, 3000);
    }
    function change() {
        if (changeval == true) {

            if (slidePosition == totalslides - 1)
                slidePosition = 0
            else {
                slidePosition++
            }

            updateSlidePosition()
            // timer = setTimeout("change()", 2000);
        }
    }
</script>

<!-- TESTIMONOIAL JS -->
<script>

    var testimonial = document.getElementById('testimonial');
    var control1 = document.getElementById('control1');
    var control2 = document.getElementById('control2');
    var control3 = document.getElementById('control3');
    var control4 = document.getElementById('control4');
    var control5 = document.getElementById('control5');


    control1.onclick = function () {
        testimonial.style.transform = "translateX(1820px)";
        control1.classList.add("active1");
        control2.classList.remove("active1");
        control3.classList.remove("active1");
        control4.classList.remove("active1");
        control5.classList.remove("active1");
    }

    control2.onclick = function () {
        testimonial.style.transform = "translateX(935px)";
        control1.classList.remove("active1");
        control2.classList.add("active1");
        control3.classList.remove("active1");
        control4.classList.remove("active1");
        control5.classList.remove("active1");
    }

    control3.onclick = function () {
        testimonial.style.transform = "translateX(0)";
        control1.classList.remove("active1");
        control2.classList.remove("active1");
        control3.classList.add("active1");
        control4.classList.remove("active1");
        control5.classList.remove("active1");

    }
    control4.onclick = function () {
        testimonial.style.transform = "translateX(-935px)";
        control1.classList.remove("active1");
        control2.classList.remove("active1");
        control3.classList.remove("active1");
        control4.classList.add("active1");
        control5.classList.remove("active1");

    }
    control5.onclick = function () {
        testimonial.style.transform = "translateX(-1820px)";
        control1.classList.remove("active1");
        control2.classList.remove("active1");
        control3.classList.remove("active1");
        control4.classList.remove("active1");
        control5.classList.add("active1");

    }

</script>

<!-- GALLERY -->
<script>
    $('.gall-carousel').flipster({
        style: 'carousel',
        spacing: -0.3,
    }
    );
</script>

<script>
    $('.gal').click(() => {
        stopScroll()
        setTimeout(() => {
            startScroll()
        }, 700);
    })
    $('.con').click(() => {
        stopScroll()
        setTimeout(() => {
            startScroll()
        }, 700);
    })

</script>