<%- include('../partials/additionalcss.ejs') %>

    <%- include('../partials/secondnav.ejs') %>

        <!-- Biology Subjects -->
        <div class="container">
            <div>
                <h1 style="color:red;">ICSE Class 9th Biology</h1>
                <p style="font-size:medium;">
                    <b>Biology is a natural science that studies life and living organisms; that is, it is the science
                        of life.
                        of the universe interact.
                        Biology starts emerging as one of the Science disciplines at this level. In grade-9, students
                        get to explore about themselves as well about the outside world.
                        IQ Classes content aims to help students in this exploration and also make sure
                        that students to excel in the subject.
                    </b>
                </p>
                <p><b> ICSE Class 9 Biology syllabus includes concepts on Cells, Tissues, Five Kingdom classification,
                        flower, vegetative propagation, micro propagations and many more.

                    </b></p>

            </div>
            <div class="info d-none">
                <span>class9ICSE/class9biologyimg</span>
                <div>
                    <h1>Cell: The unit of life</h1>
                </div>
                <div>
                    <h1>Tissues</h1>
                </div>
                <div>
                    <h1>The Flower</h1>
                </div>
                <div>
                    <h1>Pollination & Fertilization</h1>
                </div>
                <div>
                    <h1>Seeds</h1>
                </div>
                <div>
                    <h1>Respiration in plants</h1>
                </div>
                <div>
                    <h1>Five Kingdom Classification</h1>
                </div>
                <div>
                    <h1>Economic importance of bacteria & fungi</h1>
                </div>
                <div>
                    <h1>Nutrition</h1>
                </div>
                <div>
                    <h1>Digestive System</h1>
                </div>
                <div>
                    <h1>Skeleton: Movement & Locomotion</h1>
                </div>
                <div>
                    <h1>Skin</h1>
                </div>
                <div>
                    <h1>The Respiratory System</h1>
                </div>
                <div>
                    <h1>Hygiene</h1>
                </div>
                <div>
                    <h1>Diseases</h1>
                </div>
                <div>
                    <h1>Aids to Health</h1>
                </div>
                <div>
                    <h1>Health Organisations</h1>
                </div>
                <div>
                    <h1>Waste generation & management</h1>
                </div>
            </div>
            <!-- biology SUBJECTS -->
            <div class="container contain bg-light learnblock" style="margin-top: 2em;">
                <div class="row row-cols-1 row-cols-md-3 g-3 mb-3 m-auto allcard">

                </div>
            </div>
            <div>
                <h5 style="color:red;">What are the chapters included in class 9 Biology ICSE?</h5>
                <p><b>All chapters of class 9 Biology , in the prescribed syllabus by the ICSE
                        <a style="text-decoration: none;"
                            href="https://cisce.org/UploadedFiles/PDF/2021ICSEReducedSylabiIX-BIOLOGY.pdf">Click
                            here
                        </a> to get more detailed description of your syllabus.

                        Every chapter have their importance and weightage.
                        Each chapter has various concepts based on NCERT pattern and plays a specific role in
                        improving
                        outcomes.
                        ICSE Class 9th biology chapter list will give you an idea of the entire course coverage.
                    </b>
                </p>
                <h5 style="color:red;">How to start for class 9 Biology ICSE?</h5>
                <p><b> For Class 9 Biology ICSE, one should clearly understand the syllabus and course structure
                        first.
                        Teachers will help you in giving
                        brief introduction about your syllabus and Question paper pattern
                        and will help you to improve your learning levels . <a style="text-decoration: none;"
                            href="https://cisce.org/Class_IX_Specimen_Question_Papers_2019.aspx">Click here for
                            specimen
                            question papers</a>. </b></p>
                <p><b>Slowly understands the concepts and initiate a habit of practice. Practicing and revising all
                        these topics from initial will help you to understand the concepts with clarity.
                        Always try to clear the concepts of Class 9 Biology ICSE that you do not understand.
                        Avoid skipping topics or concepts. Revise crucial topics daily.

                    </b></p>
                <h5 style="color:red;">How can you score good marks in the Biology class 9 ICSE?</h5>
                <p><b>
                        Since there are no numerical problems to save you from the theory questions, knowledge of
                        different systems like respiratory, endocrine, excretory, circulatory and others is going to
                        help you big time.
                        Once a learner is able to know what is happening around, can relate to the theories learnt
                        in
                        the books.
                    </b></p>
                <p>
                    <li><b>Pay close attention to the definitions</b></li>
                    <li><b>Know a little about all the chapters</b></li>
                    <li><b>Practicing diagrams is going to help you in a big way as they are easy to score in.</b>
                    </li>
                </p>
                <h5 style="color:red;">ICSE Class 9 prescribed Biology Books</h5>
                <p><b>Here is a list of the ICSE books for Class 9 which students can refer while preparing for
                        their
                        Biology exam which is updated according to the latest ICSE syllabus.
                        Students of Class 9 should start their preparation by studying from the textbook of ICSE
                        Class 9
                        Biology as it covers the entire syllabus and gives the ample number of questions to
                        practice.
                    </b></p>
                <p>
                    <li><b>ICSE Biology Book I for Class IX</b></li>
                    <li><b>Biology Science for Class 9 Part 3</b></li>
                    <li><b>ICSE Concise Biology Part 1 for Class 9 Paperback</b></li>
                </p>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            function fli(e) {
                let click = false;
                let card = e.children[0];
                let image = e.children[0].children[0].children[1]
                let buttons = e.children[0].children[1].children[1].children[0]
                // $(buttons.children[0]).click(() => {
                //     console.log('click');
                // })
                // if (click == false) {
                //     console.log(click);
                //     $(card).toggleClass('rotate')
                //     setTimeout(() => {
                //         $(image).toggleClass('d-none')
                //     }, 200);
                // }
                $(card).toggleClass('rotate')
                setTimeout(() => {
                    $(image).toggleClass('d-none')
                }, 200);
            }

        </script>
        <script>

        </script>
        <%- include('../partials/makecard.ejs') %>