<%- include('../partials/additionalcss.ejs') %>

    <%- include('../partials/secondnav.ejs') %>

        <!-- MATHS SUBJECTS -->
        <div class="container">
            <div>
                <h1 style="color:red;">ICSE Class 9th Maths</h1>
                <p style="font-size:medium;">
                    <b>
                        Mathematics is one of the most challenging and trickiest subjects, the content of Class 9
                        Mathematics emphasises the in-depth understanding of concepts.

                        The content at this level aims that students must be able to relate the topics of Mathematics to
                        real life and other subject areas. The emphasis is on enhancing the capacity of students to
                        apply Mathematics in solving day-to-day life problems.
                        IQ Classes content aims to help students in this exploration and also make sure
                        that students to excel in the subject.
                    </b>
                </p>
                <p><b> ICSE Class 9 Maths syllabus includes concepts on compound interest , indices , factorisation ,
                        logarithms , area theorems , co-ordinate geometry , trigonometry and many more.

                    </b></p>

            </div>
            <div class="info d-none">
                <span>class9ICSE/class9mathsimg</span>
                <div>
                    <h1>Rational & irrational Numbers</h1>
                </div>
                <div>
                    <h1>Compound Interest(Without Formula)</h1>
                </div>
                <div>
                    <h1>Compund Interest(Using Formula)</h1>
                </div>
                <div>
                    <h1>Expansions</h1>
                </div>
                <div>
                    <h1>factorisation</h1>
                </div>
                <div>
                    <h1>Simultaneous Equations</h1>
                </div>
                <div>
                    <h1>Indices</h1>
                </div>
                <div>
                    <h1>Logarithms</h1>
                </div>
                <div>
                    <h1>Triangles</h1>
                </div>
                <div>
                    <h1>Isoceles Triangles</h1>
                </div>
                <div>
                    <h1>
                        Inequalities
                    </h1>
                </div>
                <div>
                    <h1>Midpoint and Its Converse</h1>
                </div>
                <div>
                    <h1>Pythagoras Theorem</h1>
                </div>
                <div>
                    <h1>Rectilinear Figures</h1>
                </div>
                <div>
                    <h1>Construction of Polygons</h1>
                </div>
                <div>
                    <h1>Area Theorems</h1>
                </div>
                <div>
                    <h1>Circle</h1>
                </div>
                <div>
                    <h1>Statistics</h1>
                </div>
                <div>
                    <h1>Mean & median</h1>
                </div>
                <div>
                    <h1>Area & Perimeter </h1>
                </div>
                <div>
                    <h1>Solids</h1>
                </div>
                <div>
                    <h1>Trignometric Ratios</h1>
                </div>
                <div>
                    <h1>Trignometric Ratios of S.A.</h1>
                </div>
                <div>
                    <h1> Sol. Right Triangles</h1>
                </div>
                <div>
                    <h1>Complementary Angles</h1>
                </div>
                <div>
                    <h1>Co-ordinate Geometry</h1>
                </div>
                <div>
                    <h1>Graphical Solutions</h1>
                </div>
                <div>
                    <h1>Distance Formula</h1>
                </div>


            </div>
            <!-- maths SUBJECTS -->
            <div class="container contain bg-light learnblock" style="margin-top: 2em;">
                <div class="row row-cols-1 row-cols-md-3 g-3 mb-3 m-auto allcard">

                </div>
            </div>
            <div>
                <h5 style="color:red;">What are the chapters included in class 9 Maths ICSE?</h5>
                <p><b>All chapters of class 9 Maths , in the prescribed syllabus by the ICSE
                        <a style="text-decoration: none;"
                            href="https://cisce.org/UploadedFiles/PDF/2021ICSEReducedSylabiIX-MATHEMATICS.pdf">Click
                            here </a> to get more detailed description of your syllabus.

                        Every chapter have their importance and weightage.
                        Each chapter has various concepts based on NCERT pattern and plays a specific role in
                        improving
                        outcomes.
                        ICSE Class 9th Maths chapter list will give you an idea of the entire course coverage.
                    </b></p>
                <h5 style="color:red;">How to start for class 9 Maths ICSE?</h5>
                <p><b> For Class 9 Maths ICSE, one should clearly understand the syllabus and course structure
                        first.
                        Teachers will help you in giving
                        brief introduction about your syllabus and Question paper pattern
                        and will help you to improve your learning levels . <a style="text-decoration: none;"
                            href="https://cisce.org/Class_IX_Specimen_Question_Papers_2019.aspx">Click here for
                            specimen
                            question papers</a>. </b></p>
                <p><b>Slowly understands the concepts and initiate a habit of practice. Practicing and revising
                        all
                        these topics from initial will help you to understand the concepts with clarity.
                        Always try to clear the concepts of Class 9 Maths ICSE that you do not understand.
                        Avoid skipping topics or concepts. Revise crucial topics daily.

                    </b></p>
                <h5 style="color:red;">How can you score good marks in the Maths class 9 ICSE?</h5>
                <p><b>
                        To score good marks in Mathematics , one needs to understand the concepts really well
                        ,practice
                        is the key.
                        If you are well aware of the core concepts then it becomes very easy to attempt problems
                        asked
                        on those concepts.
                    </b></p>
                <p>
                    <li><b>Mathematics require a lot of practice so, allocate 2 hours for Maths.</b></li>
                    <li><b>Practice problems till you get most of them perfectly.</b></li>
                    <li><b> During preparation, candidates should utilize their time in an effective way. </b>
                    </li>
                </p>
                <h5 style="color:red;">ICSE Class 9 prescribed Maths Books</h5>
                <p><b>Here is a list of the ICSE books for Class 9 which students can refer while preparing for
                        their
                        Maths exam which is updated according to the latest ICSE syllabus.
                        Students of Class 9 should start their preparation by studying from the textbook of ICSE
                        Class 9
                        Maths as it covers the entire syllabus and gives the ample number of questions to
                        practice.
                    </b></p>
                <p>
                    <li><b>Together with Mathematics for ICSE Students</b></li>
                    <li><b>ICSE Mathematics For IX</b></li>
                    <li><b>Understanding ICSE Mathematics</b></li>
                </p>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            function fli(e) {
                let click = false;
                let card = e.children[0];
                let image = e.children[0].children[0].children[1]
                let buttons = e.children[0].children[1].children[1].children[0]
                // $(buttons.children[0]).click(() => {
                //     console.log('click');
                // })
                // if (click == false) {
                //     console.log(click);
                //     $(card).toggleClass('rotate')
                //     setTimeout(() => {
                //         $(image).toggleClass('d-none')
                //     }, 200);
                // }
                $(card).toggleClass('rotate')
                setTimeout(() => {
                    $(image).toggleClass('d-none')
                }, 200);
            }
        </script>
        <%- include('../partials/makecard.ejs') %>