<style>
    .col{
      background-image: url('images/textwater.png');
    }
    
    .img-fluid {
      max-width: 68% !important;
    }
    @media screen and (max-width: 768px) {
     
      .img-fluid {
        max-width: 100% !important;
      }
    }
  
   
    
  </style>
<h1 class="text-center text-danger mt-3">
    GENERAL PRINCIPLES & PROCESS CLASS 12 16.3 EXERCISE
  </h1>
  <div class="container mt-2">
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger"><span class="fw-bold"> 6.1</span>
            How do elements occur in nature? Distinguish the terms
            minerals and ores. 
        </h5>
  
        <h5><span class="text-success">Solution </span></h5>
        <h5>
            The naturally occurring compounds of elements which are
            generally present with other matter such as soils, sand, Limestone and rocks. Ores are those minerals
            from which metal can be extracted profitably.
            
            
        </h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger"><span class="fw-bold"> 6.2</span>
            How can the ores be classified? Give atleast an example of
            each type of ore. 
        </h5>
  
        <h5><span class="text-success">Solution </span></h5>
        <h5>
            Ores can be classified into following categories.<br>
            (a)Native ores :  clay & sand<br>
            (b) sulphide ores : copper pyrites (CuFeS<sub>2</sub>), zincblende (ZnS)<br>
            (c)) Oxidised ores : In these ones metals are present in the form Oxides  carbonate ,sulphate ,silicates & phosphate Eg=> Bauxite, Calamine, gypsum etc.<br>
            (d) Halide ores : rock salt horn silver (AgCl) etc.<br>
            (e) complex ores : triphylite [(LiNa)<sub>3</sub>PO<sub>4</sub> . (FeMn)<sub>3</sub>(PO<SUB>4</SUB>)<SUPB>2</SUPB>]
            
           
         
        </h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger">
          <span class="fw-bold"> 6.3</span>
          <span class="integrate"></span>
  
          <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
                    
                      Name the elements which are extracted from the following
                      ores.<br>
                      (i) Bauxite<br> (ii) Zinc blende <br>(iii) Haematite <br> (iv) Malachite 
        </h5>
  
        <h5><span class="text-success">Solution </span></h5>
        <h5>
            (i)  Bauxite : Al<br>
            (ii) zinc Blende : Zn<br>
            (iii) Haematite : Fe<br>
            (iv) Malachite : Cu
            
        </h5>
      </div>
    </div>
  
   
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger">
          <span class="fw-bold"> 6.4</span>
          How do the following elements occur in living systems?<br>
          
          (i) Iron <br> (ii) Iodine<br>
          (iii) Zinc <br>(iv) Carbon <br>
        </h5>
  
        <h5><span class="text-success">Solution </span></h5>
        <h5>
            <b class="text-danger">1. Iron :</b> It is present in all body cells.
            Function as a Carrier of Oxygen in the blood and muscles.<br>
           <b class="text-danger"> 2. Zinc </b>
            Plays an important sole in nucleic acid metabolism ,cell replication , tissue repair and growth
            through its function -> nucleic acid polymerases.
         <br> <b class="text-danger">3. Iodine :</b> Iodine most important role is to ensure proper thyroid function.
            It helps to regulate the production of the thyroid hormones thyroxine (T<sub>4</sub>) and triiodothyronine (T<sub>3</sub>)
         <br>  <b class="text-danger"> 4. Carbon</b>
            carbon is the primary component of macromolecules, including proteins ,Lipids, nucleic acid and carbohydrates.
            
            
          

      </div>
    </div>
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger">
          <span class="fw-bold"> 6.5</span>
          Name some important metals whose ores are abundant in India. 
        </h5>
  
        <h5><span class="text-success">Solution </span></h5>
        <h5>
            Some important metals whose ones are abundant in India :<br>
            1. Madhya Pradesh and Maharashtra<br>
            (manganese ,chromium ,aluminium.)<br>
            2. Rajasthan <br>(copper , Zinc, lead.)
            
            
  
        </h5>
      </div>
    </div>
  

     
    
 
 
  
  </div>