<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }


    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.2</h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integrate">&#8747;</span>
                (ax<sup>2</sup>+bx+c)dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img1(i).jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integrate">&#8747;</span>
                x<sup>2/3</sup>+1 dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integrate">&#8747;</span>
                <span class="bigbrac">(</span> &radic;(3x)+ <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</span>
                </div>
                <span class="bigbrac">)</span>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img2(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integrate">&#8747;</span>
                <span class="bigbrac">(</span>
                <div class="frac">
                    <span>
                        2a
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</span>
                </div>-
                <div class="frac">
                    <span>
                        b
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup></span>
                </div>+
                3c&nbsp;<sup style="font-size: 14px;">3</sup>&radic;x<sup>2</sup>
                <span class="bigbrac">)</span>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img2(ii).jpg"
                alt="">
        </div>
    </div>


    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        2cosx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">3sin<sup>2</sup>x</span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img3(i).jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img3(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integrate">&#8747;</span>
                (2x<sup>2</sup>-3 sinx+5&radic;x)
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integrate">&#8747;</span>
                2x-3cosx+e<sup>x</sup>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img4(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integrate">&#8747;</span>
                x<sup>2</sup><span class="bigbrac">(</span>1-
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup></span>
                </div><span class="bigbrac">)</span>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integrate">&#8747;</span>
                (x<sup>3/2</sup>+2e<sup>x</sup>-1/x)
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img5(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integrate">&#8747;</span>
                <span class="bigbrac">(</span>&radic;x+
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</span>
                </div>
                <span class="bigbrac">)</span>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integrate">&#8747;</span>
                (1-x)&radic;x
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img6(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integrate">&#8747;</span>
                &radic;x(3x<sup>2</sup>+2x+3)
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img6(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>3</sup>+5x<sup>2</sup>-4
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup></span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img7(i).jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img7(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>3</sup>+3x+4
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img7(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img7(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integrate">&#8747;</span>
                x<sup>2</sup>
                <span class="bigbrac">(</span>
                2x-
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</span>
                </div>
                <span class="bigbrac">)</span><sup>2</sup>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img8(i).jpg" alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img8(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integrate">&#8747;</span>
                (x+&radic;x)<sup>3</sup>dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img8(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img8(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9(i)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        (x+a)<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img9(i).jpg" alt="">
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img9(i)2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9(ii)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>3</sup>-x<sup>2</sup>+x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x-1</span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img9(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10(i)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        1-sinx </span>
                    <span class="symbol">/</span>
                    <span class="bottom">cos<sup>2</sup>x</span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img10(i).jpg" alt="">
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img10(i)2.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10(ii)</span>
                <span class="integrate">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>6logx</sup>-e<sup>5logx</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom"> e<sup>4logx</sup>-e<sup>3logx</sup></span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img10(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/img10(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11(i)</span>
                <span class="inte">&#8747;</span>
                secx (secx+tanx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-11(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        sec<sup>2</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">cosec<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-11(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                <span class="inte">&#8747;</span>
                ( <div class="frac">
                    <span>
                        cotx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sinx</span>
                </div> - <div class="frac">
                    <span>
                        tanx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">cosx</span>
                </div> - 3 tan<sup>2</sup>x )

                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-12(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        2 - 3 sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">cos<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-12(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-13(i)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-13(i)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-sinx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-13(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+ cosecx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-14(i)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-14(i)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        sec<sup>2</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-14(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(i)</span>
                <span class="inte">&#8747;</span>
                (&radic;x - sin <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div> cos <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2</span>
                </div> + 5 )
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-15(i)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-15(i)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        cos2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sin<sup>2</sup>x cos<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-15(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        secx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">secx + tanx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-16(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        cosecx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">cosecx - cotx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-16(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>6</sup> + 1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup> + 1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-17(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        6 sin<sup>3</sup>x + 5 cos<sup>3</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sin<sup>2</sup>x cos<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-17(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(i)</span>
                <span class="inte">&#8747;</span>
                &radic;(1+cos2x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-18(i)-1.jpg" alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(ii)</span>
                <span class="inte">&#8747;</span>
                &radic;(1-cos2x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-18(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q19(i)</span>
                <span class="inte">&#8747;</span>
                cot<sup>-1</sup> (
                <div class="frac">
                    <span>
                        sin2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-cos2x</span>
                </div>
                )

                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-19(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q19(ii)</span>
                <span class="inte">&#8747;</span>
                tan<sup>-1</sup>&#40;
                <div class="frac">
                    <span>
                        &radic;(1-cos2x)
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(1+cos2x)</span>
                </div>
                &#41;

                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-19(ii)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-19(ii)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20(i)</span>
                <span class="inte">&#8747;</span>
                tan<sup>-1</sup> (cosecx - cotx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-20(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20(ii)</span>
                <span class="inte">&#8747;</span> cos<sup>-1</sup>
                ( <div class="frac">
                    <span>
                        1-tan<sup>2</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+tan<sup>2</sup>x</span>
                </div>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-20(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21</span>

                If f'(x)= 4x<sup>3</sup>-6 and f(0)= 3 , Find f(x)


                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-21-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.2-21-2.jpg" alt="">
        </div>
    </div>
</div>