<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.14</h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(x<sup>2</sup>+8x+4)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img1(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(x<sup>2</sup>+2x+5)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(x<sup>2</sup>+4x+6)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img2(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img2(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(5-2x+x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img2(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(3-2x-x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img3(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(1+3x-x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(1-4x-x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img4(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img4(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                (x+3)&radic;(3-4x-x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img5(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img5(i)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img5(i)3.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                (2x+3)&radic;(4x<sup>2</sup>+5x+6)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img5(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img5(ii)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.14img/img5(ii)3.jpg"
                alt="">
        </div>
    </div>

</div>