<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.11 </h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                x.e<sup>x</sup>dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img1(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                x.sinx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                x.sec<sup>2</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img2(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                x.sin3x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img2(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                x.e<sup>2x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img3(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                x.cos2x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                x.sec<sup>2</sup>x.tanx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img4(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integration">&#8747;</span>
                (e<sup>logx</sup>+sinx)cosx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                x.logx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img5(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                x.log2x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>.logx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img6(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integration">&#8747;</span>
                logx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img6(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integration">&#8747;</span>
                (x<sup>2</sup>+1)logx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img7(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>log(1+x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img7(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integration">&#8747;</span>
                tan<sup>-1</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img8(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integration">&#8747;</span>
                cos<sup>-1</sup>(1/x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img8(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q9(i)</span>
                <span class="integration">&#8747;</span>
                x<sup>3</sup>tan<sup>-1</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img9(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q9(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>sin<sup>-1</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img9(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q10(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(1-x)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img10(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q10(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>.e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img10(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q11(i)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>.e<sup>3x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img11(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q11(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>.cosx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img11(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                <span class="integration">&#8747;</span>
                (logx)<sup>2</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img12(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>3</sup>sin(x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img12(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q13(i)</span>
                <span class="integration">&#8747;</span>
                2x<sup>3</sup>e<sup>x<sup>2</sup></sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img13(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q13(ii)</span>
                <span class="integration">&#8747;</span>
                cos&radic;x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img13(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q14(i)</span>
                <span class="integration">&#8747;</span>
                tan<sup>-1</sup>&radic;x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img14(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q14(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>3</sup>tan<sup>-1</sup>(x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img14(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q15(i)</span>
                <span class="integration">&#8747;</span>
                sin<sup>3</sup>&radic;x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img15(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q15(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        xcos<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(1-x<sup>2</sup>)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img15(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q16(i)</span>
                <span class="integration">&#8747;</span>
                sin<sup>-1</sup>(3x-4x<sup>3</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img16(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q16(ii)</span>
                <span class="integration">&#8747;</span>
                tan<sup>-1</sup>
                (<div class="frac">
                    <span>
                        3x-x<sup>3</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-3x<sup>3</sup></span>
                </div>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img16(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q17(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1-x<sup>2</sup>)<sup>3/2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img17(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q17(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>tan<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img17(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q18(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>sinx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img18(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q18(ii)</span>
                <span class="integration">&#8747;</span>
                e<sup>2x</sup>sinx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img18(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q19(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>ax</sup>sinbx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img19(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q19(ii)</span>
                <span class="integration">&#8747;</span>
                e<sup>ax</sup>cos(bx+c)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img19(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q20(i)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>.e<sup>x<sup>3</sup></sup>cosx<sup>3</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img20(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q20(ii)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>sin<sup>2</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img20(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q21(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>mtan<sup>-1</sup>x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1+x<sup>2</sup>)<sup>3/2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img21-1(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img21-2(i).jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q21(ii)</span>
                <span class="integration">&#8747;</span>
                cosec<sup>3</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img21(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q22(i)</span>
                <span class="integration">&#8747;</span>
                cos(log x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img22(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q22(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.11img/img22(ii).jpg"
                alt="">
        </div>
    </div>



</div>