<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.13</h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(4-x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img1(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(x<sup>2</sup>-9)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(1+x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img2(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img2(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(1-4x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img2(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                &radic;(4x<sup>2</sup>-9)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img3(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img3(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(4-9x<sup>2</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(x<sup>2</sup>+6)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img4(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img4(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x-&radic;(x<sup>2</sup>-1)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>+3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(x<sup>2</sup>-25)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img5(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img5(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                (x+3)
                <span>&radic;</span>
                (<div class="frac">
                    <span>
                        x+2
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x-2</span>
                </div>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integration">&#8747;</span>
                x &radic;(x<sup>4</sup>-1)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img6(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        &radic; 9-(logx)<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img6(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integration">&#8747;</span>
                sinx cosx&radic;(sin<sup>4</sup>x+4)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img7(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        logx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x </span>
                </div>
                &radic;((logx)<sup>4</sup>-1)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img7(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integration">&#8747;</span>
                x cos<sup>-1</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img8(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img8(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integration">&#8747;</span>
                cos<sup>-1</sup>&radic;x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img8(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.13img/img8(ii)2.jpg"
                alt="">

        </div>
    </div>

</div>