<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.12</h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(sinx +cosx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img1(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(tanx+sec<sup>2</sup>x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(logx+1/x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img2(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img2(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(cotx-cosec<sup>2</sup>x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img2(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(x<sup>2</sup>+2x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img3(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img3(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                (x+1)e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(sin<sup>-1</sup>x+
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(1-x<sup>2</sup>)</span>
                </div>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img4(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integration">&#8747;</span>
                (xcosx+sinx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(tanx+1)secx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img5(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                (<div class="frac">
                    <span>
                        x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup></span>
                </div>)e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(tanx+logsecx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img6(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        2x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">4x<sup>2</sup></span>
                </div> e<sup>2x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img6(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img6(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx.cosx-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sin<sup>2</sup>x</span>
                </div> e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img7(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(cotx+logsinx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img7(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img7(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        xe<sup>x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img8(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)<sup>3</sup></span>
                </div>
                e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img8(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img8(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q9(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x-3
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)<sup>3</sup></span>
                </div>
                e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img9(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q9(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x e<sup>2x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1+2x)<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img9(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img9(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q10(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1+sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cosx</span>
                </div>
                e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img10(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q10(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        2+sin2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cos2x</span>
                </div>
                e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img10(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q11(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin4x-4
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-cos4x</span>
                </div>
                e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img11(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q11(ii)</span>
                <span class="integration">&#8747;</span>
                (cosx+3sinx)
                e<sup>3x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img11(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img11(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                <span class="integration">&#8747;</span>
                (1+logx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img12(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                <span class="integration">&#8747;</span>
                sin(logx)+cos(logx)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.12img/img12(ii).jpg"
                alt="">
        </div>
    </div>


</div>