<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.4 </h1>
<div class="container mt-5">
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                x<sup>3</sup>(1+x<sup>4</sup>)<sup>3</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img1(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                (2x+4)&radic;(x<sup>2</sup>+4x+3)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img1(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                x(x<sup>2</sup>+3)<sup>3/2</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img2(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        4x+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;2x<sup>2</sup>+x-7</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img2(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        3x+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(3x<sup>2</sup>+2x-5)<sup>3</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img3(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                (4x+2)&radic;x<sup>2</sup>+x-3
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/class12integration8.4img/img3(ii).jpg" alt="">
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/class12integration8.4img/img3(ii)2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>(a+be<sup>x</sup>)<sup>6</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img4(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        (logx)<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        &radic;3+logx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img5(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        3(x+1)(x+logx)<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        tan<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img6(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        (sin<sup>-1</sup>2x)<sup>3</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;1-4x<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img6(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integration">&#8747;</span>
                sinxcos<sup>5</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img7(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integration">&#8747;</span>
                cos<sup>3</sup>(ax+b)sin(ax+b)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img7(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integration">&#8747;</span>
                sec<sup>3</sup>xtanx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img8(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integration">&#8747;</span>
                cot<sup>3</sup>x cosec<sup>2</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img8(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9(i)</span>
                <span class="integration">&#8747;</span>
                &radic;tanx(1+tan<sup>2</sup>x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img9(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img9(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cotx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;sinx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img10(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img10(i)2.jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        tanx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img10(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;3+2cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img11(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1+sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x-cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img11(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1+cosx)<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img12(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        (3tan<sup>2</sup>x+2)sec<sup>2</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(tan<sup>3</sup>x+2tanx+5)<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/class12integration8.4img/img12(ii).jpg" alt="">
            <img class="img-fluid" width="1200"
                src="class12ISCchap/maths/integrationimg/class12integration8.4img/img12(ii)2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(i)</span>
                <span class="integration">&#8747;</span>
                (e<sup>3x</sup>+1)<sup>2</sup>e<sup>x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img13(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>4x</sup> </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1+e<sup>4x</sup>)<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img13(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(i)</span>
                <span class="integration">&#8747;</span>
                tan<sup>4</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img14(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(ii)</span>
                <span class="integration">&#8747;</span>
                cot<sup>4</sup>x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img14(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1+tanx </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x+log secx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img15(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1+sin2x </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x+sin<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img15(ii).jpg"
                alt="">
        </div>
    </div>



    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        tanx.sec<sup>2</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-tan<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img16(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>5</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x <sup>6</sup> </span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img16(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        2cosx-3sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">6cosx+4sinx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img17(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin2x-sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sin <sup>2</sup>x+cosx+7</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img17(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x+tanx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x <sup>2</sup>-2logcosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img18(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">xlogx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img18(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q19(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        2x<sup>2</sup>-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x(x<sup>2</sup>-logx )</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img19(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q19(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>2x</sup>+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">e<sup>2x</sup>-1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img19(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+e<sup>-x</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img20(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        tanx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">a+btan<sup>2</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img20(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1-cotx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cotx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img21(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1-cotx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cotx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.4img/img21(ii).jpg"
                alt="">
        </div>
    </div>


</div>