<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .over {
        text-decoration: overline;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">CLASS 12 Integration QUESTIONS 8.3</h1>
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="inte">&#8747;</span>
                sin2x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-1(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="inte">&#8747;</span>
                cos3x
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-1(ii)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-1(ii)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="inte">&#8747;</span>
                sin mx
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-2(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="inte">&#8747;</span>
                e<sup>2x</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-2(ii)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-2(ii)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="inte">&#8747;</span>
                (ax+b)<sup>3</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-3(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="inte">&#8747;</span>
                4 e<sup>3x</sup>+1
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-3(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(7-2x)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-4(i)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-4(i)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="inte">&#8747;</span>
                &radic; <span>(ax+b)</span>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-4(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="inte">&#8747;</span>
                tan<sup>2</sup> (2x-3)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-5(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="inte">&#8747;</span>
                5 cosec<sup>2</sup> (2-7x)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-5(ii)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-5(ii)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="inte">&#8747;</span>
                &radic; <span>e<sup>x</sup></span>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-6(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="inte">&#8747;</span>
                cosec (3x+2)cot (3x+2)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-6(ii)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-6(ii)-2.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="inte">&#8747;</span>
                e<sup>2x+3</sup>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-7(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="inte">&#8747;</span>
                ( e<sup>3a logx</sup> + e<sup>3x loga</sup>)
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-7(ii)-1.jpg" alt="">
            <img class="img-fluid" width="800px"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/8.3-7(ii)-2.jpg" alt="">
        </div>
    </div>
</div>