<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .inte {
        font-size: 30px;
    }

    .frac span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
<h1 class="text-center text-danger mt-3">CLASS 12 Integration QUESTIONS 8.9</h1>
<div class="container mt-2">

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">2+cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/1(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">5+4cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/1(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+2cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/2(i).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">4cosx-1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/2(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">4+5sinx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" width="900"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/3(i).jpg" alt="">
            <img class="img-fluid" width="900"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/3(i)-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-sinx+cosx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/integration-exerciseimg/3(ii).jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-tanx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" width="900"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/4(i).jpg" alt="">
            <img class="img-fluid" width="900"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/4(i)-1.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="inte">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cotx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" width="900"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/4(ii).jpg" alt="">
            <img class="img-fluid" width="900"
                src="class12ISCchap/maths/integrationimg/integration-exerciseimg/4(ii)-1.jpg" alt="">
        </div>
    </div>
</div>