<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.10 </h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)(x+2)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img1(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)(x+2)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)(x-2)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img2(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup>-5x+6</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img2(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img2(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>3</sup>+x+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup>-1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img3(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1-x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x(1-2x)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)(x-2)(x-3)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img4(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        3x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)(x-2)(x-3)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        5x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)(x<sup>2</sup>-4)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img5(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)<sup>2</sup>(x+2)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        3x-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-2)<sup>2</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img6(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        3x+5
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>3</sup>-x<sup>2</sup>-x+1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img6(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img6(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)(x<sup>2</sup>+1)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img7(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>+x+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+2)(x<sup>2</sup>+1)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img7(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        2
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1-x)(1+x<sup>2</sup>)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img8(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img8(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        5x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)(x<sup>2</sup>+9)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img8(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q9(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>+x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>3</sup>-x<sup>2</sup>+x-1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img9(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q9(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>3</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x-1)(x<sup>2</sup>+1)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img9(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q10(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-x<sup>3</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img10(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img10(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q10(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x+1)<sup>2</sup>(x<sup>2</sup>+1)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img10(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img10(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q11(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x<sup>2</sup>+1)(x<sup>2</sup>+3)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img11(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q11(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1+x<sup>3</sup>)(2+x<sup>3</sup>)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img11(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x(x<sup>4</sup>-1)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img12(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img12(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x(x<sup>2</sup>+1)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img12(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q13(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x(x<sup>n</sup>+1)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img13(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q13(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x(x<sup>3</sup>+8)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img13(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q14(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1+e<sup>x</sup>)(2+e<sup>x</sup>)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img14(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q14(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">e<sup>2x</sup>+1</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img14(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q15(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cosx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1-sinx)(3-sinx)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img15(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q15(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(1-cos2x)(2-cos2x)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img15(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img15(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q16(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sec<sup>2</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(2+tanx)(3+tanx)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img16(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q16(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sinx(3+2cosx)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img16(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img16(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q17(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x<sup>2</sup>+1)(x<sup>2</sup>+4)</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img17(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q17(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x<sup>2</sup>+1)(x<sup>2</sup>+4)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img17(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q18(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x<sup>2</sup>+4)(x<sup>2</sup>+25)</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img18(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q18(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>-x<sup>2</sup>-12</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img18(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q19(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>-1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img19(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q19(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1-x<sup>4</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img19(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q20(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        &radic;cosx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sinx</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img20(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img20(i)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q20(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sin4x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img20(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img20(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q21(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1+x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>4</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img21(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q21(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1-x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>4</sup></span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img21(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img21(ii)2.jpg"
                alt="">

        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q22(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>-1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>+x<sup>2</sup>+1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img22(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q22(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>+4
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>+x<sup>2</sup>+16</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img22(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q23(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>+1</span>
                </div>
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img23(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img23(i)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img23(i)3.jpg"
                alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q23(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>+1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img23(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img23(ii)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img23(ii)3.jpg"
                alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q24(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>+x<sup>2</sup>+1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img24(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img24(i)2.jpg"
                alt="">

        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q24(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>-3x+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup>-x<sup>2</sup>+1</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img24(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img24(ii)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img24(ii)3.jpg"
                alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q25(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx+cosx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sin<sup>2</sup>x+cos<sup>4</sup>x</span>
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(i).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(i)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(i)3.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(i)4.jpg"
                alt="">


        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h4 class="text-danger"><span class="fw-bold"> Q25(ii)</span>
                <span class="integration">&#8747;</span>
                &radic;(cotx) dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h4>


            <h4><span class="text-success">Solution </span></h4>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(ii).jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(ii)2.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(ii)3.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(ii)4.jpg"
                alt="">
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.10img/img25(ii)5.jpg"
                alt="">



        </div>
    </div>
</div>