<style>
    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }

    .integration {
        font-size: 40px;
    }
</style>


<!-- header -->


<h1 class="text-center text-danger">CLASS 12 Integration QUESTIONS 8.5 </h1>
<div class="container mt-5">




    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(i)</span>
                <span class="integration">&#8747;</span>
                2xsin(x<sup>2</sup>+1)dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img1(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q1(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>3</sup>cos(x<sup>4</sup>)dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img1(ii).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cos&radic;x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img2(i).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin&radic;x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img2(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(iii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sec<sup>2</sup>&radic;x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img2(iii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q2(iv)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cosec<sup>2</sup>&radic;x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x
                </div>
                dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img2(iv).jpg"
                alt="">
        </div>
    </div>

    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(i)</span>
                <span class="integration">&#8747;</span>
                sinx . e<sup>cosx</sup>dx
                <!-- tanx.sec<sup>2</sup>x/<sub>1-tan<sup>2</sup>x</sub> dx -->
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img3(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q3(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>2x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+e<sup>x</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img3(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(i)</span>
                <span class="integration">&#8747;</span>
                sinx sin(cosx)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img4(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q4(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>3</sup>sec<sup>2</sup>(x<sup>4</sup>+3)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img4(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup>
                </div>
                tan<sup>2</sup>
                (<div class="frac">
                    <span>
                        1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x
                </div>)
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img5(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q5(ii)</span>
                <span class="integration">&#8747;</span>
                2x sec<sup>3</sup>(x<sup>2</sup>+5)tan(x<sup>2</sup>+5) dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img5(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(i)</span>
                <span class="integration">&#8747;</span>
                2x sec<sup>3</sup>(x<sup>2</sup>+5)tan(x<sup>2</sup>+5) dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img6(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q6(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cosec<sup>2</sup>(log x)
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img6(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>tan<sup>-1</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>2</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img7(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q7(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin(2tan<sup>-1</sup>x)
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>2</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img7(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>-1/x</sup>+1
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>2</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img8(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q8(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        e<sup>mtan<sup>-1</sup>x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>2</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img8(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9(i)</span>
                <span class="integration">&#8747;</span>
                e<sup>x</sup>cosec<sup>2</sup>(e<sup>x</sup>)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img9(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q9(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        (x+1)e<sup>x</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">cot<sup>2</sup>(xe<sup>x</sup>)
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img9(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10(i)</span>
                <span class="integration">&#8747;</span>
                x<sup>2</sup>e<sup>x<sup>3</sup></sup>sin(e<sup>x<sup>3</sup></sup>)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img10(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q10(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin<sup>2</sup>(log x)
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img10(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11(i)</span>
                <span class="integration">&#8747;</span>
                xsin<sup>3</sup>(x<sup>2</sup>)cos(x<sup>2</sup>)dx

            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img11(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q11(ii)</span>
                <span class="integration">&#8747;</span>
                tan<sup>3</sup> 2x sec2x dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img11(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(i)</span>
                <span class="integration">&#8747;</span>
                sin<sup>3</sup>(2x+1)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img12(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q12(ii)</span>
                <span class="integration">&#8747;</span>
                sin<sup>3</sup>x cos<sup>2</sup>x dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img12(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(i)</span>
                <span class="integration">&#8747;</span>
                sin<sup>7</sup>x dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img13(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q13(ii)</span>
                <span class="integration">&#8747;</span>
                sin x cot<sup>3</sup>x dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img13(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cos<sup>3</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;sinx</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img14(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q14(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sinx cos<sup>3</sup>x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+cos<sup>2</sup>x
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img14(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(i)</span>
                <span class="integration">&#8747;</span>
                cosecx log(cosecx-cotx)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img15(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q15(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        log(tan x/2)
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">sinx</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img15(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(i)</span>
                <span class="integration">&#8747;</span>
                sec<sup>4</sup>x dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img16(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q16(ii)</span>
                <span class="integration">&#8747;</span>
                tan<sup>2</sup>x sec<sup>4</sup>x dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img16(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        tan<sup>5</sup>&radic;x . sec<sup>2</sup>&radic;x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img17(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q17(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        cosx-sinx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;1+sin2x</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img17(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;x+4</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img18(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q18(ii)</span>
                <span class="integration">&#8747;</span>
                x &radic;x+2 dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img18(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q19(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(x<sup>2</sup>+1)<sup>2</sup></sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img19(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q19(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(4+x)<sup>3/2</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img19(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20(i)</span>
                <span class="integration">&#8747;</span>
                4x<sup>3</sup>&radic;(5-x<sup>2</sup>)dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img20(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q20(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x-&radic;x
                </div>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img20(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+&radic;x
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img21(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q21(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>1/2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>3/4</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img21(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q22(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        x<sup>1/2</sup>
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">1+x<sup>3/4</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img22(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q22(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        dx
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">&radic;(1+&radic;x)
                </div>
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img22(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q23(i)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        sin 2x
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">(a<sup>2</sup>+b<sup>2</sup>sin<sup>2</sup>x)<sup>2</sup>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img23(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q23(ii)</span>
                <span class="integration">&#8747;</span>
                <div class="frac">
                    <span>
                        &radic;(1+x<sup>2</sup>)
                    </span>
                    <span class="symbol">/</span>
                    <span class="bottom">x<sup>4</sup></span>
                </div>
                dx
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img23(ii).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q24(i)</span>
                <span class="integration">&#8747;</span>
                x e<sup>kx<sup>2</sup></sup>dx=1/4 e<sup>2x<sup>2</sup></sup>+C
                ,k=?(Let 1/4 e<sup>2x<sup>2</sup></sup> be eq(1))
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img24(i).jpg"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="col border border-1 mt-3">
            <h5 class="text-danger"><span class="fw-bold"> Q24(ii)</span>
                <span class="integration">&#8747;</span>
                x<sup>6</sup> sin(5x<sup>7</sup>)dx=k/5 cos(5x<sup>7</sup>)+C
            </h5>


            <h5><span class="text-success">Solution </span></h5>
            <img class="img-fluid" src="class12ISCchap/maths/integrationimg/class12integration8.5img/img24(ii).jpg"
                alt="">
        </div>
    </div>
</div>