<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 75% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  SOLUTIONS CLASS 12 2.8 EXERCISE

</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 2.87</span>
        Assuming complete dissociation, calculate the expected
        freezing point of a solution prepared by dissolving 6.00 g of
        Glauber's salt, Na<sub>2</sub>SO<sub>4</sub>.10H<sub>2</sub>0 in 0.100 kg of water. (Given :
        K<sub>f</sub> for water = 1.86 K kg mol<sup>-1</sup> Atomic masses : Na = 23
        S = 32, O= 16, H=1 amu)
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-87.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-87-1.jpg" alt="" />


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 2.88</span>
        The freezing point depression of 0.1 molal solution of acetic
        acid in benzene is 0.25 K. K<sub>f</sub> for benzene is 5.12 K kg mol<sup>-1</sup>,
        What conclusion can you draw about the molecular state of
        acetic acid in benzene?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-88.jpg" alt="" />

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.89</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        2.0 g of benzoic acid dissolved in 25.0 g of benzene shows a
        depression in freezing point equal to 1.62 K. Molal depression
        constant (K<sub>f</sub>) of benzene is 4.9 K kg mol<sup>-1</sup>. What is the
        percentage association of the acid ?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-89.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-89-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-89-2.jpg" alt="" />

      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.90</span>
        Calculate the van't Hoff factor of CdSO<sub>4</sub> (molecular mass =
        208.4) if the dissociation of 5.21 g of CdSO<sub>4</sub>, in half litre water
        gives a Eepressiontl in freezing point of 0.168 °C (K<sub>f</sub> of water is
        1.86 K kg mol<sup>-1</sup>).
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-90.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-90-1.jpg" alt="" />





    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.91</span>
        Calculate the boiling point of a solution containing 0.61 g
        of benzoic acid in 50 g of carbon-disulphide assuming 84%
        dimerisation of the acid. the boiling point and K<sub>b</sub> of CS<sub>2</sub> are
        46.2°C and 2.3 K kg mol<sup>-1</sup> respectively.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-91.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-91-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-91-2.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.92</span>
        A decimolar solution of potassium ferrocyanide is 50%
        dissociated at 300K. Calculate the osmotic pressure of the solution. Given R = 8.314J K<sup>-1</sup>
        mol<sup>-1</sup>
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-92.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.93</span>
        Why do we get abnormal molecular masses of the substances
        using colligative properties of solutions only sometimes?
        What are the nature of these abnormalities?
        A solution contains 0.8960 g K<sub>2</sub>SO<sub>4</sub> in 500 mL solution. Its osmotic pressure is found to be
        0.690 atm at 27°C. Calculate the value of van't Hoff factor.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-93.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-93-1.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.94</span>
        The freezing point of a solution containing 0.3 g of acetic acid in 30.0 g of benzene is lowered by 0.45° C.
        Calculate the van't Hoff factor. (K<sub>f</sub> for benzene = 5.12 K kg mol<sup>-1</sup>).
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-94.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-94-1.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.95</span>
        An aqueous solution containing 1.248 g of barium chloride (molar mass = 208.34 g mo1-1) in 100 g of water boils
        at 100.0832°C. Calculate the degree of dissociation of barium chloride. (K<sub>b</sub> for water = 0.52 K kg
        mo1)
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-95.jpg" alt="" />
      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-95-1.jpg" alt="" />


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.96</span>
        What is meant by van’t Hoff factor? The osmotic pressure
        of a 0.0103 molar solution of an electrolyte is found
        to be 0.70 atm at 27°C. Calculate the van’t Hoff. factor.
        (R = 0.082 L atm mol<sup>-1</sup> K<sup>-1</sup>). What conclusion do you draw
        about the molecular state of the solute in the solution?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-96.jpg" alt="" />





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.97</span>
        Give an example of a solution containing a solid solute in a
        solid solvent.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        Brass is an example of solution containing solid solute in a solid solvent.


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.98</span>
        2 g of C<sub>6</sub>H<sub>5</sub>COOH dissolved in 25 g of benzene shows a
        depression i in freezing point equal to 1.62K . Molal depression
        constant for benzene is 4.9 K kg mol<sup>-1</sup> . What is the percentage
        association of acid if it exists as dimers in solution?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-98.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-98-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-98-2.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold">2.99 </span>
        Why is that the elevation in boiling point of water is not same in the following solutions?<br> 0.1 molar NaCl
        solution and 0.1 molar sugar solution
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-99.jpg" alt="" />





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.100</span>
        What would be the value of van’t Hoff factor for a dilute
        solution of K<sub>2</sub>SO<sub>4</sub>, in water?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-8/2-100.jpg" alt="" />




      </h5>
    </div>
  </div>






</div>