<style>
  .col {
    background-image: url('img/textwater.png');
  }

  .img-fluid {
    max-width: 75% !important;
  }

  @media screen and (max-width: 768px) {

    .img-fluid {
      max-width: 100% !important;
    }
  }
</style>
<h1 class="text-center text-danger mt-3">
  SOLUTIONS CLASS 12 2.7 EXERCISE

</h1>
<div class="container mt-2">
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 2.47</span>
        What is the molal elevation constant, K<sub>b</sub>? How is it related to
        the molality of a solution?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-47.jpg" alt="" />


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger"><span class="fw-bold"> 2.48</span>
        The outer shells of two eggs are removed. One of the eggs
        is placed in pure water and the other is placed in saturated
        solution of sodium chloride. What will be observed and why?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        After a few hours we will observe that the egg placed in water swells and that were in salt solutions shrinks
        the salt concentration inside the egg is higher than water but less than saturated NaCl solution <br>The pure
        water is hypertonic solution with respect to egg and the saturated solution of NaCl hypertonic for the same

      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.49</span>
        <span class="integrate"></span>

        <!-- <div class="frac">
                          <span>
                              2cosx
                          </span>
                          <span class="symbol">/</span>
                          <span class="bottom">3sin<sup>2</sup>x</span>
                      </div> -->
        Define osmotic pressure. How does it depend on temperature
        and atmospheric pressure?

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        The additional pressure gets exhausted on the solution due to the osmosis of pure solvent into it through a
        semipermeable membrane
        <br>-> Osmotic pressure always increase with the rise in temperature because according to Vant hoff
        equation<br>-> Osmotic pressure increase with the increase in atmospheric temperature .

      </h5>
    </div>
  </div>


  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.50</span>
        Show that the relative lowering of vapour pressure is a
        colligative property.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-50.jpg" alt="" />





    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.51</span>
        Why is the osmotic pressure considered to be a colligative
        property?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <b>&pi;V = nRT</b><br> => (osmotic pressure = &pi;)
        <br>Since the value of osmotic pressure of a solution act on given temperature is directly proportional to the
        number of moles of the solute so it is collegative property



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.52</span>
        A solution containing 34.2 g of sugar dissolved in 1 litre of
        water has an osmotic pressure of 2.522 atmospheres at 20°C.
        Calculate the value of gas constant, R.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-52.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.53</span>
        The vapour pressure of a dilute aqueous solution of a nonvolatile solute (molar mass 180 g mol<sup>-1</sup>?) at
        373 K is 750 mm
        Hg. Calculate <br>(i) molality <br>(ii) mole fraction of solute.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-53.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-53-1.jpg" alt="" />





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.54</span>
        The vapour pressure of pure benzene at a certain temperature
        is 640 mm Hg. A non-volatile solute weighing 2.175 g is
        added to 39.0 g of benzene. The vapour pressure of solution
        is 600 mm Hg. What is the molar mass of the solute?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5 class="text-dark">

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-54.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.55</span>
        What weight of glucose (mol. wt. = 180) should be added to
        1700 g of water at 20°C to lower its vapour pressure by 0.001
        mm? The vapour pressure of water at 20°C is 17 mm Hg.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-55.jpg" alt="" />


    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.56</span>
        A current of dry air was passed through a solution of 2.5 g
        of a non-volatile solute in 100 g of water and through water
        alone. The loss in the weight of solution was 1.25 g and that
        of water was 0.005 g. Calculate the molecular mass of the
        solute.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-56.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-56-1.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.57</span>
        The molal elevation constant for water is 0.56°C per kg
        of water. Calculate the boiling point of solution made by
        dissolving 6 g of urea in 200 g of water.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-57.jpg" alt="" />


      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.58</span>
        An aqueous solution of glucose boils at 100.02°C. What is the
        number of glucose molecules in the solution containing 100
        g of water ? What will be the osmotic pressure of this glucose
        solution at 27°C?
        (Given : K<sup>b</sup> for water = 0.5 K kg mol<sup>-1</sup>, R = 0.0821 L atm<sup>-1</sup>
        mol<sup>-1</sup>, Avogadro’s constant, N<sub>A</sub> = 6.02 x 10<sup>23</sup> mol<sup>-1</sup>)

      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-58.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-58-1.jpg" alt="" />

      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold">2.59 </span>
        An aqueous solution freezes at 272.4 K, while pure water
        freezes at 272.0 K. Determine<br>
        (i) the molality of the solution <br>(ii) boiling point of the solution <br>(iii) lowering of vapour pressure of
        water at 298 K.<br>
        (Given, K<sub>f</sub> = 1.86 K kg mol<sup>-1</sup> ?, K<sub>b</sub> = 0.512 K kg mol<sup>-1</sup> and vapour
        pressure of water at 298 K = 22.756 mm Hg).
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-59.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-59-1.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.60</span>
        A solution of sucrose has been prepared by dissolving 68.4 g of sucrose in 1 kg of water. Calculate the
        following: <br>(i) The vapour pressure of the solution at 298 K.
        <br> (ii) Osmotic pressure of the solution at 298 K.
        <br> (iii) Freezing point of the solution.
        <br>(Given : Vapour pressure of water at 298 K = 0.024 atm, K<sub>f</sub> for : water = 1.86 K kg
        mol<sup>-1</sup>, R = 0.0821 L atm mol<sup>-1</sup> K<sup>-1</sup>)
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-60.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-60-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-60-2.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-60-3.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.61</span>
        A solution containing 0.513 g of naphthalene (molar mass
        = 128) in 50 g of CCl<sub>4</sub> gives a boiling point elevation of
        0.402°C, while a solution of 0.625 g of an unknown solute
        gives a boiling point elevation of 0.650°C. Find the molecular
        mass of the unknown solute.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-61.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-61-1.jpg" alt="" />


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.62</span>
        A solution of 2.95 g of sulphur in 100 g of cyclohexane
        had a freezing point of 4.18°C. The freezing point of pure
        cyclohexane is 6.50°C. What is the molecular formula of
        sulphur in the solution?
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-62.jpg" alt="" />
      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-62-1.jpg" alt="" />

      <h5>


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.63</span>
        Find the molality of a water solution which freezes at 262.15 K (K<sub>f</sub> of water = 1.86 K kg
        mol<sup>-1</sup>),
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-63.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.64</span>
        In a cold climate, water gets frozen causing damage to the car radiators. Ethylene glycol is used as an
        antifreeze. Calculate the amount of ethylene glycol to be added to 4 kg of water to
        prevent it from freezing at -6°C. (K<sub>f</sub> for water= 1.85 K kg mol<sup>-1</sup>)
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-64.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.65</span>
        The molal freezing point constant of benzene is 4.90 and its
        melting point is 5.51°C. A solution of 0.816 g of a compound A when dissolved in 7.5 g of benzene freezes at
        1.59°C.
        Determine the molecular weight of A.


      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-65.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.66</span>
        The latent heat of fusion of benzene is 30.25 cal/g. 0.0802 g of a substance when dissolved in 12.03 g of
        benzene lower
        the freezing point by 0.490°C. If pure benzene freezes at
        5.4°C, calculate the molecular mass of the substance.
      </h5>

      <h5><span class="text-success">Solution </span></h5>
      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-66.jpg" alt="" />
      <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-66-1.jpg" alt="" />
      <h5>


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.67</span>
        Calculate the concentration of a solution of glucose which
        is isotonic at the same temperature with a solution of urea
        containing 6.2 g/L.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-67.jpg" alt="" />





      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.68</span>
        Osmotic pressure of a solution containing 7.0 g of protein
        in 100 mL of solution is 20 mm Hg at 37°C. Calculate the
        molecular mass of the protein (R = 0.0821 L atm K<sup>-1</sup> mol<sup>-1</sup>).
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>

        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-68.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-68-1.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.69</span>
        Calculate the freezing point of an aqueous solution of a nonelectrolyte having osmotic pressure of 2.0 atm at
        300 K. (Ke=
        1.86 K kg mol<sup>-1</sup>, R = 0.0821L atm K<sup>-1</sup> mol<sup>-1</sup>).
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-69.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-69-1.jpg" alt="" />


      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.70</span>
        A solution of sucrose (mol. wt. 342) is prepared by dissolving
        68.4 g of its per litre of ae What asthe osmotic pressure
        at 300 K? (R = 8.314 k Pa dm<sup>3</sup> K<sup>-1</sup> mol<sup>-1</sup>).
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-70.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-70-1.jpg" alt="" />



      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.71</span>
        The osmotic pressure of blood at 37°C is 8.21 atm. How much
        glucose should be used per litre for an intravenous injection
        so that it is isotonic with blood?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-71.jpg" alt="" />




      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.72</span>
        The vapour pressure of a solution of urea is 736.2 mm at
        100°C. Calculate the osmotic pressure of this solution at 15°C.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-72.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.73</span>
        The boiling point of a glucose solution containing 12 g of
        glucose in 100 g of water is 100.34°C. Calculate the Molal
        elevation constant of water. Boiling point of watez is 100°C,
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-73.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-73-1.jpg" alt="" />







      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.74</span>
        An aqueous solution of glucose is made by dissolving 10 g of
        glucose (C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>) in 90 g of water at 303K. If the vapoy;
        pressure of pure water at 303 K be 32.8 mm Hg, what would
        be the vapour pressure of the solution?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-74.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-74-1.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.75</span>
        How much urea (mol. mass = 60 g mol<sup>-1</sup>) should be
        dissolved in 50 g of water so that its vapour pressure at room
        temperature is reduced by 25%?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-75.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-75-1.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.76</span>
        How is the relative lowering of vapour pressure defined for
        a solution consisting of a volatile solvent and a non-volatile
        solute? How is this function related to the mole fractions of
        the solvent and of the solute?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-76.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.77</span>
        In a solution of urea, 2.0 g of it are dissolved in 100 mL of
        water. What will be the freezing point of this solution? State
        the approximation made, if any.<br>
        (K<sub>f</sub> for water =1.86 K kg mol<sup>-1</sup>)
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-77.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.78</span>
        0.90 g of a non-electrolyte was dissolved in 87.90 g of
        benzene. This raised the boiling point of benzene by 0.25°C,
        If the molecular mass of the non-electrolyte is 102.0 g mol<sup>-1</sup>,
        calculate the molal elevation constant for benzene.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-78.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-78-1.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.79</span>
        How is it that the boiling point of the following solutions in
        water are different :
        <br> (a) 0.1 M NaCl sodution
        <br> (b) 0.1 M sugar solution?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-79.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.80</span>
        Two elements A and B form compounds having molecular
        formulae AB<sub>2</sub> and AB<sub>4</sub>. When dissolved in 20 g of benzene,
        1 g of AB<sub>2</sub>, lowers the freezing point by 2.3 K, whereas 1g
        of AB<sub>4</sub>, lowers it by 1.3 K. The molal depression constant for
        benzene is 5.1 K kg mol<sup>-1</sup>. Calculate the atomic masses of A and B.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-80.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-80-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-80-2.jpg" alt="" />






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.81</span>
        Mention a large scale use of the phenomenon called ‘reverse
        osmosis’.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>

        -> This process can be used to effectively remove many types of dissolved and suspended chemical particles as
        well as biological entities like bacteria from the water.<br>-> This technique has a wide application in
        treating liquid waste discharge.<br>-> It helps in the desalinating seawater






      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.82</span>
        What happens when blood cells are placed in pure water?
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        The blood cells will swell in pure water endosmosis will take place







      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col border border-1 mt-3">
      <h5 class="text-danger">
        <span class="fw-bold"> 2.83</span>
        A solution is made by dissolving 30 g of a non-volatile solute
        in 90 g of water. It has a vapour pressure of 2.8 kPa at 298K.
        At 298K, vapour pressure of pure water is 2.64 kPa. Calculate
        the molar mass of the solute.
      </h5>

      <h5><span class="text-success">Solution </span></h5>

      <h5>
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-83.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-83-1.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-83-2.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-83-3.jpg" alt="" />
        <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-83-4.jpg" alt="" />






      </h5>
    </div>
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger">
          <span class="fw-bold"> 2.84</span>
          Define osmotic pressure.
        </h5>

        <h5><span class="text-success">Solution </span></h5>

        <h5>


          The pressure that would have to be applied to a pure solvent to prevent it from passing into a given solution
          by osmosis often used to express the concentration of the solution




        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger">
          <span class="fw-bold"> 2.85</span>
          State the condition resulting in reverse osmosis.
        </h5>

        <h5><span class="text-success">Solution </span></h5>


        <h5>


          If the pressure applied on the solution is greater than its osmotic pressure than the direction of osmosis is
          reversed i.e. the solvent starts passing solution to solvent the phenomenon is called reverse osmosis




        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col border border-1 mt-3">
        <h5 class="text-danger">
          <span class="fw-bold"> 2.86</span>
          A 0.1539 molal aqueous solution of cane sugar (mol mass = 342 g mol<sup>-1</sup>) has a freezing point of 271K
          while the freezing point of pure water is 273.15K. What will be the freezing point of an aqueous solution
          containing 5 g of glucose (mol. mass = 180 g mol<sup>-1</sup>) per 100 g of solution?
        </h5>

        <h5><span class="text-success">Solution </span></h5>

        <h5>
          <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-86.jpg" alt="" />
          <img class="img-fluid " src="class12ISCchap/chemistry/solutionsimg/2-7/2-86-1.jpg" alt="" />






        </h5>
      </div>
    </div>
  </div>





</div>