<style>
    .img-fluid {
        width: 72%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Solutions QUESTIONS 2.1</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.1</span>
                    Which of the following units do not vary with change in temperature:
                    <br>
                    <br>
                    molarity, molality, normality, mole fraction?

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    molarity and mole fraction these units do not vary with change in temperature.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.2</span>
                    Calculate the normality and molarity of H<sub>2</sub>SO<sub>4</sub> solution containing 4.9 g of
                    H<sub>2</sub>SO<sub>4</sub> per litre of the solution
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Number of Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">V<sub>solution(L)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    Molar Mass of H<sub>2</sub>SO<sub>4</sub> =98 g/mol
                    <br>
                    Given Mass of H<sub>2</sub>SO<sub>4</sub>=4.9 g
                    <br>
                    <br>
                    <span class="text-danger">
                        Number of moles= <div class="frac">
                            <span>
                                Given Mass
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">Molar Mass</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.2.jpg" alt="" class="img-fluid">
            </div>
            </h4>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.3</span>
                    6 g of NaOH are dissolved in 200 cm<sup>3</sup> of water. What is the relation between molarity and
                    normality of the solution thus
                    obtained?

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.3.jpg" alt="" class="img-fluid">
                <br>
                <br>
                <h4 class="text-dark">
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Number of Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">V<sub>solution(L)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.3-2.jpg" alt="" class="img-fluid">
                    <br>
                    Hence,
                    <br>
                    Molarity and Normality are same
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.4</span>
                    Calculate the mass of the solute in the following solutions :
                    <ol>
                        <li>100 cm<sup>3</sup> of N/10 KOH</li>
                        <li>250 cm<sup>3</sup> of N H<sub>2</sub>SO<sub>4</sub></li>
                        <li>250 cm<sup>3</sup> of 2M HNO<sub>3</sub></li>
                        <li>150 cm<sup>3</sup> of M/2 HCl</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4.jpg" alt="" class="img-fluid">
                <h4 class="text-dark">
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Normality
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">n-factors</span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4-1.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (ii) <u><b class="text-danger">250 cm<sup>3</sup> of N H<sub>2</sub>SO<sub>4</sub></b></u>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4-2.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (iii) <u><b class="text-danger">250 cm<sup>3</sup> of 2M HNO<sub>3</sub></b></u>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4-3.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Number of Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">V<sub>solution(L)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4-4.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    (iv) <u><b class="text-danger">150cm<sup>3</sup> of m/2 HCl</b></u>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4-5.jpg" alt="" class="img-fluid">
                    <br>
                    <br>
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Number of Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">V<sub>solution(L)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.4-6.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.5</span>
                    5.85 g of NaCl are dissolved in 500 cm<sup>3</sup> of water. Calculate the formality of the
                    solution.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.5.jpg" alt="" class="img-fluid">
                <br>
                <br>
                <h4 class="text-dark">
                    <span class="text-danger">
                        Formality= <div class="frac">
                            <span>
                                Number of formulae Mass
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">Volume of Solution(mL)</span>
                        </div>
                        X100
                    </span>
                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.5-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.6</span>
                    Calculate the mole fraction of water in a mixture of 12g of water, 108g of acetic acid and 92g of
                    ethyl alcohol.
                </h4>


                <h4><span class="text-success">Solution </span></h4>

                <h4 class="text-dark">
                    <span class="text-danger">
                        Number of moles of compound= <div class="frac">
                            <span>
                                mass in grams
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">molecular weight</span>
                        </div>
                    </span>

                    <br>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.6.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.6-1.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.7</span>
                    2.46 g of sodium hydroxide (molar mass = 40) are dissolved in water and the solution is made to 100
                    cm<sup>3</sup> in a volumetric flask. Calculate the molarity of the solution
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.7.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.7-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.8</span>
                    Concentrated nitric acid used as a laboratory reagent is usually 69% by mass of nitric acid.
                    Calculate the volume of the solution which contained 23 g of HNO<sub>3</sub>. Density of conc.
                    HNO<sub>3</sub> solution is 1.41 g cm <sup>-3</sup>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.8.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.8-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.9</span>
                    100 cm<sup>3</sup> of a centimolar solution of an acid contain 0.098g of the acid. Find the
                    molecular mass of the acid.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.9.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.9-1.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.10</span>
                    8.0575 x 10<sup>-2</sup> kg of Glauber's salt are dissolved in water to obtain 1 cm<sup>3</sup> of a
                    solution of density 1077.2 kg m<sup>-3</sup>. Calculate the molarity, molality, and mole fraction of
                    Na<sub>2</sub>SO<sub>4</sub> in the solution
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.10.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.10-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.10-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.10-3.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.11</span>
                    A solution contains 410.3 g of H<sub>2</sub>SO<sub>4</sub> per litre of the solution at 20°C. If its
                    density is 1.243 g cm<sup>-3</sup>, what will be its molality and molarity?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.11.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.11-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.12</span>
                    The solubility of Ba(OH)<sub>2</sub>.8H<sub>2</sub>O in water at 288 K is 5.6 g per 100 g of water.
                    What is the molality of the hydroxide ions in the saturated solution of barium hydroxide at 288 K?
                    (Atomic masses : Ba = 137, 0 = 16, H = 1)
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.12.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.12-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.13</span>
                    Calculate the molality of 1 litre solution of 90% H<sub>2</sub>SO<sub>4</sub>
                    (weight/volume). The density of solution is 1.80 g mL<sup>-1</sup>

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.13.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.13-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.14</span>
                    Calculate the number of molecules of oxalic acid
                    (H<sub>2</sub>C<sub>2</sub>O<sub>4</sub>.2H<sub>2</sub>0) in 100 mL of 0.2N oxalic acid solution.

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.14.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.14-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.15</span>
                    150 cm<sup>3</sup> of a decimolar NaOH solution are diluted to 750
                    cm<sup>3</sup>. Find the molarity of the diluted solution

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.15.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.15-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.16</span>
                    One tonne of air contains 2 x 10<sup>-3</sup> g of carbon as smoke.
                    Calculate the concentration of carbon in ppm in air.

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.16.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.16-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.17</span>
                    A sample Of hard water is found to contain 50 mg of CaSO<sub>4</sub> in 12 kg of the sample.
                    Calculate the hardness of the sample in
                    terms of ppm of CaSO4.

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.17.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.17-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.18</span>
                    A 6.90 M solution of KOH in water contains 30% by weight of
                    KOH. What is the density of the solution?


                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.18.jpg" alt="" class="img-fluid">
            </div>
        </div>


        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.19</span>
                    Define the terms molarity and molality for a solution. How does a rise in temperature change the
                    molality and molarity values of the solution?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Molarity</u></b>
                    <br>
                    Molarity is defined as the number of Moles
                    of solute present in 1L of solution.
                    <br>
                    <br>
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Number of Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">V<sub>solution(L)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <b class="text-danger"><u>Molality</u></b>
                    <br>
                    Molality is defined as the number of moles of solute present in 1kg of solvent.
                    <br>
                    <br>
                    <span class="text-danger">
                        Molality= <div class="frac">
                            <span>
                                Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">Mass of solvent(kg)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    Molarity is temperature dependent, volume increase with increase in temperature
                    <br>
                    but, molality this unit consist of mass and is independent on the temperature.
                </h4>

            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.20</span>
                    Calculate the molarity of a solution of 93% H<sub>2</sub>SO<sub>4</sub> (w/V) when the density of
                    the solution is 1.84 g cm<sup>-3</sup>.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.20.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.20-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.20-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.21</span>
                    The molarity of a solution of sulphuric acid is 1.35 M. Calculate its molality. (The density of the
                    acid solution is 1.02 gcm<sup>-3</sup>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.21.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.21-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.22</span>
                    Calculate the number of moles of methanol in 5 litres of its 2 m solution, if the density of the
                    solution is 0.981 kg L<sup>-1</sup> (Molar mass of methanol = 32.0 g mol<sup>-1</sup>).
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.22.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.22-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.23</span>
                    How is molality of a solution different from its molarity
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Molarity</u></b>
                    <br>
                    Molarity is defined as the number of Moles
                    of solute present in 1L of solution.
                    <br>
                    <br>
                    <span class="text-danger">
                        Molarity= <div class="frac">
                            <span>
                                Number of Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">V<sub>solution(L)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    <b class="text-danger"><u>Molality</u></b>
                    <br>
                    Molality is defined as the number of moles of solute present in 1kg of solvent.
                    <br>
                    <br>
                    <span class="text-danger">
                        Molality= <div class="frac">
                            <span>
                                Moles of Solute
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom">Mass of solvent(kg)</sub></span>
                        </div>
                    </span>
                    <br>
                    <br>
                    Molarity is temperature dependent, volume increase with increase in temperature
                    <br>
                    but, molality this unit consist of mass and is independent on the temperature.
                </h4>

            </div>
        </div>

        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.24</span>
                    What is the sum of the mole fractions of all the components in a three component system.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.24.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.25</span>
                    An antifreeze solution is prepared from 222.6 g of ethylene glycol
                    C<sub>2</sub>H<sub>4</sub>(OH)<sub>2</sub> and 200 g of water. Calculate the molality of the
                    solution. If the density of this solution be 1.072 g mL<sup>-1</sup>, what will be the molarity of
                    the solution?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.25.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.25-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-1/img2.25-2.jpg" alt="" class="img-fluid">
            </div>
        </div>

    </div>