<style>
    .img-fluid {
        width: 72%;
    }

    @media screen and (max-width: 768px) {
        .img-fluid {
            width: 100%;
        }
    }

    .frac {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: 0.001em;
        text-align: center;
    }

    .frac>span {
        display: block;
        padding: 0.1em;
    }

    .frac span.bottom {
        border-top: thin solid black;
    }

    .frac span.symbol {
        display: none;
    }
</style>
</head>


<body class="bg-light">

    <!-- header -->


    <h1 class="text-center text-danger">CLASS 12 Solutions QUESTIONS 2.6</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.26</span>
                    Define vapour pressure of a liquid. What is the effect on vapour pressure when a non-volatile solute
                    is added to it?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Vapour pressure or equilibrium vapour pressure is defined as the pressure exerted by a vapour
                    in thermodynamics equilibrium with its condensed phase
                    (solid or Liquid) at a given temperature
                    in a closed system.
                    <br>
                    <br>
                    when a non-volatile solute is dissolved in a liquid, the vapour pressure of Liquid decrease
                    and this Lowering of vapour pressure is proportional to the mole fraction of solute added to it.
                    <br>
                    <br>
                    <span class="text-danger">
                        <div class="frac">
                            <span>
                                P<sup>o</sup><sub>A</sub> -P<sub>A</sub>
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom"> P<sup>o</sup><sub>A</sub></span>
                        </div> =X<sub>B</sub>
                    </span>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.27</span>
                    Why is the vapour pressure of a solution of glucose in water lower than that of water?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    The vapour pressure of a pure solvent
                    decrease when a non-volatile solute is added to the solvent.
                    <br>
                    <br>
                    because on adding the solute a fewer number of water molecules are present at the surface which can
                    evaporate as some of the area is occupied by non. volatile solute molecules, decreasing the vapour
                    pressure of the solution of the glucose in water Lower than pure water.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.28</span>
                    State Raoult's law. Using the law, how would you distinguish between ideal and non-ideal solutions ?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Raoult's Law states that for a solution of volatile Liquids the partial vapour pressure of each
                    components is directly proportional to its mole fraction
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-2/img28.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.29</span>
                    Mention any three characteristics of an ideal solution. What causes deviation from ideal behaviour?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger"><u>Three characterstics of Ideal solution-></u></b>
                    <ul>
                        <li>obeys Raoult's Law over entire range of concentration
                            <br>
                            <br>
                            i.e,
                            <br>
                            P<sub>A</sub>=P<sup>o</sup><sub>A</sub> x A
                            <br>
                            P<sub>B</sub>=P<sup>o</sup><sub>B</sub> x B
                            <br>
                            &triangle; H<sub>mix</sub> =0
                            <br>
                            &triangle; V<sub>mix</sub> =0
                        </li>
                        <li>Enthalpy of mixing the pure component to form
                            solution is zero</li>
                        <li>
                            Volume of mixing is equal to zero
                            <br>
                            <br>
                            The cause of deviation from ideal behaviour is high temperature
                        </li>
                    </ul>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.30</span>
                    State Raoult's law for the solutions of non-volatile solutes in volatile solvents. How does it
                    depend upon the temperature?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Raoult's Law for solution of non-volatile solution. The relative Lowering of vapour pressure for a
                    solution is equal to the mole fraction of solute
                    <br>
                    <br>
                    <span class="text-danger">
                        <div class="frac">
                            <span>
                                P<sup>o</sup><sub>A</sub> -P<sub>A</sub>
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom"> P<sup>o</sup><sub>A</sub></span>
                        </div> =X<sub>B</sub>
                    </span>
                    <br>
                    <br>
                    The vapour pressure of a solution of a non-volatile Solute is equal to the vapour pressure of the
                    pure solvent at that temperature multiplied by its mole fraction.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.31</span>
                    Explain alongwith diagrams that why some of the non-ideal solutions show positive deviations, while
                    some others show negative deviations from ideal behaviour.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    The solution shown positive deviation ideal behaviour when the interaction b/w the unlike molecules
                    is weaker than the like molecules.
                    <br>
                    Interaction btw A to B molecules is weak than a to A and B to B molecules.
                    <br>
                    <br>
                    <b class="text-danger">For example-></b>
                    Acetone mined with ethanol,energy is required to break H-bond b/w ethanol molecules
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.32</span>
                    Benzene and toluene form nearly ideal solution. At 313 K, the vapour pressure of pure benzene is 150
                    mm Hg and of pure toluene is 50 mm Hg. Calculate the vapour pressure of a mixture of these two
                    containing their equal masses at 313 K.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img32.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img32-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img32-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.33</span>
                    Benzene (C<sub>6</sub>H<sub>6</sub>) and toluene (C<sub>6</sub>H<sub>5</sub>CH<sub>3</sub>) form an
                    ideal solution. At 313K, the vapour pressures of pure benzene and
                    toluene are 160 mm Hg and 60 mm Hg respectively. Calculate the partial pressures of benzene and
                    toluene, and the total pressure of the solution when
                    <ol type="i">
                        <li>equal masses of benzene and toluene are mixed at 313 K;</li>
                        <li>equal moles of benzene and toluene are mixed at 313 K;</li>
                        <li>1 mole of benzene and 4 moles of toluene are mixed at 313 K.</li>
                    </ol>
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Raoult's Law for solution of non. volatile solution. The relative Lowering of vapour pressure for a
                    solution is equal to the mole fraction of solute
                    <br>
                    <br>
                    <span class="text-danger">
                        <div class="frac">
                            <span>
                                P<sup>o</sup><sub>A</sub> -P<sub>A</sub>
                            </span>
                            <span class="symbol">/</span>
                            <span class="bottom"> P<sup>o</sup><sub>A</sub></span>
                        </div> =X<sub>B</sub>
                    </span>
                    <br>
                    <img src="class12ISCchap/chemistry/solutionsimg/2-2/img33.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/solutionsimg/2-2/img33-1.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/solutionsimg/2-2/img33-2.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/solutionsimg/2-2/img33-3.jpg" alt="" class="img-fluid">
                    <img src="class12ISCchap/chemistry/solutionsimg/2-2/img33-4.jpg" alt="" class="img-fluid">
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.34</span>
                    Methanol and ethanol form a nearly ideal solution at 300K.
                    A solution is made by mixing 32 g of methanol and 23 g
                    of ethanol at 300 K. Calculate the partial pressures of its
                    constituents and the total pressure of the solution. (At 300K, P°<sub>CH<sub>3</sub>OH</sub> = 90 mm
                    Hg, P°<sub>C<sub>2</sub>H<sub>5</sub>OH</sub> = 51 mm Hg)
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img34.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img34-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.35</span>
                    The vapour pressures of benzene and toluene at 20°C are 75 mm and 22 mm Hg respectively. 22.4 g of
                    benzene and 64.4
                    g of toluene are mixed. If the two form an ideal solution,
                    calculate the mole fraction of benzene in vapour phase when
                    vapours are in equilibrium with the liquid phase.

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img35.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img35-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.36</span>
                    At 25°C, the vapour pressure of water is 22.75 mm Hg. Calculate the vapour pressure at the same
                    temperature of 5%
                    aqueous solution of urea (NH<sub>2</sub>.CO.NH<sub>2</sub>).

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img36.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img36-1.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.37</span>
                    Solutions of two volatile liquids A and B obey Raoult's law. At a certain temperature, it is found
                    that when the total pressure above a given solution is 400 mm Hg, the mole fraction of A in the
                    vapour is 0.45 and in the liquid is 0.65. What are the vapour pressures of the two liquids in the
                    pure state at the given temperature?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img37.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img37-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img37-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.38</span>
                    State Raoult's law for solutions of non-volatile solutes in volatile solvents and derive a
                    mathematical expression for the same
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img38.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img38-1.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img38-2.jpg" alt="" class="img-fluid">
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img38-3.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.39</span>
                    What are non-ideal solutions? Explain as to why non-ideal solutions deviate from Raoult' law.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <img src="class12ISCchap/chemistry/solutionsimg/2-2/img39.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.40</span>
                    Carbon tetrachloride and water are immiscible, whereas
                    ethanol and water are miscible in all proportions. Correlate
                    this behaviour with molecular structures of these compounds
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">

                    Polar compounds are soluble in Polar solvents whereas, non-polar Compounds are soluble in non-polar
                    solvents
                    <br>
                    <br>
                    water as a polar solvent
                    <br>
                    <br>
                    Ethanol is polar due to the electronegativity difference between Hydrogen and oxygen.
                    <br>
                    So ethanol and water are miscible.

                    <br>
                    <br>
                    <b class="text-danger">CCl<sub>4</sub></b> is non-polar in nature due to symmetrical structure
                    as the dipole moments cancel each
                    other and will be miscible only in non- polar solvents.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.41</span>
                    State Henry's law about the solubility of a gas in a liquid.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    <b class="text-danger">Henry's Law-</b> It states that the solubility of a Gas in a Liquid at
                    constant temperature is proportional to the pressure of the Gas above the solution.
                    <br>
                    <br>
                    If S is the solubility of the Gas.
                    <br>
                    (unit M or mol/L) and P is the pressure
                    of a Gas (unit atm)
                    <br>
                    <br>
                    S&#8733;P
                    <br>
                    <br>
                    S=KP
                    <br>
                    Here,K=Henry's Law constant
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.42</span>
                    Two liquids X and Y boil at 110°C and 130°C respectively.
                    Which one of them has higher vapour pressure at 50°C?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    As X has Lower boiling point than Y means X will vaporise easily as compared to Y
                    <br>
                    Therefore,X has higher vapour pressure than Y at 50<sup>o</sup>C
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.43</span>
                    A and B liquids on mixing produce a warm solution. Which
                    type of deviation from Raoult's law is there?

                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    when two Liquids produce a warm solution
                    heat is released.
                    <br>
                    <br>
                    It will be an exothermic reaction.
                    <br>
                    An exothermic reaction produces negative deviation
                    from raoult's law as A-A bond is stronger than B-B bond
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.44</span>
                    State the formula relating pressure of a gas with its mole fraction in a liquid in contact with it.
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    According to Henry's Law ,the solubility of a Gas in a Liquid is &#8733; to the pressure of the Gas.
                    <br>
                    <br>
                    X=K<sub>h</sub> x P
                    <br>
                    <br>
                    (X) the mole fraction of Gas , k<sub>h</sub> is Henry's Law constant and P is the partial pressure
                    of the Gas.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.45</span>
                    State Henry's law for solubility of a gas in a liquid. Explain the significance of Henry's law
                    constant (K<sub>H</sub>). At the same temperature, hydrogen is more soluble in water than helium.
                    Which of them will have a higher value of K<sub>H</sub> and why?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    According to Henry's Law ,the solubility of a Gas in a Liquid is &#8733; to the pressure of the Gas.
                    <br>
                    <br>
                    X=K<sub>h</sub> x P
                    <br>
                    <br>
                    (X) the mole fraction of Gas , k<sub>h</sub> is Henry's Law constant and P is the partial pressure
                    of the Gas.
                    <br>
                    <br>
                    As Helium is Less soluble in water ,so it has a higher value of K<sub>h</sub> than Hydrogen,
                    According to Henry's Law,as dissolution of agar in Liquid is an exdothermic process, the solubility
                    should decrease with increase in temp.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col border border-1 mt-3">
                <h4 class="text-danger"><span class="fw-bold"> Q2.46</span>
                    How is that alcohol and water are miscible in all proportions?
                </h4>


                <h4><span class="text-success">Solution </span></h4>
                <h4 class="text-dark">
                    Alcohols are soluble in water. This is due to the hydroxyl group in the alcohol which is able to
                    form hydrogen bonds with water molecules.
                    <br>
                    <br>
                    Alcohol with a smaller hydrocarbon chain are very soluble,
                    Hence alcohol and water are miscsible
                    in all proportion
                </h4>
            </div>
        </div>


    </div>