<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&display=swap");

    /* After SUBJECTS CONTENT */
    .question-section h1 {
        font-family: "Montserrat", sans-serif;
    }

    .question-section h4 {
        font-family: "Merriweather", serif;
        font-weight: 600;
        color: rgb(255, 0, 55);
    }

    .question-section p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.8;
        font-size: 1em;
        word-spacing: 5px;
        font-weight: 500;
    }

    .question-section b {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #000;
    }

    .button1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .r1{
      display: flex;
      justify-content: center;
    
  } */
    .icse h1,
    h4 b {
        font-family: "Montserrat", sans-serif;
    }

    .icse p {
        font-family: "Roboto", sans-serif;
        line-height: 1.8;
        font-size: 1.2em;
        font-weight: 500;
    }

    .image:hover {
        filter: drop-shadow(5px 5px 5px rgb(173, 99, 241));
    }
</style>

<%- include('../partials/secondnav.ejs') %>

<!-- CLASS 10 SUBJECTS -->  
<div class="container icse">
    <h1 style="color:red">ISC Class 12</h1>
    <p>After the Class 10 board exam, <b>Class 12th</b> board exam is the next milestone in the journey of education.
        Compared to the Class 10 board exams, the degree of complexity for Class 12 is higher. ISC Class 12 results
        decide the career of the students and what they want to pursue in their future. Scoring good percentile in Class
        12 Board exam will boost up student’s confidence.
    </p>

    <p>Students aspiring to pursue engineering and medical entrance exams such as <b>JEE Main, JEE Advanced, BITSAT,
            NEET</b> and <b>AIIMS</b> must focus on the Class 12 Physics, Chemistry and Biology. These three subjects
        are included in the syllabus of the entrance exams..</p>

    <p>
        At IQ CLASSES, we aim to equip you with the complete Class 12 ISC exam <b>preparation study materials</b> .
        We
        provide <b>ISC Textbook Solutions, Video Lectures, Notes and test materials</b> which will help you to
        evaluate your potential performance in exams.The students can also <a
            href="https://www.cisce.org/publicationdetail.aspx?id=93">click on this this link to go
            to the main CISCE website </a> for more content
    </p>
    <p>
        These learning materials can be further utilized during your preparation for competitive exams such as
        <b>JEE</b> and <b>NEET</b>. Basics of the part of the topic of the syllabus for competitive exams are covered in
        your <a href="https://www.cisce.org/publicationdetail.aspx?id=92"> ISC Class 12 Syllabus</a>.
    </p>

</div>

<div>
    <div class="row">
        <div class="col-lg-6 button1 ">
            <a href="/class12physics">
                <img class="image" src="img/p1.png" width="301px" height="110px">
            </a>


        </div>
        <div class="col-lg-6 button1 ">
            <a href="/class12chemistry">
                <img class="image" src="img/ch.png" width="301px" height="110px">
            </a>

        </div>
    </div>

    <!-- <div class="row">
        <div class="r1"> <h4>Chosse your subject</h4></div>
       
    </div> -->
    <div class="row">
        <div class="col-lg-6 button1 ">
            <a href="/class12biology">
                <img class="image" src="img/bio.png" width="301px" height="110px">
            </a>

        </div>
        <div class="col-lg-6 button1 ">
            <a href="/class12math">
                <img class="image" src="img/maths(1).png" width="301px" height="110px">
            </a>

        </div>
    </div>
</div>

<div class="container question-section mt-4">
    <h1 style="color:red">GUIDANCE AND QUESTIONS RELATED CLASS 12th ISC EXAMS</h1>
    <h4 class="mt-5">How to Score Secure Marks in Class 12?</h4>
    <p class="mt-3 text-muted">
        Board exams are difficult times for all students. After the 1st board exam of Class X, the 2nd one of Class XII
        is more difficult. Also known as HSC exam, the results of this examination play an important role in deciding
        the future of the candidate.
    </p>
    <p class="text-muted">
        Often students appearing for Class 12 exams are confused as to how they can score good marks. Well, there are
        some tips that can help you out and provide you with an insight into how to score better in class 12.
    </p>
    <h5 class="mt-5">
        Solve papers of previous years keeping the time in mind
    </h5>
    <p class="text-muted">Old question papers are great assets for students. It has been seen that students who have
        practiced question papers of previous years do much better on board exams when compared to students who haven’t
        done the same. Solve previous years’ question papers, keeping the time frame in mind. Do not solve the question
        paper in parts or take a longer time than needed. This will not serve the purpose. While solving the paper,
        start as if you are sitting in the exam hall and solve it accordingly. You might not be able to fare well right
        in the beginning, but with practice you will surely be able to do better. Practicing 10 years question papers
        are the best thing to do
    </p>
    <h5 class="mt-5">The night before the exam is crucia</h5>
    <p class="text-muted">You might be surprised to know that the night before the HSC board exam is very crucial.
        Almost 10% of your marks depend on the night before the exam. Try and stay as relaxed as possible before the
        exam night. Don’t rush through the notes and books as this will puzzle your mind. Eat well and sleep properly so
        that you wake up fresh and fine on the morning of the exam. You will be able to perform much better in the exam.
    </p>
    <h5 class="mt-5"> On the day of the board exam</h5>
    <p class="text-muted">On the day of the exam, keep your cool as much as possible. If you find that there are pending
        things to study, ignore them. Concentrate on things you know instead of fretting about things you don’t know.
        The best thing is to keep all books, notebooks and notes at home and reach the exam center with free mind. Try
        to focus and concentrate without stressing yourself much</p>


    <h4 class="mt-5">EXAM PATTERN FOR CLASS 12</h4>
    <p class="mt-3  text-muted">
        ISC Class 12 exam pattern 2022 is divided into three main streams: <b>Science, Commerce</b>, and <b> Arts</b>.
        Some subjects of ISC Class 12 2022 are common for all stream students. There are a total of 26 questions
        generally asked in the ISC Class 12 board exam. The total duration is 3 hours

    </p>

</div>