<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&display=swap");

    /* After SUBJECTS CONTENT */
    .question-section h1 {
        font-family: "Montserrat", sans-serif;
    }

    .question-section h4 {
        font-family: "Merriweather", serif;
        font-weight: 600;
        color: rgb(255, 0, 55);
    }

    .question-section p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.8;
        font-size: 1em;
        word-spacing: 5px;
        font-weight: 500;
    }

    .question-section b {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #000;
    }

    .button1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .r1{
      display: flex;
      justify-content: center;
    
  } */
    .icse h1,
    h4 b {
        font-family: "Montserrat", sans-serif;
    }

    .icse p {
        font-family: "Roboto", sans-serif;
        line-height: 1.8;
        font-size: 1.2em;
        font-weight: 500;
    }

    .image:hover {
        filter: drop-shadow(5px 5px 5px rgb(173, 99, 241));
    }
</style>
<%- include('../partials/secondnav.ejs') %>

    <!-- CLASS 9 SUBJECTS -->

    <div class="container icse" style="margin-top: 2em;">
        <h1 style="color:red">ICSE Class 9</h1>
        <p>ICSE 9th Class can be called as the foundation of higher classes and thus it is important for students to
            learn and understand the concepts thoroughly.
            To grow clear with your goal and knowledge, you ought to start your preparation right from class 9

        </p>
        <p>
            To qualify ICSE Board class 10 exam, one must start the preparation right from the 9th Class. The ICSE
            Class 9 syllabus has many topics that are discussed in detail in Class 10. So, it becomes essential for
            the students to understand the importance of the syllabus, books, and other study materials for ICSE
            Class 9.
        </p>
        <p>
            At IQ CLASSES, we aim to equip you with the complete Class 9 ICSE exam <b>preparation study materials</b> .
            We
            provide <b>ICSE Textbook Solutions, Video Lectures, Notes and test materials</b> which will help you to
            evaluate your potential performance in exams.The students can also <a
                href="https://www.cisce.org/publicationdetail.aspx?id=92">click on this this link to go
                to the main CISCE website </a> for more content
        </p>
        <h4 style="color:red">ICSE Class 9 Subjects:</h4>
        <p>You can get necessary study materials for practising questions and answers from Maths, Science, English. Our
            study materials can be accessed online at any time of the day, whether is a quick 10-minute revision or an
            hour-long practice plan in your revision schedule.</p>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-6 button1 ">
                <a href="/class9physics">
                    <img class="image" src="img/p1.png" width="301px" height="110px">
                </a>


            </div>
            <div class="col-lg-6 button1 ">
                <a href="/class9chemistry">
                    <img class="image" src="img/ch.png" width="301px" height="110px">
                </a>

            </div>
        </div>

        <!-- <div class="row">
            <div class="r1"> <h4>Chosse your subject</h4></div>
           
        </div> -->
        <div class="row">
            <div class="col-lg-6 button1 ">
                <a href="/class9biology">
                    <img class="image" src="img/bio.png" width="301px" height="110px">
                </a>

            </div>
            <div class="col-lg-6 button1 ">
                <a href="/class9maths">
                    <img class="image" src="img/maths(1).png" width="301px" height="110px">
                </a>

            </div>
        </div>
    </div>
    <div class="container question-section mt-4">
        <h1 style="color:red">GUIDANCE AND QUESTIONS RELATED CLASS 9th ICSE EXAMS</h1>
        <h4 class="mt-5">How to Score Secure Marks in Class 9?</h4>
        <p class="mt-3 text-muted">
            ICSE Class 9 is an important stage in the life of a student. A good foundation in Class 9 can help you with
            your board exams in class 10 and can play a significant role in your future careers as well.
        </p>
        <p class="text-muted">
            To understand the various concepts and topics in the syllabus of Class 10 and even Class 11 and 12, one
            needs to have the basic knowledge and understanding of the syllabus of Class 9.
        </p>
        <p class="text-muted">To crack prestigious exams like <b>NTSE</b> and <b>Olympiads</b> one must need to have
            proper knowledge for
            class 9 syllabus.</p>
        <p class="text-muted">During their preparation, candidates should utilize their time in an effective way. They
            should know the exam
            pattern, the level of difficulty of questions asked in the exams along with the important topics to study
            from each lesson.</p>

        <h4 class="mt-5">Is ICSE 9th class difficult?</h4>
        <p class="mt-3 text-muted">
            Any class may be difficult if students are not able to focus well. It is always advised to work hard and
            understand concepts that are taught by the teacher in school. If students understand concepts well, no class
            will sound difficult for them. It is also recommended to create a timetable for study to bring discipline
            among Yourself.
        </p>
        <p class="text-muted">
            Students should also use resources available at IQ CLASSES to understand concepts using <b>videos related to
                Topics, notes and numericals</b> to boost up their preparations.
        </p>
        <h4 class="mt-5">Why is Class 9 more important than Class 10?</h4>
        <p class="mt-3  text-muted">
            Grade 9 lays the foundation for grade 10. Grade 10 is known to be the first challenging exam that you will
            face. It lets you decide what you want to become in life.Moreover, it helps you gear up towards choosing
            subjects that you are more interested in.And Syllabus and Chapters of ICSE 9 form the foundation of the
            syllabus for your board exam.
        </p>
        <p class="text-muted mb-5"> Without mastering these concepts first, you will not be able to fully
            understand your board syllabus. This will prove as a hindrance while you are solving numerical problems, or
            deriving complex theorems.</p>

    </div>