<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&display=swap");

    /* After SUBJECTS CONTENT */
    .question-section h1 {
        font-family: "Montserrat", sans-serif;
    }

    .question-section h4 {
        font-family: "Merriweather", serif;
        font-weight: 600;
        color: rgb(255, 0, 55);
    }

    .question-section p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.8;
        font-size: 1em;
        word-spacing: 5px;
        font-weight: 500;
    }

    .question-section b {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #000;
    }

    .button1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .r1{
      display: flex;
      justify-content: center;
    
  } */
    .icse h1,
    h4 b {
        font-family: "Montserrat", sans-serif;
    }

    .icse p {
        font-family: "Roboto", sans-serif;
        line-height: 1.8;
        font-size: 1.2em;
        font-weight: 500;
    }

    .image:hover {
        filter: drop-shadow(5px 5px 5px rgb(173, 99, 241));
    }
</style>
<%- include('../partials/secondnav.ejs') %>

<!-- CLASS 10 SUBJECTS -->
<div class="container icse">
    <h1 style="color:red">ISC Class 11</h1>
    <p><b>ISC Class 11</b> is considered to be one of the most significant years in the academic journey for a student.
        Students willing to score well in their Class 12 board examinations must not take Class 11 lightly.
    </p>

    <p>Students aspiring to pursue engineering and medical entrance exams such as <b>JEE Main, JEE Advanced, BITSAT,
            NEET</b> and <b>AIIMS</b> must focus on the Class 11 Physics, Chemistry and Biology. These three subjects
        are included in the syllabus of the entrance exams..</p>

    <p>
        At IQ CLASSES, we aim to equip you with the complete Class 11 ISC exam <b>preparation study materials</b> .
        We
        provide <b>ISC Textbook Solutions, Video Lectures, Notes and test materials</b> which will help you to
        evaluate your potential performance in exams.
    </p>
    <p>
        These learning materials can be further utilized during your preparation for competitive exams such as
        <b>JEE</b> and <b>NEET</b>. Basics of the part of the topic of the syllabus for competitive exams are covered in
        your .
    </p>

</div>

<div>
    <div class="row">
        <div class="col-lg-6 button1 ">
            <a href="/class11physics">
                <img class="image" src="img/p1.png" width="301px" height="110px">
            </a>


        </div>
        <div class="col-lg-6 button1 ">
            <a href="/class11chemistry">
                <img class="image" src="img/ch.png" width="301px" height="110px">
            </a>

        </div>
    </div>

    <!-- <div class="row">
        <div class="r1"> <h4>Chosse your subject</h4></div>
       
    </div> -->
    <div class="row">
        <div class="col-lg-6 button1 ">
            <a href="/class11biology">
                <img class="image" src="img/bio.png" width="301px" height="110px">
            </a>

        </div>
        <div class="col-lg-6 button1 ">
            <a href="/class11maths">
                <img class="image" src="img/maths(1).png" width="301px" height="110px">
            </a>

        </div>
    </div>
</div>
<div class="container mt-4 icse">
    <p class="mt-3">
        Physics, Chemistry, Maths, and Biology of Class 11 are quite different from what you have studied in your Class
        10. The difference in the level of difficulty is vast. New chapters, concepts, and topics were added to the
        Class 11 syllabus, which means a deeper understanding of topics. Compared to Class 10, Class 11 needs a lot more
        knowledge of theories, formulas, visualizations, etc. Moreover, questions asked in the exams are not direct
        anymore. So, one must prepare accordingly.
    </p>
</div>
<div class="container question-section mt-4">
    <h1 style="color:red">GUIDANCE AND QUESTIONS RELATED CLASS 11th ISC EXAMS</h1>
    <h4 class="mt-5">How to Score Secure Marks in Class 11?</h4>
    <p class="mt-3 text-muted">
        Class 11 being the correct stage to build up the basics for various entrance exams, students can get their
        concepts right if they sincerely prepare for ISC Class 11 Exams.
    </p>
    <p class="text-muted">
        Often students appearing for Class 11 exams are confused as to how they can score good marks. Well, there are
        some tips that can help you out and provide you with an insight into how to score better in class 11.
    </p>
    <h5 class="mt-5">
        Devise a Study Plan
    </h5>
    <p class="text-muted">One of the most effective steps you can take to score higher marks in class 11 exams is to
        devise a proper study plan and stick to it diligently. Go through the syllabus properly and decide how much time
        has to be given to each subject and its chapters. Start with the chapters at which you are weak, practice to get
        a better hold on them, and proceed towards other topics.
    </p>
    <h5 class="mt-5">Prepare Notes</h5>
    <p class="text-muted">Preparing your own notes is the best way to get track of your preparation. If you wish to
        score better marks in class 11, even when you have less time to prepare, notes of your own will help in
        simplifying topics for you that seem to be difficult earlier.</p>
    <h5 class="mt-5">Be Exam Ready</h5>
    <p class="text-muted">There are times when students put a lot of effort into their preparation but on the exam day,
        they are unable to perform well. To avoid any situation like this, you must prepare in an organized way so that
        there is no confusion on the day of the exam. Prepare with an exam point of view. Do not try to cram up things
        unnecessarily, as this might lead to being a hurdle in your preparation</p>


    <h4 class="mt-5">is maths hard in class 11</h4>
    <p class="mt-3  text-muted">
        Maths in class 11th is quite tough but it depend on how you take the subject. If you have interest in it then,
        eventually you will start loving the subject and it will become easy for you.
        <br>
        Math is all about practice and practice. More you practice, it will become easy for you.

    </p>

</div>