<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&display=swap");

    /* After SUBJECTS CONTENT */
    .question-section h1 {
        font-family: "Montserrat", sans-serif;
    }

    .question-section h4 {
        font-family: "Merriweather", serif;
        font-weight: 600;
        color: rgb(255, 0, 55);
    }

    .question-section p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.8;
        font-size: 1em;
        word-spacing: 5px;
        font-weight: 500;
    }

    .question-section b {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #000;
    }

    .button1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .r1{
      display: flex;
      justify-content: center;
    
  } */
    .icse h1,
    h4 b {
        font-family: "Montserrat", sans-serif;
    }

    .icse p {
        font-family: "Roboto", sans-serif;
        line-height: 1.8;
        font-size: 1.2em;
        font-weight: 500;
    }

    .image:hover {
        filter: drop-shadow(5px 5px 5px rgb(173, 99, 241));
    }
</style>
<%- include('../partials/secondnav.ejs') %>

<!-- CLASS 10 SUBJECTS -->
<div class="container icse">
    <h1 style="color:red">ICSE Class 10</h1>
    <p>ICSE Class 10th is considered to be the groundwork of higher classes.It is one of the most important exams that
        play a vital role in every student’s life. Scoring good marks in ICSE 10th grade is really important for every
        student since Class 10 determines the career stream they will choose for further studies.
    </p>
    <p>The 10th board results act as a deciding factor during the admission process. They also form an important part of
        resume and act as an indicator of a student’s academic performance. Many prestigious colleges and universities
        assign separate points to class 10th marks and heavily rely on them while granting admission to the students.
        Hence, <b>class 10 is a career shaper, a game changer</b> . Based on that and their performance in exams, they
        decide which stream to opt for. This is how class 10th helps students in the decision-making process.</p>

    <p>
        At IQ CLASSES, we aim to equip you with the complete Class 10 ICSE exam <b>preparation study materials</b> .
        We
        provide <b>ICSE Textbook Solutions, Video Lectures, Notes and test materials</b> which will help you to
        evaluate your potential performance in exams.The students can also <a
            href="https://www.cisce.org/publicationdetail.aspx?id=92">click on this this link to go
            to the main CISCE website </a> for more content
    </p>
    <p>
        These learning materials can be further utilized during your preparation for competitive exams such as
        <b>JEE</b> and <b>NEET</b>. Basics of the part of the topic of the syllabus for competitive exams are covered in
        your <a href="https://www.cisce.org/publicationdetail.aspx?id=92"> ICSE Class 10 Syllabus</a>.
    </p>

</div>

<div>
    <div class="row">
        <div class="col-lg-6 button1 ">
            <a href="/class10physics">
                <img class="image" src="img/p1.png" width="301px" height="110px">
            </a>


        </div>
        <div class="col-lg-6 button1 ">
            <a href="/class10chemistry">
                <img class="image" src="img/ch.png" width="301px" height="110px">
            </a>

        </div>
    </div>

    <!-- <div class="row">
        <div class="r1"> <h4>Chosse your subject</h4></div>
       
    </div> -->
    <div class="row">
        <div class="col-lg-6 button1 ">
            <a href="/class10biology">
                <img class="image" src="img/bio.png" width="301px" height="110px">
            </a>

        </div>
        <div class="col-lg-6 button1 ">
            <a href="/class10maths">
                <img class="image" src="img/maths(1).png" width="301px" height="110px">
            </a>

        </div>
    </div>
</div>

<div class="container question-section mt-4">
    <h1 style="color:red">GUIDANCE AND QUESTIONS RELATED CLASS 10th ICSE EXAMS</h1>
    <h4 class="mt-5">How to Score Secure Marks in Class 10?</h4>
    <p class="mt-3 text-muted">
        A good preparation along with <b>‘Self-Belief’</b> works like magic for your CBSE Class 10 Preparation. Whatever
        you have studied today, quickly recap before going to bed. Regular exercise & meditation helps to improve
        focus..
    </p>
    <h5 class="mt-5">
        Keep an eye on your watch
    </h5>
    <p class="text-muted">
        Keeping an eye on your watch is of course not to increase your stress. This is just to see that you are broadly
        adhering to the time allocation we discussed in the beginning. A minor variation is not at all a reason to
        worry.
    </p>
    <h5 class="mt-5">
        Avoid thinking too much about a question
    </h5>
    <p class="text-muted">Thinking about the questions before you attempt them is essential; but not to such an extent
        that you waste a lot of time on one question.
        <br>
        Also you need not write a very lengthy answer to a question just because the question is easy and you know it
        very well. Remember, you need to just answer the question and nothing more. Any over-attempt will be a mere
        waste of time.
    </p>
    <h5 class="mt-5">Be neat and clean</h5>
    <p class="text-muted">Write your answer in a clean and legible handwriting. Not everyone has a beautiful handwriting
        but anyone can write answers with proper space and punctuation and in a legible handwriting. Remember that if
        your answer sheet is not clean and handwriting illegible, it will be unfavorable to you. Use margin wherever
        necessary.</p>


    <h4 class="mt-5">EXAM PATTERN FOR CLASS 10</h4>
    <p class="mt-3  text-muted">
        In the ICSE 10th 2022 exam pattern, the marking scheme for major subjects will be 80% for external marks and 20%
        for internal marks. The final marks for any subject will be the aggregate of both external and internal marks.
        The CISCE board follows the latest exam pattern to prepare the <b> ICSE 10th question paper 2022</b>, hence
        students are advised to go through it.

    </p>

</div>